[2018-02-13 23:58] priyawadhwa opened #1 "Dockerfile commands to implement"
[**FROM**](https://docs.docker.com/engine/reference/builder/#from)
- [ ] Add support for ARG with FROM

[**RUN**](https://docs.docker.com/engine/reference/builder/#run)
- [x] Run command in shell form -- RUN <command>, default prefixed by "sh -c"
- [x] Run command in exec form
- [x] Change default shell for RUN command with the SHELL command

[**CMD**](https://docs.docker.com/engine/reference/buil

[2018-02-15 19:04] priyawadhwa opened #2 "Add integration tests"

[2018-02-15 19:06] priyawadhwa opened #3 "Implement ADD command"
See #1 for details

[2018-02-15 19:06] priyawadhwa opened #4 "Allow multi-stage builds"

[2018-02-15 19:07] priyawadhwa opened #5 "Implement ENV command"
See #1 for details

[2018-02-15 19:07] priyawadhwa opened #6 "Implement CMD command"
See #1 for details

[2018-02-15 19:08] priyawadhwa opened #7 "Implement LABEL command"
See #1 for details

[2018-02-15 19:09] priyawadhwa opened #8 "Implement EXPOSE command"
See #1 for details

[2018-02-15 19:11] priyawadhwa opened #9 "Add support for --chown flag to COPY command"
See #1 for details

[2018-02-15 19:12] priyawadhwa opened #10 "Implement ENTRYPOINT command"
See #1 for details

[2018-02-15 19:12] priyawadhwa opened #11 "Implement VOLUME command"
See #1 for details

[2018-02-15 19:13] priyawadhwa opened #12 "Implement USER command"
See #1 for details

[2018-02-15 19:13] priyawadhwa opened #13 "Implement WORKDIR command"
See #1 for details

[2018-02-15 19:14] priyawadhwa opened #14 "Implement ARG command"
See #1 for details

[2018-02-15 19:14] priyawadhwa opened #15 "Implement ONBUILD command"
See #1 for details

[2018-02-15 19:15] priyawadhwa opened #16 "Implement STOPSIGNAL command"
See #1 for details

[2018-02-15 19:15] priyawadhwa opened #17 "Implement HEALTHCHECK command"
See #1 for details

[2018-02-15 19:15] priyawadhwa opened #18 "Implement SHELL command"
See #1 for details

[2018-02-15 19:16] priyawadhwa opened #19 "Add unit tests"

[2018-02-15 19:18] priyawadhwa opened #20 "Set environment variables from image config"
Currently environment variables in the executable image are set to defaults, instead they should be set to those in the base image config

[2018-02-16 00:26] priyawadhwa opened #21 "Whitelist from /proc/self/mountinfo instead of hardcoding"

[2018-02-20 17:55] priyawadhwa opened #23 "Inherit file permissions from host for ADD/COPY commands"
From docs for ADD command:
`In the case where <src> is a remote file URL, the destination will have permissions of 600`

[2018-02-28 23:37] priyawadhwa opened #29 "Directly add files changed by ADD/COPY to snapshotter"
Instead of looking at the entire filesystem for snapshotting, we only need to add the files changed by ADD/COPY

[2018-03-02 06:39] priyawadhwa opened #30 "Switch executor image base from scratch to distroless"

[2018-03-06 20:50] #21 closed, assigned to nobody

[2018-03-09 23:52] priyawadhwa opened #36 "Add auth to executor image to run in cluster"

[2018-03-12 23:09] #29 closed, assigned to nobody

[2018-03-12 23:11] #19 closed, assigned to nobody

[2018-03-12 23:11] #20 closed, assigned to nobody

[2018-03-12 23:12] priyawadhwa opened #38 "Implement COPY command"
#1

[2018-03-13 19:26] #36 closed, assigned to nobody

[2018-03-13 19:27] priyawadhwa opened #39 "Switch to official release of docker-credential-gcr once there is one"

[2018-03-19 18:04] #5 closed, assigned to nobody

[2018-03-20 20:11] #2 closed, assigned to nobody

[2018-03-20 22:15] #8 closed, assigned to nobody

[2018-03-20 22:59] priyawadhwa opened #43 "Support environment replacement"
More information [here](https://docs.docker.com/engine/reference/builder/#environment-replacement)

Should be supported for the following commands:
- [x] ADD
- [x] COPY
- [x] ENV
- [x] EXPOSE
- [ ] FROM
- [x] LABEL
- [x] STOPSIGNAL
- [x] USER
- [x] VOLUME
- [x] WORKDIR
as well as:

- [x] ONBUILD (when combined with one of the supported instructions above)

#1 #40 #41 #7  #16 #12  #11 #13  #15

[2018-03-21 20:50] priyawadhwa opened #45 "Integration test for EXPOSE"

[2018-03-21 20:51] priyawadhwa opened #46 "Integration test for LABEL"
See #44 #7

[2018-03-26 19:21] #38 closed, assigned to priyawadhwa

[2018-03-26 21:23] priyawadhwa opened #51 "Support backtick escape token"
See [here](https://docs.docker.com/engine/reference/builder/#escape) for more information

[2018-03-26 21:28] #7 closed, assigned to nobody

[2018-03-26 23:13] r2d4 opened #53 "Failsafe to stop users from running outside a container"
We should use something like https://github.com/genuinetools/amicontained

[2018-03-26 23:15] dlorenc opened #54 "Add a snapshot mode that only uses mtime"
In many cases, mtime should be sufficient for tracking changes. We should add a flag that only looks at the mtime instead of checking the whole file.

[2018-03-27 22:48] priyawadhwa opened #55 "Switch integration tests from using structure tests to container-diff --metadata diff"

[2018-03-27 23:30] #6 closed, assigned to priyawadhwa

[2018-03-27 23:30] #10 closed, assigned to priyawadhwa

[2018-03-28 20:23] priyawadhwa opened #57 "Support for --chown flag in ADD command"

[2018-03-30 03:39] #13 closed, assigned to priyawadhwa

[2018-03-30 20:49] #12 closed, assigned to nobody

[2018-04-02 21:28] priyawadhwa opened #61 "Rename to kaniko"

[2018-04-04 16:21] cyphar opened #63 "Relationship to CBI?"
A similar project called the "Container Builder Interface" (with more of a slant on defining an interface) was started a while ago. Have you looked a this, and is there any overlap that could result in a collaboration between the two projects?

https://github.com/containerbuilding/cbi

[2018-04-04 21:32] #3 closed, assigned to priyawadhwa

[2018-04-04 22:05] priyawadhwa opened #65 "Build images from scratch"

[2018-04-06 19:03] #11 closed, assigned to nobody

[2018-04-11 18:35] sharifelgamal opened #71 "Integration test refactor."
We should scan a directory for Dockerfiles and create one test per Dockerfile instead of adding config.

[2018-04-11 18:36] sharifelgamal opened #72 "Run integration test builds in parallel"

[2018-04-11 18:50] sharifelgamal opened #73 "Add the ability to run integration tests with on cluster builds"

[2018-04-11 18:51] sharifelgamal opened #74 "Add integration tests to Travis"
This includes splitting out non-reproducible tests to a different test type.

[2018-04-11 21:55] #61 closed, assigned to priyawadhwa

[2018-04-12 17:08] #15 closed, assigned to priyawadhwa

[2018-04-12 22:02] #54 closed, assigned to priyawadhwa

[2018-04-12 22:30] #65 closed, assigned to priyawadhwa

[2018-04-13 18:18] priyawadhwa opened #83 "COPY doesn't work with symlinks"

[2018-04-13 20:21] priyawadhwa opened #85 "Make sure config fields aren't nil before setting them"
tried to set a LABEL but the value in the config was nil so everything broke. should make sure this is fixed for all metadata commands

[2018-04-13 20:29] #53 closed, assigned to nobody

[2018-04-13 21:06] #85 closed, assigned to nobody

[2018-04-13 21:23] r2d4 opened #89 "Command env should be set at config level"
This is to ensure that the run commands don't inherit kaniko image level environment variables.

[2018-04-14 15:00] #83 closed, assigned to priyawadhwa

[2018-04-16 01:05] #89 closed, assigned to nobody

[2018-04-16 17:02] AkihiroSuda commented on #63
Hi, I'm the author of CBI, and I'm definitely desiring adding kaniko. 😃

Current CBI implementation only supports git as a build context, but I'll soon implement configmap context and GCS/S3/Swift/... as well.

[2018-04-16 17:57] ahmetb opened #95 "Add repo description"

[2018-04-16 18:09] dlorenc commented on #95
Fixed

[2018-04-16 18:09] #95 closed

[2018-04-16 19:34] Quentin-M opened #96 "Unprivileged & The usage of the root user"
Congratulations on the launch, and thank you for investing in the direction of secure builds.

From the release's [blog post](https://cloudplatform.googleblog.com/2018/04/introducing-kaniko-Build-container-images-in-Kubernetes-and-Google-Container-Builder-even-without-root-access.html):

Unfortunately, running a container as `root` inside a Kubernetes cluster, does indeed mean giving special privi

[2018-04-16 20:34] gitirabassi opened #99 "Should it crash with MAINTAINER command?"
I know MAINTAINER is deprecated and all, but should the build really crash when MAINTAINER is found as command?

[2018-04-16 21:03] dlorenc commented on #99
We should probably just warn and continue for this one.

[2018-04-16 21:43] gitirabassi commented on #99
I can send a PR for this in a couple hours

[2018-04-16 21:52] priyawadhwa opened #101 "We need a logo!"

[2018-04-16 21:53] priyawadhwa opened #102 "Design caching"

[2018-04-16 23:51] seeekr opened #103 "Pantheon?"
Quote from readme:

I'm confused! I'd like to understand what that secret needs to be exactly. Sounds like e.g. the json file docker login creates to store credentials in my home directory?

Thanks for making this tool! Was looking for a sane way to build docker images from inside my Kube cluster, and this sounds like an excellent solution!

[2018-04-17 00:09] priyawadhwa opened #105 "Run kaniko as non-root user within the container"

[2018-04-17 02:29] AkihiroSuda opened #106 "Suggestion: isolate RUN using another container (in the same pod)?"
If a malicious image is specified in `FROM` accidentally (e.g. due to a typo), the attacker can easily steal GCP credential via `/secret`.

To prevent such attacks, how about isolating `RUN` instruction using another container in the same pod, via  a shared volume?

* "master" container downloads base images and the build context using `/secret`, and extract them to a shared volume. Then it pings

[2018-04-17 06:37] anguslees opened #107 "Question: why no chroot()?"
From my read of the designdoc and quick look at the code, I think kaniko works by unpacking the image onto the real (inside the container) `/` and just assuming that the kaniko machinery can stay out of the way of the user's container data via an explicit whitelist.

I'm curious:  Why not unpack into a subdir, and chroot() there when it's time to RUN commands?  That way the "working directory" roo

[2018-04-17 06:41] dlorenc commented on #107
Really good question! chroot can't be run inside a default container in kubernetes or docker without the --privileged flag.

I've been playing around with a version of this that uses proot/ptrace to fake a chroot, I think it can work here and help reduce privileges.

[2018-04-17 08:00] seeekr commented on #103
Thanks for clarifying. But does this mean that the tool (for now?) only works with GCR.io as a push target?

[2018-04-17 10:00] cyphar commented on #96
Using tools like [`umoci`](https://github.com/openSUSE/umoci) would allow for unprivileged builds to be done fairly easily (even within containers if that is a constraint -- though there are some `runc` bugs that are being worked on fixed to allow container-based builds inside containers).

Or if you use [rootless containers](https://rootlesscontaine.rs/).

[2018-04-17 10:02] cyphar commented on #105
Using the tools we've been developing as part of the rootless-containers project (https://github.com/rootless-containers) it is possible to do both of those things completely unprivileged (though it does require `ptrace` to do it convincingly). You can even do it inside a container, by nesting the rootless container inside the outer one (though at the moment there are some `runc` bugs that we are

[2018-04-17 10:44] damoon opened #109 "How to provide login credentials for a registry?"

[2018-04-17 10:45] damoon opened #110 "How to push to an insecure registry (via http)?"

[2018-04-17 11:14] fkorotkov opened #111 "Windows Containers Support"
With the upcoming GA of Windows in Kubernetes I'm wondering if `kaniko` does/will support building Windows Containers?

I think it's worth a mention in documentation.

[2018-04-17 14:54] dmonakhov commented on #99
@dlorenc  +1.  Otherthise this prevent from transparent migration of old Dockerfiles  to kaniko

[2018-04-17 14:57] dlorenc commented on #109
We should document this more clearly. Kaniko uses docker credential helpers right now, so anything that gets configured in it's container should work. Right now we only bundle the one for GCR, though.

[2018-04-17 15:15] dlorenc commented on #107
Actually, it looks like my memory on this was wrong. It's the "mount --bind" that many programs use to populate a chroot before using that causes trouble inside a standard container that doesn't have the `--privileged` flag.

[code]

We should probably do this to help separate the unpacking from the base kaniko directories. I don't think it would help much with dropping privileges though, because

[2018-04-17 15:18] dlorenc commented on #106
Good suggestions!

The secret should be scoped to only allow pushes to a registry, but separating the `push` portion from the `build` portion would allow us to restrict the push secret even further.

[2018-04-17 17:57] dlorenc commented on #105
@cyphar do you have any links on running runc inside a container without something like the "--privileged" flag?

[2018-04-17 21:36] r2d4 commented on #102
Caching what?

[2018-04-17 21:59] r2d4 opened #116 "Add maintainers file"

[2018-04-17 22:33] galbacarys opened #118 "Build issue-fresh clone, "make" fails"
I tried both cloning the repo manually into the right location and using go get, and I've also made sure to run `dep ensure`.

When I try to run `make`, I get the following output:
[code]

Clearly, there was a migration from GoogleCloudPlatform to GoogleContainerTools somewhere along the line, so the repository needs to be updated. A quick search reveals at least 30 references to the old package p

[2018-04-17 22:35] priyawadhwa commented on #118
Sorry about that, we just changed the org today! Just merged #114, so if you pull these changes it should work.

[2018-04-17 22:37] galbacarys commented on #118
Thanks!

[2018-04-17 22:37] #118 closed

[2018-04-18 00:54] shadycuz commented on #102
@r2d4 lm guessing the layers, as this was my first thought. Though I haven't looked yet looked under the hood.

[2018-04-18 02:12] AkihiroSuda commented on #105
@dlorenc

There are two options:

## 1. Modify container runtime implementations to support `RawAccess`-ing /proc

Docker-side PR: https://github.com/moby/moby/pull/36644
Kubernetes-side proposal: https://github.com/moby/moby/issues/36597
Jess's blog: https://blog.jessfraz.com/post/building-container-images-securely-on-kubernetes/

## 2. Modify kernel to allow mounting unprivileged and non-fully v

[2018-04-18 02:59] cyphar commented on #105
I would have to double-check this, but when you set up a rootless container you have the full capability set. So it is possible that the seccomp profile will not blovk `ptrace` once inside the rootless container (I will have to test this first though, since I'm not sure which `*_capable` variant is being used by seccomp in that context.

At the moment the main issue us the `/proc` mounting problem

[2018-04-18 04:49] r2d4 commented on #105
Why do you need a nested runtime to begin with?

Runtime configuration security always be configured in the "parent" build container, seccomp profiles applied, etc. You would do this in Kubernetes by setting pod security policies.

Kaniko is meant to be ran from inside a container only and never as a standalone "runtime". It almost seems like the wrong separation of concerns to have set of default

[2018-04-18 10:34] leeeboo opened #119 "How to work with my private registry?"
This repo may help me build images in my private Kubernetes cluster.
But I did not find the way to push image to my private registry instead of gcr.

[2018-04-18 13:46] TheOriginalAlex commented on #9
I'm a noob contributor, but would like to help make this happen!

[2018-04-18 13:48] TheOriginalAlex commented on #4
I'm a noob contributor, but would love to help make this happen!

[2018-04-18 14:34] leeeboo commented on #119
@dmonakhov Thanks. Could you please tell me how to pass the auth information? Thanks!

[2018-04-18 14:52] leeeboo commented on #119
@dmonakhov Got it ! Just use docker run -v to mount my ~/.docker/config.json into container. Thanks

[2018-04-18 14:52] #119 closed

[2018-04-18 15:05] r2d4 opened #120 "Add option to strip timestamps for reproducible image configs"
Expose a (date or bool) flag to allow users to choose to strip timestamps or set a particular one. We should also make sure the rest of the metadata is deterministic.

https://github.com/moby/moby/pull/30611

[2018-04-18 15:06] r2d4 commented on #120
cc @sharifelgamal who has much experience in this area

[2018-04-18 15:35] #116 closed

[2018-04-18 16:45] priyawadhwa commented on #102
Yup, the layers of the base image

[2018-04-18 17:17] r2d4 commented on #102
Where? :)

It wouldn't make sense to cache locally when running on k8s. Caching remotely would be the same as pushing/pulling to GCR.

[2018-04-18 17:46] #99 closed

[2018-04-18 17:48] sharifelgamal commented on #120
Yeah we have a tool that does exactly this that just needs to ported to Go.

[2018-04-18 18:32] r2d4 opened #121 "Add example with init container fetching context for non-GCS remote contexts"
Kaniko can work without needing to fetch the remote context itself. This would open the workflow to non-GCS remote contexts.

1. Init container with with whatever auth helpers needed (gcloud, aws-cli) and credentials mounted in. Downloads context to shared volume
2. Kaniko container reads locally downloaded context

Alternatively, we could just target the S3 compatible API, which is supported by G

[2018-04-18 18:57] r2d4 opened #122 "Flag to configure remote context path"
Right now, your remote context tarball must live at the root of your bucket with the name `context.tar.gz`. This should be configurable through a flag.

[2018-04-18 20:31] r2d4 opened #123 "Add a Github release"
It could just point to a published kaniko image, so users can associate code -> image. Its unclear what kaniko:latest was currently built with.

- [x] Changelog
- [x] Publish image

[2018-04-18 20:39] r2d4 commented on #122
If someone wants to pick up #68

[2018-04-18 20:43] priyawadhwa commented on #4
Awesome, thanks for offering to help! This will require some refactoring first which I'm currently working on, but in the meantime if you're interested in any of the other issues we have some marked as good first issues :)

[2018-04-18 20:43] #30 closed

[2018-04-18 22:18] errm opened #124 "Document how to provide credentials"
The README says

It would be great to include an example

[2018-04-19 00:46] AkihiroSuda commented on #121
https://github.com/graymeta/stow seems providing abstract interface for GCS, S3, Azure storage, Swift, and Oracle storage.

[2018-04-19 00:50] r2d4 opened #125 "Use docker-credential-helper release binary"
It should fix the static build issue, so it no longer needs to be checked in

https://github.com/GoogleCloudPlatform/docker-credential-gcr/releases/tag/v1.4.3-static

[2018-04-19 14:35] dlorenc commented on #102
Caching "locally" in a PD could make sense.

[2018-04-19 15:53] dlorenc commented on #102
As we work on caching, I'd like to focus on cleanly separating base image layer caching from RUN command caching.

I think *most users* want base image layers cached as part of a CI build, but probably don't want RUN commands to be cached (at least by default). Kaniko is designed to run in a CI system, not interactively during development.

Caching RUN commands can lead to unpredictable builds whe

[2018-04-19 16:10] r2d4 commented on #102
There are very few PV types that support ReadWriteMany, which I think would be required for caching

https://kubernetes.io/docs/concepts/storage/persistent-volumes

[2018-04-19 16:10] r2d4 commented on #102
Caching the base layers you use ahead of time on a ReadMany GCE PD would work though

[2018-04-19 17:25] priyawadhwa commented on #101
kaniko is a combo of the Greek words for "make" and "image", maybe something that helps get that idea across? any ideas are welcome!

[2018-04-19 17:51] r2d4 commented on #125
Lets track it there!

[2018-04-19 17:51] #125 closed

[2018-04-19 22:44] cyphar commented on #105
The nested containers suggestion is so that the build doesn't require root (which it currently does).

[2018-04-19 23:32] r2d4 commented on #105
Ah I guess I meant once docker or cri-o supports rootless containers, then we won't need the nested container? The only purpose of the nested container is that the parent runtime doesnt support rootless while the nested runtime does.

[2018-04-20 06:11] cyphar commented on #105
Sure, though with Docker and `cri-o` you would still be in a bit of grey area (in most cases I would assume the kubelet would be running as root *even if* we had rootless support in the entire stack -- though the CloudFoundry folks have shown that people are actually okay with rootless in a lot of circumstances).

(Not to mention that Docker will likely never support rootless directly, purely due

[2018-04-20 10:50] carlossg commented on #109
I have some work in progress in #129

[2018-04-20 11:11] ianmiell commented on #105
This is a very disappointing thread to read. I was given to understand from the publicity that kaniko did not require any privileges:

https://cloudplatform.googleblog.com/2018/04/introducing-kaniko-Build-container-images-in-Kubernetes-and-Google-Container-Builder-even-without-root-access.html

this is a bit of a holy grail for our org, since the build environment is very locked-down.

[2018-04-20 11:27] cyphar commented on #105
@ianmiell You can do unprivileged builds with [`umoci`](https://github.com/openSUSE/umoci). If you prefer Dockerfile-style builds there's [`orca-build`](https://github.com/cyphar/orca-build) (I am currently working on combining `orca-build` into the `umoci` project so it's more obvious). There's also a lot of rootless containers work being done in https://github.com/rootless-containers.

[2018-04-20 11:31] errordeveloper opened #130 "FTL link is broken"
I've not heard of FTL before, I tried to follow the link in the `README.md`. The link leads to `github.com/GoogleContainerTools/runtimes-common/tree/master/ftl`, and that repo appears to be private or no longer exists.

[2018-04-20 12:29] ianmiell commented on #105
@cyphar thanks, but I was hoping for something more ready-packaged. I've a house full of yaks already :)

[2018-04-20 13:16] Boolman commented on #124
this works for me:

sudo docker run -v ${PWD}:${PWD} -v ${HOME}/.docker/config.json:/root/.docker/config.json boolman/kaniko:ubuntu -d gitlab.domain.local:4567/org/containername:tagname -c ${PWD}

cat $HOME/.docker/config.json
{
	"auths": {
		"gitlab.domain.local:4567": {
			"auth": "dXNlcm5hbWU6cGFzc3dvcmQ="
		},
	},
	"HttpHeaders": {
		"User-Agent": "Docker-Client/18.03.0-ce (linux)"
	}
}

[2018-04-20 15:05] bparees opened #132 "Can't move files as part of a RUN?"
I've got a dockerfile that, as part of script executed by a RUN command, does a "mv" of some files that were previously ADDed.

The build+push goes fine, but I can't pull the resulting image:

[code]

(in this case the "helm" directory was initially part of an ADD to /tmp/src, and then later mv'd to /opt/app-root/src/heml)

Seems like there is some implicit file linking that is breaking down?

[2018-04-20 17:02] #130 closed

[2018-04-20 17:36] priyawadhwa opened #134 "Speed up COPY with copy_file_range(2)"
Mentioned in #128

cc @AkihiroSuda

[2018-04-20 17:47] #110 closed

[2018-04-20 20:21] bparees opened #136 "Can't use sha references in FROM?"
When building a Dockerfile that uses a FROM reference that is an image id(e.g. `FROM docker.io/centos/nodejs-8-centos7@sha256:8d144d0e2a7d57b537e83f68a6a4aef495850788c6dd5173d1c75fbd45e5ca0b`), the push ultimately hits a nil pointer error while trying to handle the following error:

[code]

The error seems to come back from "isMultiImage" but when it then triggers the invocation of transports.Imag

[2018-04-21 02:59] dlorenc commented on #105
I agree we need to clarify the documentation and messaging a bit more here.

Kaniko was designed to run in a container in any kubernetes cluster, today. umoci and a few other tools are really cool too, kubernetes and docker just don't support the necessary settings to let them run without the --privileged flag.

@ianmiell, can you describe exactly how your build environment is locked down today?

[2018-04-22 15:15] ianmiell commented on #105
If anyone's interested, I've got a reproducible build of a poc using the tools described by @cyphar above (and with his help) here:

https://github.com/ianmiell/shutit-orca-build

on Centos. Does require a little sysctl work to enable (in the script).

[2018-04-22 16:25] cyphar commented on #105
Regarding yak-shaving, yeah we're working on it. @AkihiroSuda has `runrootless` which wraps a lot of the stuff we have been working on -- but at the moment there are quite a few other problems that need to be solved before we can even start polishing it (unprivileged network bridges for instance, as well as a lot of other ancillary kernel work such as bind-mount mappings). And the current `ptrace`

[2018-04-22 17:11] dlorenc commented on #132
Ah cool, just got a repro of this. It looks like it only reproduces if you mv a directory that was ADD'ed, not a file.

[code]

[2018-04-23 09:00] carlossg commented on #124
Documented in #129

[2018-04-23 17:25] ggcarlosr commented on #101
I am on the order I will be developing a proposal I hope you like it

[2018-04-24 21:59] fkorotkov commented on #111
@priyawadhwa is there a doc outlining challenges for supporting Windows containers? I would like to investigate it.

[2018-04-25 09:16] mikebryant opened #144 "Allow building without pushing"
# Context
When using tooling like Gitlab-CI, we want to be able to run the build process pre-merge, in order to validate changes

# Problem
kaniko doesn't appear to allow you to run just the build without also needing credentials to push to a registry.

# Solution
Allow for just the build process to run, without specifying a destination to push to.

[2018-04-25 09:17] mikebryant commented on #144
[code]

[2018-04-25 15:14] dlorenc commented on #144
This basically just drops the image after it's been built, as a way to validate the build "succeeds"?

[2018-04-25 15:16] mikebryant commented on #144
@dlorenc yup. It validates that the Dockerfile syntax is correct and so on, prior to merge.

[2018-04-25 15:41] dlorenc commented on #63
CBI now supports Kaniko! Closing this.

[2018-04-25 15:41] #63 closed

[2018-04-25 16:17] dlorenc commented on #111
I don't think we have a doc on adding Windows support anywhere. It's not something we have a particular use-case for, so we haven't spent much if any time on it. If you do some investigations and write up a proposal, we'd be happy to look it over.

[2018-04-25 16:17] #111 closed

[2018-04-25 16:26] mikebryant commented on #144
Alternatively if the build and push steps were separate that would be great too

[2018-04-25 16:35] ggcarlosr opened #146 "Logo Proposal Kaniko"
**# I hope you like my logo proposal for this interesting tool**

![kaniko](https://user-images.githubusercontent.com/37964430/39259759-4d2607a0-4885-11e8-82b4-a45e1a8ee3b4.png)

[2018-04-25 17:09] priyawadhwa commented on #146
Thank you, this looks great! Would you be able to submit this as a pull request? You could create a `logo` directory and put it in there :)

[2018-04-25 17:25] ggcarlosr commented on #146
ok I will try to do it, although I have not done it for the first time.

[2018-04-25 17:26] priyawadhwa commented on #146
Great, let me know if you have any questions!

[2018-04-25 17:36] ggcarlosr commented on #146
it would be easier for me to pass a link in google drive with the editable logo files and you would add my proposal to your project

[2018-04-25 17:38] priyawadhwa commented on #146
so unfortunately you'll need to sign a CLA for us to be able to use your awesome logo, which means you need to submit a pull request

where are you having difficulty?

[2018-04-25 17:40] ggcarlosr commented on #146
in carrying out each step of the extraction request.

[2018-04-25 17:58] priyawadhwa commented on #146
This [guide](https://gist.github.com/Chaser324/ce0505fbed06b947d962) may be helpful. It looks like you've already created a [fork](https://github.com/ggcarlosr/kaniko) of the project, so you just need to follow the steps in the guide. After you complete the `Create a Branch` step, you can create a logo folder in the project, put the same image above in it, and submit it as a pull request (as descr

[2018-04-25 18:09] ggcarlosr commented on #146
Already make the extraction request that resolutions will need the logo for the project.

[2018-04-25 19:27] ggcarlosr commented on #146
list the pull request please confirm that it has been done correctly

[2018-04-25 20:16] dlorenc commented on #136
I think this will be fixed with #140 but we should add an integration test for this as well.

[2018-04-25 20:18] dlorenc commented on #124
Closing as a dup of #109.

[2018-04-25 20:18] #124 closed

[2018-04-25 20:19] dlorenc commented on #96
I think we've cleared this up in the readme now with #115 . Please open another issue or PR with more suggestions on documenting this clearly.

[2018-04-25 20:19] #96 closed

[2018-04-25 20:19] dlorenc commented on #74
Does this mean travis or kokoro?

[2018-04-25 20:21] dlorenc opened #148 "Add a releasable docker image with a shell for debugging"
Ref https://gitlab.com/gitlab-org/gitlab-ce/issues/45512

[2018-04-25 20:44] priyawadhwa commented on #107
I tried using chroot to execute commands in a subdirectory. Since we can't use "mount --bind" I had to copy over relevant directories (`/proc`, `/dev`, `/sys`, `/etc`). Copying basically took forever and didn't really work, so I don't think we'll be able to use chroot.

[2018-04-25 20:44] #107 closed

[2018-04-25 22:46] #148 closed

[2018-04-26 01:56] r2d4 opened #151 "failed to load system roots and no roots provided"
[code]
[code]

[2018-04-26 03:46] ggcarlosr commented on #146
hey men I get my Pull request? was done correctly? missing something you need?

[2018-04-26 04:13] priyawadhwa commented on #146
It looks great, we just merged the pull request so I'll close this issue. Thank you so much!

[2018-04-26 04:13] #146 closed

[2018-04-26 11:01] ggcarlosr commented on #101
is left alone to close this issues brother.

[2018-04-26 12:04] dgageot commented on #151
Seeing the same issue.

[2018-04-26 15:43] dlorenc commented on #151
Looks like the ssl certs aren't in the image for some reason:

/kaniko/ssl                                  256.5K
/kaniko/ssl/certs                            256.5K
/kaniko/ssl/certs/ca-certificates.crt        256.5K

[2018-04-26 21:49] priyawadhwa commented on #101
perfect, thank you! I'll close the issue now.

[2018-04-26 21:49] #101 closed

[2018-04-27 20:19] dlorenc commented on #144
We'll tackle this by adding a flag to output a tarball on disk, which is useful for other cases as well.

[2018-04-27 20:20] #55 closed, assigned to nobody

[2018-04-27 20:23] #72 closed, assigned to nobody

[2018-04-27 20:25] sharifelgamal commented on #71
- Dynamic test creation
- Parallelization
- Use container-diff --metadata instead of container-structure-test

[2018-04-27 20:28] sharifelgamal commented on #46
Included in #71

[2018-04-27 20:28] #46 closed

[2018-04-27 20:29] sharifelgamal commented on #45
Included in #71

[2018-04-27 20:29] #45 closed

[2018-04-27 22:07] priyawadhwa opened #156 "Use busybox for kaniko debug image"

[2018-04-27 23:15] priyawadhwa commented on #151
This should be fixed now, with #155

[2018-04-27 23:15] #151 closed

[2018-04-27 23:41] priyawadhwa commented on #136
This should be working now, so I'll close this issue!

[2018-04-27 23:41] #136 closed

[2018-04-30 18:01] #18 closed

[2018-05-02 10:09] dlorenc opened #164 "Test and Document Kaniko Inside gVisor"
https://github.com/google/gvisor

[2018-05-02 10:11] dlorenc commented on #164
This was an original design requirement for kaniko, and the combination of a sandbox pod inside gvisor + kaniko should provide a much more secure way to perform builds in a cluster.

[2018-05-02 15:50] #16 closed, assigned to nobody

[2018-05-02 17:02] chrisz100 commented on #17
Healthcheck requires a different config struct:
https://github.com/moby/moby/blob/master/api/types/container/config.go

It seems to be not included in the open container specs - thus implementing this would require completely replacing the base for configs.

After that - if I get the code right - it would simply mean passing the already prepared HealthConfig struct to the config to persist it. Whi

[2018-05-02 18:24] #23 closed

[2018-05-03 15:07] #39 closed

[2018-05-03 20:04] guilhermebr opened #168 "Flag --insecure-skip-tls-verify has no effect"
Caused by PR https://github.com/GoogleContainerTools/kaniko/pull/140

[2018-05-05 20:13] mustafaakin commented on #102
Can we at least enable caching the layers for the FROM some-image:xyz? In our CI, we already have a awslinux+java+maven image which already has many layers takes 400-500 mbs, downloading them each time would be slow and unnecessary. Another example; we cache the dependencies as maven is very slow and we periodically prepare a base Docker image with dependencies already present. While they can be s

[2018-05-07 13:45] nbyl opened #170 "Build of Images fails with unclear message"
I tried to build the attached Dockerfile using kaniko, but the build failed with the following error.

[code]

Attached you'll find the [build.log](https://github.com/GoogleContainerTools/kaniko/files/1980062/build.log) and the [Dockerfile](https://github.com/GoogleContainerTools/kaniko/files/1980065/Dockerfile.txt).

[2018-05-07 16:50] priyawadhwa commented on #170
I was able to build the image successfully, so I suspect it's an issue with the location you're trying to push the final image to. What are you passing in to the --destination flag?

[2018-05-07 17:10] 45cali commented on #156
Im very interested in trying this image out in my gitlab cicd pipeline

[2018-05-08 19:44] nbyl commented on #170
Yes, this the problem. I omitted the --destination flag which results in this error. I submitted a PR which will prevent this in the future.

[2018-05-08 20:06] #170 closed

[2018-05-10 05:03] gaocegege opened #175 "[question] Do we have plan to support multiple stage building?"
Hi Kaniko,

I am a part of [Kubeflow](https://github.com/kubeflow/), we are going to use kaniko to automate build our images.

One of our projects, [katib](https://github.com/kubeflow/katib), which is a hyperparameter tuning system on kubernetes, uses multiple stage building to reduce the size of images. And we want to know if there is a plan to support the feature?

I'd appreciate it if you could

[2018-05-10 05:05] gaocegege commented on #175
Oh sorry I missed the issue #4 since it uses multi- instead of multiple and I did'n find it by GitHub search.

I am closing it and ask the question in that issue.

[2018-05-10 05:06] #175 closed

[2018-05-10 18:12] #109 closed

[2018-05-10 20:17] #156 closed

[2018-05-10 20:41] priyawadhwa commented on #156
Cool, the debug image should be available now at `gcr.io/kaniko-project/executor:debug`

[2018-05-11 11:44] himikof commented on #102
As an alternative cache storage could an object store like S3/GCS/minio be considered? I think it solves both the problem with ReadWriteMany PV complexity/availability (as caching should not require full-blown filesystem), and the problem with ephemeral build pods in K8s.
An object store could be quite performant if provided by the cloud or run locally alongside the build pods.

And if necessary,

[2018-05-11 18:15] #14 closed

[2018-05-14 09:26] chrisz100 commented on #17
@dlorenc @priyawadhwa any idea?

[2018-05-14 15:54] priyawadhwa commented on #17
Hey, sorry for the late response! We use the [go-containerregistry](https://github.com/google/go-containerregistry) library for working with our images, and right now the [config](https://github.com/google/go-containerregistry/blob/master/v1/config.go#L75) doesn't have a field for Healthcheck. You'd probably have to create the healthcheck config struct in go-containerregistry and add it to the con

[2018-05-14 16:30] chrisz100 commented on #17
So you suggest contributing to go-containerregistry and using the merged version for proceeding here, correct?

[2018-05-14 16:35] dlorenc commented on #17
@chrisz100 correct! I can help you get that PR merged into go-containerregistry as well :)

[2018-05-14 22:41] #4 closed

[2018-05-15 14:18] jesusofsuburbia opened #181 "pushing to a Gitlab registry fails with Unauthorized"
Hi everyone,

I'm very interested in this project (thanks for your work) and I'm currently testing it with gitlab.

Now I provided a `.docker/config.json` that would allow me to login.
This works fine for pulling the image referenced in `FROM` in the Dockerfile.
When kaniko tries to push, it fails:
`ERRO[0001] UNAUTHORIZED: "authentication required" `

I've tracked the issue down to this line:
htt

[2018-05-15 14:25] jesusofsuburbia opened #182 "Building from a multi-arch image unpacks wrong architecture image"
Hi again,

another issue that I noticed while testing with kaniko and gitlab:

When building a project and the Dockerfile build `FROM` a multi-arch image,
the image that is pulled and unpacked is not matching the system architecture.

Tested with an `arm` device:

When I have `FROM alpine:3.7` (which is multi-arch and supports arm) in my dockerfile, it fails (exec format error)

Using `FROM arm32v

[2018-05-15 16:50] priyawadhwa commented on #182
Would you be able to provide the Dockerfile you're trying to build and logs of the error? We have an integration test which pulls alpine:3.7 and is passing, so the error might be coming from some command in the Dockerfile which isn't being handled correctly.

[2018-05-15 19:59] jonjohnsonjr commented on #181
The MountPaths are useful for doing cross-repo mounting, which allows fast intra-registry copies. See here:
https://docs.docker.com/registry/spec/api/#cross-repository-blob-mount

I believe this is failing because gitlab assumes a single scope per token exchange, but there can be multiple. See here:
https://github.com/docker/distribution/blob/1503fa210962ee023c09a319b96b86ebf2d92991/docs/spec/auth

[2018-05-16 03:01] harche opened #183 "executor image is not multi-arch"
Hi,

The image, `gcr.io/kaniko-project/executor:latest` is not multi-arch,

[code]

For this tool work on k8s running on architectures other than x86, that image has to be multi-arch

[2018-05-16 03:08] dlorenc commented on #183
We don't have plans to support other architectures at this time.

[2018-05-16 03:28] harche commented on #183
@dlorenc Thanks for your reply. I really want to be able to run this tool on k8s but my systems are on `ppc64le` arch.

We just to do disable few gcr specific things like, https://github.com/GoogleContainerTools/kaniko/blob/master/deploy/Dockerfile#L22. Since the image is build from `golang:1.10` (which is multi-arch) it should be pretty easy to make this tool multi-arch.

If you are fine with it,

[2018-05-16 04:46] jesusofsuburbia commented on #181
@jonjohnsonjr thanks for the explanation!

This seems to be a gitlab issue then, I will try to find the right people there

[2018-05-16 04:46] #181 closed

[2018-05-16 15:43] #71 closed

[2018-05-16 15:44] dlorenc commented on #144
This should be fixed now. You can run with a --tar-path=/dev/null and it will skip the push.

[2018-05-16 15:44] #144 closed

[2018-05-17 09:04] Boolman opened #188 "symlink x y: file exists"
I can't get the build to work after upgrading to the latest, actually not sure which commit ref I used when it did work
commit: 347d835781c2a0c8e6a3ad03696b2ebd9f6e6576

it works when I'm using the image in the docs ( gcr.io/kaniko-project/executor:latest )

here is my kaniko image:
[code]

Here is the container I'm trying to build:
[code]

[code]

logs:
[code]

[2018-05-17 10:33] Boolman commented on #188
seems to work if I start off with a scratch/distroless image

[code]

[2018-05-17 15:26] dlorenc commented on #188
The issue is probably because the file that's trying to be unpacked (/bin/dnsdomainname) already exists in the alpine image you're trying to run kaniko in. Is there any reason you can't use the scratch/distroless images?

[2018-05-17 17:04] dlorenc commented on #183
Adding a build and dockerfile would be easy, but we have no way to test these binaries or multi-arch images right now. I'd be concerned about adding them to this repo because it would make them seem "official", but we wouldn't be able to test, debug or even reproduce reported issues.

Would you be open to hosting the image and binaries yourself in a separate repository?

[2018-05-17 20:28] dlorenc commented on #123
Looks like we just need a CHANGELOG.md and this can be closed.

[2018-05-17 21:41] #123 closed

[2018-05-17 22:01] #17 closed

[2018-05-18 07:07] fischerman commented on #188
I'm getting the same issue. For me, the reason to use an alpine image is because of how the GitLab CI works. It requires a shell to be available because it executes the following command:
[code]
Here is an example .gitlab-ci.yml
[code]

[2018-05-18 18:50] priyawadhwa commented on #188
@fischerman  We have a debug image with a busybox shell `gcr.io/kaniko-project/executor:debug`, which you could use once [this](https://gitlab.com/gitlab-org/gitlab-runner/merge_requests/900) goes through.

[2018-05-18 20:26] fischerman commented on #188
@priyawadhwa thanks for the info
My workaround for now is to create a symlink to /busybox/sh/ on top of the debug image and remove the symlink before calling kaniko in the CI

[2018-05-19 13:05] kmadel opened #190 "Can't Build jenkinsci/docker-slave"
From https://github.com/jenkinsci/docker-slave/blob/master/Dockerfile

Issue seems related to concatenating RUN commands and may also be due to ARGS being present is said command.

Building with latest:
[code]

Results in this error:
[code]

This is the relevant line in the [Dockerfile](https://github.com/jenkinsci/docker-slave/blob/master/Dockerfile#L45):
[code]

[2018-05-19 13:16] kmadel commented on #190
Similar issue with https://github.com/beedemo/jnlp-agent with this [line](https://github.com/beedemo/jnlp-agent/blob/c865a7193f52ab3c2c9a671941fc5a67abd6cc00/Dockerfile#L17)

[code]
Updated to:
[code]
Still fails with:
[code]

[2018-05-19 14:26] kmadel commented on #190
`RUN mkdir /.jenkins` seems fine but and `RUN mkdir /home/.jenkins` works, but `RUN mkdir /home/jenkins/.jenkins` does not.

[2018-05-19 16:19] kmadel commented on #190
Yet another update - `RUN mkdir /home/jenkins/.test` works fine, so it seems this is an issue with having a hidden directory in a directory with the same name.

[2018-05-21 15:52] Rishka opened #191 "ECR credential helper being removed with multi-stage dockerfiles"
When running kaniko in gitlab ci, the ECR credential helper is not available after the first stage in a multi stage docker build.

The image I am using for kaniko is slightly modified to get it to run in gitlab-ci:
[code]

then run kaniko like
`/kaniko/executor --dockerfile /path/to/Dockerfile --context /path/to/  --destination reg_id.dkr.ecr.us-east-1.amazonaws.com/other:latest`

where the Docker

[2018-05-21 17:24] #1 closed, assigned to nobody

[2018-05-21 17:24] #74 closed, assigned to nobody

[2018-05-21 17:25] dlorenc commented on #183
Going to close this for now, it's infeasible for us to test.

[2018-05-21 17:25] #183 closed

[2018-05-21 17:26] dlorenc commented on #188
This is basically working as intended because of the image with a shell you're using. We can't do anything here automatically.

[2018-05-21 17:26] #188 closed

[2018-05-21 22:13] priyawadhwa commented on #190
Looks like the bug is happening because we aren't handling environment replacement for ARG, I'll open a PR to fix this.

[2018-05-21 22:15] priyawadhwa commented on #191
Now that #192 is merged, this should be fixed so I'll close the issue.

[2018-05-21 22:15] #191 closed

[2018-05-21 22:18] priyawadhwa commented on #182
Hey @jesusofsuburbia -- I was able to build an image with both `alpine:3.7` and `arm32v6/alpine:3.7` on a standard Kubernetes cluster, but we don't plan on supporting any other architectures at this time.

[2018-05-21 22:35] #164 closed

[2018-05-22 01:39] #190 closed

[2018-05-22 01:40] priyawadhwa commented on #190
This should be fixed now, let me know if you have any issues.

[2018-05-22 04:36] mkumatag commented on #183
@dlorenc This is not a problem anymore, now `ppc64le` is part of travis beta version. We should be able to enhance `.travis.yaml` file to run tests on ppc64le platform as well

[2018-05-23 18:22] priyawadhwa commented on #182
I'm going to go ahead and close this issue, please open another if you have any more questions!

[2018-05-23 18:22] #182 closed

[2018-05-28 22:09] azazel75 commented on #181
@jesusofsuburbia did you open an issue on gitlab that I can follow?

[2018-05-29 04:42] jesusofsuburbia commented on #181
@azazel75 not yet, I wanted to research a bit where this problem happens in the gitlab code first, but didn't have the time...

[2018-05-29 09:59] azazel75 commented on #181
@jesusofsuburbia They surely know their code better and can help us spot and fix the problem

[2018-05-29 10:20] jesusofsuburbia commented on #181
@azazel75 feel free to open an issue

[2018-05-29 10:55] azazel75 commented on #181
Of course, of course

[2018-06-01 12:25] ErikWegner opened #196 "Unrecognized challenge: BASIC"
I am trying to build a container image inside kubernetes. The command `docker run -v ~/.docker:/root/.docker -v ~/workspace:/workspace gcr.io/kaniko-project/executor:latest -f Dockerfile -d privateregistry.example.com/org1/hello:v1 -c /workspace` builds the image and tries to upload it to my private registry. The output is:

    time="2018-06-01T11:40:00Z" level=info msg="Unpacking filesystem of h

[2018-06-01 18:55] priyawadhwa commented on #196
Initially I thought the error might be coming from [here](https://github.com/google/go-containerregistry/blob/0ff1db03aaaabc9820e8a13353f61d8474814abd/v1/remote/transport/transport.go#L82) while trying to get the config file, but I was able to build an image based off `hello-world:linux` and push it to GCR and Docker registry.

Could you provide the Dockerfile you're trying to build?

[2018-06-02 06:35] ErikWegner commented on #196
This is my Dockerfile:

    FROM hello-world:linux

How do I know which auth path is required?

[2018-06-02 19:53] jonjohnsonjr commented on #196
This is fixed upstream 👍

[2018-06-03 01:25] #196 closed, assigned to nobody

[2018-06-04 07:21] ErikWegner commented on #196
Works now, thank you.

[2018-06-04 17:50] #51 closed

[2018-06-04 22:17] #43 closed

[2018-06-06 12:10] StephenLiuYa opened #200 "I use insecure-skip-tls-verify flag, but also get connection refused error"
time="2018-06-06T09:59:29Z" level=error msg="Get https://XXX/v2/: dial tcp XXX:443: connect: connection refused"

[2018-06-06 16:29] priyawadhwa commented on #200
Hey @StephenLiuYa , this is being worked on in #169

[2018-06-06 20:49] sharifelgamal commented on #120
This is waiting for https://github.com/google/go-containerregistry/pull/206

[2018-06-07 07:27] lvjiangzhao opened #201 "How to push an image to private registry with client TLS certificates?"
/root/.docker/config.json may contain credentials such as username and password.  But how to push image with my own client TLS certificates ?

[2018-06-11 17:26] priyawadhwa commented on #200
Closing as dupe of #168

[2018-06-11 17:26] #200 closed

[2018-06-11 22:56] dimrozakis commented on #14
Is ARG also supported in the FROM command?

[2018-06-11 22:56] priyawadhwa commented on #14
Yes, it is!

[2018-06-12 02:27] dimrozakis commented on #14
Great, thanks!

On Tue, Jun 12, 2018, 01:56 priyawadhwa <notifications@github.com> wrote:

[2018-06-12 16:51] priyawadhwa commented on #201
Hey @lvjiangzhao, so there isn't any way to push with your own certs in kaniko right now. Why do you need this feature?

[2018-06-13 17:04] priyawadhwa opened #203 "Add snapshot mode to only snapshot once at the end of the build"

[2018-06-14 06:55] lvjiangzhao commented on #201
Thank you for your attention. The registry I want to push image to is built only for private and internal usage. And this registry need client certs when pull and push an image.

[2018-06-19 07:44] StephenLiuYa opened #207 "can build dockerfile with --pull and --rm args"

[2018-06-19 22:03] priyawadhwa commented on #207
Currently there is no caching in kaniko so it always pulls the latest version of an image. We also don't build any intermediate containers, so neither of these flags apply to kaniko as of now!

[2018-06-19 22:03] #207 closed

[2018-06-20 03:38] StephenLiuYa commented on #207
@priyawadhwa  I just want to change the entrypoint  to reuse the pod to build image.

[2018-06-20 07:58] xanonid opened #208 "kaniko does not consider file ownership change"
Using a simple test Dockerfile

[code]

the resulting Docker image has root:root ownership of testfile instead of 1000:0.
As the final `ls` command shows, the chown command itself worked in the build container.

The file ownership change is not recorded (`No files were changed` message):
[code]

[2018-06-20 14:50] Boolman opened #210 "push failed to private gitlab"
I'm unable to push to our private gitlab registry.
docker login works, I can push manually ( sudo docker push ... )
This has worked before, Not sure if our gitlab is upgraded.

[code]

I'm trying with my custom build container, but I get the same problem with the debug-image.

[code]

config.json:
[code]

logs on registry:
level=warning msg="error authorizing context: insufficient scope"

[2018-06-20 18:10] priyawadhwa commented on #210
Hey @Boolman, if it was working before I suspect it's not an issue with kaniko and may be some sort of issue with the authentication you're passing in (I may be wrong, but I looked into it and it's the only explanation I can think of).

Just curious though, what changes did you make to kaniko to create your custom built container?

[2018-06-20 20:29] pao commented on #181
Have either of you opened the issue? I don't see a relevant one over there yet.

[2018-06-21 06:59] palnabarun opened #212 "Issue with authentication"
I am trying to build an image locally and pushing it to AWS ECR.

[code]

I am logged in to Docker with the ECR credentials. I browsed through the issues  but couldn't find any relevant information. I am not able to figure out what I am doing wrong. Any insights on this would be helpful.

Edit: The command that I am using.

[2018-06-21 07:53] Boolman commented on #210
it works fine against hub.docker.com so I guess its either something with my gitlab setup or a recent update to gitlab.

regarding my own container, I didnt really add anything. I just removed stuff
for the curious here it comes:

[code]

[2018-06-21 19:55] jicowan opened #213 "HOWTO: Using Skaffold with Kaniko and ECR"
How would you configure Skaffold to use Kaniko to build images in a k8s pod and then push the resulting image to an ECR registry?

[2018-06-21 20:19] priyawadhwa commented on #213
Hey @jicowan, to push to ECR with kaniko you need to be able to mount in your own config.json and aws credentials file (which I think you can already do in skaffold as a secret). I'd open an issue in skaffold to add support for this, and then it should work.

[2018-06-21 21:00] #213 closed

[2018-06-21 22:36] Boolman commented on #212
If you look at the dockerfile, it uses /kaniko/.docker/ instead of $HOME/.docker

ENV DOCKER_CONFIG /kaniko/.docker/

so you should probably add an -e DOCKER_CONFIG=/root/.docker/

[2018-06-22 00:28] #203 closed

[2018-06-22 19:00] #120 closed

[2018-06-22 22:11] #208 closed

[2018-06-24 17:54] ImJasonH opened #216 "Support relative Dockerfile paths"
Currently the path to Dockerfile needs to be absolute. It would be useful to accept a relative path as well.

[2018-06-25 17:38] priyawadhwa commented on #216
Hey @ImJasonH, an absolute path or a path relative to the build context should work.

[2018-06-25 18:01] LeDominik opened #217 "Ability to multi-tag"
In our build-pipeline we always add 2 tags: One for the git hash and one with the branch and or tag for releases, etc... So for `docker build` we simply pass two tags and then push both.

I'm wondering if there's a way to support this model in Kaniko as well...BTW awesome tool!

[2018-06-25 20:16] priyawadhwa commented on #217
Hey @LeDominik, you can pass in multiple destinations to push the image too by setting the `--destination` flag multiple times.

[2018-06-25 22:14] priyawadhwa commented on #212
It looks like you're trying to pull a private image from the Docker registry as the base image of your Dockerfile, is that correct? If so, are those credentials included in your docker config?

[2018-06-25 22:31] palnabarun commented on #212
No. The image that I am basing my Dockerfile from is from a public repository.

In any case, my docker hub is present in the config.json that I am passing in to kaniko.

[2018-06-25 22:32] priyawadhwa commented on #212
Ah, could you tell me what base image you're trying to use?

[2018-06-25 22:33] palnabarun commented on #212
Sure. Here it is: https://hub.docker.com/r/palnabarun/firefly/

[2018-06-25 22:37] priyawadhwa commented on #212
From this line in the logs:
`time="2018-06-21T06:54:38Z" level=info msg="Unpacking filesystem of firefly..."`
it looks like you may have specified the base image as `firefly` instead of `palnabarun/firefly`, which I was able to build and push with successfully.

[2018-06-25 22:43] palnabarun commented on #212
Ah. Okay. I got the mistake now.

I will try and update the issue accordingly.

[2018-06-26 08:52] alexellis commented on #106
Any updates on this? Does this observation from @AkihiroSuda affect whether this is secure/ready for use with untrusted builds?

[2018-06-26 11:28] palnabarun commented on #212
Thanks. This worked.

[2018-06-26 11:28] #212 closed

[2018-06-26 12:22] LeDominik commented on #217
Oh cool, I didn't even try because for the build parameters it was clearly outlined in the help text 👍

[2018-06-26 14:57] dlorenc commented on #106
I wouldn't suggest using kaniko (or anything else available today) on untrusted builds without wrapping it inside another security boundary, like kata containers or gvisor.

We've tested and documented with gvisor.

The main goal for now is to support trusted builds inside any standard cluster without requiring extra configuration (AllowPrivileged, etc.).

[2018-06-26 15:12] dlorenc commented on #216
@ImJasonH did you test this out? As far as I can tell it should work.

[2018-06-26 15:30] ImJasonH commented on #216
I see failures when I specify `--dockerfile=./Dockerfile`

[code]

Same with `--dockerfile=Dockerfile`

[code]

This works when I change it to an absolute path `/workspace/Dockerfile`.

In this case the build context is a local workspace directory containing only the `Dockerfile` ([this gist](https://gist.github.com/ImJasonH/4940f3f2a0358a178b28e2a1afbaf587), cloned)

[2018-06-26 17:53] dlorenc commented on #216
So I think this might be due to the fact that we don't set the CWD to be /workspace inside the container. I'll try changing the Dockerfile to add a WORKDIR.

[2018-06-26 19:36] #216 closed

[2018-06-27 08:47] harche commented on #183
@dlorenc I have created a separate docker image for `ppc64le` and hosting it here, `docker.io/pharshal/executor`, I have also added support for running for `ppc64le` arch.

We find this tool very useful in our on-premise setup which is made up of `ppc64le`.

[2018-06-27 21:47] kunmingg opened #220 "Image build slower than docker in docker"
Env: GKE 1.8
Hi,
Our pipeline need to build docker image within k8s, and think kaniko would be great tool for that.
During test we found kaniko takes more time to build images compared to docker in docker solution, which could be a pain when image update frequency matters.
Is it expected or caused by something I didn't config correctly?

Thanks

[2018-07-02 10:11] gnur opened #221 "COPY command ignores folders with same name as grandparent directory"
I was debugging a strange issue and fount out that folders are not copied in certain situations.

With the following file tree:
[code]

If this filetree is mounted in `/src` the directory `app/src` would not get copied with a `COPY /src/app /dest`.

Steps to reproduce:
[code]

output:
[code]

If you change src to alpha in the mount commands the same happens, except `app/src` does get copied and `a

[2018-07-02 21:30] priyawadhwa commented on #220
Hey @kunmingg, so right now it is somewhat expected since we haven't implemented caching yet (you can follow that issue here #102). Until then, you could try using the `--snapshotMode=time` flag, which will only look at file mtime when snapshotting (should be a bit faster than the default snapshotter, but I haven't done any benchmarking).

[2018-07-02 21:32] priyawadhwa commented on #201
You could try what was suggested in [this](https://github.com/GoogleContainerTools/kaniko/pull/169#issuecomment-401572059) comment, and see if that works!

[2018-07-03 06:18] diclophis opened #222 "multi-stage builds fail when SSL certificates are mounted on read-only filesystem"
Hello,

I currently am getting this error when attempting to use `kaniko` to build a multi-stage `Dockerfile`

[code]

I have deployed `kaniko` using approx. these manifests:

[code]

Using this `Dockerfile`

[code]

And of course a repo with the `Dockerfile` and a `CHANGELOG.md` file...

Other relevant information?

[code]

[2018-07-04 07:08] efiguti opened #224 "pushing to registries signed by unknown authority"
it seems that the flag **--insecure-skip-tls-verify**  is not implemented
and when i try to push a image
error message received

[code]

[2018-07-05 11:08] diclophis commented on #102
Will there be support for `HTTP_PROXY_HOST` ENV for accelerating `apt-get` installs?

[2018-07-05 15:51] dgageot opened #225 "Override context tarball name"
Context tarball is currently fixed to `context.tar.gz`.
It would be useful to pass this name as an argument. Especially for running multiple build in parallel.

[2018-07-05 19:21] bajacondor commented on #210
Hello, @boolman... Did you ever get anywhere with this?  I'm also getting `UNAUTHORIZED: "authentication required"` when pushing to a private gitlab registry.

[2018-07-05 21:06] #122 closed

[2018-07-05 21:06] r2d4 commented on #225
I'll close #122 as a dupe

[2018-07-06 13:05] lvjiangzhao commented on #201
@priyawadhwa  it works. thx!

[2018-07-08 13:07] chrisz100 commented on #225
You can provide that now - check #195

[2018-07-08 19:45] #225 closed

[2018-07-09 17:08] r2d4 commented on #224
Dupe of https://github.com/GoogleContainerTools/kaniko/issues/168

[2018-07-09 17:08] #224 closed

[2018-07-09 17:10] r2d4 commented on #220
Let's close this and track it in the caching issue https://github.com/GoogleContainerTools/kaniko/issues/102

[2018-07-09 17:10] #220 closed

[2018-07-09 20:35] priyawadhwa commented on #222
Hey @diclophis, I can't repro this issue. This is the pod spec I'm running, but it's able to build the same image successfully:

[code]

I did find a different bug when trying to figure this out though, which was fixed here (#228). I released a new version of kaniko, could you see if you still get the same error using that?

[2018-07-10 15:08] lambertjosh opened #232 "symlink busybox /busybox exists"
As a simple test, I was trying to use kaniko to build itself. I ran into an issue however that it failed unpacking the images, because `/busybox/` already existed.

Note I am using a slightly modified `kaniko:latest` image to get it to work with GitLab CI, but I don't think that is a direct cause of this issue here. It seems rather that this directory is not whitelisted, but should be?

[code]

[2018-07-10 15:23] #221 closed

[2018-07-10 15:24] priyawadhwa commented on #221
Hey @gnur , I just merged #231 which should fix this bug. Thanks for opening the issue, please reopen if you continue to get this error!

[2018-07-10 15:36] pao commented on #181
Cross-reference for this specific issue (multiple authentication scopes): https://gitlab.com/gitlab-org/gitlab-ce/issues/48968

[2018-07-10 22:09] pao commented on #210
Believe this is a duplicate of #181.

[2018-07-12 09:23] frelon opened #233 "multi-stage error when referencing earlier stage"
Hi!

I get the error message _UNAUTHORIZED: "authentication required"_

when running kaniko with the following Dockerfile

[code]

And these commands on my local machine:

[code]

But when using docker build and docker push/run it works as expected.

[2018-07-12 10:01] frelon commented on #233
Moving it around to not be a multi-stage build also works:

[code]

[2018-07-12 18:00] JoelPM opened #234 "RUN command fails"
Posted on the mailing list as well.

I'm attempting to use Kaniko to build an elixir container, but it's failing on the command `RUN mix local.hex --force`.

Dockerfile:
[code]

I'm invoking Kaniko using skaffold, here's my skaffold.yaml:
[code]

Here's the error output:
[code]

Running in the debug executor I get the same problem:
[code]

Running the command interactively (again, in the debug exe

[2018-07-12 21:29] priyawadhwa commented on #233
Hi @frelon , I think this is happening because we aren't replacing the base name in the last dockerfile stage (so kaniko will try to pull `base` which doesn't exist, instead of `microsoft/dotnet:2.1-runtime`).

I'll open a PR which should hopefully fix this

[2018-07-12 21:34] JoelPM commented on #234
This seems like an issue with running a binary that's included in the base image.

[code]

Output
[code]

So make, which was installed via apk. works. However, invoking mix fails. Some of the other binaries in the base image also fail with the same error code (erl, iex), so this doesn't seem specific to mix.

[2018-07-12 21:46] priyawadhwa commented on #234
Hey @JoelPM , when I tried to build the image with kaniko I got this error:

[code]

It looks like Docker by default sets `$HOME=/root` which is why it was working. I added `ENV HOME /root` to the Dockerfile, and kaniko was able to build it.

[2018-07-12 21:49] JoelPM commented on #234
Thanks so much for the help @priyawadhwa! Setting HOME=/root fixed the issue for me. I'm not sure why I wasn't getting that error on my side. Thanks again.

[2018-07-12 21:49] #234 closed

[2018-07-12 21:56] priyawadhwa commented on #234
For sure. You could try pulling the latest version of the image again, only reason I can think of as to why you weren't seeing the error.

[2018-07-13 07:08] frelon commented on #233
HI @priyawadhwa, great! thanks for the quick response!

[2018-07-13 19:36] pmcq commented on #9
Hi I'm interested in getting this issue resolved for multi-stage builds we are working on, but don't have experience contributing to a go repo.  I'd like to help out if possible though (at least for some of the `--chown` syntax)

[2018-07-13 23:44] priyawadhwa commented on #9
Hey @pmcq , thanks for your interest. I've outlined a few steps you might want to take to add this feature

1. In [copy.go](https://github.com/GoogleContainerTools/kaniko/blob/master/pkg/commands/copy.go), in `Execute`, you'll first want to get uid/gid from `c.cmd.Chown`, which is a string. We do something similar for the `USER` command [here](https://github.com/GoogleContainerTools/kaniko/blob/ma

[2018-07-14 00:12] priyawadhwa commented on #232
The reason you're seeing this error is because `/busybox` already exists, so when kaniko tries to symlink `/busybox` from the base image there's a symlink error. This is why we generally recommend using the standard executor image, since adding things like a shell might prevent kaniko from building certain images (although I understand you need one for it to work with GitLab!).

If we move the `/b

[2018-07-16 20:52] pmcq commented on #232
Hi,
I ran into a similar issue building a simple image based on `ubuntu:16.04`.  The simplest reproduction I could find is a Dockerfile just containing `FROM ubuntu:16.04`.

I end up with the following error:
[code]
However, after I poked around some more (added some debug code) I realized that when creating symlinks it's possible the file that is being linked to does not yet exist in the layer, a

[2018-07-16 23:05] pmcq commented on #232
Dang I apologize I just realized I was also using a debug image from local development!  Removed a previous comment.

[2018-07-17 21:29] pmcq commented on #9
I made changes in a fork here: https://github.com/GoogleContainerTools/kaniko/compare/master...pmcq:copy-chown?expand=1 and built an image and used it to run dockerfiles with `COPY --chown` flag succesfully. All existing unit tests pass, however I don't see any existing tests on util.CopyDir/CopyFile or CopySymlink that need modification.

I was thinking of creating new tests that just copy file/d

[2018-07-18 05:02] diclophis commented on #222
yea, it appears to be working with the latest build `5f9fb2cb8d55003b2da8f406e22a4705b08d471e` thanks!

[2018-07-18 05:02] #222 closed

[2018-07-18 10:40] alexellis commented on #121
Hi @r2d4 I would be interested in this feature for using Mini or similar within a hybrid/on-premise solution.

Would fetching over HTTP be within scope?

Alex

[2018-07-18 12:36] sebgoa opened #239 "unable to push to docker hub from GKE Pod"
Hi,

I can use kaniko just fine on a local docker for mac installation. and I wrote:
https://medium.com/@sebgoa/building-docker-images-with-kaniko-6e2421b018

Now I try to setup a cronjob to run the same kaniko build within a GKE cluster. I use:

[code]

Have tried tons of things, but the closest I get is this error:

[code]

My `config.json` use `/v1` for the registry url, but here I get an error

[2018-07-18 13:03] sebgoa commented on #239
what is very weird is that sometimes I also get a connection refused error:

[code]

I do have calico installed in GKE, but I don't have any network policies setup.

I also ssh'd in one of the GCE instances that make up the GKE cluster and did the same `docker run` command that I do locally, and the build worked fine and was able to push.

[2018-07-18 15:05] sebgoa opened #240 "cannot create directories via RUN"
Hi, I am doing a build with kaniko.
My Dockerfile contains a `RUN mkdir foobar` directives.

kaniko errors out (permissions issues I suppose):

[code]

[2018-07-18 15:12] dlorenc commented on #240
Can you share the full Dockerfile and pod.yaml (assuming you ran in k8s)?

[2018-07-18 15:18] sebgoa commented on #240
I am actually running in pain Docker.

[code]

I tried:

[code]

which succeeds but the `/kubeless` directory is not present at the root of the resulting image.

[2018-07-18 15:19] sebgoa commented on #240
well, it is my base image :)

works fine with `debian:stable-slim`

[2018-07-18 15:36] sebgoa commented on #240
correct, currently it is a runtime volumeMount, I was trying to create it and forgot the user privileges.

my bad, thanks for checking.

[2018-07-18 15:36] #240 closed

[2018-07-19 02:16] priyawadhwa commented on #121
Hey @alexellis , I think that would be within scope since Docker allows for Github repos as build contexts.

Could you open a separate issue for this? It'll be easier to keep track of, and if you're interested in contributing this feature I can provide more details!

[2018-07-19 05:52] Delphinator opened #245 "Long builds fail with "UNAUTHORIZED: \"authentication required\"""
## steps to reproduce

[code]

## additional obervations

I also ran `tcpdump` on the network interface of the container. I saw a quite a bit of traffic at the start (I assume pulling the image) and a single, short TLS connection to index.docker.io after `sleep` was done.

The issue seems to be gone (or at least takes substantially longer to arise) if I substitute `debian:stable-slim` with any ima

[2018-07-19 07:27] cmoulliard opened #246 "Kanibo's debug POD can't be launched - stat /bin/sh: no such file or directory"
If I try to create a debug's pod using this resource's definition to debug kanibo, then it fails

[code]

Error

[code]

[2018-07-19 15:50] alexellis commented on #121
This is how I did it via a Gist + init container. https://gist.github.com/alexellis/87d732a4b5fe056f5bf903aa6e6437ed

[2018-07-19 17:04] priyawadhwa commented on #246
Hey @cmoulliard , are you trying to execute RUN commands in your Dockerfile? `RUN` commands default to using `/bin/sh` in a container, which won't work in the debug container since it doesn't exists.

You could try changing the default shell with the `SHELL` command.

[2018-07-19 18:28] priyawadhwa commented on #233
Hi @frelon, this should be fixed now. Let me know if you run into any more problems.

[2018-07-19 18:55] cmoulliard commented on #246
No. I was able to resolve the issue by creating the pod as descrobed but next by issuing this command

[code]

[2018-07-19 18:55] #246 closed

[2018-07-21 00:02] priyawadhwa commented on #233
I'll go ahead and close this, please open another issue if you run into anything!

[2018-07-21 00:19] fabiokung opened #247 "`RUN <process>` can leave processes running in the background"
Some `RUN` instructions on Dockerfiles can leave processes running in the background (e.g. daemons). If these daemons are writting to files in the context dir, `tar` will fail with:

[code]

... when the layer is being snapshotted, because files were modified after the tar header was written.

One idea to prevent this is to execute `RUN` instructions in a nested PID namespace, and `kill -9` its PI

[2018-07-22 13:38] tweakmy opened #248 "kaniko could not push to local gitlab registry with error "registries must be valid RFC 3986 URI authorities: gitlab.gitlab:5000""
Hi,
I am running a local private registry on a private kubernetes cluster. I am a step away from having full ci/cd.
kubernetes dns could resolved to gitlab.gitlab but not sure this dnsname in certficate was wrong when I setup in Kubernetes. Can this be fix? Is there an overwrite?

[2018-07-22 23:35] priyawadhwa commented on #239
Hey @sebgoa, thanks for writing the article! I tried to run a similar cronjob:

[code]
which was able to build successfully.

I was also able to pull in ` kubeless/python:3.6` without mounting in any special credentials, so I think it must be an issue with your `config.json`, since I'm pretty sure go-containerregistry, which kaniko uses to pull in images, assumes you're trying to pull a `v2` image

[2018-07-23 03:09] sebgoa commented on #239
Well the mystery persists.

My cronjob works fine on minikube and I can indeed build in kaniko and push to Docker hub. But when I run my cronjob on GKE it fails.

## on minikube

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.7", GitCommit:"dd5e1a2978fd0b97d9b78e1564398aeea7e7fe92", GitTreeState:"clean", BuildDate:"2018-04-19T00:05:56Z", GoVersion:"go1.9.3",

[2018-07-23 11:06] tweakmy commented on #248
In case anyone is wondering how the kaniko was run

[code]

[2018-07-23 17:19] dlorenc commented on #247
Yeah we should definitely fix this one. I think we'll need to use the process group technique.

[2018-07-24 17:48] bobcatfish opened #251 "Number of layers inconsistent with kaniko builds that copy/copy the same files multiple times"
The integration test run for https://github.com/GoogleContainerTools/kaniko/pull/249 failed even though the PR is fixing a typo in a README.

Seems like we either have a flakey test or the test is broken! :O

[code]

[2018-07-24 20:54] henrique-nascent opened #252 "Ability to save save/upload stage or built targets."
Hello,

Just thinking if it makes sense to expose then, as some times we want to build an specific stage.
https://docs.docker.com/engine/reference/commandline/build/#specifying-target-build-stage---target

So it maybe nice to be able to save/upload those images as well.
I think the stage builds are already saved so it would be just an way to expose that.

If `tarPath` is set, save all stages with

[2018-07-24 20:55] #252 closed

[2018-07-24 20:56] sfrique opened #253 "Ability to save save/upload stage/built targets."
Hello,

Just thinking if it makes sense to expose then, as some times we want to build an specific stage.
https://docs.docker.com/engine/reference/commandline/build/#specifying-target-build-stage---target

So it maybe nice to be able to save/upload those images as well.
I think the stage builds are already saved so it would be just an way to expose that.

If tarPath is set, save all stages with na

[2018-07-24 22:02] priyawadhwa commented on #252
Hey @henrique-nascent, I think it should be pretty straightforward to add this feature. Let me know if you're interested in contributing it!

[2018-07-24 22:04] priyawadhwa commented on #9
@pmcq thanks for opening a PR!

[2018-07-24 22:33] bobcatfish commented on #251
Looking back through kokoro history I can see a bunch of similar failures:

https://github.com/GoogleContainerTools/kaniko/pull/249:
[code]

https://github.com/GoogleContainerTools/kaniko/pull/243 (twice, both with same commit):
[code]
[code]

https://github.com/GoogleContainerTools/kaniko/pull/244:
[code]

https://github.com/GoogleContainerTools/kaniko/pull/238:
[code]

[2018-07-24 22:35] priyawadhwa commented on #251
Hmm weird yah I think it might be a flaky test -- does docker always build images with the same number of layers? Only reason I can think of as to why this might be happening.

[2018-07-24 22:47] sfrique commented on #252
@priyawadhwa I've opened the issue with the right account. Sorry for the mistake!

[2018-07-24 22:55] priyawadhwa commented on #252
haha yah I saw that right after I commented, thanks!

[2018-07-24 23:26] sfrique opened #254 "Multi arg destination doesn't set all tags when tarPath is set."
Multiple tags doesn't work when `tarPath` is set. It only uses one tag.

Not sure It will be used, but it is stated as multi arg, didn't test for actual uploads.

[code]

with docker we get this:
[code]

By the way, great project!

[2018-07-25 21:30] priyawadhwa commented on #239
So I ran my cronjob on GKE as well and it worked, it could be an issue with how your cluster is set up?

Since I can't repro the error, I'm not sure if it's a bug in kaniko.

[2018-07-25 21:55] sebgoa commented on #239
which version of k8s ?

[2018-07-25 22:03] priyawadhwa commented on #239
[code]

Looks like I have a slightly newer version.

[2018-07-25 22:13] priyawadhwa commented on #245
Hey @Delphinator , I tried to repro this issue but was able to build the image as expected:
[code]
We fetch the image config of the base image before starting to run commands [here](https://github.com/GoogleContainerTools/kaniko/blob/master/pkg/executor/executor.go#L90), and it's downloaded along with the base image, so an expired token shouldn't be the issue.

When pushing the image after running

[2018-07-25 22:20] mattmoor commented on #239
@sebgoa Do you by change have istio sidecar injection enabled on your namespace?  You can disable sidecar injection via an annotation.

[2018-07-25 22:46] priyawadhwa commented on #253
Thanks for opening this issue, I opened a PR which should add this feature.

[2018-07-26 00:03] sfrique commented on #253
Nice, thanks!
The behavior seems to be like dockerbuild, it will expose/push the target only.
If/when cache is implemented, building multi stages should be fast!

If I need later I might take a look on adding a flag `--saveStages`  for  `--tarPath`  so all it append the stages names for all images.

Thank you for the PR!

[2018-07-26 09:40] Delphinator commented on #245
That's odd. I just tried it again and I'm consistently getting errors when sleeping 6 minutes. I do remember 6 minutes being somewhat close to the threshold though. Maybe 10 minutes will do the job in your environment?

I'm not convinced it's an auth issue with the private registry.
- During the initial debugging the only network traffic I saw after the sleep period was a very short connection to

[2018-07-26 21:49] #247 closed

[2018-07-27 10:44] ALiBaBa-Jimmy opened #259 "time="2018-07-27T10:17:27Z" level=info msg="Unpacking filesystem of mirror.jd.com/jupyter/ubuntu-base:latest..." 2018/07/27 10:17:27 No matching credentials found for mirror.jd.com, falling back on anonymous time="2018-07-27T10:17:27Z" level=error msg="Get https://mirror.jd.com/v2/: dial tcp 172.28.217.53:443: connect: connection refused""
When I pull one image from my private repo “http://mirror.jd.com ” ，there is one err :
 __msg="Get https://mirror.jd.com/v2/: dial tcp 172.28.217.53:443: connect: connection refused__

 my cluster couldn't connect to the internet!

the kaniko support the feather which can pull image from private image repo or not.. ?
Anyone else has the same problem ?..

[2018-07-27 19:02] priyawadhwa commented on #259
Hey @ALiBaBa-Jimmy, kaniko does support pulling from and pushing to private registries, but you'll have to provide the necessary authentication yourself.

We specifically provide helpers for GCR and ECR, but if you need anything else for your private repo you'd have to mount it in yourself!

[2018-07-27 20:09] priyawadhwa commented on #245
I tried again with 10 minutes, and it still worked fine:
[code]
If you could submit a PR with a Dockerfile that breaks our CI we might be able to explore this issue a bit more. You'd just have to add another Dockerfile in the [dockerfiles](https://github.com/GoogleContainerTools/kaniko/tree/master/integration/dockerfiles) directory

[2018-07-27 23:34] bobcatfish commented on #251
![image](https://user-images.githubusercontent.com/432502/43350303-e9fd3c82-91ba-11e8-915b-291935475897.png)

Another example from #256 - I'LL GET TO YOU YET

YOUR DAYS ARE NUMBERED JUST LIKE YOUR LAYERS

[2018-07-28 20:13] chrisz100 commented on #248
@tweakmy can you try prefixing the registry url with // ?
kaniko validates against that - as you can see here:
https://github.com/google/go-containerregistry/blob/master/pkg/name/registry.go#L89

[2018-07-29 01:49] chrisz100 opened #260 "run kaniko as kubernetes job"
I am wondering if kubernetes jobs aren't the ideal deployment option we have in kubernetes right now. Especially as it cleans up pods once the run is successful and they have a success state a build engine could even track.

https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/

[2018-07-30 14:56] loosebazooka opened #261 "local kaniko for simplified docker files"
Kaniko already interprets Dockerfile, it'd be nice if there was a version of Kaniko that can run locally that accepts a subset of docker commands excluding those that need to *execute* (like RUN). This would limit the scope of a build to file layers and accompanying configurations, and allow many builds to bypass the docker daemon?

The Dockerfile location (working directory) would determine the r

[2018-07-30 16:43] #253 closed

[2018-07-30 17:17] dlorenc commented on #259
@ALiBaBa-Jimmy the full documentation for registry credentials is here: https://github.com/GoogleContainerTools/kaniko#pushing-to-different-registries

[2018-07-30 17:18] dlorenc commented on #245
Ping @Delphinator any luck getting a repro?

[2018-07-30 22:17] priyawadhwa commented on #261
Yah, I think this would be really cool!

Some ideas for a really simple initial version of this:
1.`kaniko-local` could live in `cmd/local`, and take in:
- a path to a Dockerfile
- path to the source context
- destination to push to
2. During `PersistentPreRunE` set the log level and make sure the Dockerfile exists, similarly to the [executor](https://github.com/GoogleContainerTools/kaniko/blob/ma

[2018-07-31 07:34] MnrGreg commented on #233
Hi @priyawadhwa I'm getting the following error with multistage builds:

Seems to have an issue maintaining the stages. Any idea what could be happening or how to troubleshoot?

Dockerfile:
[code]

Been using a fairly recent build:
https://console.cloud.google.com/gcr/images/kaniko-project/GLOBAL/executor@sha256:acc0ea50eee204a990a2d477463a2af40785456d1bf1de6af1b5451a2442db68/details?tab=info

[2018-07-31 15:34] dlorenc commented on #260
Hey! This should be possible today. Do you think any code changes need to be done or is it just a matter of changing the docs?

[2018-07-31 16:10] chrisz100 commented on #260
I’d say it’s documentation only. Would make it easier for people to use it with the right apis.
You can run it locally using a shell script so I don’t see any code changes that could be required

[2018-07-31 18:54] bobcatfish commented on #251
In a recent run, this failed twice:

![image](https://user-images.githubusercontent.com/432502/43480543-79d2a95a-94b8-11e8-830e-a6e5d5edc1c5.png)

Super weird tho b/c the "reproducible" build, which uses the same image (and actually, no other changes) didn't fail :thinking:

[2018-07-31 18:56] bobcatfish commented on #251
But sometimes the reproducible image fails:

![image](https://user-images.githubusercontent.com/432502/43480646-b6ecad0e-94b8-11e8-822c-7a09d5120fd7.png)

It's always the images testing copying tho.

[2018-07-31 19:02] bobcatfish commented on #251
Managed to reproduce it locally, so it's not a docker version issue:

![image](https://user-images.githubusercontent.com/432502/43480718-ec345be2-94b8-11e8-99c4-bba998e738a0.png)

Interestingly, it looks like it's the kaniko built image that is short a layer:
[code]

I added some extra debug output and the correct number of layers for that image should be 18

[2018-07-31 22:04] bobcatfish commented on #251
Looking back at one of the images kaniko built which only had 17 layers, when I compare that image to one with 18 layers using `container-diff`, `container-diff` reports no differences!! It seems like for some reason two layers are being squashed. Either that or there is a layer that does nothing?

[2018-07-31 22:30] bobcatfish commented on #251
Neat, ran into the issue with `dockerfile_test_volume`

[code]

[2018-08-01 00:09] bobcatfish commented on #251
When reproduced on my machine, it looks like the difference is that in the 17 layer case, we get this:

[code]

And in the 18 layer case, we get:

[code]

[2018-08-01 00:37] priyawadhwa commented on #233
Hey @MnrGreg , thanks for pointing this out! I think this issue is happening because right now kaniko is trying to get dependencies from a future stage which is also built off of a future stage (so it's breaking because the tarball of the future stage doesn't exist yet).

I'll open a PR to fix this bug

[2018-08-01 00:57] priyawadhwa commented on #251
Hmm so I guess sometimes kaniko thinks files have changed and sometimes not -- It's probably because [this](https://github.com/GoogleContainerTools/kaniko/blob/master/integration/dockerfiles/Dockerfile_test_copy#L10) command and [this](https://github.com/GoogleContainerTools/kaniko/blob/master/integration/dockerfiles/Dockerfile_test_copy#L12) command are doing the same thing (files probably should

[2018-08-01 05:26] MnrGreg commented on #233
thanks for the quick turnaround @priyawadhwa. will test once merged.

[2018-08-01 13:14] xinau opened #268 "Running kaniko from inside a container doesn't seem to work"
HI.
I have the following problem:
I'm unable to build my Dockerfile with kaniko from inside the kaniko container.
[code]
Stops at with following line and raising 0 errors
[code]
Doing the same without using `/busybox/sh` does work
[code]

The contents of the `Dockerfile` and `app.go`.
[code]
[code]

[2018-08-01 14:04] Delphinator commented on #268
+1 on this. Everything after 6fe9ea42484eccbb2fc86e5ae74f87a18477df19 is completely broken. The only difference from the failing log below and the successful one is the commit kaniko was built from.

# 6fe9ea42484eccbb2fc86e5ae74f87a18477df19

[code]

# 8cad6d00823412cce773bda32f5d55b717b3d2ac

[code]

[2018-08-01 15:29] dlorenc commented on #268
I was able to just build the first example dockerfile fine at head. I stuck the Dockerfile and main.go into a folder named foo:

[code]

Then ran:

[code]

From the root of kaniko and everything worked.

Do you have any other repro instructions?

@Delphinator can you share the Dockerfile you used?

[2018-08-01 16:14] Delphinator commented on #268
@dlorenc  Are you sure your local `gcr.io/kaniko-project/executor:latest` image is up-to-date? I have these. `run_in_docker.sh` uses `gcr.io/kaniko-project/executor:latest`, which currently has the id `96d976b13c08`.

[code]

I used the following Dockerfile, although I so far had all Dockerfile I've tried fail.

[code]

[2018-08-01 17:10] priyawadhwa opened #269 "Create a github buildcontext"
In a lot of bugs people have opened I noticed they're using init containers to clone a github repo into a shared volume, and then mounting that volume into a separate kaniko container and using it as the kaniko build context.

It could be cool to add a `git://<repo url>` [build context](https://github.com/GoogleContainerTools/kaniko/blob/master/pkg/buildcontext/buildcontext.go#L33) option to kanik

[2018-08-01 17:40] dlorenc commented on #268
Yeah I'm trying to repro but having trouble. I built from head with:

[code]

The image appears to have been rebuilt correctly, and exists in my daemon:
[code]

Then run_in_docker works with your Dockerfile:

[code]

I've also done it with the image currently at latest, by removing it from my local daemon cache and doing run_in_docker again.

[2018-08-01 18:12] bobcatfish commented on #251
Thanks @priyawadhwa ! I think that `MaybeAdd` function you linked to might be the culprit :thinking:

I've found a way to reproduce this pretty reliably, with this Dockerfile:

[code]

The weirdest thing is that it's not consistent, the number of layers missing varies, e.g. between these two runs with the above Dockerfile:

[code]

[code]

*It seems like copying a dir multiple times is the problem

[2018-08-01 18:16] priyawadhwa commented on #251
Yah that's correct, that log message means that an actual layer won't be added, but an "empty layer" will be added to the config just to show that a command was run.

[2018-08-01 18:41] priyawadhwa commented on #268
@Delphinator I did find a bug when building your Dockerfile (PR #270), but I was still able to build it successfully.

[2018-08-01 19:12] xinau commented on #268
@dlorenc the way you describe works for me as well, since the `./run_in_docker.sh` executes directly the `executor` in the container. The problem I describe happens, when you enter the container with `/busybox/sh` as entrypoint and than use the `executor`. :)

P.s. Not sure if I did understand your point correctly.

[2018-08-01 19:53] dlorenc commented on #268
Ah, ok! That helps. I missed that difference in execution. There might be a difference in the way process groups are handled inside the busybox sh binary vs. when docker executes the executor directly.

[2018-08-01 23:15] Delphinator commented on #268
There is definitely a difference. Just did a few experiments starting the executor in different ways and only some failed. I used the files from [@dlorenc above](https://github.com/GoogleContainerTools/kaniko/issues/268#issuecomment-409616166), but I don't think the exact Dockerfile used makes any difference.

[code]

**working invocations**
[code]

**failing invocation**
[code]

[2018-08-01 23:47] #268 closed

[2018-08-02 16:40] #233 closed

[2018-08-02 16:40] priyawadhwa commented on #233
@MnrGreg this should work now, let me know if you still have any issues.

[2018-08-02 19:05] MnrGreg commented on #233
@priyawadhwa it's working thanks. Going onto the next stage now.

[2018-08-02 19:17] MnrGreg commented on #233
I'm now getting a different error on the next stage (FROM build AS publish):

Should I log this under a new issue?

[2018-08-02 20:47] MnrGreg commented on #245
I'm experiencing the same error message after 6mins and 20seconds of a NPM container build.

NPM Docker file:
[code]

I can however build and push the following sleepy container without issue.
[code]

Destination registry is Docker Trusted Registry 2.5.3

[2018-08-02 21:48] MnrGreg opened #272 "archive/tar: sockets not supported"
Experiencing the following error during 3rd stage of multistage build (FROM build AS publish):

Dockerfile:
[code]

[2018-08-02 23:39] bobcatfish commented on #251
Unfortunately even after adding a `sync` before checking hashes, it looks like the issue is still happening! This might have something to do with the fact that sync may return before the writes are actually completed (https://linux.die.net/man/2/sync).

Other ideas for how to fix this:
1. Add more sync calls :sweat_smile:  e.g. when kaniko starts up, and/or before the tests run (maybe all the test

[2018-08-03 00:09] bobcatfish commented on #251
From the latest failures in #273:

[code]

The modtime is the same :''''(

[2018-08-03 00:14] bobcatfish commented on #251
Talked with @priyawadhwa and we're gonna try out optoin 2!

[2018-08-03 00:14] priyawadhwa commented on #251
As discussed let's go for option 2!! :smiley:

[2018-08-03 00:15] bobcatfish commented on #251
Aw yeah, eventually consistent github commenting :sunglasses:

[2018-08-03 13:46] Delphinator commented on #245
I just pushed another attempt to reproduce in #267 with a two stage build. Hopefully it breaks.

I'm not 100% sure if 6 minutes are enough on a fast system. I did my experiments on a somewhat busy system with spinning disks. That does slow container startup and unpacking / packing down significantly. Maybe try 10 minutes just to be extra sure?

[2018-08-03 15:11] fkorotkov opened #274 "Build Kaniko with Kaniko"
I was wondering if it's possible to build Kaniko with Kaniko and ran this command:

[code]

which failed on downloading a tarball with:

[code]

So the question is "Is it possible to build Kaniko with Kaniko"? And why it fails on adding a remote archive if there is an [integration test](https://github.com/GoogleContainerTools/kaniko/blob/master/integration/dockerfiles/Dockerfile_test_add#L22) for

[2018-08-03 15:18] Delphinator commented on #245
Another thought: I first encountered the issue while building images using the CI component of my private gitlab instance. I just created a new user there, added the SSH keys of @priyawadhwa and @dlorenc (github makes SSH keys public for some reason) to that user and pushed a repo, which reproduces the issue in gitlab CI. The repo and build logs are publicly accessible at https://gitlab.jensguterm

[2018-08-03 16:11] Delphinator commented on #245
Well, I'm completely confused now. [Two stage builds seem to work for me](https://gitlab.jensgutermuth.de/kaniko-issue-245/reproduce/-/jobs/8393) (ignore the `-o pipefail`-stuff, that's just the [gitlab runner expecting things](https://gitlab.com/gitlab-org/gitlab-runner/blob/master/shells/bash.go#L191)).

[2018-08-03 20:32] MnrGreg commented on #245
I did a bit more troubleshooting and noticed that when adding the 'COPY --from' the build succeeds 1/5 times with a 185 sleep, while without the 'COPY --from' it succeeds every time 5/5.

Decreasing the sleep time to below 60 seconds with the 'COPY --from' succeeds 5/5 times.

[code]

@Delphinator could we include the 'COPY --from prior build' into you tests- seems it make play a part?

[2018-08-03 20:49] MnrGreg commented on #245
Just got an UNAUTHORIZED with a 60 sleep and at a different unpacking stage. Seems to be quite inconsistent.

Also seem that this is during a Pull from the registry and not the final image Push.

[2018-08-03 20:54] Delphinator commented on #245
Sure! Let's see what happens: https://gitlab.jensgutermuth.de/kaniko-issue-245/reproduce/pipelines/2056

[2018-08-03 21:08] Delphinator commented on #245
Jop. [A build w/o `copy --from`](https://gitlab.jensgutermuth.de/kaniko-issue-245/reproduce/-/jobs/8407) succeeds, while [a build using `copy --from`](https://gitlab.jensgutermuth.de/kaniko-issue-245/reproduce/-/jobs/8425) fails.

[2018-08-03 21:30] MnrGreg commented on #245
Lucky us! You hit the error on the first go. It seems to be somewhat sporadic for me.

[2018-08-03 23:10] Delphinator commented on #245
It's been very consistent for me so far: [1st run](https://gitlab.jensgutermuth.de/kaniko-issue-245/reproduce/pipelines/2059) [2nd run](https://gitlab.jensgutermuth.de/kaniko-issue-245/reproduce/pipelines/2060) [3rd run](https://gitlab.jensgutermuth.de/kaniko-issue-245/reproduce/pipelines/2061)

[2018-08-05 08:44] ekimia commented on #102
to @himikof 's point, caching in GCS/S3 would be ideal for CI jobs tremendously. That tied with caching the layers locally in a persistent volume would be perfect!

[2018-08-05 19:42] ekimia opened #276 "Splitting build + deploy for testing purposes"
Problem: Kaniko at least what i can determine doesnt have an option to build in 1 stage and deploy in another. In CI,it would be beneficial to build the image, run tests, then deploy. Is there something im overlooking?

[2018-08-06 17:12] priyawadhwa commented on #276
Hey @ekimia , right now kaniko can build your image and save it to a tarball instead of deploying it (by setting the `--tarPath` flag). Would you be able to use that in your CI system?

[2018-08-06 17:28] dlorenc commented on #274
kaniko can build itself, I'm not sure why it's failing in this case.

[2018-08-06 17:39] fkorotkov commented on #274
I also expected it! But I can reproduce this issues locally and in a k8s. 😢

[2018-08-06 17:40] dlorenc commented on #272
Is there a github repo somewhere we can try to repro this against? I see some COPY lines in the Dockerfile and I'm not sure what type of files would go there.

[2018-08-07 00:30] priyawadhwa commented on #274
Hey @fkorotkov , looks like there was a bug when trying to add a remote URL without any other sources.

I opened a PR to fix this, and kaniko should be able to build itself once that gets merged!

[2018-08-07 05:46] MnrGreg commented on #272
Here is a sample GitHub repo where the error 'archive/tar: sockets not supported' is experienced.

https://github.com/dotnet/dotnet-docker/blob/master/samples/dotnetapp/Dockerfile

Just add `ENV HOME=/root` to the 3rd line of the Dockerfile which `dotnet restore` requires

[2018-08-07 10:51] sayyes566 opened #279 "Get https://host:5043/v2/: x509: certificate has expired or is not yet valid"
I usually in my private server. I set

and

then

the docker push/ pull will work.

But I used credHelpers in configmap and --insecure-skip-tls-verify in the kaniko.yaml as args.
It did not work.

Did someone resolve this question?

# My pod logs
time="2018-08-07T10:28:09Z" level=info msg="Unpacking filesystem of scratch..."
time="2018-08-07T10:28:09Z" level=info msg="No base image, nothing to ext

[2018-08-07 12:12] fkorotkov commented on #274
@priyawadhwa great! thank you!

[2018-08-07 17:13] priyawadhwa commented on #279
Hey @sayyes566 , so unfortunately the `--insecure-skip-tls-verify` flag needs to be implemented again (after we merged #140 we started using a different library to get our images which didn't support it at the time)

There's an issue open for it (#168) and a PR as well (#169) which you can follow for updates.

[2018-08-07 20:30] AndreaGiardini commented on #276
What about saving the tar.gz to /dev/null ? Is it possibile?

It's a bit hacky but it should work

[2018-08-07 23:48] priyawadhwa opened #280 "Set default value of HOME to /root"
Docker will set $HOME to `/root` by default -- this created a bug when trying to reproduce #272 with [this](https://github.com/GoogleContainerTools/kaniko/issues/272#issuecomment-410940532) Dockerfile

[2018-08-08 00:10] #274 closed

[2018-08-08 08:03] sayyes566 commented on #279
Thanks for your reply.
I used [this comment's method ](https://github.com/GoogleContainerTools/kaniko/pull/169#issuecomment-401572059), but it returned ` Get https://host:5043/v2/: x509: failed to load system roots and no roots provided` .

I found [the error issue](https://github.com/GoogleContainerTools/kaniko/issues/151) was closed.
And try to put certs in /etc/ssl/certs, but still got this err

[2018-08-09 01:37] vito opened #282 "Hardlinks are not (well) supported by image unpacker"
Hi there! Very excited for Kaniko - I'm modeling Concourse's new [Registry Image resource](https://github.com/concourse/registry-image-resource) on Kaniko's image extraction process, and noticed one gotcha that affects Kaniko too.

The problem is rooted in the fact that Kaniko extracts image layers in reverse order.

Try having Kaniko fetch `vito/broken-base` and run `git` from the resulting rootf

[2018-08-09 23:02] sharifelgamal commented on #254
This requires a fix to the go-containerregistry, which I've opened at https://github.com/google/go-containerregistry/pull/252

[2018-08-10 06:54] 1-z opened #283 "rpc error: code = Unknown desc = Error writing blob: blob size mismatch"
Some images made by Kaniko appear to be confusing to CRI-O based kubelet (1.10.4).

I believe the issue is similar to [this](https://github.com/projectatomic/libpod/issues/655)

Not all images seem to have this problem. Registry is the latest image and CRI-O is built from master.

[2018-08-10 10:53] sap-svetter commented on #245
Hi all,

I got the same issues after setting up some python software module (compiled with internet sources) on a base image.
docker login succeeds without issues but kaniko still refers to "unauthorized".

Looking forward to a fix 👍

[2018-08-10 15:06] dlorenc commented on #283
Can you provide any more info on how to reproduce this?

[2018-08-10 15:08] dlorenc commented on #282
Thanks for the detailed description @vito! We're thinking this one through to see if there's anything we can do here.

[2018-08-10 15:28] dlorenc commented on #282
Hmm,

So I was able to easily repro this with your broken base. I then took your same initial Dockerfile (the one that installs/symlinks git) and pushed it to my registry:

[code]

And then built the second image, referencing my registry:

[code]

and couldn't repro this:

[code]

Any other info on how to got that broken image created in the first place?

[2018-08-10 16:32] vito commented on #282
@dlorenc I think this might be subject to chance. When the layer `.tar`s are created, it's up to the tool writing the `tar` entries to decide which file is actually recorded as a regular file entry and which entries are recorded as hard-links to the extracted file. From a filesystem perspective they're all just files with the same inode, so there's no way to tell who's "linked" to who (as far as I

[2018-08-10 19:58] #280 closed

[2018-08-10 21:27] 1-z commented on #283
I can hopefully provide a reproduction later today.

I also tried executor:v0.3 instead of executor:latest, as "latest" is from June. So far the same images with the single snapshot flag are working, but I haven't yet determined if it's the version bump or the flag, or a coincidence.

[2018-08-13 02:29] daniel-harrison opened #285 "S3 context implementation has issues with non default regions and shared credentials"
Hi, I was attempting to use the s3 context and ran into some issues using ap-southeast-2 and creating a k8s job with mounted credentials .aws/config and .asw/credentials.  Errors reported around authentication and region permissions otherwise.

I think this line in s3.go

    downloader := s3manager.NewDownloader(session.New())

Should be something like

    // enable shared config
	sess, err := s

[2018-08-13 16:36] priyawadhwa opened #286 ":latest tag on executor image doesn't point to actual latest image"

[2018-08-13 18:26] #272 closed

[2018-08-13 18:27] priyawadhwa commented on #272
Hey @MnrGreg , this should work now, please open another issue if it doesn't!

[2018-08-13 18:35] priyawadhwa commented on #285
Hey @daniel-harrison , thanks for pointing this bug out. Would you be interested in opening a PR with these changes?

[2018-08-13 22:43] daniel-harrison commented on #285
Yep no worries, not a go guy so let me know if it's not good practice.

[2018-08-14 03:49] MnrGreg commented on #272
Yup, sockets are now skipped and build completes.

[2018-08-14 17:44] 1-z commented on #283
I believe this was fixed by using the v0.3 image instead of latest, which was not the latest. I haven't been able to reproduce this issue anymore on latest CRI-O.

[2018-08-14 17:44] #283 closed

[2018-08-15 18:28] #168 closed

[2018-08-15 18:29] priyawadhwa commented on #279
I just merged #169, could you try it again and see if you get the same error?

[2018-08-16 03:41] sayyes566 commented on #279
Yes, this error is fixed.
Events:
  Type     Reason                 Age               From                  Message
  ----     ------                 ----              ----                  -------
  Normal   Scheduled              3m                default-scheduler     **Successfully** assigned kaniko to kube-node-1
  .......

But 5 issues was happened:
1. logs: **No base image, nothing to extra

[2018-08-16 04:42] brendanhatton opened #290 "401 when pushing image to ECR - docker config location"
When I follow the instructions on the Kaniko page Pushing to Amazon ECR (using the gcr.io/kaniko-project/executor:debug image), I get an error

[code]

The instructions currently say to mount the docker configmap to `/root/.docker`. I noticed that one of the environment variables in the image is `DOCKER_CONFIG=/kaniko/.docker/` so when I mount the configmap to `/kaniko/.docker`, the credentials ar

[2018-08-16 18:46] priyawadhwa commented on #279
In response to the logs you pointed out:

1. This log message is pointing out that there is no file system to extract since you're using an empty image (`FROM scratch`)

2. `No matching credentials were found, falling back on anonymous` kaniko can't find any credentials for a private repo so it falls back on using general credentials, which should be alright since it's pulling a public image (`pyt

[2018-08-16 18:47] priyawadhwa commented on #290
Hey @brendanhatton , thanks for pointing this out! I think you're right and this is a documentation issue.

[2018-08-17 10:46] brambezem opened #291 "Unable to build images based on fedora"
It seems that kaniko is unable to build images based on the official fedora images from https://hub.docker.com/_/fedora/.

A Dockerfile consisting of
[code]
fails with the following error
`level=error msg="symlink ../proc/self/mounts /etc/mtab: file exists"`

This happens for all fedora tags including 28/latest, 27 and 26

The command used and full output is as follows

[code]

[2018-08-17 17:36] priyawadhwa commented on #276
Hey @ekimia , #292 will add a `--no-push` flag which could be useful here.

[2018-08-18 19:11] priyawadhwa commented on #291
Hey @brambezem , thanks for pointing this bug out -- I've opened a PR which should fix this issue.

[2018-08-20 14:18] rawkode opened #294 "Base image from previous stage 0 found, using saved tar at path /kaniko/stages/0"
Trying to build a multi-stage image and getting:

[code]

Dockerfile:

[code]

[2018-08-20 22:38] priyawadhwa opened #296 "Add flag to save image in OCI image layout form"
https://github.com/opencontainers/image-spec/blob/master/image-layout.md

[2018-08-21 06:52] rawkode opened #297 "Using Absolute Image Name in COPY --from"
`COPY --from=` only supports stages represented within the Dockerfile. It should probably support arbitrary images too:

[code]

Happy to take a shot at this one. I'll see if I can get this to work

[2018-08-21 06:54] rawkode commented on #297
Also, probably not that urgent. One can add a faux-layer:

[code]

[2018-08-21 14:06] xvzup opened #298 "Ignore non matching digests"
Hi,

I am running Kaniko on Kubernetes (1.9) in Huawei cloud. I use the registry provided by Huawei.
Currently my build fail with the following error messages:

time="2018-08-21T12:28:45Z" level=error msg="manifest digest: \"sha256:bc1c0e105251471a09b19d3f12ca4917646548a63c3022f9e0e1b1b3832baabf\" does not match Docker-Content-Digest: \"bc1c0e105251471a09b19d3f12ca4917646548a63c3022f9e0e1b1b3832ba

[2018-08-21 19:09] StevenACoffman opened #299 "Feature Request: Kaniko example usage as a library?"
I would love to be able to invoke kaniko as an AWS Lambda or google cloud function.
I am not sure if anyone has already attempted this, and I know it's pretty different than standard usage. Just thought I'd mention in case there was other interest.

[2018-08-21 20:08] priyawadhwa opened #300 "Adding cached layers for kaniko builds"
@mattmoor had this super cool idea, which I've copied below for reference:
[code]

As Matt suggested, I agree that getting started with a prototype for the first phase would be a good starting point. After we have a prototype, we could do some basic benchmarking comparing  no-cache kaniko, cached kaniko, and regular "docker build".

[2018-08-21 20:10] dlorenc commented on #300
IIUC phase one of this would be basically equivalent to docker build --cache-from, except we could infer the cached layers and build a slightly larger cache.

Phase two would be an improvement on that for a subset of Dockerfiles.

[2018-08-21 20:16] priyawadhwa commented on #294
Hey @rawkode , I merged #295 which should fix this bug. I'm going to close this issue, but feel free to reopen if you encounter any more bugs!

[2018-08-21 20:16] #294 closed

[2018-08-21 20:17] priyawadhwa commented on #259
Hey @ALiBaBa-Jimmy I'm going to go ahead and close this issue since it seems like an auth issue rather than a bug in kaniko, but feel free to open another one if you have any more issues.

[2018-08-21 20:17] #259 closed

[2018-08-22 17:34] cppforlife opened #301 "better retry logic for downloading ?"
following error occurred:

[code]

looks like it's trying to download something from the registry, but fails (failed once out of 100 or so CI builds). i didnt have a chance to look at the code if it's already retrying, so filing this just in case.

[2018-08-23 11:26] lubo opened #302 "Context path should default to CWD"
Build context path currently defaults to `/workspace/`. So, if the user wants to execute Kaniko in the current working directory, he/she needs to change it using `--context` options. I'd say it'd be more user-friendly if it was the other way around - when the user wants to execute a build outside of CWD.

[2018-08-23 11:33] lubo opened #303 "Info log level is too verbose"
I've been building an image containing many files and directories and my build log is pretty much just `Not adding /foo/bar because it was added by a prior layer`, `Copying file /foo/bar to /bar/foo` and `Taking snapshot of files [<thousands of filenames>]...` messages. How about dropping log level for these messages to `debug`?

[2018-08-23 12:44] pvdissel opened #304 "kaniko unable to start on GKE, showing no output at all"
I run kaniko as part of a Gitlab CI job, which is started by a Gitlab Runner running on Google Kubernetes Engine (GKE).

The Gitlab CI job hangs on the kaniko execution, without any output:
[code]

Using `.gitlab-ci.yaml` config:
[code]
Note:
- `eu.gcr.io/bolcom-stg-gitlab-8e3/kaniko-project-executor:debug-v0.3.0` is a straight re-tag and push of `gcr.io/kaniko-project/executor:debug-v0.3.0`
- `SA

[2018-08-23 17:11] dlorenc commented on #298
This looks like a possible bug in the huawei registry. The Docker API spec requires the digest to contain the algorithm:

https://docs.docker.com/registry/spec/api/#content-digests

@jonjohnsonjr should we default to sha256 if nothing is specified?

[2018-08-23 17:17] priyawadhwa commented on #301
Hey @cppforlife , which version of the kaniko image are you using? In older versions we used to download image configs and layers for multistage builds after snapshotting, but in the latest version this shouldn't be the case anymore.

[2018-08-23 17:40] jonjohnsonjr commented on #298
I'm okay with just ignoring this header when fetching by tag. We also don't care about the header when fetching by digest, since we just hash the response. Since Docker Hub _still_ hasn't fixed a similar bug on their side, we should probably just treat this header as completely unreliable :/

[2018-08-23 18:56] #298 closed

[2018-08-23 19:36] kachkaev commented on #102
@mcfedr I agree with you. kaniko could even check against cache hits _before_ pulling the layers and fetch them one by one until there is a mismatch. With docker, you first pull everything and then use `--cache-from`.

An important feature would be to be able to `--cache-from` multiple images (e.g. current branch / master), which can be useful in PRs.

Here's what I currently do in many of my GitL

[2018-08-24 01:01] bobcatfish opened #307 "Add an integration test that verifies changes to whitelisted dirs aren't snapshotted"
Changes to whitelisted dirs such as `/kaniko` shouldn't be captured in the layers created by kaniko. We previously had some coverage for the functionality in `snapshot_test.go`, but since that test creates a temporary directory to work in, we had to make the whitelist aware of the test dir (i.e. we complicated the white list logic just to make the test work). Instead we have removed the complicati

[2018-08-24 13:24] WolfspiritM opened #309 "docker-compose support"
Hi,

We're currently using docker-compose to layout our microservice architecture.
Our CI/CD server just executes a docker-compose build and a docker-compose push to build and push the images within a docker-in-docker environment. I'd like to switch that to kaniko, but I don't like to specifiy each Dockerfile individually.
I know that google is not using docker compose but it would be great if kan

[2018-08-24 14:09] akhmerov commented on #245
Could the duration of the push itself be relevant? The difference in upload speed could explain the lack of reproducibility.

[2018-08-24 14:23] DerDackel opened #310 "--insecure-skip-tls-verify forces plain HTTP making the skip-tls-verify part confusing"
Hi everybody,

setting the `--insecure-skip-tls-verify` option seems to both disable TLS verification in the HTTP client doing the upload, but allso sets the Registry.insecure flag internally, which according to my understanding of its source code forces the scheme to plain http, rendering the former option superfluous.

Worse, I originally set the flag above when testing against an internal HTTPS

[2018-08-25 00:04] #251 closed

[2018-08-25 14:40] lubo opened #312 "Incorrect image creation date"
All my images built using Kaniko have creation date set two days before the actual build date.

**EDIT:** I've just found out Docker says that my layers were build 292 years ago and it's the base image that was build 2 days go.

[2018-08-25 15:30] lubo opened #313 "Kaniko creates more layers than Docker"
When using `VOLUME` Dockerfile instruction, Kaniko creates a new layer, which contains only the directories specified in `VOLUME` instruction. Docker does not create those directories in the image at all.

[2018-08-25 16:06] lubo opened #314 "Image sizes increased dramatically since merging #289"
Since merging #289, Kaniko seems to create layers containing not only the files copied by `COPY` instruction, but also files from the previous layers.

[2018-08-25 21:57] bobcatfish commented on #314
That's not good! Thanks for reporting this @lubo  - do you happen to have an example of how to reproduce this?

[2018-08-25 22:46] lubo commented on #314
Sure. The Dockerfiles I've been testing Kaniko with look like this:

[code]

So, I use multi-stage builds. In the first stage, `/install` is created and then it's copied to the second stage. Now, I'd expect the layer created by `COPY --from=installer /install /` to only contain files from `/install` in the first stage. I haven't investigated this thoroughly, but the layer definitely contains files

[2018-08-25 23:26] bobcatfish commented on #314
Thanks @lubo ! So it looks like this could be specifically related to multi-stage builds 🤔 That logic definitely may have changed in #289 (not intentionally tho!). I'll take a look!

[2018-08-26 08:12] lubo opened #315 "Missing records in image history"
Dockerfile instructions that do not create new layers are not recorded in image history.

[2018-08-27 11:20] Vrtak-CZ opened #316 "COPY command in Dockerfile does not copy files in directory with dot at start"
COPY command in Dockerfile does not copy files in directory with dot at start. For example files in `node_modules/.bin/` eg `node_modules/.bin/babel`.

I'm using `gcr.io/kaniko-project/executor:debug` image (`gcr.io/kaniko-project/executor@sha256:3998f220d46ae8e7eccc17cc13cddd5b82bee2087510910477563a844097d5b1`).

[2018-08-27 17:30] priyawadhwa commented on #314
I used this test Dockerfile and was able to repro this @ HEAD:
[code]
I used `container-diff` with the `--type file --type layer` arguments to diff images by layer, and kaniko built the image correctly.

I actually don't think this is a bug. #289 changed the logic [here](https://github.com/GoogleContainerTools/kaniko/blob/master/pkg/executor/build.go#L96) to better determine if we want to snapshot

[2018-08-27 17:39] priyawadhwa commented on #314
Whoops, please disregard my above comment, I just tried again with the same Dockerfile and it does seem like there's some sort of bug :cold_sweat:

[2018-08-27 18:31] priyawadhwa opened #317 "Add integration tests to diff individual layers"
Add integration tests to diff individual layers of our test images via `container-diff diff image1 image2 --type file --type layer`

[2018-08-27 21:00] #314 closed

[2018-08-27 21:02] priyawadhwa commented on #314
Hey @lubo , this should have been fixed by #319, please open another issue if you encounter any more problems!

[2018-08-27 21:25] priyawadhwa commented on #302
Hey @lubo , I'm a bit confused as to what you're suggesting.

--context options

The kaniko executor is initially executed from the root directory, the `--context` flag only specifies where the build context files live.

Could you clarify what change you think should be made?

[2018-08-27 23:06] priyawadhwa commented on #285
Closing as this should be fixed in #321

[2018-08-27 23:06] #285 closed

[2018-08-28 07:07] lubo commented on #302
I'm talking about the build context. What I'd like to see is Kaniko treating CWD as the build context by default.

For example, I use Kaniko on GitLab CI. GitLab CI runs commands in `/builds/<namespace>/<repository>`. So, I have to use `--context "${CI_PROJECT_DIR}"` in all my CI configurations (also, `--context` doesn't even accept `.` to refer to CWD), otherwise it tries to build `/workspace` (w

[2018-08-28 15:22] saschak094 commented on #217
@priyawadhwa  I've tried to use multiple ```--destination``` flags, but our new build image is only tagged and pushed once.

[2018-08-28 17:20] priyawadhwa opened #322 "Investigate cloud build trigger"
In bug #217 and this [bug](https://github.com/knative/build-templates/issues/32#issuecomment-414876791) the executor image tagged at `latest` was different from the image tagged with the most recent commit, and with the image built locally at HEAD, even though they should all be the same.

container-diff output of the locally built executor and the actual image at `latest` looks like this:

[code]

[2018-08-28 17:20] priyawadhwa commented on #217
Hey @saschak094 I rebuilt the executor image and this should work now.

[2018-08-28 17:20] #217 closed

[2018-08-29 08:37] saschak094 commented on #217
Hey @priyawadhwa just tried it with the newest image but we are still not able to push to multiple destinations

[2018-08-29 13:01] vkartik97 commented on #269
Please assign this to me.

[2018-08-29 18:15] #254 closed

[2018-08-29 18:50] priyawadhwa commented on #217
Hey @saschak094 , thanks for letting me know! I just changed how we release the executor image, so hopefully shouldn't face this problem again. Could you try again with the new :latest image?

[2018-08-29 21:46] priyawadhwa opened #325 "Extract filesystem in order of layers rather than in reverse"
After prototyping caching layers for kaniko, I've been thinking it might make more sense to extract the file system layers in order rather than in reverse. When we extract cached layers onto the filesystem, we're essentially extracting the layers "forwards", so it doesn't make sense to extract the base image "backwards" anymore since we have to remove whiteout files specified in cached layers from

[2018-08-29 23:16] sjentzsch commented on #312
I can relate.
Just ported my GitLab CI pipeline from using dind to kaniko, and the GitLab registry claims the image was build on 6th July (1 month ago; probably using the timestamp from the base image etc.?).

[2018-08-30 00:33] #312 closed

[2018-08-30 14:46] gperdomor opened #329 "problem with COPY --from"
I'm try to build a Vapor Application image with gitlab but i got this error:

[code]

My Dockerfile:

[code]

[2018-08-30 17:49] priyawadhwa commented on #325
Closing, fixed by #326

[2018-08-30 17:49] #325 closed

[2018-08-30 17:50] priyawadhwa commented on #282
Hey @vito, we ended up switching to extracting the fs in order in #325 , so this should work now!

I'm going to go ahead and close this issue, but please comment or open another if you face any more problems.

[2018-08-30 17:50] #282 closed

[2018-08-30 18:15] vito commented on #282
Makes sense! Thanks for following up.

[2018-08-30 23:16] #310 closed

[2018-08-30 23:29] priyawadhwa commented on #329
Hey @gperdomor , since this Dockerfile has some file dependencies and build args, could you point us to a repo (or provide a simpler way to get this error) and give some instructions on how to reproduce this error?

[2018-08-31 00:46] priyawadhwa commented on #316
Hey @Vrtak-CZ, I tried a simple Dockerfile that tries to copy over one dot file (`.foo`) and kaniko was able to build it successfully.

[code]

Could you provide the Dockerfile you're trying to build and the command you're using to build it?

[2018-08-31 00:49] priyawadhwa commented on #290
Made the documentation change in #306 , so I'll go ahead and close this issue. @brendanhatton please comment if you see this error again!

[2018-08-31 00:49] #290 closed

[2018-08-31 01:07] priyawadhwa commented on #304
Hey @pvdissel , I'm not totally sure why the executor is hanging, but passing in `--context .` shouldn't work (it expects an absolute path).

[2018-08-31 01:25] timpalpant commented on #329
I am actually running into the same problem. Here is a smaller example involving only public images:

Docker file
[code]

Build with docker:
[code]

Build with kaniko:
[code]

Happy to provide more info if it will help. Maybe it is the glob in the `COPY`?

[2018-08-31 10:55] pvdissel commented on #304
[code]

Switching to using an absolute path (`--context "$(pwd)"`) makes no difference :(

Please let me know if I can try out anything else for you according this issue.

[2018-08-31 11:26] Vrtak-CZ commented on #316
the problem is not with `.file` but with `.directory/files`

[2018-08-31 15:15] Vrtak-CZ commented on #316
I'm trying to debug it more but i'm not able to run `ls` in kaniko `exacutor:debug` image.

[code]

[2018-08-31 15:37] Vrtak-CZ commented on #316
a made some debugging and problem is not with file in dot started directory but with symlinks

[code]

[2018-08-31 19:00] priyawadhwa commented on #329
Hey @timpalpant , I found the bug that was causing this error and will open a PR for it.

After that's merged, @gperdomor can you see if you're still getting the same error? It may or may not be related to the bug I found.

[2018-08-31 19:05] gperdomor commented on #329
@priyawadhwa sure... I can trigger the failed build after the merge 👍

[2018-08-31 22:10] priyawadhwa commented on #329
@gperdomor , just merged!

[2018-09-01 21:02] kmadel opened #331 "USER command Ignored By Folllowing RUN commands"
With latest debug image (@sha256:fe6538df5899a04fa8031ec1f2b797f190f0ec5a098f6633c39404a1997db943), there seems to an issue with the `USER` command. The following:

[code]
with kaniko:

[code]

with Docker:

[code]

[2018-09-03 18:50] hobti01 opened #333 "USER $HOME uses uid instead of username"
It seems that $HOME is [set to the value of the USER instruction](https://github.com/GoogleContainerTools/kaniko/blob/2e10d2761cebd268e6f80e31a401e6039dd0d257/pkg/commands/run.go#L131).

This causes problems with [OpenShift compatible images](https://docs.openshift.com/enterprise/3.0/creating_images/guidelines.html#openshift-specific-guidelines)

Using the uid causes unexpected behaviour:
[code]
o

[2018-09-03 19:59] gperdomor commented on #248
According to gitlab docs: https://docs.gitlab.com/ee/ci/docker/using_kaniko.html

[code]

I got this error:

`Error: failed to push to destination registry.gitlab.com/alliotek/alliot-platform/account-api:latest: no token in bearer response:
{"errors":[{"code":"DENIED","message":"access forbidden"}],"http_status":403}
`

[2018-09-03 20:02] gperdomor commented on #329
@priyawadhwa i will close this issue, the auth issue seems related to #248

[2018-09-03 20:02] #329 closed

[2018-09-04 03:48] peter-evans commented on #313
This issue was interesting to me so I had a quick look at Kaniko's code and it looks like a snapshot of the file system is taken with each layer it builds. If the snapshot contains data it adds a layer. The `VOLUME` command is creating directories and so the layer has "content."

If Docker doesn't add a layer with the `VOLUME` command, where does that info get stored in the final container image?

[2018-09-04 16:40] aaron-prindle opened #335 "Feature: Add automatic updates to Kaniko"
Currently users have to manually check whether a new update of Kaniko is available. It would be great if Kaniko could automatically check if a new update was available and prompt a user.

[2018-09-04 21:27] priyawadhwa commented on #331
@kmadel, could you provide the Dockerfile you're trying to build?

[2018-09-04 21:38] priyawadhwa opened #338 "Add issue template"
Add issue template for kaniko which includes:

1. Expected Behaviour
1. Actual Behaviour
1. The Dockerfile to build (or any Dockerfile which reproduces the error)
1. Any files necessary for the build context (ADD/COPY commands)
1. The command used to execute kaniko

[2018-09-05 17:51] #338 closed

[2018-09-05 18:07] kmadel commented on #331
https://github.com/kypseli/k8s-jnlp-agent/blob/master/Dockerfile

[2018-09-06 12:33] pvdissel commented on #335
When implementing this, please keep in mind:
- it should not be blocking if the update site cannot be reached
- it should not force you to update directly

This because, like us, we (try to) run kaniko as container inside GCP, with the internet closed off.
So I would prefer, if this is going to be implemented;
- that the user should add a flag indicating they want to be notified if there is a newe

[2018-09-06 18:13] ibcodemonkey opened #342 "Image build fail with files being relinked"
Problem encountered building an image where the hard link to a file is changed over dependent images i.e image im-c dependent on im-b dependent on im-a.

In the following test sequence the build of the final image (im-c) will fail with link #### file exists" error.

Dockerfile for im-a:1.0.0

	FROM debian:latest
	WORKDIR /
	#
	# create abc and hard link to the_link_file
	#
	RUN /bin/bash -ec "echo

[2018-09-08 00:15] priyawadhwa opened #344 "check if kaniko is running in gvisor"
Currently running kaniko in gvisor requires the `--force` flag since previously there was no way of determining if we were running in gvisor

https://github.com/google/gvisor/commit/172860a059ce2cff68aa85a3f66319ee52bdec13 just merged, so we should look into if we can use this to check if we're running in gvisor.

[2018-09-10 14:12] mustafaakin opened #345 "Cannot build an image with amazonlinux:1 image"
**Actual behavior**

Build fails with message as chmod /etc/mtab not permitted and it seems to not use the credential provider.

**Expected behavior**

I want my image to be built and use the IAM credentials of the EC2 instance, not need the keys directly as this is not the way people use AWS. The instance already have the permission and regular Docker instances can use ecr-login to get credential

[2018-09-10 17:16] priyawadhwa commented on #345
@mustafaakin since the base image `amazonlinux:1` is a public image hosted on docker hub, kaniko doesn't need special credentials to pull it.

This looks like a bug in the filesystem extraction, probably occurring [here](https://github.com/GoogleContainerTools/kaniko/blob/master/pkg/util/fs_util.go#L188) when we try to set permissions on a file.

[2018-09-10 21:10] mathroc opened #346 "setting entrypoint should clear cmd from child image"
**Actual behavior**

when an entrypoint is set, the cmd from the child is not cleard

**Expected behavior**

the cmd should be cleared unless it was set in the same Dockerfile

see https://github.com/docker/docker.github.io/issues/6142

[2018-09-11 11:00] mustafaakin commented on #345
Oh I see, that's the message for pulling the image. Is there anything that kaniko does or should do to prevent this? Why would we not be able to chmod inside a container? As I see the problem is that the container image has /etc/mtab but in the container it links to /proc/mounts which docker/container runtime needs specifically? But where does the kaniko extract the tar files?

[2018-09-12 14:20] Zetten opened #350 "Injecting a build context tar.gz as raw bytes"
I notice several issues and feature requests revolve around the need to inject a build context from a different source.

Along this track, is it possible to simply pipe in the build context tar file as a bunch of bytes, regardless of origin?

If it's not currently possible, I can think of two simple options to receive the data, which could then be unpacked in the same fashion as the S3/GCS adapter

[2018-09-12 17:37] yurrriq commented on #342
Thanks for the detailed report, @ibcodemonkey. I'm running into this issue too, and without a fix, I can't adopt kaniko.

[2018-09-12 23:31] priyawadhwa commented on #345
So the issue was that `/etc/mtab` is provided by the runtime environment (Kubernetes/Docker) as a symlink which points to `/proc/mounts`. The file also exists in the `amazonlinux:1` image, so when we tried to extract it and run `chmod` kaniko actually was trying to change permissions on `/proc/mounts` which errored out.

I added `/etc/mtab` to the whitelist so that it won't be extracted from an im

[2018-09-12 23:48] dlorenc commented on #345
Any idea why the file detection didn't catch this? I thought it would automatically be whitelisted.

[2018-09-12 23:59] priyawadhwa commented on #345
I thought so too, but it's not in `/proc/self/mountinfo`. Not sure why it isn't, but I figured it was a weird case like `/var/run`.

The only way I can think to have a 100% correct whitelist is to store all existing files in the whitelist before extracting the base image (but this would be slower so I don't love the idea)

[2018-09-13 05:34] mustafaakin commented on #345
Yes, it works for me right now, thanks.

[2018-09-13 09:05] xanonid opened #351 "File exists error from hard links in base image"
If I built the Dockerfile
   ```FROM docker.elastic.co/kibana/kibana:6.4.0```
with the Kaniko (debug) from master 14f3c81b79, I get

[code]

The issue may be related to #342, but it seems that links are not changed, but only created in the layers of the base image.

[2018-09-13 13:41] Bashton-MattBuckland opened #352 "symlink error building from jboss/base-jdk:8"
**Actual behavior**
When I run this:
[code]
I get this:
[code]

My `pwd` contains a `Dockerfile` with the following contents:
[code]
I have also tried with `:latest`, but that gives up even sooner and gives me a usage error for some reason:
[code]

**Expected behavior**

Run with no errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Create Dockerfile with above content
2. Run command as

[2018-09-13 13:46] Bashton-MattBuckland commented on #352
Ooh, looks related to this commit, so perhaps it's fixed?

63cecbff74d2446d8d76e1e798059362d5169cb2

[2018-09-13 19:45] priyawadhwa commented on #352
@Bashton-MattBuckland , yah it looks like it should be solved by that commit! Could you give it a go with the latest version of the image (`gcr.io/kaniko-project/executor:debug`)

[2018-09-14 06:46] mustafaakin commented on #345
Sorry, but with the newest image it happens again:

[code]

With the image:

[code]

[2018-09-14 10:01] pvdissel commented on #304
@dlorenc  sure.
The used Dockerfile is
[code]
Couldn't be simpler right? :)

And about reproducing it outside the gitlab context, did it, same issue:
[code]
Just keeps hanging without output.
The `gitlab-ci-runner-dpitc-runner` serviceAccountName is there to be able to run the container as root.

The container runs fine:
[code]

When exec'ing into the container, and executing the executor, it hang

[2018-09-14 13:32] pvdissel commented on #304
@dlorenc Thanks for testing. Note that the issue is not dependend on the Dockerfile used, as it even hangs when just executing `./executor --help`

[2018-09-14 13:33] dlorenc commented on #304
Can you possibly share the kaniko executor you're using? I don't have permissions to pull it.

I just tried with the standard one though, and can't repro :(

[code]

[2018-09-14 13:35] pvdissel commented on #304
`eu.gcr.io/bolcom-stg-gitlab-8e3/kaniko-project-executor:debug-v0.3.0` is a straight re-tag and push of `gcr.io/kaniko-project/executor:debug-v0.3.0`

[2018-09-14 14:16] dlorenc commented on #304
Hmm, I can't manage to repro with that one either:

[code]

Can you repro with latest?

[2018-09-14 14:44] pvdissel commented on #304
retagged and pushed the latest debug image:

[code]

This worked:
[code]

Going to try it in the gitlab context :crossed_fingers:

[2018-09-14 14:52] ImJasonH opened #354 "Latest kaniko release fails to find Dockerfile"
**Actual behavior**

[code]

**Expected behavior**

Build should succeed with the `:latest` release.

**To Reproduce**

Dockerfile:
[code]

cloudbuild.yaml:
[code]

[code]

(Using `:latest` which is currently `gcr.io/kaniko-project/executor@sha256:501056bf52f3a96f151ccbeb028715330d5d5aa6647e7572ce6c6c55f91ab374`)

If I pin to the image digest released yesterday, the build works:

[code]

[2018-09-14 14:57] pvdissel commented on #304
Going into the right direction! :D
[code]

After switching to an absolute path for the `--dockerfile` argument, it builds! :dancer:
[code]

Weird that it errors out on a GET on the eu.gcr.io.
Could that mean "no push permission"?

[2018-09-14 14:58] pvdissel commented on #304
But atleast the latest release does do something.
Maybe time to release a 0.4.0? :smile:

[2018-09-14 15:08] ImJasonH opened #355 "Don't show usage message when build fails"
**Actual behavior**

Execute an invalid build, like:

[code]

See output like:

[code]

**Expected behavior**

Build logs show Kaniko's progress, then run `exit 1`, which fails the build.

Kaniko should only show its own usage and flags when the user's error was related to usage of Kaniko itself, not when any build error is encountered. Seeing kaniko's usage message makes it seem like I failed to

[2018-09-14 15:15] pvdissel commented on #304
Switched to push to the correct GCR, where the service account has push access to:

And, actually using the credentials:
[code]

That solved it!
Got a permission issue, but I can resolve internally, nothing Kaniko related.
[code]

Thanks for the great help @dlorenc , even though it was just using the latest image, well, someone fixed something in the code to make this work :smile_cat:

But yeah, a

[2018-09-14 15:15] #304 closed

[2018-09-14 15:35] pvdissel commented on #354
in the context of Gitlab CI (https://github.com/GoogleContainerTools/kaniko/issues/304), I had to use an absolute path for the `--dockerfile`, with the latest release of 16 hours ago

[2018-09-14 18:05] dlorenc commented on #304
Yeah we should be able to push a release tag of 0.0.4 soon.

[2018-09-14 18:15] priyawadhwa commented on #354
Hey @ImJasonH & @pvdissel, turns out we had a retagging process executing which was pinning `:latest` to an older version of the image.

I removed that process and rebuilt the images, the cloudbuild.yaml is building successfully for me now. Let me know if you're still running into trouble.

[2018-09-14 18:54] priyawadhwa commented on #355
@ImJasonH yah definitely agree the usage makes the error unclear, opened a PR to fix this.

[2018-09-14 18:55] priyawadhwa commented on #345
Hey @mustafaakin , so we had a bug in our release process which I described [here](https://github.com/GoogleContainerTools/kaniko/issues/354#issuecomment-421441952), which should be fixed now.

If you could try again, I think it should work!

[2018-09-14 21:29] #355 closed

[2018-09-14 21:37] ImJasonH commented on #355
Thanks for the quick fix! 🎉

[2018-09-15 18:32] mustafaakin commented on #345
Yeah it works right now @priyawadhwa thanks!

[2018-09-15 18:32] #345 closed

[2018-09-15 18:43] mustafaakin opened #357 "More helpful message for pushing blobs"
Right now, I build a rather large image and push it in single snapshot and it takes some time to push it.

[code]

It says that it pushed the blob after 59 seconds and I have no indication of status. What do you think of a progress bar here or some info before starting to push a layer indicating the total size to be pushed?

[2018-09-16 17:09] nelsonjchen opened #358 "Ability to use a TempFile instead of an in-memory buffer for tarball snapshots to build large Docker containers?"
https://github.com/GoogleContainerTools/kaniko/blob/13accbaf3243a5cf477c9e3d5116dc09dd80ae37/pkg/snapshot/snapshot.go#L57-L70

I'm interested in building multi-GB Docker images with Kaniko. Unfortunately, doing this immediately exhausts the RAM. I think this is because the snapshotting steps take a tarball snapshot of the whole filesystem in-memory.

It would be nice to have an option to tell kani

[2018-09-17 17:10] xanonid commented on #351
The issue is introduced in commit 5bdb87e0e7f4 (found by git bisect).

Maybe the `FilepathExists(path)` check is missing in the tar.TypeLink case?

[2018-09-17 17:19] dlorenc commented on #354
I think this should be fixed now.

[2018-09-17 17:19] #354 closed

[2018-09-18 06:38] olvlvl opened #359 "Please provide a valid path to a Dockerfile"
**Actual behavior**
I'm getting the error "please provide a valid path to a Dockerfile within the build context with --dockerfile" although I'm providing a correct absolute path to a Dockerfile. I tried replacing the absolute path with `Dockerfile`, `./Dockerfile`, and empty string. I'm running the image on MacOS using `Docker 18.06.1-ce-mac73 (26764)`.

**Expected behavior**
The command would jus

[2018-09-18 08:55] priyawadhwa commented on #359
Hey @olvlvl, to run in Docker you'll need to mount the build context into the image with the `-v` flag so that it exists in the image, you could try something like :

[code]

[2018-09-18 13:19] olvlvl commented on #359
Thanks for the help @priyawadhwa, I followed your advises and got something running with the following script:

[code]

Two problems:

1\. All `RUN` are failing, for instance `RUN ls` gives me this:

[code]

2\. Whether I'm using `/workspace/img.tar` or `/Volumes/hellofresh/img.tar`, no archive is being created. Note that I'm using `--no-push` because omitting `--destination` was resulting in an e

[2018-09-18 19:23] sadortun opened #361 "RUN Not executed properly"
Hi, am i new to this project, and i hope my issue will be an obvious fix :)

**Actual behavior**
When `RUN mkdir /root/.ssh `, the command is not interpreted correctly

We havbe the following error

INFO[0046] cmd: /bin/sh
INFO[0046] args: [-c mkdir /root/.ssh]
sh: unsupported crypt method: mkdir /root/.ssh

**Expected behavior**
The command `mkdir` is executed as expected

**To Reproduce**
Steps

[2018-09-19 10:08] cugu commented on #351
I can confirm the issue with kibana and logstash
[code]
[code]

[2018-09-19 10:54] cugu commented on #361
This is the error message from `chpasswd`.

[2018-09-19 11:12] cugu commented on #361
The error in the description above does not match with the error in the referenced gitlab job, although it is similar.
[code]

[2018-09-19 13:28] sadortun commented on #361
Indeed, the message from this issue come from a local build attempt, I wanted to reproduce the issue on a public project

[2018-09-19 15:41] xanonid commented on #352
The link bug with :latest is probably the same as in #351 and should be solved by #360.

[2018-09-19 15:44] xanonid commented on #342
This bug should be fixed by PR #360 .

[2018-09-19 17:59] skofgar commented on #359
Hello @olvlvl
I had the same problem, where I am trying to build a tarball, but ran into the either `no-push` or `destination` issue. My script now runs without an error, but it does not create a tarball 😢 ...

I noticed in your script:
* where in the Dockerfile is the command `RUN ls` (I don't see it in the one listed above)
* could you try verifying that the folder you are trying to run `ls` in

[2018-09-19 18:59] bouk commented on #361
I've run into the same issue. My fix is to just use `gcr.io/kaniko-project/executor:v0.3.0` until it's fixed.

[2018-09-19 19:59] sadortun commented on #361
@bouk  tested with 0.3.0, and i got the same issue.
https://gitlab.com/Sadortun/kaniko-run-issue/-/jobs/99457320

Can you please share your execution script / Dockerfile

[2018-09-19 20:21] sadortun commented on #361
@bouk  Done some more tests, and it seems if i use the base image "docker:stable" i can execute commands

https://gitlab.com/Sadortun/kaniko-run-issue/-/jobs/99462747

But i tried other alpine based images, and no success 😢

[2018-09-19 20:29] bouk commented on #361
@sadortun looking at the logs, you're not using `v0.3.0`: `Using Docker executor with image gcr.io/kaniko-project/executor:debug`

[2018-09-20 08:42] cugu commented on #361
@bouk It is used in his newer builds: https://gitlab.com/Sadortun/kaniko-run-issue/-/jobs/99492775 but it ends in a `Killed`

[2018-09-20 20:13] sadortun commented on #361
@cugu @bouk  Indeed, i was dooing 19 things at the same time, and i did not see that i was not commiting on the right branch :)

![image](https://user-images.githubusercontent.com/794449/45844310-006b3900-bcf0-11e8-9665-0dd1302cc15d.png)

V0.3.0 doesnt work as expected either.

[2018-09-21 14:13] dlorenc commented on #359
If the image fails to build, I wouldn't expect a tar to be created. Do you mean that the tar is not being created even when your build succeeds?

Could you post the logs from one of those runs?

[2018-09-21 14:28] dlorenc commented on #359
Also note that you do still need to provide an image name even if you want to save it in a tar, the docker image tar file format requires that images inside them have names.

[2018-09-21 15:35] olvlvl commented on #359
@dlorenc, @skofgar Thanks for your messages.

The following command is working, and I get a tar file:

[code]

But using any RUN command is failing:

[code]

Gives me:

[code]

[2018-09-21 23:35] rroller commented on #352
I've tried both #360 and `gcr.io/kaniko-project/executor:debug` and still have the same issue as `gcr.io/kaniko-project/executor:latest`

Here's the issue...

[code]

[2018-09-22 17:14] jozefkoscak opened #362 "Cannot stat: No such file or directory"
I tried to build Dockerfile (similar to this one) with Gitlab CI,
[code]
Actual result in current version
`gcr.io/kaniko-project/executor:debug-8fb220b19b227bde9b7f4653da3b6b282be2fea4`
and
`gcr.io/kaniko-project/executor:debug-deda0ea04decceb8b758c764e6eeb9b8000e4095`
[code]
Expected result as in version
`gcr.io/kaniko-project/executor:debug-bb75c0461887034f40f5ba836cfd17647d2cf544`
[code]

[2018-09-24 14:55] rroller commented on #351
The fix appears to be in https://github.com/GoogleContainerTools/kaniko/pull/360

[2018-09-24 16:06] priyawadhwa commented on #362
Could be related to #359, comment [here](https://github.com/GoogleContainerTools/kaniko/issues/359#issuecomment-423576260)

[2018-09-24 16:47] xanonid commented on #359
The issue is that /bin/sh is overwritten by the GNU tar binary. Try
[code]
to verify.  The issue is connected to a missing symlink check. First, tar is provided by busybox, but then GNU tar is installed. The unpack of the regular file does not remove the symlink, but overwrites its target file. Solution: Add a FilepathExists check in extractFile of pkg/util/fs_util.go also in the tar.TypeReg case.

[2018-09-24 20:40] #300 closed

[2018-09-24 23:58] sadortun commented on #361
@cugu  @bouk  After more tests, here is an Update on the issue. Any help is greatly appreciated !
# Working as expected
[code]

# Working as expected
[code]

# NOT Working
[code]

[code]

[2018-09-25 07:54] olvlvl commented on #359
Hi @xanonid, thanks for your message. So I'm getting this:

[code]

Should I put [these changes](https://github.com/GoogleContainerTools/kaniko/pull/360/files#diff-d36eb675aa49a7b471e3a2be77005b18) in my setup?

[2018-09-25 11:31] xanonid commented on #359
@olvlvl The changes from #360 does not help in your case. However, you can add the same lines after the  `case tar.TypeReg:` line ([line 176ff](https://github.com/GoogleContainerTools/kaniko/pull/360/files#diff-d36eb675aa49a7b471e3a2be77005b18L176)) which should help.

[2018-09-25 11:36] xanonid commented on #361
This is probably a similar issue to https://github.com/GoogleContainerTools/kaniko/issues/359#issuecomment-424044674 . In this case, busybox is not overwritten by GNU tar but by another binary like ping.

[2018-09-25 11:53] norpol commented on #105
Just stumbled upon Kaniko [once more](https://news.ycombinator.com/item?id=18050781) and asking myself if with the Docker gVisor support, is it now possible to build images without root or docker-in-docker within a Docker or Kubernetes host?

[2018-09-25 12:00] dlorenc commented on #105
Yup, if you have gvisor configured you should be good to go: https://github.com/GoogleContainerTools/kaniko/blob/master/README.md#running-kaniko-in-gvisor

[2018-09-25 19:16] BryanHunt commented on #245
@brandon-bethke-neudesic I worked around the problem by switching to https://github.com/containers/buildah

[2018-09-26 13:02] Zetten opened #365 "Cannot COPY file to existing directory without trailing slash"
**Actual behavior**
A Dockerfile with content
[code]
will fail to build in Kaniko, with the error:
`error building image: error building stage: open /path/to/foo: is a directory`

**Expected behavior**
`docker build` is rather more lenient with the target for COPY commands, and will create the file in the destination directory: `/path/to/foo/sourcefile`.

**Additional Information**
I've tried trac

[2018-09-26 14:14] #359 closed

[2018-09-26 14:32] dlorenc opened #366 "FR: Add a flag to print timing data at the end of a build"
Some interesting info to breakdown:

- Base image pulling time
- Extraction time
- Layer pushing time
- RUN command execution time
- Snapshot time
- Other stuff?

It would be nice to have a flag to dump all this info at the end of a build, to help us diagnose and debug slow builids.

[2018-09-26 15:18] olvlvl commented on #359
Yay! It works!

[code]

[2018-09-26 16:31] yurrriq commented on #351
#360 fixes this for me too.

[2018-09-26 20:20] priyawadhwa commented on #342
@ibcodemonkey, could you see if you're still getting the same error with the latest version of the image? This may have been fixed by #360.

[2018-09-27 09:25] svalo opened #368 "Can't use some images from registry.opensuse.org"
**Actual behavior**
Trying to use registry.opensuse.org/suse/templates/images/sle-12-sp3/base/images/sle12:sp3 image inside a gitlab pipeline leads to the following error
[code]
I get the same error if I try to use kaniko  from my desktop.

I can pull the failing image using docker command.

**Expected behavior**
The build successfully execute

**To Reproduce**
Steps to reproduce the behavior:
1.

[2018-09-27 11:33] mlschroe commented on #368
It gets the tag data which contains a fat manifest. Then it tries to fetch the sub-manifest via a request to "blobs" instead of "manifests", that's why our registry responds with an "UNKNOWN_BLOB" error.

I added a workaround so that the registry allows fetching a manifest over the "blobs" route, but this should IMHO be fixed in kaniko as well.

[2018-09-27 11:48] mlschroe commented on #368
OTOH does kaniko even support fat manifests (aka manifest lists)?

[2018-09-27 14:14] svalo commented on #368
Don't know if it can help to narrow down the issue but if I manually call `curl  https://registry.opensuse.org/v2/suse/templates/images/sle-12-sp3/base/images/sle12/manifests/sp3` and use the digest of the correct architecture as the `FROM` line  I can successfully use kaniko with the image.

[code]
I then use the digest from the `amd64` arch in the `FROM` line which become:

`FROM registry.opensu

[2018-09-27 14:31] #333 closed

[2018-09-27 15:30] nicolaferraro opened #372 "Failed to push to Minkikube addon registry: "authentication required""
**Actual behavior**
I'm trying to push a docker image to the internal Minikube registry but it fails saying authentication is required.
I'm able to `docker push` to the same registry without doing any `docker login`.

Full log here:
[code]

Pod description:
[code]

**Expected behavior**
It's a insecure registry without authentication. I expect it's possible to push images directly.

**To Reproduce

[2018-09-27 21:18] priyawadhwa commented on #365
@Zetten I agree that currently `IsDestDir` is naive and should be improved.  I think the string parsing is necessary in the case where we have something like

[code]

and `/maybe/a/dir` doesn't exist yet, so the trailing slash tells us if it's meant to be a directory or a file.

Perhaps we should check if the directory exists first, and if not then check the string? If you're still interested in o

[2018-09-28 05:01] mathroc opened #373 "Kaniko panic when trying to use cache with --no-push"
**Actual behavior**

Kaniko panic when trying to use cache with --no-push

**Expected behavior**
I expect Kaniko to show an error explaining that maybe with `--no-push`, `--cache-repo` is required

**To Reproduce**

Steps to reproduce the behavior:
1. run `/kaniko/executor --context /path/to/context --dockerfile /path/to/Dockerfile --cache --no-push`

**Additional Information**
 - Dockerfile

[cod

[2018-09-28 07:34] nicolaferraro commented on #245
I suspect the issue I'm experiencing in #372 is related. There are no "sleep" commands, just a build that is taking 5~10 mins.

[2018-09-28 16:46] priyawadhwa commented on #373
Hey @mathroc thanks for opening this bug, I'll open a PR to fix it. Would be interested to know how the cache is working out for you as well :)

[2018-09-28 17:15] priyawadhwa commented on #372
Hey @nicolaferraro, not sure if this will help but you could try also using the `--skip-tls-verify` flag

[2018-09-28 20:39] #373 closed

[2018-09-28 21:01] devderek commented on #342
I am running into a similar issue with one of my builds. I'm trying to use a base image that is provided by JBoss and get this error during the download & extract before it reaches any of my instructions:

`DEBU[0026] symlink from /deployments to /opt/eap/standalone/deployments
error building image: error building stage: error removing opt/eap/standalone/deployments to make way for new symlink: re

[2018-09-28 22:21] priyawadhwa commented on #342
@devderek could you open up an issue for this bug, with the Dockerfile you're trying to build?

[2018-09-29 10:09] mathroc commented on #373
Well, I've just been trying this out on some non-critical image build but those build were quite fast already so the gain is not very significant but it's noticeable. I'll report again when I'll migrate more time-consuming build to kaniko

[2018-10-01 14:05] devderek commented on #342
My Dockerfile pulls an image from a private repo so I'm not able to make it reproduceable here. I suspect the root causes are similar. I'll see if I can reproduce a similar scenario. If I can I will certainly post a new issue. Thanks!

[2018-10-01 21:49] #313 closed

[2018-10-02 09:13] cugu commented on #361
Solved by https://github.com/GoogleContainerTools/kaniko/pull/360 for me

[2018-10-02 11:10] fsc12 opened #379 "Image build failed in Openshift"
**Actual behavior**
Trying to build images in Openshift results in an error:

....
INFO[0004] Extracting layer 0
DEBU[0005] creating dir /
error building image: error building stage: chmod  /: operation not permitted

**Expected behavior**
The build successfully executes.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a secret in Openshift
oc create secret generic kaniko-secret --fr

[2018-10-02 12:59] #361 closed, assigned to nobody

[2018-10-02 21:19] devderek opened #380 "Issue with symlink during layer extraction"
**Actual behavior**
I'm experiencing an issue when downloading and extracting layers during a build. I see the following error:

This occurs when I'm downloading this image:

This behavior is not experienced when performing _docker pull_ then _docker run_.

**Expected behavior**
The image downloads and extracts without symlink errors.

**To Reproduce**
In a fresh folder run the following commands:

[2018-10-03 03:11] AkihiroSuda commented on #106
IIUC it does not solve the credential leakage issue, right? (unless gvisor allows the kaniko process in the container to set up apparmor-equivalent)

[2018-10-04 07:21] hkrutzer opened #384 "Ignore files in .dockerignore"
I am using [Kaniko in Gitlab](https://docs.gitlab.com/ee/ci/docker/using_kaniko.html) and Kaniko does not seem to use my `.dockerignore.` file. This means it's adding my Git repository to the image. Is it possible to make Kaniko ignore certain files?

[2018-10-05 17:50] xanonid commented on #351
@priyawadhwa #360 fixed this issue.

[2018-10-05 17:50] #351 closed

[2018-10-07 19:08] ianberinger commented on #245
I'm impacted by this as well.

Thanks @tzununbekov for the pointer.
I've debugged this further, this seems to be caused by https://github.com/google/go-containerregistry not refreshing expired Bearer tokens. Bearer tokens expire after a [fixed duration](https://docs.docker.com/registry/spec/auth/token/#requesting-a-token) (for docker.io after 300s).
If a stage takes longer than that, saving the st

[2018-10-10 10:46] pieterlange commented on #245
@tstromberg can you assign this issue to someone else so this fix gets shipped without undue delay? This makes kaniko unusable for building containers that take >5m to build.

[2018-10-10 13:07] dlorenc commented on #245
@pieterlange it looks like the fix to the underlying issue is being reviewed now in go-containeregistry.

Once that's merged we can get the dependency updated here fairly easily.

[2018-10-10 15:37] josephndenton commented on #380
This is biting me as well. Any way we can get some eyes on it?

[2018-10-10 19:19] priyawadhwa commented on #245
Update: #388 was just merged, but I'll keep this issue open for a few days in case anyone continues to see this error.

[2018-10-10 19:21] akhmerov commented on #245
Is the fix included in the latest `kaniko-project/executor`?

[2018-10-10 19:47] priyawadhwa commented on #245
yup, it should be in `gcr.io/kaniko-project/executor:latest`

[2018-10-10 20:47] yurrriq commented on #245
I have confirmed #388 fixes my long builds.

[2018-10-11 07:19] pieterlange commented on #245
I can confirm this fixed it for me!

@yurrriq make sure the token doesn't expire serverside either - gitlab-ci's expiry also happens to be 5 minutes, but you can easily up that in the admin console.

[2018-10-11 10:09] Zetten commented on #365
The PR tries to avoid any repercussions of changing IsDestDir, but it's used in a few places and not always to check real filesystems. I'm not so hot with go but I've tried to keep it as simple and defensive as I can. For the same reason, I've also missed out testing this - it hasn't broken the existing stuff, but with some guidance I can try adding a new test.

[2018-10-11 10:25] binarious opened #391 "Error while building stage"
**Actual behavior**
When building a Docker image in GitLab CI I get the following error with a specific Dockerfile:

**Expected behavior**
Successful build.

**To Reproduce**
Steps to reproduce the behavior:
1. Use [this](https://gitlab.com/binarious/kaniko-test/blob/master/Dockerfile) Dockerfile
2. Run kaniko [in GitLab CI](https://docs.gitlab.com/ee/ci/docker/using_kaniko.html)

**Additional Inf

[2018-10-11 11:21] slavoutich commented on #245
Works for me, thanks everyone!

[2018-10-11 11:56] kennethaasan commented on #245
I can confirm the same. Good job guys!

[2018-10-11 17:33] berndtj opened #392 "Cannot push to gcr.io with recent kaniko executor > 0.1.0"
**Actual behavior**

Cannot push images as part of a knative build when configured to push to gcr.io and using a kaniko executor > 0.1.0 (I have tried 0.3 -> latest).  The same build completes successfully when using 0.1.0 *or* pushing to a different repository (i.e. dockerhub).  The issue comes down to authentication.

[code]

**Expected behavior**

Image can be pushed to gcr.io or any registry w

[2018-10-11 17:48] priyawadhwa commented on #391
Hey @binarious , I tried to build this with the `:latest` image and it built successfully. Could you try with that image as well?

[2018-10-12 01:16] #365 closed

[2018-10-12 13:40] xanonid commented on #379
Probably, the issue is that in OpenShift per-default only non-root containers are allowed. See #105 .

[2018-10-12 17:29] priyawadhwa commented on #391
Ah I see, I was able to build it with the latest version of the `:debug` image as well.

I also wasn't able to reproduce this with the image you provided since `gcr.io/kaniko-project/executor@sha256:1c51cd259b155c27a9fa6915ce0a13908552b6eb8c4b90192742e1a6792ff82d` doesn't seem to exist. Could you try with the latest `:debug` image?

[2018-10-12 18:43] binarious commented on #391
It seems to work now with `:debug`. I don't know what has changed. Thank you for your time.

[2018-10-12 18:43] #391 closed

[2018-10-12 20:13] cjyar opened #395 "ARG defaults"
**Actual behavior**
Kaniko doesn't understand how to handle ARG values declared before any stage. Kaniko output:
[code]

**Expected behavior**
There are at least 2 use cases for this:

1. Declare ARGs to be used in a FROM directive. Kaniko should perform variable expansion in the FROM directive, based on ARGs at the beginning of the Dockerfile.
1. Pass ARGs from the Dockerfile prologue into a stag

[2018-10-13 00:13] gaoning777 commented on #392
same here. The kaniko images v0.4.0 and latest cannot push to another registry even though the service account are authorized with storage admin permission.

[2018-10-16 00:10] #134 closed

[2018-10-17 13:36] MansM opened #400 "kaniko cant push to quay ent on prem"
**Actual behavior**
Kaniko cant push to quay

**Expected behavior**
kaniko able to push to quay
**To Reproduce**
Steps to reproduce the behavior:
as gitlab runner

**Additional Information**
 - Dockerfile
   FROM centos:7
   curl -O http://somewhere/internalcacerts.rpm && rpm -ivh  internalcacerts.rpm && rm -rf internalcacerts.rpm

 - Build Context
   Please provide or clearly describe any files n

[2018-10-17 17:38] priyawadhwa commented on #400
Hey @MansM yah it looks like quay is working on supporting schema v2-2 based on this [comment](https://github.com/moby/buildkit/issues/409#issuecomment-394757219), so this probably won't work until that happens. kaniko depends on a library which assumes this format for pulling and pushing images.

[2018-10-18 08:09] jouve opened #402 "Invalid HOME for root user"
**Actual behavior**
HOME is set to /home/root for root user instead of /root after switching users multiple times

**Expected behavior**
HOME is set to /root for root user

**To Reproduce**
Use this Dockerfile
[code]
then
[code]
This will display:
1st echo -> /root
2nd echo -> /home/cyril
3rd echo -> /home/root

**Additional Information**
 - Kaniko Image (fully qualified with digest)
[code]

[2018-10-18 08:10] jouve commented on #402
Probably related to #280

[2018-10-18 17:21] #380 closed

[2018-10-18 17:56] berndtj opened #405 "Can not pull from 10.x.x.x:5000/... insecure registry"
**Actual behavior**

When building a container from a Dockerfile if the source is an insecure registry with an internal IP (cluster IP) the registry is treated as though it's secure (i.e. https).  The --insecure flag applies to the destination (push) but not source.

**Expected behavior**
A 10.x address should be treated as insecure just like localhost and .local registries.

**To Reproduce**
Step

[2018-10-19 06:46] tticar opened #406 "does kaniko support docker registry mirrors ?"
dear maintainers

i use kaniko to build docker image at China mainland，when it download base image, it use docker official registry, the GFW will reset this connection, so, does kaniko support docker registry mirrors ?

thank u

[2018-10-20 07:55] peter-evans commented on #331
@kmadel I noticed that you modified the Dockerfile from `USER ${user}` to `USER ${uid}`. Maybe that fixed it for you?

I actually just tested your original Dockerfile with Kaniko v0.5.0 and it seems to work correctly now. I added the final `RUN ls -la` line to test.

[code]

[code]

[2018-10-21 06:28] peter-evans commented on #392
@berndtj I'm unable to reproduce this. I followed the steps at the link below to create a new cluster and install Istio and Knative.
https://github.com/knative/docs/blob/master/install/Knative-with-GKE.md

I then followed the tutorial you referenced and was able to build and push the image with both `executor:v0.1.0` and `executor:v0.5.0`.
https://github.com/GoogleCloudPlatform/knative-build-tutor

[2018-10-21 07:17] peter-evans commented on #357
@mustafaakin The code handling pushing the image and its individual layers is contained in the `github.com/google/go-containerregistry/pkg/v1/remote` package which Kaniko imports. So it might be best to create an issue at [go-containerregistry](https://github.com/google/go-containerregistry) and see if the maintainers would consider this enhancement.

[2018-10-21 15:49] pieterlange opened #407 "Building kaniko debug image with kaniko fails on bazel"
**Actual behavior**
The build gets interrupted with the following error:
[code]

**Expected behavior**
The build succeeds!

**To Reproduce**
Steps to reproduce the behavior:
1. Use gitlab-ci with kubernetes CI runner
2. Mirror the kaniko repo so i have my own copy (and my own -tagged- images)
3. Use the following `gitlab-ci.yml` file:

[code]

**Additional Information**
 - [Dockerfile](/deploy/Doc

[2018-10-21 15:59] pieterlange commented on #407
Complete CI output:
[code]

[2018-10-21 20:32] sheeprine opened #408 "Http to https redirect breaks token passing"
**Actual behavior**
In some case redirects cause the go-containerregistry library to think that we are not connecting to the same registry. For example when we are being redirected from http to https. Goland http.Client doesn't pass the Host in the request.

See google/go-containerregistry/pull/293

**Expected behavior**
During an https redirect, the authentication token should be passed over.

**

[2018-10-24 07:42] gimler commented on #405
I think it is fixed with #401

[2018-10-24 09:02] berndtj commented on #405
Great. I’ll give it a shot later today.

Sent from my iPhone

On Oct 24, 2018, at 03:42, Gordon Franke <notifications@github.com<mailto:notifications@github.com>> wrote:

I think it is fixed with #401<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FGoogleContainerTools%2Fkaniko%2Fpull%2F401&data=02%7C01%7Cbjung%40vmware.com%7C9bd83a5046c243cfa33708d639843a14%7Cb39138c

[2018-10-25 22:10] stepchowfun opened #410 "Trouble getting caching to work"
**Actual behavior**

Hello! We're running into a problem where Kaniko can push to our AWS ECR repo, but it reports an authorization error when attempting to use it as a cache. The following transcript demonstrates the issue:

[code]

**Expected behavior**

It seems clear that Kaniko has access to the repo/registry since it successfully pushed the final image there. So the question we're hoping to

[2018-10-25 22:43] priyawadhwa commented on #410
Hey @stepchowfun, so kaniko supports caching at two levels right now:

1. We cache individual layers constructed from RUN commands in a remote repository (specified by --cache-repo)
2. We can access cached base images as tarballs in a local directory accessible to the executor (specified by the --cache-dir command).

Before downloading the base image, kaniko checks the local directory specified by

[2018-10-25 22:44] priyawadhwa opened #411 "Add documentation for base image caching"
We should probably add a section to the README describing the best way to use the cache warmer, and clearly explain the two levels of caching kaniko provides.

[2018-10-25 22:44] priyawadhwa commented on #411
@sharifelgamal would you be down to write the docs for the cache warmer?

[2018-10-25 22:49] sharifelgamal commented on #411
yeah sure thing

[2018-10-26 17:32] juliahw commented on #410
@priyawadhwa Thanks for your reply. I modified the above `docker run` command to mount another directory to `/cache`, and I still experience the same error:

[code]

In addition, a missing local cache directory should not fail with a 401 HTTP status code. I suspect there's something else amiss. Can you help us debug the issue?

[2018-10-26 18:36] priyawadhwa commented on #410
I think kaniko expects the tarball of the base image to live at the path `cache-dir-repo/image-digest`, so in this case it's looking at `/cache/<your image digest>` and not finding anything. If you mount in the tarball at that path, this should work (I think that's correct, but @sharifelgamal can confirm)

Since kaniko needs the image digest to determine the path to the base image, it's making a r

[2018-10-26 21:48] juliahw commented on #410
I see, thanks for clarifying! For posterity, it would be great if Kaniko could log some more information about the location from which it's trying to fetch the cache.

[2018-10-26 21:55] priyawadhwa commented on #410
Totally agree, and we also have an issue open to add some clearer documentation in #411

Thanks for your patience!

[2018-10-26 21:58] priyawadhwa commented on #408
Hey @sheeprine thanks for opening this issue! I noticed you merged the go-containerregistry PR, would you be interested in updating the go-containerregistry dependencies for this project now (it should require a single `dep ensure` command in the repo)? No worries if not, I can do it as well!

[2018-10-28 10:45] bgokden opened #417 "COPY --from=dockerimage fails"
**Actual behavior**

This line fails while building with kaniko but it is actually works with docker engine
`COPY --from=gcr.io/kaniko-project/executor:latest /kaniko /kaniko`

Error:
`INFO[0012] Taking snapshot of full filesystem...
INFO[0013] COPY --from=gcr.io/kaniko-project/executor:latest /kaniko /kaniko
error building image: error building stage: lstat /kaniko/gcr.io/kaniko-project/executor:

[2018-10-29 17:15] priyawadhwa commented on #417
Hey @bgokden, thanks for opening this issue. Until this is fixed, you can use a placeholder stage in your Dockerfile which kaniko should be able to build:

[code]

[2018-10-29 18:21] priyawadhwa commented on #410
We just merged #413, so the `:latest` version of the kaniko image should fix the warning you were seeing.

[2018-10-29 20:20] stepchowfun commented on #410
Thanks @priyawadhwa!

[2018-10-30 08:39] sheeprine commented on #408
Hi @priyawadhwa thanks for updating dependencies.
Seems like the code to auto-detect scheme in google/go-containerregistry#125 is causing some troubles (always trying to connect in http even after being 308 redirected to https). I'll try to see if I can improve that and not hardcode scheme but suggest one and learn from transport in case of redirect.

[2018-10-30 17:39] #408 closed

[2018-10-30 17:44] priyawadhwa commented on #408
@sheeprine sounds good, thanks for your contributions!

[2018-10-30 18:05] berndtj commented on #405
Confirmed, this is fixed.

[2018-10-30 18:05] #405 closed

[2018-10-30 23:49] #384 closed

[2018-10-30 23:49] priyawadhwa commented on #384
Hey @hkrutzer , the `:latest` version of the kaniko image should support .dockerignore files now!

[2018-10-31 08:25] jeff-knurek opened #422 "Removing ignored files also removes the Dockerfile"
**Actual behavior**
After this change: https://github.com/GoogleContainerTools/kaniko/commit/6ef616b8b278ef014ca1639765515837adf38b43
there is the potential to delete the Dockerfile that in the next step of building is no longer in the context

**To Reproduce**
in the .dockerignore, add something like:
[code]
this results in:
[code]

[2018-10-31 20:33] #411 closed

[2018-10-31 21:16] #422 closed

[2018-10-31 21:17] priyawadhwa commented on #422
Hey @jeff-knurek , this issue should be fixed with #424, please comment on this thread or open another issue if you run into any more bugs. Thanks!

[2018-11-01 02:43] tticar commented on #406
i use `FROM docker-mirrors-address/library/openjdk:8-jdk` in `Dockerfile` for workaround now, but still wait for kaniko official solution.

[2018-11-01 08:22] kreeftd opened #425 "Support for Azure Container Registry"
We have problems setting up kaniko together with our GitLab Runner (11.3.1): we are not able to push our Docker builds to our private Azure Container Registry. We believe the issue is in the authentication process. After some debugging, we found that there is a flag for /kaniko/executor: `--azure-container-registry-config`. However, we are not able to find what file is expected, nor can we find an

[2018-11-01 13:39] gsf opened #426 "Leave workspace intact on Google Cloud Build"
I have a cloudbuild.yaml like so:

[code]

The second step runs a smoke test on the built image. This works when run with a docker build and push. With kaniko, the test.sh file is gone because the workspace has been wiped out. Can kaniko run in a way that will leave files in the workspace intact for the next step?

[2018-11-01 14:43] emmanuelCarre commented on #315
Hi,

I will be happy to work on this issue for my first contribution to kaniko.
I will try to an PR this weekend.

[2018-11-01 19:56] priyawadhwa commented on #315
@emmanuelCarre sounds good, thanks!

[2018-11-01 20:01] priyawadhwa commented on #425
Hey @kreeftd , we actually don't have any special support for Azure in the kaniko image (that flag is added by a dependency, and is meant to be [hidden](https://github.com/GoogleContainerTools/kaniko/blob/effac9dfc34f3bbe7217d37221688b71a72ac33f/cmd/warmer/cmd/root.go#L68), but I guess that isn't actually working)

You could try mounting in the azure credential [helper](https://github.com/Azure/ac

[2018-11-01 20:03] priyawadhwa opened #427 "Hide --azure-container-registry-config flag from kaniko help text"
This flag is added by a vendored dependency, and is displayed in the kaniko help text. I tried to mark it as hidden [here](https://github.com/GoogleContainerTools/kaniko/blob/7afb11cdf7a9315c05709bdb6ea94025d086ba41/cmd/executor/cmd/root.go#L117), but it looks like that isn't working. We should probably figure out a way to hide it, as the flag makes it unclear how to push to Azure (#425)

[2018-11-01 20:07] priyawadhwa commented on #426
Hey @gsf , do you have a `/workspace/.dockerignore` file? kaniko will delete files in the context (`/workspace`) if they are specified in the `.dockerignore`, but otherwise it shouldn't remove any files in the build context.

[2018-11-02 18:19] WoodProgrammer opened #429 "Kaniko usage for Private Registry"
Hi everyone , I'm running kaniko on-prem machine so we have a private registry for storing our built images .

But I've some trouble when I wanna push the images via kaniko .
This is my command I've runned on my shell :

 `/kaniko/executor --context testimtest/ --dockerfile testimtest/Dockerfile --insecure --destination $IP_OF_REGISTRY/project/project:latest `

After I've runned this command I've

[2018-11-02 19:03] hkrutzer commented on #384
Amazing thank you!

[2018-11-05 06:49] jon-walton commented on #425
@kreeftd I'm pushing to an azure registry. Using GitLab's docs as an example, I'm doing the following

[code]

Seems to be ok so far in testing

[2018-11-05 08:11] kreeftd commented on #425
@priyawadhwa thank you for your comment.
@jon-walton thank you for your help. I have been relying on the same doc and code, but it seems like I keep running into the following error message.

`error pushing image: failed to push to destination <azure registry>/<image name>:<commit tag>: Get https://http/v2/: dial tcp: lookup http on <ip address>:<port>: server misbehaving`

It might have something

[2018-11-05 08:11] #425 closed

[2018-11-05 13:29] petervandenabeele opened #430 "Using `executor:latest` fails with `ERROR: Job failed (system failure): unable to upgrade connection: container not found ("build")`"
**Actual behavior**
Building images on kubernetes GKE cluster (1.10.7-gke.6) with `kaniko-project/executor:latest` fails with `ERROR: Job failed (system failure): unable to upgrade connection: container not found ("build")`

While building images on kubernetes GKE cluster (1.10.7-gke.6) with `kaniko-project/executor:debug` passes.

**Expected behavior**
A clear and concise description of what you

[2018-11-05 15:19] gsf commented on #426
That project has a .dockerignore that's required for the build. Looks like I'll need a step to tar up the project and send it to Cloud Storage first, then pull it back down to the build context with kaniko?

[2018-11-05 15:44] morsik opened #431 "ADD does not support ENV/ADD variables"
**Actual behavior**
`ADD` should support variables defined in `ENV`/`ADD` like `RUN` does, and like Docker does.

Example that works in `docker build` but doesn't work with kaniko:
[code]

But this works:
[code]

**Expected behavior**
Kaniko should build this like Docker does.

**To Reproduce**
Use examples above ;)

**Additional Information**
 - Kaniko Image: `gcr.io/kaniko-project/executor:debug

[2018-11-05 16:24] mpcref opened #432 "Proxy question"
I'm trying to use the Kaniko executor behind a proxy. I'm using `apk add` in my Dockerfile. It works fine when I supply `http_proxy` as a `--build-arg` but I would expect that this shouldn't be necessary when there's already a proxy configured in `~/.docker/config.json`. I know kaniko executor looks for credentials in this file so therefore is seems logical that this should also be supported.
Is t

[2018-11-05 18:21] priyawadhwa commented on #430
Hey @petervandenabeele, according to the Gitlab [documentation](https://docs.gitlab.com/ee/ci/docker/using_kaniko.html), only the debug image will work in Gitlab because it requires that images have a shell.

[2018-11-05 21:19] petervandenabeele commented on #430
Thank you, that is clear. I must have read over it ...

I will close this issue. The strange thing was that in quite a lot of Googling for the exact Error message combined with Gitlab etc. , I did not find any hint to this trivial cause of the problem. So maybe this will help some next user hitting this.

[2018-11-05 21:19] #430 closed

[2018-11-05 22:00] gsf commented on #426
I tried using a different build context directory but ran into the same error. Here is that cloudbuild.yaml:

[code]

I realized the files in .dockerignore are removed from the executor working directory, so that is the issue rather than the build context. The following configuration works:

[code]

[2018-11-06 08:46] emmanuelCarre commented on #315
Hi,

Just a small message to say I have not forgotten the project. I had some issue to push to my repository (fixed). I build kaniko and test locally.

History issue is due to: https://github.com/GoogleContainerTools/kaniko/blob/master/pkg/executor/build.go#L166

Just remove `continue` is not enough and I didn't think add some code before `continue` to add empty layer for command like env, expose,

[2018-11-06 15:03] dlorenc opened #433 "Tracking Bug for Perf Improvements"
This is a tracking bug for a list of potential performance improvements:

- [ ] Improve the initial snapshotting after extracting the first layer (we know what we extract, so don't stat everything again)
- [ ] Don't write full tarballs between multi-stage builds (only save the files we need)
- [ ] more...

[2018-11-06 22:04] samuela opened #434 "[feature request] use kaniko within a custom container"
For my use case, I need to be able to run something like `docker build` or kaniko from within a container. I don't care if kaniko runs as root from within the container, so long as I don't have to run the container in `--privileged` mode. Ultimately I'd like to be able to build untrusted Dockerfiles within a Kubernetes cluster.

From the README, it sounds like this is not advisable: "kaniko is mea

[2018-11-06 23:39] priyawadhwa opened #435 "Release v0.6.0"

[2018-11-07 01:40] #435 closed

[2018-11-07 11:31] morsik commented on #434
Kaniko is just Go application, so it should work in another system, but it modifies system it works on and snapshots it. Maybe some paths are hardcoded and this could make problem.

I'm not dev of this project, but what's your use case? If you use CI you can just run kaniko image in next stage and use build artifacts to retrieive stuff from previous stage. That's how I do it in GitLab CI.

[2018-11-07 15:36] mtsyganov opened #437 "multi-stage copy of symlinks"
**Actual behavior**
In the multistage build process when a directory with symlinks is copied, the symlinks are badly created in the target image. Too many levels of symbolic links are generated.

**Expected behavior**
Symlinks are copied from source image into the target image as they are created in the source image

**To Reproduce**
Steps to reproduce the behavior:
1. create an image with symboli

[2018-11-07 18:05] xoen commented on #410
Hello, I've been trying kaniko and managed to make it build a docker image and push to the destination (AWS ECR in our case).

In my case it also pushes to the destination/cache repository, which is great.
The thing is that subsequent builds don't seem to use this remote cache (e.g. it takes the same amount of time to re-build the image).

My expectation would be that the `--cache-repo` value (whe

[2018-11-07 18:09] priyawadhwa commented on #434
Hey @samuela, is there any reason you can't use the kaniko image directly? It sounds like it would be a good fit for your use case, as kaniko is meant to build images in a Kubernetes cluster without the `--privileged` flag.

[2018-11-07 18:20] priyawadhwa commented on #410
Hey @xoen, you're correct that passing in a value for `--cache-repo` should populate that cache, and subsequent runs should use the layers within that cache.

It could be that the hash value is being calculated incorrectly, could you provide the Dockerfile you're trying to build?

[2018-11-07 18:31] xoen commented on #410
Hello @priyawadhwa - that's our guess too but it's not really clear why as the files between two builds don't change. A theory we haven't tested yet is that maybe that `WORKDIR` step is invalidating all subsequent steps/layers? No idea.

This is the [`Dockerfile`](https://github.com/moj-analytical-services/rshiny-template/blob/master/Dockerfile). This is a template application, our users' applicat

[2018-11-07 19:13] samuela commented on #434
I need to pull in some sources in a custom way, and then mess around a bit before passing things off to the build system. Along the way I also need to snag the logs of the container build step in real-time. That would all be pretty straightforward if I could just call kaniko as a CLI like docker from within my own container, but I'm not sure that it would be possible with the current recommended k

[2018-11-07 19:16] priyawadhwa commented on #410
The good news is that the cache key generation is working. The reason this isn't working is because this Dockerfile is formatted like this:

[code]

Right now, we only cache `RUN` commands, and kaniko will first go through all commands and try to extract as many cached layers as it can before execution. Since `WORKDIR` isn't cached, kaniko never checks if the subsequent commands are cached.

@dlor

[2018-11-08 00:35] anjakammer commented on #427
I would rather like to have these options instead of doing a  VolumeMount for the config.json.

[2018-11-08 16:33] r4vi commented on #410
@priyawadhwa we moved WORKDIR to the end of the Dockerfile and we still see the same behaviour (I work with @xoen) The thing we find strange is how it looks up in the remote cache for a certain key, doesn't find it, then builds the layer and uploads it with a different cache key. We would expect that if there was a cache miss, it would build and push back to the cache-repo with the key it checked

[2018-11-08 17:09] mtsyganov opened #439 "FROM command does not honor ENV variables"
**Actual behavior**
When I create a new image from the base image `registry.gitlab.com/gitlab-org/gitlab-ee/gitlab-assets-ee:11-5-stable-ee`, I get an error

**Expected behavior**
Image is downloaded and parsed successfully same as docker do.

**To Reproduce**
Steps to reproduce the behavior:
1. build an image from base image `registry.gitlab.com/gitlab-org/gitlab-ee/gitlab-assets-ee:11-5-stable-e

[2018-11-08 18:37] priyawadhwa commented on #439
Hey @mtsyganov what version of the kaniko image are you using? I tried with `gcr.io/kaniko-project/executor:v0.6.0` and `gcr.io/kaniko-project/debug-v0.6.0` and they both build the image successfully.

[2018-11-08 19:00] dlorenc commented on #410
I think this was a regression I introduced. I'm working on a fix and a new test case.

[2018-11-08 22:34] cjyar commented on #395
Thanks! The fix is working for my use case.

[2018-11-08 22:51] suujia commented on #239
I am also getting an error `dial tcp __ connect: connection refused"` occasionally for rebuilding and pushing to the same repository after small changes in app code. Did you find any answers?

[code]

[2018-11-09 03:06] aduong opened #442 "Copying symlink from previous stage fails instead of overwriting"
**Actual behavior**
`COPY --from=0 X Y` where X is a symlink from stage 0 and Y is an pre-existing symlink in the current stage fails with "file exists".

**Expected behavior**
`COPY --from=0 X Y` where X is a symlink from stage 0 and Y is a pre-existing symlink in the current stage should overwrite Y with X as it would if neither were symlinks.

**To Reproduce**

[code]
with the following Dockerf

[2018-11-09 10:01] mtsyganov commented on #439
@priyawadhwa you are right.
I am sorry, I misunderstood the bug. The real problem is that kaniko dont handle correct the `"` in the FROM command when I use variables.

following Dockerfile will fail
[code]

but this Dockerfile will succeed
[code]

In `docker build` both cases works fine

[2018-11-10 00:12] bobcatfish commented on #346
I think this was resolved in #348, re-open if I'm crazy!

[2018-11-10 00:12] #346 closed

[2018-11-10 01:49] yurrriq commented on #245
@AndreasBieber, perhaps you need to replace `/root/` with `/kaniko/`, as described on this [potentially relevant GitLab issue](https://gitlab.com/gitlab-org/gitlab-ce/issues/50750).

[2018-11-11 13:53] WoodProgrammer commented on #429
I've handled issue, problem was about image . Thanks .

[2018-11-12 18:10] priyawadhwa commented on #429
Cool, I'll go ahead and close this issue then.

[2018-11-12 18:10] #429 closed

[2018-11-13 06:49] gimler opened #446 "runtime error with MAINTAINER command"
**Actual behavior**
[code]

**Expected behavior**
no runtime error

**To Reproduce**
Dockerfile
[code]

see also #99

 - Kaniko Image (fully qualified with digest)
gcr.io/kaniko-project/executor:debug 6b5a19050a55

[2018-11-13 10:56] xoen commented on #400
Hello,

I see the following error while trying to build a docker image when the base image is on quay.io:

[code]

@priyawadhwa Is this caused by the lack of support for schema v2-2 as well or should I open another issue for this?

Thanks

[2018-11-13 12:38] xoen commented on #400
Also, it may be worth adding a note regarding the fact kaniko doesn't play well with quay.io in the documentation/limitations section. IMHO of course.

[2018-11-13 14:45] AndreasBieber commented on #245
Forgotten to mention: This problem only occurs with multistage builds.

[2018-11-13 15:50] #427 closed

[2018-11-13 18:36] #446 closed

[2018-11-13 18:36] priyawadhwa commented on #446
Hey @gimler thanks for opening this bug! It should be fixed now with #447

[2018-11-14 10:26] mtsyganov opened #450 "Multistage build is causing deletion of files from kaniko run environment"
**Actual behavior**
Before executor is called in the runtime of kaniko the /root/.docker/config.json file is created to allow kaniko access to private registries.
When multistage build is executed before the image of next stage is downloaded kaniko make deletes the filesystem. After the deletion of the file system also the /root/.docker/config.json file is deleted. As consequence the image of the

[2018-11-15 11:45] gimler opened #453 "COPY to root path doesn't work"
**Actual behavior**
no files in the image under `/etc/php7`

**Expected behavior**
files in the container under `/etc/php7`

**To Reproduce**
1. with docker it works
[code]
2. with kaniko not
[code]

**Additional Information**
 - it works with
[code]
 - Dockerfile
[code]

 - Build Context
rootfs/etc/php7/php.ini

 - Kaniko Image (fully qualified with digest)
gcr.io/kaniko-project/executor:debug di

[2018-11-15 15:39] dlorenc opened #454 "Change release process to only tag :latest explicitly"
**Actual behavior**
Right now :latest is tagged each time a commit is merged to master.

**Expected behavior**
Instead of tagging our release image, tag another image such as `gcr.io/kaniko-project/executor-builds`.

The released image should only be tagged when releases are cut.

[2018-11-15 15:41] dlorenc opened #455 "Add support for cache TTLs"
Add a flag to only use cached layers that were built within the specified TTL.

[2018-11-15 16:23] kreeftd commented on #425
So it turns out we did not setup our environment variables in GitLab correctly. For the Azure Container Registry you should not add `http://`. Thus, in the example of @jon-walton your environment variables would be similar to:

$AZURE_REGISTRY = 'example.azurecr.io'
$AZURE_REGISTRY_IMAGE = 'example.azurecr.io/example-image-name'

Also note that none of the environment variables in GitLab can be se

[2018-11-16 08:58] Overbryd commented on #453
I have the same problem:

* Excerpt from the Dockerfile

[code]

* Kaniko build arguments:

[code]

* The file does not exist in the image:

[code]

[2018-11-16 10:51] Overbryd commented on #453
Ping @dlorenc @priyawadhwa how can we help debug this issue?

[2018-11-16 20:02] priyawadhwa commented on #453
@Overbryd could you provide either the repo or a sample repo we can use to reproduce this?

[2018-11-16 22:34] bobcatfish commented on #455
@dlorenc this looks like it could be a good candidate for a "help wanted" issue, but I think we need some more info for someone to get started. I'll assign this back to you for now :D

[2018-11-16 22:37] priyawadhwa commented on #400
I'm not sure if the issue is related to schema, but definitely agree that we should add some documentation around this. Are you able to push with kaniko to a registry that supports the schema?

[2018-11-16 22:38] priyawadhwa commented on #392
@berndtj are you still seeing this issue?

[2018-11-16 22:40] berndtj commented on #392
I have not tried in quite some time.  If no one else is reporting the issue, go ahead and close it.

[2018-11-16 23:07] priyawadhwa commented on #392
Thanks for the quick response! @gaoning777 are you still seeing this issue?

[2018-11-16 23:08] priyawadhwa commented on #358
@nelsonjchen this should be fixed with #428. I'll go ahead and close this issue, please comment or open another if you run into any more problems!

[2018-11-16 23:08] #358 closed

[2018-11-16 23:10] nelsonjchen commented on #358
Woah! I didn't expect this to be resolved. "Have a bit of faith." - Some game I'm currently playing.

I look forward to trying this.

[2018-11-16 23:51] bobcatfish commented on #245
Sorry to hear this is still happening @AndreasBieber :(

Is there any chance you could provide us with a instructions we could use to reproduced the issue you are still seeing, e.g. maybe similar to [the example in this issue's description](https://github.com/GoogleContainerTools/kaniko/issues/245#issue-342587782)?

[2018-11-17 12:25] dzoeteman opened #457 "Files from /etc added in RUN do not get copied into snapshot"
**Actual behavior**
Files added in RUN command to the `/etc` directory do not get added to the snapshot.

**Expected behavior**
Files in `/etc` directory added by RUN command should be added to snapshot.

**To Reproduce**
Steps to reproduce the behavior:
1. Use Dockerfile below for a build
2. Notice in build log that the two `ls` commands both show files in directory
3. Open shell in the built ima

[2018-11-17 20:08] MMeent opened #458 "Bug: Caching for intermediate stages is broken"
**Actual behavior**
There are no snapshots being made for individual 'layers' in intermediate stages, resulting in severely degraded performance for docker-images which use intermediate stages as a way to cache multiple components.

**Expected behavior**
When I specify `--cache=true`, it should push every intermediate layer to the cache registry.

**To Reproduce**
[code]
[code]

**Additional Infor

[2018-11-19 01:31] aduong opened #460 "Skip unpacking optimization breaks COPY in multi-stage builds"
**Actual behavior**
Because of #440, it's possible for a later step to COPY files from an unpacked build and fail because the file does not exist in the `/kaniko` working area.

**Expected behavior**
COPYing from any previous build stage should be fine if the file should exist in the stage.

**To Reproduce**
Run Kaniko on
[code]
Admittedly, this particular use case can be handled by `COPY --from=p

[2018-11-19 02:04] aduong commented on #460
I'm mistaken. I was experiencing a different problem related to hardlinks.

[2018-11-19 02:04] #460 closed

[2018-11-19 09:40] slavoutich commented on #457
I am experiencing kinda the same issue, but with a different flavour. I have a base image, where I `ADD` a file to `/etc/init.d`, where it is added successfully, and I have an image constructed `FROM` base image, where it magically disappears. I think that this should be the same bug, actually, but can try to open separate bug with more detailed info upon request.
[code]

[2018-11-19 10:02] AndreasBieber commented on #245
Sorry, it was my bad. We are building our own image of kaniko for the GitLab CI Runner with custom scripts.

[code]
Since we also build this custom image with kaniko, the docker auth config was accidentally overwritten during the build process.

Now it works like charm.
Thanks anyway.

[2018-11-19 17:17] priyawadhwa commented on #245
Awesome, I'm going to go ahead and close this issue since it seems like #388 fixed it. If anyone experiences this again please comment on this thread or open another issue!

[2018-11-19 17:17] #245 closed

[2018-11-19 23:08] bobcatfish commented on #102
Talked with @sharifelgamal and we feel that the work done for caching so far (see the README https://github.com/GoogleContainerTools/kaniko#caching) covers this particular issue, we can open more issues if we want to add more specific caching (e.g. ADD command caching)

[2018-11-19 23:08] #102 closed

[2018-11-19 23:42] bobcatfish opened #462 "Docker compatibiltiy"
This epic is about determining how compatible we want Kaniko to be with Docker, and identifying where we are not compatible.

_This is an epic (view in Zenhub to see linked issues!)_

[2018-11-20 06:15] #342 closed

[2018-11-20 06:15] #352 closed

[2018-11-20 06:15] #362 closed

[2018-11-20 06:15] #437 closed

[2018-11-20 10:19] mtsyganov commented on #437
@priyawadhwa retested with latest debug image. problem is still reproducable

[2018-11-20 13:19] fkorotkov opened #463 "Remote KV caching"
It might worth to add a similar to [Makisu](https://github.com/uber/makisu#using-cache) feature of using a Key-Value remote cache for caching layers. It can provide a more fine grain permission control for users than using a standard Docker registry for caching layers via `--cache-repo` flag.

Maybe add `--cache-url` flag to specify a url that exposes an HTTP cache. For instance, it can use the sa

[2018-11-20 18:42] alex-leonhardt-els opened #464 "operation not permitted when trying to build with kaniko"
Hi,

I'm trying to build this image:
https://github.com/gooflix/backend-demo/blob/master/Dockerfile

but it always fails with:
[code]

the command I run is:
[code]

I don't use the docker image as I need a custom build image that provides additional toolss etc. - the above was used as  a "simplified" example to start with ...

`executor` runs inside a pod on a k8s, as `non-root` in case that makes

[2018-11-20 21:48] priyawadhwa commented on #464
Hey @alex-leonhardt-els if you're running in a k8s-pod, you shouldn't have to specify `executor` as an argument to the image (see [here](https://github.com/GoogleContainerTools/kaniko#running-kaniko-in-a-kubernetes-cluster) for docs). `--context` (which should point to the build context directory within the container) and additional flags should be enough.

[2018-11-21 10:14] alex-leonhardt-els commented on #464
Hi @priyawadhwa,

sorry maybe I wasn't quite clear enough, I'm not using the image that's provided, due to needing other things in my build image .. so I've done
[code]
and moved the resulting binaries into /usr/bin/ so it's in the default $PATH in my own image .. the home dir is not `/kaniko` so I created that and changed owner to the user that will be executing `executor`

the `context` is also

[2018-11-21 10:19] tblaisot commented on #406
Hello,

We are currently hopping support for registry mirrors in kaniko to be able to used it in clients "offline" environnements where all access to public repos are disable but you need to use a registry mirror (artifactory, nexus...).
By the way, using thoses tools you often create a private registry, a mirror registry, and a virtual registry which virtualy merge the 2 firsts.
Without registry

[2018-11-21 10:30] tblaisot opened #465 "Add support for runtime labels in kaniko executor"
Hello,

We are missing a "docker build" feature in kaniko : the ability to pass label to add into the command line dynamically at runtime like this
`docker build . --label "version=1.0" --label "org.label-schema.vcs-ref = "279FA63""`

We used this to be able to add label containning build-time information (vcs informations, build date, etc...) using http://label-schema.org/rc1/.
This add a lot a b

[2018-11-21 13:51] nartamonov opened #466 "Kaniko doesn't support exclusions in `.dockerignore`"
**Actual behavior**
Kaniko doesn't support exclusions in `.dockerignore`.

**Expected behavior**
Kaniko should respect exclusion patterns in `.dockerignore`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create `.dockerignore` with the following content:

[code]

2. Kaniko (latest version) will delete all files in current context, but it should not delete `target/scala-2.12/backend.jar`.

[2018-11-21 14:16] alex-leonhardt-els commented on #464
Okay, I think I found out what this is, I had to move all the files into `/kaniko` which seems like being some hardcoded path (I didn't look at the code yet) .. doing that worked and I've successfully produced a `tar` output.

In essence:

[code]

[2018-11-21 14:16] #464 closed

[2018-11-21 14:18] alex-leonhardt-els commented on #464
Found the reference here: https://github.com/GoogleContainerTools/kaniko/blob/7afb11cdf7a9315c05709bdb6ea94025d086ba41/pkg/constants/constants.go#L30

[2018-11-21 14:29] dgageot commented on #465
Thank you @tblaisot for submitting this issue!
Will you be able to create tickets for the compatibility issues that you faced too?

[2018-11-21 14:40] alex-leonhardt-els commented on #464
Nope, that didn't work, it went all green and had a artifact but that was bad and creating the image didn't actually happen .. it panic'd at some point which I blindingly didn't see 🙈

[2018-11-21 14:45] PI-Victor commented on #464
my issue is that, while there are no obvious errors, i see no tar file created in the specified directory.
with the official image i have the same problem.

[2018-11-21 14:57] alex-leonhardt-els commented on #464
It seems you have to use `--destination localhost --tarPath=output.tar` and not `--no-push`, using the latter will not generate anything

[2018-11-21 14:59] alex-leonhardt-els commented on #464
using the `-v debug` flag, I see a little more going on ...

[code]

but still no explanation why the chmod happens and whether that is the `/` of the current running container, or the `/` of the container to be built ...

[2018-11-21 15:04] tblaisot commented on #465
Hi @dgageot
After a little analyse this morning i found that the bugs we have are already in the issue list:
we encounter #453 when using npm because the cache is on /root/.npm ...
BTW the node image is the one we encounter the more problem with (because of cache folder and global folder), I think it is a very good candidate to test kaniko :)
and i think we encouter #331 but not so sure about this

[2018-11-21 15:11] dgageot commented on #465
👍

[2018-11-21 15:13] alex-leonhardt-els commented on #464
So I thought to try a simpler Dockerfile - https://github.com/gooflix/kaniko-test - and it gets a little further but now I get this:

[code]

failing with...
[code]

[2018-11-21 21:12] ffahri commented on #434
@samuela hey did you try this? did you encounter any problem with custom container

[2018-11-21 21:48] samuela commented on #434
@ffahri No, I've switched back to docker in a VM for the time being. I may take another look at kaniko in the future but not being able to use kaniko as a simple executable (or at least support for that use case) was a dealbreaker for us.

[2018-11-22 00:02] priyawadhwa commented on #464
@alex-leonhardt-els yes, exactly! kaniko will not look at any files in mounted volumes or in the `/kaniko` directory, but other than that any changes to the filesystem will be appended as new layer to the final image after each dockerfile command is executed.

[2018-11-22 10:01] etiennelb commented on #466
Hi folks.

I had the same issue right now.
I have a dockerignore file with the same content :
[code]

I ran kaniko with the following command, mounting my local workspace in the container :
[code]

Kaniko deleted all my project files.

I lost everything. Even my local git repository... :disappointed:

[2018-11-23 09:14] dzoeteman commented on #457
Can confirm this is fixed with #461, so this can be closed.

[2018-11-23 09:14] #457 closed

[2018-11-26 00:31] priyawadhwa commented on #466
@etiennelb I'm SO sorry to hear that. I'll see if I can change the functionality so that dockerignore files are stored in memory and ignored during build time, instead of removing them at the beginning.

[2018-11-26 09:08] gimler commented on #453
fixed now thx

[2018-11-26 09:08] #453 closed

[2018-11-26 14:37] WoodProgrammer opened #469 "Kaniko lstat and Fd error"
I've got a dockerfile shown as below .

[code]

After run that command `/kaniko/executor --context project --dockerfile project/Dockerfile --no-push` command after I've an error shown as below .

      error building image: error building stage: lstat proc/49/fd/3: no such file or directory
What is the reason of this issue .

[2018-11-26 20:39] markns opened #471 "/kaniko/executor -h hangs on microk8s distribution"
I'm trying to run a kaniko build on a [microk8s](https://microk8s.io/) kubernetes distribution, but for some reason the /kaniko/executor executable just hangs.

Even with the debug docker image, it's kinda hard to figure out what's going on since there's not much that's useful for debugging, and no package manager.

Any clues what might be causing this?

On a brand new ubuntu 14.04 image:
[code]

[2018-11-27 08:52] ktsakalozos commented on #471
Hi,

I see this happening on 18.04 outside MicroK8s.

Start with a new ubuntu on GCE `sudo apt-get install docker.io` and try
[code]

It will hang.

[2018-11-27 14:32] markns commented on #471
As @ktsakalozos mentions, this doesn't appear to be related to the microk8s distribution. However, it is related to the fact that microk8s uses a dockerd installed as a snap.

apt-get
[code]

Snap
[code]

[2018-11-27 14:45] markns commented on #471
Here's the output of journalctl -f whilst running `sudo docker run -it  gcr.io/kaniko-project/executor:debug-v0.6.0 -h` and hitting ctrl-c 3 seconds later.

[code]
hit ctrl-C
[code]

[2018-11-27 17:58] priyawadhwa opened #472 "Flaky integration test"
We should look into this flaky integration test:

    	integration_test.go:241: Difference in number of layers in each image is 1 but should be 0. Image 1: Image: [gcr.io/kaniko-test/docker-dockerfile_test_meta_arg] Digest: [b14452bdb444ddad9ab2c2d85cc4d9114abb91e4d43d815de5d6b4bbccb5e4b9] Number of Layers: [3], Image 2: Image: [gcr.io/kaniko-test/kaniko-dockerfile_test_meta_arg] Digest: [3bde6500

[2018-11-27 21:36] bobcatfish commented on #57
Implementation should be similar to #250

[2018-11-27 21:37] bobcatfish commented on #73
Kaniko seems stable without this, closing for now.

[2018-11-27 21:37] #73 closed

[2018-11-27 21:42] bobcatfish commented on #232
Shouldn't cause a bug now due to #369 but can still move the dir into `/kaniko`

[2018-11-27 21:45] bobcatfish commented on #276
Currently assuming `--no-push` handles this, plz re-open or open a new issue if not.

[2018-11-27 21:45] #276 closed

[2018-11-27 21:46] bobcatfish commented on #279
Please follow up if you run into any more problems @sayyes566

[2018-11-27 21:46] #279 closed

[2018-11-27 21:47] bobcatfish commented on #299
Thanks for opening this @StevenACoffman ! Note that Kaniko uses https://github.com/google/go-containerregistry under the hood, which might meet your needs - if not, can you give us some examples of what you'd like to do with this library?

[2018-11-27 21:48] bobcatfish commented on #301
Closing - assuming fixed in latest version, please re-open if not!

[2018-11-27 21:48] #301 closed

[2018-11-27 21:50] bobcatfish commented on #307
We have this covered in unit tests, gonna assume this is good! Turns out that [integration tests are a scam](https://blog.thecodewhisperer.com/permalink/integrated-tests-are-a-scam) :(

[2018-11-27 21:50] #307 closed

[2018-11-27 21:52] bobcatfish commented on #317
Would be pretty cool to check the layer contents! ❤️

[2018-11-27 21:53] bobcatfish commented on #331
@kmadel are you still running into this issue or did @peter-evans 's suggestion work for you?

[2018-11-27 21:54] bobcatfish commented on #335
Gonna close this for now, this was part of an effort our team was making to create an update lib which seems like not the direction we're currently going atm.

[2018-11-27 21:54] #335 closed

[2018-11-27 21:56] bobcatfish commented on #357
Closing since this is an issue with  [go-containerregistry](https://github.com/google/go-containerregistry)

[2018-11-27 21:56] #357 closed

[2018-11-27 21:58] bobcatfish commented on #372
@nicolaferraro are you still running into trouble here?

[2018-11-28 00:06] StevenACoffman commented on #299
Thanks! I would like make a github commit generate a docker container with a AWS Lambda invocation. I can easily make an AWS Lambda webhook listener that subscribes to github events like commits, but then I need to go tell some other server to start up to build the container with kaniko. I can use AWS Codebuild, or leave some persistent servers around even when I don't need them, but I'd rather ju