[2020-05-03 21:44] AndreKR commented on #1217
With v0.17.1 it works. With v0.19.0 it's broken.

[2020-05-03 22:46] khassel commented on #1102
as long as this is not implemented you can add https://github.com/estesp/manifest-tool to the kaniko-image.

[2020-05-04 03:38] tejal29 commented on #1162
Thanks @TimShilov for your help verifying this build.

[2020-05-04 03:38] #1215 closed

[2020-05-04 03:45] #1150 closed

[2020-05-04 03:47] #1151 closed

[2020-05-04 05:00] #1097 closed

[2020-05-04 05:39] #1162 closed

[2020-05-04 05:41] tejal29 opened #1218 "Document flag `--log-timestamp`"
In #1211 @jonhenrik13 added a flag for log timestamp.

This needs to be documented

[2020-05-04 06:21] caalberts commented on #1162
@tejal29 Thanks for fixing this, really appreciate it! I wanted to try using `gcr.io/kaniko-project/executor:debug-edge`, but it is now failing when I attempt to create a `/kaniko/.docker/config.json`

[code]

Previously I was using  `gcr.io/kaniko-project/executor:debug-v0.16.0` and there was no `nonexistent directory` error. Is this an issue specific to `edge` images, or something has changed be

[2020-05-04 11:30] psmit opened #1220 "Using --skip-unused-stages with `FROM ${arg}` fails with "error building image: could not parse reference""
I was testing out the code that got merged in https://github.com/GoogleContainerTools/kaniko/pull/1165 (created by @JordanGoasdoue and merged by @tejal29 ). I noticed that using variable source images fails when using `--skip-unused-stages=true`

**Actual behavior**
Kaniko exits with the error `error building image: could not parse reference: 2`

**Expected behavior**
Image builds successfully.

*

[2020-05-04 12:14] kyrogue commented on #749
@dani29 yes, most workflows tutorials are catered towards Docker as the container engine, if we are using Kaniko how would the simple workflow with notary work?

[2020-05-04 13:54] sileht opened #1222 "relative WORKDIR doesn't work"
**Actual behavior**

When the first WORKDIR is relative, the generate image doesn't work.

In docker, when we run it we get:

[code]

**Expected behavior**

Be able to run image with first WORKDIR relative, like other builder.

**To Reproduce**
[code]

**Additional Information**
 - Dockerfile
   Please provide either the Dockerfile you're trying to build or one that can reproduce this error.
 - Bu

[2020-05-04 16:40] paisleyrob commented on #1210
I had to edit your command a little as follow to make it work:

[code]

Which worked.

I'm not comfortable closing this issue as I'm using this in a GitLab Runner environment, so I need it work from the kaniko debug image's shell, which it doesn't.

[2020-05-04 16:49] tejal29 commented on #1220
@JordanGoasdoue Can you please verify this build on the given dockerfile. I am planning to do a release in a couple of hours and would love to get this in.

[2020-05-04 17:02] tejal29 commented on #1218
fixed by #1219

[2020-05-04 17:02] #1218 closed

[2020-05-04 17:08] den-is opened #1226 "CLI input is limited to 1024 characters/symbols only, truncating longer input"
**Actual behavior**
My CI/CD (gitlab) image build job is looking like that:

[code]
Problem is in
[code]
After double checking why base64 receives broken/truncated input I've discovered that my variable which is base64 encoded CA ~1600characters long truncated to ~1024 symbols.

tested with:
gcr.io/kaniko-project/executor:debug-v0.17.1
gcr.io/kaniko-project/executor:debug-v0.18.0
gcr.io/kaniko-pro

[2020-05-04 17:08] JordanGoasdoue commented on #1220
@tejal29 this is working now with the change done.
This is the exact same command used by @psmit with his Dockerfile :
[code]

[2020-05-04 17:11] tejal29 commented on #1220
Awesome. Thanks @JordanGoasdoue for a quick turnaround.

[2020-05-04 17:12] #1220 closed

[2020-05-04 17:21] tejal29 commented on #1217
I verified this on latest master and this is no longer an issue. Looks like #1214 fixed it.
[code]

Here is the full log
[code]

[2020-05-04 17:21] tejal29 commented on #1217
Resolved by #1225

[2020-05-04 17:21] #1217 closed

[2020-05-04 17:29] #1222 closed

[2020-05-04 18:06] tejal29 commented on #1127
@bitsofinfo I verified your dockerfile on the latest build with `--whitelist-var-run=false` flag like @dani29 mentioned.

[code]
The build is successful and the permissions are right.
I am going to close this now. Please re-open if you see this issue

[2020-05-04 18:06] #1127 closed

[2020-05-04 18:11] tejal29 commented on #903
@cpointner I verified your issue on the latest kaniko image
This is now fixed on the master
[code]
/kaniko/executor -f Dockerfile --context=dir://workspace --destination=gcr.io/tejal-test/test1 --whitelist-var-run=false
[code]

[2020-05-04 18:12] tejal29 commented on #903
I am closing this now, please re-open if you see this again!

[2020-05-04 18:12] #903 closed

[2020-05-04 18:12] den-is commented on #1226
emmmmm actually I've figured out base64 issue.. really, it was related to somehow broken string.

but still, other images allow more than 1024 characters input while kaniko debug only 1024

feel free to close image if you are not going to "work" on that

[2020-05-04 18:18] tejal29 commented on #830
@JordanGoasdoue Looks this issue is now fixed on master.

[code]

I also verified the image built could be pulled correctly.

[code]

I am going to close this now!

[2020-05-04 18:18] #830 closed

[2020-05-04 18:21] tejal29 commented on #590
@de1m Going through all open issue here. Looks like this is a Environment issue for k8 container.
Can you please let us know if the solution provided https://github.com/GoogleContainerTools/kaniko/issues/590#issuecomment-535637521 works for you?

[2020-05-04 18:29] den-is commented on #656
erm .. encountered the same issue
fascinating how that issue is not yet solved by providing official x64 binaries

workaround from @gebi and (https://github.com/GoogleContainerTools/distroless/issues/225#issuecomment-516738609) has worked perfectly fine

[2020-05-04 18:44] tejal29 commented on #913
@pustovalov1 I verified your `Dockerfile` with `--whitelist-var-run=false` flag.
I had to make a small change to your Dockerfile to pass the "permissions issue"

[code]

Here is the kaniko log
[code]
I am going to close this now. Please re-open if you still see an issue.

[2020-05-04 18:44] #913 closed

[2020-05-04 19:00] tejal29 commented on #1104
@bitsofinfo Can you please try this with  latest v0.20.0 release and let us know if it still exists.

[2020-05-04 19:18] hochreitercorpuls commented on #1162
It is NOT fixed in v0.20.0
so you'll need a
[code]
before your echo. And gitlab needs to change its [documentation](https://docs.gitlab.com/ee/ci/docker/using_kaniko.html#building-a-docker-image-with-kaniko).

[2020-05-04 19:39] AndreKR commented on #1217
I can still reproduce this with v0.20.0.

I eventually managed to make the test case much simpler:

[code]

And here is the full log:
https://gitlab.com/AndreKR/kaniko-test/-/jobs/537737323

[2020-05-04 20:01] arum31 opened #1227 "Missing '.docker' folder in release 0.20.0 break backward compatibility in some pipelines"
**Actual behavior**
My CI/CD (gitlab) image build job looks like this:

[code]

This raises an error during the config file creation:
[code]

After entering the image there is no `/kaniko/.docker` folder as expected (as of v0.19.0).

Tested with:
gcr.io/kaniko-project/executor:debug-v0.19.0
gcr.io/kaniko-project/executor:debug-v0.20.0

**Expected behavior**
`/kaniko/.docker` folder exists.

**To r

[2020-05-04 20:09] gfvirga commented on #1227
Is the new procedure on v0.20.0? Gitlab runners doesn't automount .docker

[2020-05-04 20:10] gajus commented on #1227
@gfvirga You can just update your script to create the directory.

[code]

[2020-05-04 21:02] ddgenome opened #1228 "GCR credential helper check does not respect DOCKER_CONFIG environment variable"
**Actual behavior**

The recently merged [Add ability to use public GCR repos without being authenticated #1140](https://github.com/GoogleContainerTools/kaniko/pull/1140) does not respect the [`DOCKER_CONFIG` environment variable](https://github.com/GoogleContainerTools/kaniko/pull/1140/files#diff-7e3bca94de71172f49c511c814a6f933R56), causing the [check for existence of the Docker config](https://

[2020-05-05 02:15] zanechua commented on #1182
Facing this on the latest 0.20 debug image.

[2020-05-05 07:17] kolikons commented on #1227
also, if the command for auth is using them error apprises like that
[code]

[2020-05-05 09:57] D3N14L commented on #1227
The official GitLab documentation shows an example that is broken since v0.20.0.
https://docs.gitlab.com/ee/ci/docker/using_kaniko.html#building-a-docker-image-with-kaniko

I opened a pull-request that should fix that.

[2020-05-05 12:06] zanechua opened #1231 "--label argument does not support strings with spaces"
**Actual behavior**
Use --label="test string" and builds fail

**Expected behavior**
Build proceeds normally

**To Reproduce**
Steps to reproduce the behavior:
1. Add --label="test string" to as an argument

[2020-05-05 12:13] Forst commented on #1209
Encountering this issue as well. The last working version seems to be `v0.16.0`.

Could #957 be causing the issue perhaps?

[2020-05-05 12:27] D3N14L opened #1232 "builds failing due to "429 too many requests" errors"
**Actual behavior**
Travis CI builds are failing due to "429 Too many requests" errors when downloading the `/docker-credential-gcr_linux_amd64-1.5.0.tar.gz`:

[code]
ADD failed: failed to GET https://github.com/GoogleCloudPlatform/docker-credential-gcr/releases/download/v1.5.0/docker-credential-gcr_linux_amd64-1.5.0.tar.gz with status 429 too many requests: <html>

**Expected behavior**
Builds sh

[2020-05-05 13:22] sbeaulie commented on #1212
@tejal29 this can be reproduced with:

**Reproduction steps**

[code]

1. connect to the running container with `kubectl exec -it kaniko -- sh`
2. make sure `metadata.google.internal` does not resolve, for example setting it to 127.0.0.1 in `/etc/hosts` should do it
3. run `/kaniko/executor --help`

the app will hang without any useful output.

[2020-05-05 19:32] gebi commented on #1209
it seems #1005 describes the same problem with kaniko

[2020-05-05 21:06] gebi commented on #1209
i can verify that for us too the lastest working kaniko version is `v0.16.0`

`v0.20.0` does not build, with the following job output:

[code]

[2020-05-06 02:50] #1227 closed

[2020-05-06 02:51] tejal29 commented on #1232
Fixed by #1230

[2020-05-06 04:25] #1228 closed

[2020-05-06 04:29] tejal29 commented on #595
Sorry folks, this got dropped. Fix here ->  https://github.com/GoogleContainerTools/kaniko/pull/1234

[2020-05-06 04:34] tejal29 commented on #1232
oops i thought this was the bug corresponding to the PR you put out there.

[2020-05-06 05:00] tejal29 commented on #1039
@pbecotte We added a fix in #1214 in v0.20.0 onwards. Can you please see if you still see the issue?

[2020-05-06 05:27] aroq commented on #835
Same issue, same fix, and the same question.

[2020-05-06 05:42] Mokto opened #1235 "[0.21.0] Permission denied when using GCR caching"
**Actual behavior**
After updating to 0.21.0, I get access denied (I'm using GCR).
I haven't tried 0.20.0, because of the bugs present on this one.
But it was working with 0.19, 0.18, 0.17, 0.16.

**Expected behavior**
Being able to push layers through GCR.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to build an image with GCR

**Additional Information**
 - Dockerfile
[code]

[code]

[2020-05-06 05:57] tejal29 commented on #752
@drptbl I tried your dockerfile and am not able to reproduce this error.
[code]
But it could be due to its non-deterministic nature.

[2020-05-06 05:58] ozonep commented on #1235
Yep, just had the same issue while trying to build in Google Cloud Build.
But I didn't have cache enabled.
Just building & pushing image.

[2020-05-06 08:29] ryanprater commented on #1235
Our systems are also impacted by this, with the same permission denied error. I'm assuming this issue will become very popular in the next hours :)

[2020-05-06 08:39] gebi commented on #835
@aroq JFYI we updated kaniko to version v0.16.0 in `mgit/base:kaniko-executor-debug-stable` our integration tests run through without issues and both problems #1209 and #656 are "still" fixed (we have dedicated tests for both problems).

(sorry we are using a mono repo on our side so we can skip releases pretty much on the base images (there are just `-latest` and `-stable`, and i'd really like to

[2020-05-06 08:42] cdupuis commented on #1235
v0.21.0 works fine for us (after v0.20.0 not working). Caching and image push to gcr.io work fine here. But we aren't using GCP's built-in auth and instead have a Docker cred file mounted in our GKE clusters.

[2020-05-06 08:44] cdupuis commented on #1235
Out of interest of what is going wrong here, could you cat your `/kaniko/.docker/config.json` and check that you get the GCR credHelpers installed?

[2020-05-06 08:47] orkaplan commented on #1235
We had the same issue using kaniko executor on google cloud build, downgrade to v0.20.0 works fine

[2020-05-06 09:01] cdupuis commented on #1235
Here's another work-around that let's you run v0.21.0 on GCP:

[code]

I just tested that and confirmed it works.

[2020-05-06 09:02] ghatdev commented on #1235
We had the exact same issue with @orkaplan.
Works fine with v0.20.0, too.

[2020-05-06 09:38] khassel opened #1236 "[v0.2x.0] in base image deleted files are present again in derived image"
**Actual behavior**
Files removed in base image are present again in derived image.

**Expected behavior**
Files removed in base image should not be present again in derived image.

**To Reproduce**
1. build base image:
   Dockerfile:
[code]
   build command: `docker run -v ~/.docker/config.json:/kaniko/.docker/config.json -v $(pwd):/workspace gcr.io/kaniko-project/executor:v0.21.0 --destination k

[2020-05-06 09:44] Andor commented on #1235
https://github.com/GoogleContainerTools/kaniko/compare/v0.20.0...v0.21.0
Only two pull-requests were merged there: https://github.com/GoogleContainerTools/kaniko/pull/1229 and https://github.com/GoogleContainerTools/kaniko/pull/1230

[2020-05-06 10:51] diegosucaria commented on #1236
Yessss! I faced the exact same issue, thank you for writing this issue!!!
I could not find a proper manner to explain it since it is quite a weird behavior.

I spent several hours tracking what was going on, but when I realized it was the latest kaniko release, I fixed it by replacing the latest tag to v19.0.0 version.

I'll not move kaniko versions ever again!

[2020-05-06 11:25] sunnyatticsoftware commented on #1209
@gebi thanks, I confirm with the `mgit/base:kaniko-executor-debug-stable` image I was able to push to DockerHub. Thanks!

This is my script
[code]

Used variables to make it more meaningful for newbies (like myself 1 hour ago)

[2020-05-06 11:32] andeplane commented on #1235
I'm using kaniko to build in our k8s cluster. Also affected by this without Cloud build.

[2020-05-06 11:37] webmutation commented on #1227
So to be clear the official fix for this is to create the directory? This will not be fixed with v0.21.0 ?
Seems a bit counter intuitive but ok

[2020-05-06 11:53] arum31 commented on #1227
@webmutation: as far as I understand the MR https://github.com/GoogleContainerTools/kaniko/pull/1230 has re-added the folder by default. Probably the 0.21.0 will again have the `/kaniko/.docker` folder.

[2020-05-06 12:11] webmutation commented on #1227
Ok. I saw the commit. I did not notice it was already released. Thanks for the fb

[2020-05-06 13:47] RadoBart opened #1237 "Authentication error when pushing to GCR when using kaniko"
**Actual behavior**
Cloud build started failing while pushing into GCR due to an authorization error, reverting to v0.20.0 fixed it.

**Expected behavior**
I expect the latest build of kaniko to successfully build and push a docker image.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the latest kaniko release in one of the cloud build steps

**Additional Information**
Error log output:

[2020-05-06 14:01] ddgenome commented on #1235
This is on me. I have found the bug and will submit another PR.

In short, `/kaniko/.docker != /kaniko/.docker/config.json`.

[2020-05-06 14:29] treethought commented on #1237
Same issue here using gcr.io/kaniko-project/executor:debug in our gitlab CI pipeline. Proper credentials are in place, and was working up until this morning

[2020-05-06 14:44] roychri commented on #1237
This sounds like a dupe of #1235

[2020-05-06 15:05] RadoBart commented on #1237
Yeah, it seems identical, closing this as a duplicate.

[2020-05-06 15:05] #1237 closed

[2020-05-06 15:21] nejch opened #1239 "Provide a `kaniko auth` command, like crane"
Crane provides a `crane auth` command to make auth a bit more convenient in CI environments (since https://github.com/google/go-containerregistry/commit/52c40873dc05f21db65f2de4b86cc62bc53bcc1e).

The recent change in https://github.com/GoogleContainerTools/kaniko/issues/1227 that broke everyone's builds :grin: made me wonder if kaniko could use this approach as well.

[2020-05-06 17:17] #1235 closed

[2020-05-06 17:17] azoom-t-d-tuan opened #1240 "Multistage Dockerfile with copy doesn't cache"
**Actual behavior**
In multistage, caching when copying file from a stage (which has change, although that change does not effect on copied file) to other stage does not happen.
It seems that this happened after fixing issue https://github.com/GoogleContainerTools/kaniko/issues/589

**Expected behavior**
Layers that haven't changed on the previous stage will still be cached on the next stage.

**T

[2020-05-06 17:18] tejal29 commented on #1236
@diegosucaria Sorry for the regression, We are making our test coverage better by adding these Dockefiles to reduce regressions in upcoming releases. We will have a fix ASAP

[2020-05-06 18:08] tejal29 commented on #1236
I used the `dive` tool to open the images built by kaniko and docker

1. Image built by `docker build`
<img width="1637" alt="dockerWhiteout" src="https://user-images.githubusercontent.com/1534539/81212236-71c13380-8f89-11ea-8477-38bf066eddeb.png">

2. Image built by `kaniko`
<img width="1551" alt="remove_files" src="https://user-images.githubusercontent.com/1534539/81212322-974e3d00-8f89-11ea-9eb

[2020-05-06 18:28] tejal29 commented on #1236
I found the culprit which was an optimization commit i added https://github.com/GoogleContainerTools/kaniko/commit/67db51810bca1b10281c4ada0e7340805bd4abd6

[2020-05-06 18:29] khassel commented on #1236
are you talking about
* Step1=build base image or
* Step2=build derived image ?

Step1 is always fine, you can build this with docker, kaniko-v19 or kaniko-v21.

But Step2 fails with kaniko-v21, in this build the deleted files are back.

[2020-05-06 18:37] paisleyrob commented on #1210
Updated to 0.21.0's output with verification this is still an issue.

[2020-05-06 19:47] macrotex commented on #1209
This is also happening to us using the lastest version of "debug" (May 6, 2020) attempting to push to GCR. Seeing this error:

[code]
Changing to tag `debug-v0.19.0` things start working again.

[2020-05-06 20:45] ddgenome commented on #1235
I figured out why this did not turn up in my local testing. This bug only manifested itself after _both_ #1229 _and_ #1230 were merged.

[2020-05-06 21:15] #1236 closed

[2020-05-06 22:14] victortrac opened #1242 "v0.21.0 breaks in cloudbuild for private GCR image"
**Actual behavior**
Builds using gcr.io/kaniko-project/executor:latest started failing with a GCR authentication error today when the kaniko is trying to build a private image hosted in GCR. Changing the kaniko executer tag to v0.20.0 fixes the problem.

[code]

**Expected behavior**
Kaniko executor should be able to read the service account assigned to cloudbuild to pull the docker image from GCR

[2020-05-06 22:33] dinvlad commented on #641
We've just experienced this many times (on a different GCR repo each time, so seems random), using the latest `v0.21.0`. It got resolved after I downgraded to `v0.20.0`.

[2020-05-06 22:38] tejal29 commented on #1242
@victortrac Looks like this got fixed in https://github.com/GoogleContainerTools/kaniko/pull/1238

Would you up for trying the edge build here to confirm?
[code]

[2020-05-07 00:59] #1240 closed

[2020-05-07 01:07] thaituan opened #1244 "Kaniko doesn't cache in Multistage when copying files from a modified stage"
**Actual behavior**
In multistage, caching when copying file from a stage (which has change, although that change does not effect on copied file) to other stage does not happen.
It seems that this happened after fixing issue https://github.com/GoogleContainerTools/kaniko/issues/589

**Expected behavior**
Layers that haven't changed on the previous stage will still be cached on the next stage.

**T

[2020-05-07 01:30] michaelfindlater commented on #1242
I'm also experiencing this bug with `gcr.io/kaniko-project/executor:latest` running on GCP/Cloudbuild and trying to push to a private repository. This worked a week ago and nothing else has changed on our side.

Couriously, `gcr.io/kaniko-project/executor:debug-edge` succeeds without this error.

[2020-05-07 04:17] deepapanwar commented on #1242
Had same issue when using gcr.io/kaniko-project/executor:latest. Runs correctly when using gcr.io/kaniko-project/executor:debug-edge.

[2020-05-07 05:17] dinvlad commented on #1242
Could you please keep this issue open, until this gets released in the new Kaniko version? Thanks!

[2020-05-07 06:31] ALTELMA commented on #1242
@dinvlad +1 and Let me know if it fixes asap.

[2020-05-07 09:23] ngauje commented on #1185
Fixed in v0.21.0  (maybe debug-v0.20.0 ...)
Thanks!

[2020-05-07 09:24] #1185 closed

[2020-05-07 10:18] kwinkel commented on #1200
Our administration team have added the capabilities `DefaultAddCapabilities` from #778 to our PSP for the gitlab-runner, which has resolved this issue.

Docs: https://kubernetes.io/docs/concepts/policy/pod-security-policy/#capabilities

[2020-05-07 10:29] ctison commented on #1242
`gcr.io/kaniko-project/executor:debug-edge` fixed `error checking push permissions [...]` while using GOOGLE_APPLICATION_CREDENTIALS.
Thanks

[2020-05-07 12:33] aytekinar opened #1245 "Bug in shell parameter expansion"
**Actual behavior**

The shell parameter expansion [`${parameter/pattern/string}`][bash-doc] used to work with `0.18.0`, but does not seem to work with `0.19.0` and onwards.

[bash-doc]: https://www.gnu.org/software/bash/manual/html_node/Shell-Parameter-Expansion.html

**Expected behavior**

Given the following `Dockerfile`

[code]

the executor should give (with `VAR=abc` build argument provided)

[2020-05-07 12:36] andraxin opened #1246 "Missing or partial support for pattern substition in variable references (e.g. in RUN)"
Here is a minimal working example that reproduces this issue with across different Kaniko versions, with and without caching. (The script assumes `bash` and a terminal capable of highlighting).
[code]
The output is omitted for brevity (just run the script). The results are mixed.  The following table provides a summary.

| version | cache | no-cache |
| - | :-: | :-: |
| v0.17.0 | OK | OK |
| v0.1

[2020-05-07 12:50] aytekinar commented on #1245
Related to #1246.

Closing the issue for the sake of keeping discussions in one common thread...

[2020-05-07 12:50] #1245 closed

[2020-05-07 16:25] tejal29 opened #1247 "Add integration tests for GCB cloud build."
**Actual behavior**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

**To Reproduce**
Steps to reproduce the behavior:
1. ...
2. ...

**Additional Information**
 - Dockerfile
   Please provide either the Dockerfile you're trying to build or one that can reproduce this error.
 - Build Context
   Please provid

[2020-05-07 16:25] tejal29 commented on #1242
hey folks, I was able to verify the `gcr.io/kaniko-project/executor:edge` works with GCB.
I created an issue to add integration test for GCB.
Would love some contributions~
 https://github.com/GoogleContainerTools/kaniko/issues/1247

[2020-05-07 16:36] tejal29 commented on #1242
Release branch is out https://github.com/GoogleContainerTools/kaniko/pull/1248

[2020-05-07 17:05] tejal29 commented on #1242
https://github.com/GoogleContainerTools/kaniko/releases/tag/v0.22.0 is out. Can someone please try this

[2020-05-07 17:13] zoran15 commented on #1242
It appears to be working for us (compute-image-tools)

[2020-05-07 17:35] tejal29 commented on #1239
Agreed this will be useful. However, I would love to prioritize #1247 before this feature!

[2020-05-07 17:36] tejal29 commented on #1232
hmm looks like we hit the Github API request limit.

[2020-05-07 17:38] TimShilov commented on #1242
Worked for me. Thanks! 👍

[2020-05-07 17:52] #1058 closed

[2020-05-07 17:52] tejal29 commented on #1058
Thanks for confirming @golpa!

[2020-05-07 17:54] tejal29 commented on #1061
related to #1212

[2020-05-07 18:05] tejal29 commented on #1242
Fixed on latest version v0.22.0

[2020-05-07 18:05] #1242 closed

[2020-05-07 18:06] tejal29 commented on #1244
@thaituan The way kaniko caching works right now, it also adds the cache key for `deps` when calculating the cache key. You can make a change here
https://github.com/GoogleContainerTools/kaniko/blob/03b3391fccd8fed97c7d30ad3ffc59d812171535/pkg/executor/build.go#L186

and that should fix your issue.

[2020-05-07 18:09] tejal29 commented on #1226
@den-is glad you found out the issue. I will keep it open with lowest priority in case anyone else wants to work on this.

[2020-05-07 18:12] tejal29 commented on #1209
@macrotex Can you please use kaniko v0.22.0 https://github.com/GoogleContainerTools/kaniko/releases/tag/v0.22.0 and let us know if it still exists.

[2020-05-07 18:19] tejal29 commented on #1200
Thanks @kwinkel got confirming this!
I will close this issue now.

[2020-05-07 18:19] #1200 closed

[2020-05-07 18:19] khassel commented on #1236
Thank you for the fix and the quick release!

[2020-05-07 18:20] tejal29 commented on #1195
@hougangliu currently the team does not have the capacity to add this feature request. we are always looking for contributions!

[2020-05-07 18:30] tejal29 commented on #1191
@jeusdi This error is actually coming from skaffold.
https://github.com/GoogleContainerTools/skaffold/blob/a12d62ba543872055cf8b4502f20216e3518a907/pkg/skaffold/docker/remote.go#L61

Can you please verify if the image is built and pushed to your registry?
skaffold, tries to get the image digest of the built image and this is where i think its failing.

[2020-05-07 18:32] tejal29 commented on #1188
@wswfc from the logs looks like there is some log lines. Do you expect to see more lines after this?
[code]

[2020-05-07 18:35] #1208 closed

[2020-05-07 18:35] tejal29 commented on #1208
You can use kaniko to built your entire image in your cluster if you like!

[2020-05-07 18:36] tejal29 commented on #1183
closing as dupe

[2020-05-07 18:36] #1183 closed

[2020-05-07 18:37] tejal29 commented on #1136
@saidrebhi this is a little bit low on our radar unless we have a number of users pressing for this feature!

[2020-05-07 18:39] tejal29 commented on #1182
@CAFxX Sorry for jumping on this late. Would you able to provide log with `-v=trace`

[2020-05-07 18:51] tejal29 commented on #1181
@jeunii Can you verify if the following capabilities are set for the kaniko pod?

https://github.com/GoogleContainerTools/kaniko/issues/1020#issuecomment-583565813

[2020-05-07 18:52] tejal29 commented on #1179
Sorry for jumping late.
can you provide more detailed logs please?

[2020-05-07 18:54] tejal29 commented on #1177
@samm-git I am not very familiar to `Quay OSS` Are you experiencing issues pushing to a private registry?

[2020-05-07 20:17] tejal29 commented on #590
Closing this due to inactivity.

[2020-05-07 20:17] #590 closed

[2020-05-07 20:18] tejal29 commented on #902
closed as we discussed in #1152

[2020-05-07 20:18] #902 closed

[2020-05-07 20:22] tejal29 commented on #716
@stephen-dexda is it possible for your build process to compute the digest using git tags before spinning a kaniko pod?
https://github.com/GoogleContainerTools/skaffold does it. Would it possible to use skaffold to spin up a kaniko pod?

[2020-05-07 21:57] tejal29 commented on #1172
`--registry-mirror` was a new feature added recently in https://github.com/GoogleContainerTools/kaniko/pull/836/files
@greut would like to take a look at this?

[2020-05-07 22:02] tejal29 commented on #1171
@zhangtbj Kaniko does require following capabilities reported in this issue.
https://github.com/GoogleContainerTools/kaniko/issues/778

As per Kaniko's design, we do require root permission to unpack a FS
https://github.com/GoogleContainerTools/kaniko#security

[2020-05-07 22:03] tejal29 commented on #1171
Please let me know if that helps?

[2020-05-07 22:06] tejal29 commented on #1161
@SamerAdra Can you please provide a reproducible dockerfile?

[2020-05-07 22:18] tejal29 commented on #1149
@Bean900 I am not sure how we can help more with this.
Would it possible for you to send trace logs `-v=trace` to see if something jumps out.
We recently fixed a bug where parent dirs where not added.

Judging from this line here https://github.com/cloudfoundry/grootfs/blob/master/base_image_puller/unpacker/whiteout_handler_linux.go#L22
Looks for a whiteout file in test directory, kaniko did not a

[2020-05-07 22:29] tejal29 commented on #1148
Thanks @james-mchugh for the detailed analysis.
I feel the initial reason for not adding the fully qualified digest was so that warmer will pull down the latest image.
We could definitely use[ `StrictValidation`](https://github.com/GoogleContainerTools/kaniko/blob/0522fe2485c25f55d9d96a028058da0b180e0bec/vendor/github.com/google/go-containerregistry/pkg/name/options.go#L36) here https://github.com

[2020-05-07 23:16] tejal29 commented on #1142
This could be a cool feature to implement but unfortunately not high on our priority list.
I would be up in helping anyone interested in figuring out how to get this implemented.

Maybe you need to add the logic to store the retrieved image into local cache dir if `--cache=true` here
https://github.com/GoogleContainerTools/kaniko/blob/master/pkg/executor/build.go#L520

[2020-05-07 23:20] tejal29 commented on #1133
@dlfoo Kaniko does not return the digest pushed in output or logs.
If the flag `--destination` did not have a fully qualified image, you will have to pull the image digest from the registry.

It would be simple to add that to kaniko also here just after a push was done
https://github.com/GoogleContainerTools/kaniko/blob/0522fe2485c25f55d9d96a028058da0b180e0bec/cmd/executor/cmd/root.go#L111

[2020-05-07 23:21] tejal29 commented on #1120
@valdestron The current team does not expertise for ECR. Would love to see any contributions!

[2020-05-07 23:24] tejal29 commented on #1119
@tanguydelignieresaccenture it is possible this was working before. We have made a bunch of refactors to make developing and maintaining easier. Since this case wasn't covered it could have caused a regression.
I have a POC #1126 here to fix this issue. Feel free to take it home!

[2020-05-07 23:26] tejal29 commented on #1117
@ljakimczuk would love to see the Pr for this. Sorry for the delay in responding.

[2020-05-07 23:41] tejal29 commented on #1111
I tried the dockefile in https://github.com/GoogleContainerTools/kaniko/issues/1111#issuecomment-607793510
This was a easy fix where we did not dedupe the files to saved
https://github.com/GoogleContainerTools/kaniko/pull/1252
Will try to get in next release.

[2020-05-07 23:53] tejal29 commented on #1111
The issue in https://github.com/GoogleContainerTools/kaniko/issues/1111#issuecomment-599593569 is still not fixed.

[2020-05-07 23:54] tejal29 commented on #1107
Thanks @robertbus for posting the workaround. Currently we don't support `tar.xz`. We could use some help with it!

[2020-05-08 00:05] tejal29 commented on #1023
@f0o currently there is now way. Maybe we could support it somewhere here to auto add build args from env variables. https://github.com/GoogleContainerTools/kaniko/blob/9f4fead7b52df63c28761137dd2c3a8c07bf74d5/pkg/commands/add.go#L48

[2020-05-08 00:08] tejal29 commented on #1013
@haampie and @astefanutti kaniko uses go-container registry to push to registry.
It would be great to introducing some debug logs to mark start of push and end of push to clearly understand if its go-container registry is a bottle neck here or something fishy going on kaniko's side.

[2020-05-08 00:11] tejal29 commented on #902
as discussed in #1152 this is not something that fits in kaniko's goals. Closing this.

[2020-05-08 00:14] tejal29 commented on #260
closing this due to inactivity. We don't have docs yet for this and dont plan to add in near future.

[2020-05-08 00:14] #260 closed

[2020-05-08 01:27] #1111 closed

[2020-05-08 01:41] tejal29 commented on #1176
@mothershipper This is now fixed on master and latest kaniko release!

![Uploading proof.png…]()

Please re-open if you this issue again.

[2020-05-08 01:41] #1176 closed

[2020-05-08 01:43] thaituan commented on #1244
@tejal29  thank for your responding.

[2020-05-08 01:46] thaituan commented on #1244
@tejal29  thank for your responding. I see in line:
https://github.com/GoogleContainerTools/kaniko/blob/03b3391fccd8fed97c7d30ad3ffc59d812171535/pkg/executor/build.go#L186
and line:
https://github.com/GoogleContainerTools/kaniko/blob/03b3391fccd8fed97c7d30ad3ffc59d812171535/pkg/executor/build.go#L188
are the same with 2 different cases. It looks like the key cache of the `deps` is being generated

[2020-05-08 02:05] zhangtbj commented on #1171
Hi @tejal29 ,

Yes, we also verified that we need those 5 permissions.

We added in our pod security context.

It is help. Thanks!

[2020-05-08 02:05] #1171 closed

[2020-05-08 02:08] tejal29 commented on #1129
I was not able to reproduce your use case @olivierboudet
[code]
It could also be because, the `gcr.io/go-containerregistry/gcrane:debug` has an empty `/bin/` which get extracted and overridden.
Can you file a bug with them?
<img width="1252" alt="proof" src="https://user-images.githubusercontent.com/1534539/81362554-fb5e2780-9095-11ea-8a4f-19696940d95c.png">

[2020-05-08 02:32] macrotex commented on #1209
Version 0.22.0 fixed my issue.

[2020-05-08 02:33] tejal29 commented on #656
@gebi Trying to fix this here https://github.com/GoogleContainerTools/kaniko/pull/1254

[2020-05-08 02:36] tejal29 commented on #1244
We need to remove it from both cases i.e.
- when a cached command is used
- when a regular command is used.

Please let me know if you need any more pointers.

[2020-05-08 04:01] chrissng opened #1256 "Auth not successful when using GCP Artifact Registry"
**Actual behavior**

When building and pushing and image to a repository hosted in GCP Artifact Repository, authentication failed with the error:
[code]

**Expected behavior**

Authentication and pushing of the image should succeed.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up docker repository in GCP Artifact Registry
2. Setup kaniko job that uses GKE Workload Identity as auth mec

[2020-05-08 06:12] greut commented on #1172
@tejal29 I'll give it a look, cheers.

[2020-05-08 06:26] wswfc commented on #1188
Hi @tejal29  ,

These log lines are printed by "apt-get install". In normal scenarios (using docker build or running the executor manually in the debug image shell) they are, and should be, displayed once (meaning the runit package is installed and configured successfully) and then the image is built without error.

In the failed case (using kaniko executor image to build) , these lines are never

[2020-05-08 07:34] bramus commented on #1111
Do I create a separate issue?

[2020-05-08 08:14] zanechua commented on #1182
Just ran again with `0.22` and it seems to be gone. Wondering if it was related to cpu/memory of the CI runner.

[2020-05-08 08:48] tingshua-yts opened #1259 "how to set cache not expired"
I use warmer cache base image , but a few days later the cache wile be expired.
How can I set cache not expired?

expired log:
ESC[36mINFOESC[0m[0000] Resolved base name tensorflow/tensorflow:2.1.0-gpu-py3 to tensorflow/tensorflow:2.1.0-gpu-py3
ESC[36mINFOESC[0m[0000] Resolved base name tensorflow/tensorflow:2.1.0-gpu-py3 to tensorflow/tensorflow:2.1.0-gpu-py3
ESC[36mINFOESC[0m[0000] Retrieving im

[2020-05-08 09:56] thaituan commented on #1244
@tejal29
Thank you for the help.
I tried removing this block:
https://github.com/GoogleContainerTools/kaniko/blob/03b3391fccd8fed97c7d30ad3ffc59d812171535/pkg/executor/build.go#L184-L189
and it looks like my problem has been solved. But I don't have enough experience to check if it is bad for other cases.

[2020-05-08 17:47] woz5999 commented on #552
Thanks to the tip from @malmuzaini, I was able to fix my issue by updating my .dockerignore

[2020-05-08 20:29] mothershipper commented on #1176
Thanks @tejal29 and @gilbsgilbs, confirmed that 0.22.0 fixes the issue in our repro repository.

[2020-05-08 21:10] ljakimczuk commented on #1117
@tejal29 no worries! I opened the PR [here](https://github.com/GoogleContainerTools/kaniko/pull/1260), I see the code changed a bit since i forked, but i hope the solution still fits you.

[2020-05-08 22:43] dlfoo commented on #1133
re reading the docs again, setting digest-file argument should achieve what I want right ?

https://github.com/GoogleContainerTools/kaniko/blob/master/README.md#--digest-file

For example, setting the flag to --digest-file=/dev/termination-log will write the digest to that file, which is picked up by Kubernetes automatically as the {{.state.terminated.message}} of the container.

[2020-05-09 06:41] greut commented on #1172
@ajcollett I suspect that's because the mirror is using the strict validation name, which adds `library`.

Do you mind trying this image which uses weak validation?
https://hub.docker.com/layers/greut/executor/debug-0.22.1-alpha/images/sha256-5e03d7eb4260574f57e781e5bbb06240a51e105286a40acde80a6bd695813e21?context=explore

If this doesn't work, the cache will have to use strict validation as well.

[2020-05-09 17:35] olivierboudet commented on #1129
Ok, I tested again with kaniko 0.22.0, I reproduced it.

[code]

I will open an issue with gcrane but this dockerfile is fully building with docker deamon.

[2020-05-11 04:03] mmmdreg commented on #1179
I retested on debug-v0.22.0

I cannot copy/paste the logs as I am in a corporate network, but the only interesting things are:

[code]

It looks basically similar to https://github.com/containerd/containerd/issues/3291

Did by chance 0.16.0 and below use proactive auth (send the credentials on the first request) instead of waiting for a 401? In contrast to what this says now: https://github.com/co

[2020-05-11 09:07] ronnn opened #1262 "Multi-stage COPY --from uses wrong cache"
**Actual behavior**

We're using kaniko to build our images in a GitLab runner within OpenShift. When the first `COPY` expression in a Dockerfile is a `COPY --from` expression, the cache is used, even though a previous stage produced a layer which is different from the one in the cache.

I created https://github.com/ronnn/kaniko-caching as a reference to reproduce the bug.

Also see: **False-posit

[2020-05-11 19:37] aronchick commented on #659
This is really valuable @donmccasland - I couldn't find docs on how to get kaniko to authenticate though. Can you point at it?

(this was the first result in google, so it'd be nice for anyone looking for it in the future)

[2020-05-11 21:13] zaventh commented on #1172
@greut

This does not resolve the issue for me:

[code]

The first line of the Dockerfile is `FROM node:12-alpine`

[2020-05-12 02:12] mmmdreg commented on #1179
Tried with the latest `debug-v0.22.0` with verbosity increased and both with and without cache. I’m in a corporate network so I can’t paste logs but here is the gist of it:

[code]

There are no other lines.

Note that this still works with 0.16.0 and below. My best guess is something changed in how go-containerregistry performs auth.

[2020-05-12 04:22] Jeiwan commented on #1176
It works for us too, thanks!

[2020-05-12 06:44] greut commented on #1172
@zaventh okay, I'll try to setup the cache for ourselves. The alternative I've had in mind what that the cache should use the StrictValidation.

[2020-05-12 07:48] ajcollett commented on #1172
Hello @zaventh,

Just want to clarify what you mean by below?

I setup the docker registry proxy myself. I can post the docker file if that'd be helpful, but it's very standard. Normally we set the "proxy mirror" settings up in the daemon on our servers, and the image names just work. No 'library' needed.

Pretty much use this: https://docs.docker.com/registry/recipes/mirror/

[2020-05-12 09:56] greut commented on #1172
does it work when `cache` is off?

[2020-05-12 10:27] greut commented on #1172
Another question, do you mind pointing me where the `cache-dir` is populated by the `warmer`?

https://github.com/GoogleContainerTools/kaniko#caching-base-images

[2020-05-12 10:44] greut commented on #1172
okay, I can reproduce it.

[code]

[2020-05-12 12:42] greut commented on #1172
@ajcollett `greut/executor:debug-v0.22.1-alpha.1`

[2020-05-12 17:06] zaventh commented on #1172
@greut That fix does indeed work. I was able to build images where both the `FROM` is a base image like `node:12-alpine` as well as from private registries. It also works in multi-stage Docker builds. Thanks.  :100:

[2020-05-12 19:00] swist commented on #1262
We've hit that too. Our workaround was to modify the Dockerfiles to ensure the "from IMAGE" is cache bust when needed

[2020-05-13 08:21] astefanutti commented on #1013
@tejal29, we've been able to pinpoint the cause at the level of the go-containerregistry library.

Thanks to @nicolaferraro, he's created google/go-containerregistry#715 that should fix this issue.

[2020-05-13 09:50] firaxis opened #1265 "GCR auth broken when --no-push is set since v0.20.0"
**Actual behavior**
When running the docker kaniko with --no-push, cache is not available and pushing new cache layers fails.

**Expected behavior**
Docker image should be built using cache.

**To Reproduce**
[code]

**Additional Information**
 - Dockerfile
[code]

 **Triage Notes for the Maintainers**
The latest version it works is v0.19.0
[code]

 | **Description** | **Yes/No** |
 |-------------

[2020-05-13 14:10] DarwinJS opened #1266 "Build Debug Image on Something More Capable than Busybox"
**Actual behavior**
GitLab CI (and I imagine many others) instructs me to use the debug image and override the entrypoint in order to run my CI job right inside the Kaniko container.  It works nicely.

However, as soon as I have something simple to do like use git to pull tag information, I'm stuck because busybox has no package manager and very little ability to do runtime installs.

I know I can

[2020-05-13 18:50] firaxis commented on #788
Running into same issue.
Can I help with any more details ?

[2020-05-13 19:33] dinvlad commented on #918
Same issue here. We're using GCR for `--cache-repo` and ECR for `--destination`. Specifying either
[code]
or
[code]
works, but when we supply both:
[code]
then we are getting the above error (`POST https://XXX.dkr.ecr.us-east-1.amazonaws.com/v2/zzz/blobs/uploads/: unsupported status code 401; body: Not Authorized`)

[2020-05-14 08:50] jinchihe commented on #301
/reopen

I can hit the problem now, any solution to work around? Thanks.
[code]

[2020-05-14 08:56] jinchihe commented on #301
/open

[2020-05-14 09:00] jinchihe opened #1267 "Error building image due to connot connect 104.18.125.25:443"
**Actual behavior**
A clear and concise description of what the bug is.

I can hit problem below while build image, we cannot connect the network, any work around solution?
[code]
I cannot reopen #301, so open new issue, thanks.

**Expected behavior**
image can be built.

**To Reproduce**
Steps to reproduce the behavior:
Using kaniko v0.22.0 to build the image.

**Additional Information**
 - Docke

[2020-05-14 09:48] jinchihe commented on #1267
Guess that's caused by network issue, so that the image cannot be downloaded.

[2020-05-14 17:06] ymage commented on #1209
I tried to use https://index.docker.io/v1/ instead of **v2** one as docker registry url, which seemed to work for me.
Is v2 endpoint really suported by kaniko ?

[2020-05-15 00:10] GTB3NW commented on #1209
Hey I still get the aws_credentials error:

`Using Kubernetes executor with image gcr.io/kaniko-project/executor:debug-v0.22.0 ...`

[code]

[2020-05-15 10:01] ajcollett commented on #1172
@greut It works for me now! I have tested both with and without `library/`.

Thanks for this!

Some more info. I am using a GitLab instance, which has built in capability to cache layers. My .gitlab-ci.yml for interest sake (sorry, I didn't twig this might be helpful earlier):

[code]

[2020-05-15 13:48] EmilyEmily opened #1268 "kaniko v0.20.0~latest build creation time is slower than kaniko v0.19.0"
**Actual behavior**
I tested with latest kaniko image to create buildrun on IBM Kubernetes Services (IKS) Cluster,  and found the average buildrun creation time with kaniko image >= v0.20.0 is longer than that with kaniko image v0.19.0 and v0.18.0.

Buildrun creation time is calculated in this way:
[code]
I did some tests to apply kaniko 0.18.0/ 0.19.0/0.20.0/0.22.0(latest), this is the buildrun c

[2020-05-15 21:12] swist opened #1269 "Kaniko caching behaviour different to dockers"
**Actual behavior**
It should not matter what was the input to a multistage build if the end stage is the same.
Suppose I have a filesystem and a `find` that always results in the same files being kept. If this is a stage of a docker build then it should not matter if other files change.

**To Reproduce**
Steps to reproduce the behavior:
1. kaniko version (roughly, since the caching behaviour has

[2020-05-16 19:22] juanmacasau opened #1270 ""no valid providers in chain" in Jenkins"
Im trying to use Kaniko in my Jenkinsfile:

[code]

And always I get the following error

[code]
 And my pipeline does not stop never.

Somebody knows what is the problem?

Thanks!

[2020-05-18 00:24] #1267 closed

[2020-05-18 02:39] anna-codefresh commented on #1209
I too am getting the same error with v0.22.0.  I tested this and the latest version to work is 0.16.0 as @gebi mentioned.

[2020-05-18 07:59] ymage commented on #1209
This seems to work for docker hub  :
[code]

[2020-05-18 10:00] evheny0 commented on #1259
You can use `--cache-ttl` flag to set expiration time for cache. For example `--cache-ttl=1440h` for two months.

[2020-05-18 15:22] ffahri commented on #1231
Hey @zanechua label argument expects key=value format
[code]

Could you share your fail message it might be because of that

[2020-05-18 17:24] anna-codefresh commented on #1209
thanks @ymage.  I was using the v2 docker endpoint instead of v1.

[2020-05-18 17:42] webmutation commented on #687
As far as I can tell this still does not work. I have two registries I would like to push the same image, if I add multiple auths it fails.

In config.json

`{"auths":
	{"registrya.org":
		{"username":"usera","password":"[MASKED]"}
	},
	{"registryb.com":
		{"username":"userb","password":"[MASKED]"}
	}
}`

It will fail running

`         /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_P

[2020-05-18 18:31] webmutation commented on #687
As far as I can tell this works. I have two registries I would like to push the same image

In config.json

`{"auths":
	"registrya.org":
		{"username":"usera","password":"[MASKED]"}
	},
	"registryb.com":
		{"username":"userb","password":"[MASKED]"}
	}
    }
}`

`         /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile \
         --build-arg IMAGE_DATE="$(date --u

[2020-05-19 00:43] johnmanko commented on #1179
I'm running into this same error.  My setup is GitLab & GitLab Runner in docker.  The private registry is Nexus.  Nexus is accessible and I'm able to request tokens outside of my build job.

[code]

**GitLab Runner Output**:
[code]

[2020-05-19 10:31] zanechua commented on #1231
[code]

[2020-05-19 10:50] slayer opened #1271 "panic: runtime error: index out of range [0] with length 0"
[code]

[2020-05-19 15:02] slayer opened #1272 "Feature request: Cache layers in local-cache-dir"
Hi

It will be great to be able have layers cache in local cache dir.

[2020-05-19 22:30] #1256 closed

[2020-05-19 22:39] #1129 closed

[2020-05-19 22:40] #595 closed

[2020-05-20 03:16] gino-m commented on #946
Same here using executor:latest (v0.22.0).

error building image: error building stage: failed to execute command: extracting fs from image: removing whiteout .wh.workspace: unlinkat //workspace: device or resource busy

Dockerfile, sans comments:
[code]

[2020-05-20 06:03] alex1989hu commented on #985
We are also affected - upvote +1

[2020-05-20 07:28] alex1989hu commented on #1262
Could you provide an example, please?

[2020-05-20 13:43] alxbse opened #1275 "Multistage with debug and cri-o deletes /busybox directory"
**Actual behavior**

When doing multistage builds in cri-o the /busybox directory gets deleted.

**Expected behavior**

When doing multistage builds in cri-o the /busybox directory should remain and commands in it should still run.

**To Reproduce**
1. Have access to a kubernetes cluster using cri-o as container runtime.
2. Create this simple pod to test behaviour.
[code]
3. Execute a command in t

[2020-05-20 16:54] tejal29 commented on #1271
hmm this should not typically happen. Can you share your dockerfile.

[2020-05-20 18:23] tejal29 commented on #1275
Kaniko detects volumes by in `DetectFilesystemWhitelist` by reading `/proc/self/mountinfo`
Can you trying switching your cri config to `VolumeBind` https://github.com/cri-o/cri-o/blob/8099c284868b7180ed3b459495502b58f28d7dd8/server/container_create.go#L177?

[2020-05-21 10:23] slayer commented on #1271
Yes, actually it was happen when `FROM` is not defined properly

Dockerfile
[code]

and additional `--build-arg IMAGE=${DOCKER_IMAGE}` solves the problem
but IMO error message can be more helpful

[2020-05-21 12:57] alxbse commented on #1275
Thanks for the tip.

When switching the `image_volumes` setting from `mkdir` to `bind` it will indeed create a volume, but it will be an empty volume not a volume containing the files from the image like containerd does. So in the case of kaniko the `/busybox` directory will be an empty volume.

Maybe this behaviour is a bug in cri-o?

Reading through the https://github.com/opencontainers/image-sp

[2020-05-21 18:01] johnmanko commented on #1157
Confirmed.

From my GitLab job:

[code]

[2020-05-21 18:05] johnmanko commented on #1157
Changing the image from `gcr.io/kaniko-project/executor:debug-v0.16.0` to `gcr.io/kaniko-project/executor:debug-v0.22.0` seems to have gotten me past this issue.

[2020-05-21 20:36] chanseokoh opened #1277 "Fetch BusyBox binary from busybox.net instead of Distroless after running "bazel build""
Unrelated, the way Kaniko fetches BusyBox is inexplicably convoluted. Why getting it from a Distroless image after building it with `bazel build`, while it can simply download the file directly from busybox.net (which is [what Distroless does](https://github.com/GoogleContainerTools/distroless/blob/eddfb5cd7a24d656f77afae595ffe6c232eab847/WORKSPACE#L194))? It's a single binary file. Doesn't make m

[2020-05-22 08:33] alex1989hu commented on #656
/cc @tejal29
Related:
- https://github.com/GoogleContainerTools/kaniko/issues/1277
- https://github.com/GoogleContainerTools/distroless/pull/513

[2020-05-22 17:13] WesCossick opened #1278 "Running `nginx -t` causes "no such..." error"
**Actual behavior**
With kaniko, running the `nginx -t` command produces either a `No such file or directory` or `No such device or address` error, even with an official, unmodified NGINX image. This does not happen with Docker.

**Expected behavior**
The `nginx -t` should not produce an error if the configuration file is valid.

**To Reproduce**
1. Attempt to build the Dockerfile below
2. Receive

[2020-05-22 23:52] dmilan77 commented on #1110
I just tested with this
`#: Dockerfile
FROM python:3.7.7-slim-buster as part-one
RUN set -x \
    && python -m venv /venv
RUN ls -l /venv

FROM python:3.7.7-slim-buster
COPY --from=part-one /venv /venv
RUN ls -l /venv`

It's failing.
`INFO[0016] args: [-c ls -l /venv]
ls: cannot access '/venv': No such file or directory
error building image: error building stage: failed to execute command: waiting

[2020-05-23 00:43] Tom-Br opened #1279 "Kaniko fails to execute Dockerfile with Exec notation"
**Actual behavior**
I am building a Docker image of a maven application. During build Kaniko fails on the Exec notation of the maven command.:
I.E.: RUN ["mvn", "clean", "compile", "package", "--activate-profiles",  "echo ${env}"]

However docker build runs the file just fine.

**Expected behavior**
Build runs perfectkly fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Build a Maven App

[2020-05-23 01:03] dmilan77 opened #1280 "Multistage COPY fails `gcr.io/kaniko-project/executor:debug`"
I just tested with `gcr.io/kaniko-project/executor:debug`

[code]

It's failing.

[code]

_Originally posted by @dmilan77 in https://github.com/GoogleContainerTools/kaniko/issues/1110#issuecomment-632946871_

[2020-05-23 01:06] MAHDTech commented on #1280
Do you by chance have a .dockerignore file?

There seems to be a recent regression where the .dockerignore is read during multi-stage builds so the files are ignored when the copy takes place.

I use a .dockerignore in whiltelist mode and this caught me out as as well.

[2020-05-23 14:57] UbiquitousBear opened #1281 "Pushing to nexus not working"
**Actual behavior**
Pushing to nexus Sonatype fails with error:
`error checking push permissions -- make sure you entered the correct tag name, and that you are authenticated correctly, and try again: checking push permission for "r.csf.dev/shamil/personal-website:test": POST https://r.csf.internal/v2/shamil/test/blobs/uploads/: UNAUTHORIZED: access to the requested resource is not authorized`

**

[2020-05-23 16:53] dmilan77 commented on #1280
It did the trick. Seems still a bug.

[2020-05-23 21:22] tejal29 opened #1282 "Snapshotting is taking more than 10 mins."
**Actual behavior**
Snapshotting FS should for a Node js project  with `npm install` command should be faster than current.

**Expected behavior**
Looks like `TakeSnapshotFS` is a bottleneck for projects with huge number of files.
e.g .for a project with file count 800K, the `TakeSnapshotFS` takes almost 15-20 mins.

After some investigation, i found out we loop over files multiple times. In this

[2020-05-24 09:56] juanmacasau commented on #1270
Somebody can help me? It is for my final degree project :(

[2020-05-24 13:17] ball-hayden commented on #1270
I can't be much help, but I can tell you that `while getting AWS credentials NoCredentialProviders` is likely a red-herring - your problem is likely elsewhere.
We see this in our logs all the while, and the build continues quite happily:

[code]

[2020-05-25 04:43] ejose19 commented on #1242
I'm getting this on executor:debug-v0.22.0
[code]

[2020-05-25 04:46] ejose19 commented on #1280
Same case here, using .dockerignore in whitelist mode, either removing the .dockerignore or setting it to * right before the building may be a workaround while this is solved

[2020-05-25 09:23] schumac2 commented on #1154
Any help on this?

[2020-05-25 13:01] rjdp opened #1286 "Kaniko cache warmer fails to download said image"
**Actual behavior**
when running:
`docker run -v $(pwd):/workspace gcr.io/kaniko-project/warmer:latest --cache-dir=/workspace/cache  --image=python:3.5.9-buster`

I get error:
`Failed warming cache: Failed to write python:3.5.9-buster to tar buffer: stream error: stream ID 21; PROTOCOL_ERROR`

**Expected behavior**
Should successfully download layers image and populate warmer cache

**To Reproduce

[2020-05-25 13:16] olivier-mauras opened #1287 "AWS error reported when building images inside Kubernetes without direct Internet access"
**Actual behavior**
When running Kaniko inside a Kubernetes cluster that don't have a direct internet access - private registry only - it seems to take an unusual long time - 45 to 60s (timeout?) - before giving the following error:

E0525 12:58:00.462141      15 aws_credentials.go:77] while getting AWS credentials NoCredentialProviders: no valid providers in chain. Deprecated.
	For verbose messag

[2020-05-25 13:19] olivier-mauras commented on #1287
#1270

[2020-05-25 13:58] Tazminia commented on #1271
@tejal29 should I take a look at this ?

[2020-05-25 21:48] gino-m commented on #946
@tejal29 Update: We were able to get this working for our project by writing deps to /usr/src instead of /workspace, and then moving them to /workspace at build time (see https://github.com/google/ground-platform/pull/289/files). I'm not sure if this is the correct approach, but wanted to share in case it's a viable workaround and in case it can help isolate the cause.

[2020-05-26 07:05] Bean900 commented on #1149
Thanks for the answer :)
Hopefully this tracelog will help you (Run with Kaniko 0.22):
[consoleText.txt](https://github.com/GoogleContainerTools/kaniko/files/4680426/consoleText.txt)

[2020-05-26 08:58] artbegolli commented on #719
Looks like support for private repositories has been recently added through setting the `GIT_USERNAME` and `GIT_PASSWORD` environment variables - here's the commit: https://github.com/GoogleContainerTools/kaniko/commit/6e615a8ff932cee03d767ebeae523aaa72e34fa5

Seems like there's probably a bit of room to document it more clearly in the README - I'll create an MR.

[2020-05-26 20:38] mvn-srizzari commented on #998
I've been looking into this and could also use a feature like it.  Keeping the cache in the registry is ideal to speed up CI jobs.  Perhaps the feature is best suited in the warmer rather than executor.

The best workaround I could come up with is to:
1. List the tags of the layers in the cache prefix
1. Build an argument list with the image name and the tags
1. Run the gcloud container image dele

[2020-05-27 17:11] WesCossick commented on #1206
One thing we noticed with some of our company's images is that `/lib/x86_64-linux-gnu/libz.so.1` is a symlink to `/lib/x86_64-linux-gnu/libz.so.1.2.8` (your specific version may vary).

Because of that, this command...

[code]

...works just fine with Docker, but does not seem to work with kaniko. We didn't do a whole lot of testing as to why—I assume it's either not copying anything at all, or ju

[2020-05-28 11:08] sfynx commented on #1265
This also breaks any FROM from a GCR repository that depends on authentication.

[2020-05-29 14:44] will-darkwolf commented on #1270
I am also running into this issue with a gitlab-ci build running on kubernetes.

My gitlab-ci.yml job looks like:
[code]

[2020-05-29 15:09] will-darkwolf commented on #1270
@juanmacasau

I was able to build with this base image gcr.io/kaniko-project/executor@sha256:f652f28537fa76e8f4f9393de13a064f0206003c451ce2ad6e4359fd5a21acbc from a month ago. Not really a fix, but a workaround.

[2020-05-30 03:58] LeslieK commented on #918
Here is a sequence diagram of authn : a package used by Kaniko.
https://github.com/google/go-containerregistry/tree/master/pkg/authn#authn

After the 401 is received from the Registry, does kaniko send out the next request: GetAuthConfig()?

[2020-05-31 15:06] rashmispai opened #1290 "Push to IBM cloud registry failing intermittently, retry if available can solve the issue."
Running kaniko build in IBM Cloud and we have builds happening for multiple components in parallel. Intermittently one of the components fail to push the container registry, this is causing us to do the complete pipeline again.

Whenever it fails, log is as below. A retry should obviously solve our problem but I see retry option is not yet available in Kaniko, any suggestion or help on solving thi

[2020-06-01 09:38] kivio opened #1291 "Jfrog Container Registry push check failed"
**Actual behavior**

Kaniko raised exception when pushing to Jfrog Container Registry (JCR).
[code]

**Expected behavior**

It should work - docker configured same way is working correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure JCR in config.json
2. Try to build

**Additional Information**
- my config file looks like that, it's copied from logged docker that works:
[code]

[2020-06-01 09:46] kivio commented on #1291
Running in debug or even trace level doesn't give more informations.

[2020-06-01 15:03] swist commented on #1269
Any news on this?

[2020-06-01 16:56] pnquest commented on #1161
@tejal29 I was able to reproduce this using

[code]

The contents of the `microsoft.gpg` file can be obtained by curling `https://packages.microsoft.com/keys/microsoft.asc` into that file

[2020-06-01 21:09] joe-sonrichard opened #1292 "RUN in shell form works, RUN in exec form breaks, works in Docker"
**Overview**
I have an [sbt ](https://www.scala-sbt.org/) generated Dockerfile which builds in docker but not Kaniko. Kaniko fails to find executable when a RUN command is in [exec form](https://docs.docker.com/engine/reference/builder/#run).

**Actual behavior**
Docker image doesn't build because chown not in `$PATH`.

Error message:
`error building image: error building stage: failed to execute

[2020-06-02 07:37] sameersbn opened #1293 "Unable to push image to GCR when using base image from private registry"
**Actual behavior**

Unable to build and image image to gcr registry when using a base image from a private registry

**Expected behavior**

Should be able to pull images from a private registry to build my docker image and push the image to gcr registry.

**To Reproduce**

I have a `Dockerfile` that use a base image registry.redhat.io/rhel8/nginx-116 from registry.redhat.io which is a private reg

[2020-06-02 13:46] grollinger commented on #1073
Tested today with debug (and debug-edge).
It is as @mschickervxob said:
- works locally using `docker run`
- doesn't work in GitLab CI using a k8s runner

In my case the base image was `dtzar/helm-kubectl:3.2.1`

[2020-06-02 14:09] ball-hayden commented on #1270
I'm also seeing this from within a GKE cluster.

We've been using kaniko in the cluster happily. This morning we enabled the workload identity feature and metadata server and kaniko now hangs as described.

[2020-06-02 15:41] olivier-mauras commented on #1287
So I can work this around by removing these lines:
https://github.com/GoogleContainerTools/kaniko/blob/master/pkg/creds/creds_linux.go#L38-L51

The AWS issue seems to come from there: https://github.com/vdemeester/k8s-pkg-credentialprovider/blob/master/aws/aws_credentials.go#L68 while it keeps trying to make a new session while there's no AWS option/variable set.

[2020-06-02 15:44] ball-hayden commented on #1270
In my case, this was caused by a network policy preventing access to the Google Metadata Server (`metadata.google.internal`).

Even though the network policy allowed egress on port 80, this didn't work.
Only workaround so far is to remove the egress rules from the network policy (so that any connections are allowed).

Kaniko should IMHO timeout after some (reasonably short) period when trying to g

[2020-06-04 05:26] sameersbn commented on #1265
i have the same issue. I worked around it by removing `--no-push` and pushing the image with the tag `_` so that the cache is updated

[2020-06-04 05:29] sameersbn commented on #1282
I am facing this issue as well. this step takes the most number of cycles in my builds. optimizing this will greatly reduce the build time of ALL my images.

[2020-06-04 14:07] mattbennett commented on #779
This does not work for me locally now. I get

[code]

Full repro here https://gist.github.com/mattbennett/c338d29870782b455b950ec209d21b45

[2020-06-04 20:23] #656 closed

[2020-06-04 20:24] #1117 closed

[2020-06-04 20:27] tejal29 commented on #1277
fixed by #1254

[2020-06-04 20:27] #1277 closed

[2020-06-04 21:30] #1282 closed

[2020-06-04 22:17] tejal29 commented on #1286
@rjdp can you try again. I wasnt able to reproduce this.
[code]

[2020-06-04 22:20] bobcatfish opened #1297 "Can't use kaniko with alpine due to /var/run behavior"
**Actual behavior**

Tekton is using Kaniko to build a Docker image from alpine and recently the builds started failing.

_TL;DR_

The alpine:3.12 image has /var/run aliased to /run. When running kaniko in a kubernetes pod with service accounts, the serviceaccounts often seem to end up mounted to /var/run.

Kaniko is ignoring the contents and state of /var/run in the base image (alpine:3.12) but u

[2020-06-04 22:42] tejal29 commented on #1292
@joe-sonrichard Kaniko debug image  provides `chown`
[code]

Or else you will have to use an image which provides the command.
e.g
https://github.com/GoogleContainerTools/kaniko/blob/1bf4421047570790ced358f60118b58709628c15/integration/dockerfiles/Dockerfile_test_parent_dir_perms#L1

[2020-06-04 22:42] #1292 closed

[2020-06-04 23:04] rjdp commented on #1286
this is little strange, was able to reproduce once but not in further attempts. Thanks :) in case I find leads to reproduce I will let you know. closing this.

[2020-06-04 23:04] #1286 closed

[2020-06-05 02:37] tejal29 commented on #1297
@bobcatfish I don't think using `--whitelist=/var/run` is the right approach here.
You would not want your secrets end up in the image.

I tried building your image like this to inspect what the FS looks like.

[code]
it failed as expected.

The file in the concerned dir is the secret file.
[code]

I removed the read-only secret mounted to `/var/run` and the build works fine.
[code]

Can the read

[2020-06-05 03:14] tejal29 commented on #1280
@ejose19 Can you try with latest v0.23.0 version? With this release, `.dockerignore` is only for copy statements applied in first stage.

[2020-06-05 07:06] olivier-mauras commented on #1297
This wouldn't work on Kubernetes that mounts the service account secret automatically under /var/run right?

[2020-06-05 08:12] cmorty opened #1298 "--target does not support upper case chars"
**Actual behavior**
When using targets with upper case characters kanoko fails with
[code]
When using lower case stages everything is fine.

Docker works fine.

**Expected behavior**
Detect target with upper case chars correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Create image with multiple stages where the stages have upper case names
2. Run kaniko with --target

**Additional I

[2020-06-05 19:47] olivier-mauras commented on #1297
So one ugly hack would be to install your package in a different root and then copy it over / in a scratch package.
I made it work from this minimal Dockerfile directly inside a Kubernetes container:
[code]
Indeed this is only a basic workaround as this will come to bite you back anytime you need to install more packages in an image dependant of this one.... If you don't have much specific needs a

[2020-06-05 20:20] tejal29 commented on #1297
Another hack would be to not fail if `apk upgrade` fails due to error " ERROR: alpine-baselayout-3.2.0-r7: failed to rename var/.apk...."

Say, you create an upgrade script `apk-upgrade.sh`
[code]

[2020-06-05 20:30] olivier-mauras commented on #1297
Wouldn't it be easier for kaniko to extract images and run commands in a separate root context ? How difficult would it be to implement?

[2020-06-05 20:36] tejal29 commented on #1297
After looking at the output of `--no-scripts` looks like the error is actually happening when upgrading `alpine-baselayout-3.2.0-r7`

[code]
However it is still installed.
[code]

[2020-06-05 20:47] tejal29 commented on #1297
@olivier-mauras That would involve some major design changes. The way kaniko executed run command is, it actually calls a [`exec.Commad.Start` ](https://github.com/GoogleContainerTools/kaniko/blob/master/pkg/commands/run.go#L67)
I am not sure how to run the command in a separate root context.
Do you mean we map "/" to "/tmp_run_XXX" ?

[2020-06-05 20:55] olivier-mauras commented on #1297
Yeah like using chroot so that you don't have any mixups...
There's problems doing simple things like `COPY --from=another / /` because kaniko works on its own root and then tries to copy /dev,/sys,/proc and the likes.

Would that work? https://golang.org/pkg/syscall/#Chroot

[2020-06-05 21:18] tejal29 commented on #1297
If we choose this approach for every command, i,e map "/" to another directory in "tmp", then i see 2 issues.
1. When executing subsequent run commands, we need to find all file changes/modified or deleted.
if we plan to use this approach, it would mean subsequent run command will be independent of each other which is not case.
To ensure, that, we will have to copy over all changes back to "/" or

[2020-06-05 21:24] olivier-mauras commented on #1297
Exactly

This would probably solve quite a bunch of `COPY` issue at once

[2020-06-05 21:50] tejal29 commented on #1297
The only caveat is, currently i am the only one working actively on this project in 20% capacity.
I wont be able to get this in soon. I can definitely help design/review this.

[2020-06-08 08:09] forty opened #1303 "debug-v0.23.0 docker image has a file owned by a user with high uid"
**Actual behavior**
The file /kaniko/docker-credential-gcr is owned by user uid=205001 gid=89939 in the debug-v0.23.0 docker image, instead of uid=0 gid=0 usually. This cause issues in our CI as we are using user namespace, and this goes out of the range we defined.

**Expected behavior**
Have all files owned by the same user, ideally with a low enough uid :)

**To Reproduce**
1- docker run -it --

[2020-06-08 10:27] aca commented on #1279
Experiencing same issues with latest kaniko build https://github.com/GoogleContainerTools/kaniko/commit/1033ad789b209e20c98f6202e49b292109d92a63

[2020-06-08 10:42] aca opened #1304 "docker exec form just not working"
**Actual behavior**

Dockerfile
[code]
main.go
[code]

[code]

**Expected behavior**
Should not fail

**To Reproduce**
Steps to reproduce the behavior:
https://github.com/aca/kaniko-bug

**Additional Information**
 - Dockerfile
   Please provide either the Dockerfile you're trying to build or one that can reproduce this error.
 - Build Context
   Please provide or clearly describe any files needed

[2020-06-08 10:59] aca commented on #1304
I'm really sorry to bother you. But it is quite critical to our services. Would it be ok to just set this to true if I can't wait for the fix?
[code]
https://github.com/GoogleContainerTools/kaniko/blob/1033ad789b209e20c98f6202e49b292109d92a63/pkg/commands/run.go#L50

[2020-06-08 16:35] tejal29 commented on #1303
Thanks for the bug report, We are using this [dockerfile](https://github.com/GoogleContainerTools/kaniko/blob/master/deploy/Dockerfile#L21) and [Debug Dockerfile](https://github.com/GoogleContainerTools/kaniko/blob/master/deploy/Dockerfile_debug#L22)

Looks like there is an issue here.

[2020-06-08 17:00] forty commented on #1303
Yes, I assume it can be fixed either in the source tar (from https://github.com/GoogleCloudPlatform/docker-credential-gcr/ ) or by chmoding the file in the Dockerfile, I'm not sure which one is best. Maybe both.
I'd say that adding "--chown=0:0" to all the Dockerfile COPY cannot hurt, and make sure kaniko is not affected by such change in upstream projects.

[2020-06-08 17:34] tejal29 opened #1305 "Kaniko Performance Testing."
Hello Kaniko Users,

A lot of kaniko users have mentioned, snapshotting has been a bottleneck especially for `npm`, `yarn` and `apt` projects which end up downloading a number of dependencies.
see issues #1282, #972

We have a new Kaniko Images with a bunch of improvements described below.
[code]

Over the last month, we did a bunch of improvements like
- #1214 - Snapshot FS on first cache miss.
-

[2020-06-08 17:53] tejal29 commented on #1303
Makes sense. would like to create a PR for it? i can review and merge.

[2020-06-08 17:55] joe-sonrichard commented on #1292
@tejal29 I am not sure you understood the error or I am not understanding your response. My image already provides `chown` as evidenced by the fact the 2nd docker file built just fine. The problem is that, given an image which provides `chown`, Kaniko cannot find `chown` if it is run in the [exec](https://docs.docker.com/engine/reference/builder/#run) form but it can if in shell form.

So, in the

[2020-06-08 20:29] kylecribbs commented on #970
This is still happening for me. I do have a huge container; however, sometimes its quick taking the snapshot other times its not.

[2020-06-08 21:22] bitsofinfo opened #1306 "0.23 - error removing var/run to make way for new symlink"
Using 0.23-debug

[code]

ultimately the snippet below derives from `alpine:3.11`

[code]

error:
[code]

Related: https://github.com/GoogleContainerTools/kaniko/issues/1127 ?

[2020-06-08 21:56] bitsofinfo commented on #1306
https://github.com/GoogleContainerTools/kaniko/issues/1002

removed --whitelist-var-run=false and it works now

[2020-06-08 21:56] #1306 closed

[2020-06-09 01:29] hrgui commented on #970
@kylecribbs the later versions of kaniko explain more to why as it says its snapshotting X directories. What version of kaniko are you using?

[2020-06-09 18:15] bsmedberg-xometry commented on #875
I expect the reason for this difference in speed is that "native" docker manages the layered filesystem using overlayfs (overlay2): so taking a snapshot is as simple as telling the FS driver to finish a layer. While kaniko doesn't natively track that on the filesystem, so it has to stop and stat everything in the filesystem in order to take a snapshot.

I'd be interested in whether this is a funda

[2020-06-09 21:40] ejose19 commented on #1280
@tejal29 Can confirmed v0.23.0 fixed the issue.

OT: Can you take a look on this issue #1265 ? It still doesn't work even on latest release.

[2020-06-09 21:47] ejose19 commented on #1265
Neither reading the existing cache nor pushing to it works, as you mentioned last working version is 0.19.0

Msg when reading cache
[code]

Msg when trying to push to cache
[code]

This is critical since without cache builds take a long time, and removing --no-push is not an option since one may just want the tar image to use in next steps of cloudbuild only.

[2020-06-10 00:10] maxhillaert opened #1309 "Azurite Blob Store not supported due to regex?"
Hi

I assumed kaniko would work with an on-premise blob store using Azurite Blob Storage, but it looks like it's tied to the Cloud Azure Blob Storage domain name

Would it be difficult to support this?  It should be the same API.

[2020-06-10 11:59] scones commented on #1073
confirmed for `php:7.4.6-fpm-buster` too

[2020-06-10 15:27] jae-63 opened #1310 "Can one use Kaniko with a RAMdisk to improve snapshotting performance?"
Hi,

We use Kaniko within Gitlab (using our own GItlab environment and GItlab runner, all within AWS/EKS) to build some fairly complex Docker images.    We've recently observed that the "snapshotting" which Kaniko performs makes it impractical to build our most complex Docker image, because it takes too long to run.   Within Gitlab, we run Kaniko by invoking '/kaniko/executor' and we're currently

[2020-06-10 15:47] karolmie1 opened #1311 "Allow for --tarPath artifact to have different owner"
I use kaniko to build docker tar image locally. I understand that kaniko needs to run as a root, but there is no need for output artifact to be root owned.

Therefore I propose introduction of two new parameters:
--tarArtifactUser and --tarArtifactGroup

Usecase: using kaniko as a part of gradle build. Target image is created in appropriate gradle build folder, but afterwards it cannot be cleaned

[2020-06-11 08:16] zhangtbj commented on #1268
Solve the problem by adding these two env properties:
[code]

I have tried, it works better after add the env properties:

Here is the result:

- v0.23 WITHOUT fix:
[code]
You can see AWS credentials check fail and start the build after **43** seconds

- v0.23 WITH fix:
[code]

You can see NO aws creds failures and build start after **5** mins

The 30s delay disappear.

Thanks @SaschaSchwarze0 ! I

[2020-06-12 02:48] yaphetsglhf opened #1313 "Speed up pushing layer to local cache"
Part of my config:
[code]

However, it's too slow, i used kaniko in tektoncd. Here's the result, lt takes for almost 30min. `tbcd-bmjg8-task-build-docker-image-g77cd-pod-5g7cr   0/4     Completed   0          28m`, how to speed up the building.

[2020-06-12 02:50] yaphetsglhf commented on #1313
part of log:
[code]

[2020-06-12 07:14] irizzant commented on #846
Is it possible to merge #1257 ? I have the same permissions problems with the parent folder of my `COPY --chown` command.

[2020-06-12 15:09] siscia commented on #1129
I got a similar problem that @olivierboudet

It can be reproduced also with `cern/slc6-base`.

I solved the problem by re-setting the PATH environment variable inside the dockerfile.
Like this: https://gitlab.cern.ch/cernvm/build-images/-/commit/57ce9d957309253a570aa1fa42e0c3c2bb06d197

[2020-06-12 16:45] kvaps opened #1315 "Kaniko not preserving ownership on staging building"
**Actual behavior**
Kaniko does not preserving owner and group for directories and files on staging building.

**Expected behavior**
Same owner and group as in parent stage

**To Reproduce**
Steps to reproduce the behavior:
1. build Dockerfile bellow
2. Check the permissions:
[code]

**Additional Information**
 - Dockerfile
[code]
 - Build Context
 - Kaniko Image:
[code]

 **Triage Notes for the M

[2020-06-13 16:07] tejal29 commented on #1313
@yaphetsglhf Can you please try the images described in #1305.  You could compare the time
with
`--snapshotMode=redo` and `--use-new-run` and see if that speeds up your build.

[2020-06-13 16:14] tejal29 commented on #1310
@jae-63 Kaniko does snapshot "\". Kaniko reads the mount info and ignores mounted filesystems.
I recently created an optimized images with 2 strategies,
1. Using a fast snapshotting strategy. - does not involving hashing the contents.
2. Use another implementation run command which does not rely on snapshotting.

Please see the details here #1305

Irrespective of these, Kaniko would walk the files

[2020-06-13 16:19] tejal29 commented on #1309
yes, @maxhillaert we do support Azure blob with these naming conventions [here](https://github.com/GoogleContainerTools/kaniko/blob/1033ad789b209e20c98f6202e49b292109d92a63/pkg/constants/constants.go#L82)
It would be easy to update this regular expression and add tests for the newly add expression.

[2020-06-13 16:23] #1303 closed

[2020-06-14 01:19] fabiotamagno opened #1316 "Missing files in node_modules when using --use-new-run=true"
**Actual behavior**
With `--use-new-run=true`, files that exist on the first kaniko run under `./node_modules/` folder, are not available when using the cache.

This happens with the same pattern on every run, and the same files are missing.

The following is from a run with caches:

[code]
(above there should be at least index.js)

[code]
(above there should be dozens of symlinks)

On first build

[2020-06-14 04:34] oohnoitz opened #1317 "Building with `--use-new-run=true` generates an incomplete image"
**Actual behavior**
The `RUN` layers appear to be empty. I've done a few different scenarios and it seems to affect all `RUN` layers after the first `RUN` command.

[code]

I did a test without multistage build and here are the results: https://gist.github.com/oohnoitz/6d46b79619767f0c89bdee89be49689b which has missing RUN layers.

**Expected behavior**

`RUN` layers aren't empty.

[code]

**To Re

[2020-06-15 04:08] yaphetsglhf commented on #1313
it works, thanks.

[2020-06-15 04:08] #1313 closed

[2020-06-15 18:22] caarlos0 commented on #1064
check https://github.com/GoogleContainerTools/kaniko#context-sub-path

[2020-06-15 18:26] caarlos0 opened #1321 "git: mimic --branch and --single-branch git clone flags"
I was looking into having something similar as `git clone --branch foo --single-branch` on kaniko.

The main difference is that git's `--branch` allows for both a branch or a tag, and you don't have to know which one it is beforehand.

I was playing around with some code and found a way to implement it in go-git inspired by git's source code: https://github.com/go-git/go-git/issues/97#issuecomment

[2020-06-15 20:51] tejal29 commented on #1316
Thanks @fabiotamagno for the feedback.
I will look into this.

[2020-06-17 14:03] njgraham commented on #530
I would love to see an aarch64 image provided.  Meanwhile, I may try out the instructions linked by @MansM (with help from Google translate) - maybe it's not too difficult.

[2020-06-19 10:09] zhangtbj opened #1324 "Cannot build Kaniko builder image by using ubuntu base image well"
We need to build the Kaniko builder image by using a different base image, like `ubuntu` or RedHat `UBI` base image.

Right now, the build process can be done correctly when we using UBI base image. But the buildrun execution fail when running apt-get command in user's Dockerfile:

[code]

I tried some other base images:
- **ubuntu**, **UBI8** and **UBI8 ubi-minimal** base images fail as same fail

[2020-06-19 14:35] sisp commented on #713
Are you aware that the values of build args are stored in the Docker image history? Anyone with access to the Docker image can inspect the history and extract secrets passed as build args.

[2020-06-19 17:37] jlewi commented on #968
@tejal29 I just tried as well using kaniko 0.23.0 running in Tekton and it worked with workload identity. I think you can close this issue.

[2020-06-19 20:07] ncri commented on #713
@sisp That is why secrets are encrypted, see original post.

[2020-06-20 00:13] marcinz opened #1325 "Checking push permissions always fails with private registry"
**Actual behavior**
I am using private registry like this:

[code]

My `config.json` is generated by `docker login` and it works fine with docker;
[code]

I get:

[code]

I anonymized the registry name and other details.

**Expected behavior**
Push permission check should pass as the credentials work fine with docker.

**To Reproduce**
Hard to reproduce without access to my private registry.

**Ad

[2020-06-20 11:52] sisp commented on #713
@ncri Do you mean this one? https://github.com/GoogleContainerTools/kaniko/issues/713#issue-466867494 I don't see anything about encrypted secrets. How would encrypted secrets passed via build args work? Could you give an example?

[2020-06-20 13:29] ncri commented on #713
@sisp yes, that one, you can see it here:

[code]

So the secret is not passed directly, but encrypted using googles Cloud Key Management Service. You can find info here: https://cloud.google.com/cloud-build/docs/securing-builds/use-encrypted-secrets-credentials

[2020-06-20 13:45] sisp commented on #713
@ncri I still don't see how the secret provided to the Docker/Kaniko build process as a build arg does not end up in the Docker image history.

To clarify what I mean, let's consider the following example:

1. A simple `Dockerfile`:
[code]

1. Build the Docker image (not using Kaniko here, but the result should be the same with Kaniko):
[code]

1. Check the Docker image history:
[code]
   Notice t

[2020-06-20 15:27] ncri commented on #713
@sisp you might be right, yes, the docker history image will show the decrypted secret. So you still need to take care that you limit access to the images, that are usually placed on the google container registry. The purpose of encrypting the secrets is only to prevent having to check in sensitive data to your code repository. Anyway, might not be the right place to discuss this here. ;-)

[2020-06-20 15:57] sisp commented on #713
@ncri Okay, thanks for clarifying this. I'll open a separate issue about this problem.

[2020-06-20 16:41] sisp commented on #713
I just checked the Docker image history of an image built with Kaniko and it seems Kaniko does _not_ add the build arg value to the history. I wonder whether this is intended. I'll open an issue about this difference to `docker build` instead.

[2020-06-20 17:18] sisp opened #1327 "Build arg value not included in the Docker image history"
I noticed that Kaniko does not include build arg values in the Docker image history while `docker build` does.

This is a minimal example:

1.  A simple `Dockerfile`:
[code]

1.  Build the Docker image ...

    - ... with Docker:
[code]

    - ... with Kaniko:
[code]

1.  Check the Docker image history ...

    - ... of the Docker-based image:
[code]

    - ... of the Kaniko-based image:
[code]

D

[2020-06-22 12:24] runzexia commented on #1271
I also encountered the same problem.
my dockerfile is
[code]

[2020-06-22 16:22] mayrbenjamin92 commented on #875
@bsmedberg-xometry I love your explanation as I fully agree. I have just recently watched a very good talk about the "backend" of the Docker daemon in which a guy responsible for the file-system at Docker explains the differences. Whilst it sounds like possible to actually do what you have suggested, I think that it can't be achieved without changing the source-code of kaniko.

[2020-06-22 21:58] tejal29 commented on #1271
Please do @Tazminia . Would appreciate any help here.

[2020-06-22 21:59] tejal29 commented on #1317
Thanks @oohnoitz. this is high on my priority list and will take a look this Friday

[2020-06-23 11:43] ddgenome commented on #1181
This issue is likely with the version of COS_CONTAINERD you are using. As mentioned here, https://github.com/containerd/containerd/issues/4182#issuecomment-646798361 , the issue has been confirmed by GCP support.

[2020-06-24 10:05] lllamnyp commented on #923
A common pattern we employ is
[code]

In the context of a local cache, could `executor --cache-from /path/to/tarball/of/image.tar` be a reality?

[2020-06-24 12:32] z0mb1ek opened #1329 "Missing ':' in substitution"
Hi. I try to build image with gcr.io/kaniko-project/executor:debug-v0.23.0 and it fail on command
[code]

with error
`error building image: error building stage: failed to optimize instructions: failed to process "RUN         ldd ${PREFIX}/bin/ffmpeg | grep opt/ffmpeg | cut -d ' ' -f 3 | xargs -i cp {} /usr/local/lib/ &&         for lib in /usr/local/lib/*.so.*; do ln -s \"${lib##*/}\" \"${lib%%.s

[2020-06-25 10:08] Matts966 commented on #636
Could it be possible to load image and locally and pushing it to the destination parallelly?

In my use case on Google Cloud Build, I always use the built image after the build finished, and always loading image takes long time.

The interface like below is desirable for me

[code]

[2020-06-25 12:34] kevinleturc commented on #846
Hello,
Do you know when #1257 would be merged?

[2020-06-25 15:37] swist commented on #1269
Hey bumping this again

[2020-06-25 18:28] tibbon commented on #1297
I'm running into this too. Upgrading from a Ruby image that uses 3.10 to 3.12 and I'm hitting this in my Gitlab CI. Unsure what the best path forward is there.

[2020-06-26 00:03] hughobrien commented on #1297
One particularly quick fix is : `apk upgrade --no-cache --ignore alpine-baselayout`. Though be warned, apk explicitly says that partial upgrades aren't supported (but at least you can test).

[2020-06-26 01:14] jpower432 commented on #1297
@bobcatfish can you share the workaround that is working for you? We are running into the same issues using Kaniko in our Tekton pipelines.

[2020-06-26 15:59] Matts966 opened #1331 "Loading built image to local docker daemon while pushing the image to destination parallelly"
**Feature Description**
When using kaniko on cloud build, it is desireble to load built image to local docker daemon while pushing the image to destination parallelly.

For example, destination specification like below can suggest kaniko to load image to local docker daemon.

[code]

If this feature is acceptable but not high priority, can I try make a PR, because we would like to fasten our cloud

[2020-06-28 19:39] kumprj commented on #1291
I'm able to push to JFrog using Jenkins and shell scripts. I have a step that does
`echo '{"auths": {"jfrog.company.com": {"username":"userhere", "password":"jfrogpw"}}} > /kaniko/.docker/config.json`

[2020-06-29 01:54] manojtr opened #1332 "Certificate verification failed on popular https website when pulling packages"
**Actual behavior**
When running apt-get RUN command as part of Dockerfile, the certificate verification fails on popular websites like nginx.org and apache.org

I am running these on kaniko-project/executor:debug-v0.23.0 image and using the following Dockerfiles:

https://github.com/nginxinc/docker-nginx/blob/70e44865208627c5ada57242b46920205603c096/stable/buster/Dockerfile
https://github.com/doc

[2020-06-29 11:40] abhi1git opened #1333 "Image build process Freezes on `Taking snapshot of full filesystem...`"
**Actual behavior**
While building image using **gcr.io/kaniko-project/executor:debug** in **gitlab CI runner** hosted on **kubernetes** using helm chart the image build process freezes on **Taking snapshot of full filesystem...** for the time till the runner timeouts(1 hr)
This behaviour is intermittent as for the same project image build stage works sometimes

Issue arises in multistage as well

[2020-06-29 12:29] matzhaugen opened #1334 "Push only"
**Actual behavior**
Currently there is no way to only push an image without a build step. I would want to separate the build and push steps so that the build stage, which runs code execution, does not have push credentials to a private container registry. If there is code execution and registry credentials present in the kaniko executor, the registry could be compromised if the executor and possib

[2020-06-29 12:59] dave08 commented on #1059
Got this when I enabled cache use (works without it):

Is this related to this issue?

[2020-06-30 06:12] chrw opened #1335 "Cannot install bash with Alpine 3.12"
**Actual behavior**

I have the following Dockerfile in place.

[code]

I create the container using Kaniko in the current version (v0.23.0)

[code]

If I try to run bash, I get the following error message.

[code]

Readline is installed though

[code]

If I reinstall `bash` within the container itself, it's working.

[code]

If I build the container using the common `docker` commands, it's not an

[2020-06-30 06:22] SaschaSchwarze0 commented on #1305
Hi @tejal29, we were investigating the performance image for the https://github.com/redhat-developer/build project. The improvements are great. I also investigated the exact changes that were done.

Introducing a file system snapshotting mode that works without looking at the file content is foreseeable a great improvement. The fact that the algorithm seems to be proven due to previous usages in o

[2020-07-01 07:15] hochreitercorpuls opened #1337 "Kaniko image gcr.io/kaniko-project/executor:debug-v0.24.0 says its version is 0.23.0"
**Actual behavior**
When running a kaniko image `gcr.io/kaniko-project/executor:debug-v0.24.0` running `/kaniko/executor version` inside will result in `0.23.0`

**Expected behavior**
I would expect it to return `0.24.0`

[2020-07-02 10:29] dren-dk opened #1340 "COPY --chown 107:107 fails when /etc/passwd or /etc/group doesn't exist"
**Actual behavior**

I have the simplest Dockerfile that looks like this:
FROM scratch
COPY --chown=107:107 disk.qcow2 /disk/disk.qcow2

Kaniko fails on the copy command due to it missing /etc/passwd:

[code]

**Expected behavior**

I would have liked the file to be added with uid 107 and gid 107 regardless of the existence of /etc/passwd or its contents.

**To Reproduce**

Use this Dockerfile:
[c

[2020-07-02 13:50] renatosuero opened #1341 "Add GCR instruction - Pushing to Different Registries"
The documentation has a [section](https://github.com/GoogleContainerTools/kaniko#pushing-to-different-registries) to show how to push in private registries. The doc says it supports GCR, docker, and aws. The examples only show docker and aws.
[Here](https://github.com/GoogleContainerTools/kaniko#running-kaniko-in-a-kubernetes-cluster) in k8s section, we have the configuration to GCR, we need to de

[2020-07-02 14:41] rrichardson commented on #584
I have Kaniko jobs that run in parallel on my CI system.  If the system is busy, I see these errors:

[code]

This appears to be some problem on my registry side, but it only happens in high traffic. It would be great to have a retry, since the build succeed, but the push temporarily failed.

[2020-07-02 20:19] bkempe commented on #1059
Also seeing this on 0.19.0 and 0.20.0 with `--cache=true`:
[code]

It works with `--cache=false`.

[2020-07-03 07:07] #1268 closed

[2020-07-04 11:06] kmindi commented on #1334
I'd like to see this feature as well for a staged build pipeline, where in betwen the build (that is not yet pushed except cached layers mabe) and the push stage I could use Trivy to check the build image for security issues. It's important to do this before pushing the final image and not after it has already been pushed. (see related question on how to do that https://stackoverflow.com/questions

[2020-07-05 13:54] matzeeable opened #1343 "[Question] Force to use existing cache"
Hi!

I am using `kaniko` now for a long time on Open Source projects and private repos within a GitLab CI. I've been trying to figure out how to "force a cache usage" within a `Dockerfile` - and just want to ask here, is this possible?

**Context:**

I am using `yarn` inside my `Dockerfile` and want to hot-cache my 3rd party dependencies:

[code]

If the `package.json` changes, the builder throws

[2020-07-06 07:07] SaschaSchwarze0 commented on #1305
Hi @tejal29. I noticed the v0.24.0 release. Thank you for doing that. What about my concerns about the `use-new_run` flag mentioned above, do you have comments about them?

[2020-07-06 15:25] wanderrful commented on #1023
+1
Also would like this to be standard behavior

[2020-07-06 15:36] wanderrful commented on #764
If we filter credential-based ENV vars from being able to get printed normally, how can we confirm that they are being injected properly into the build?

[2020-07-06 16:30] seboudry commented on #687
If you want to push to GCR using a JSON key file and also to other registries, you must define `config.json` file with `gcr` credential helper alongside with other `auths` registry credentials.

Example with https://docs.gitlab.com/ee/ci/docker/using_kaniko.html and also GCR:
[code]

[2020-07-06 20:58] bobcatfish commented on #1297
Hey @jpower432 - our workaround is just to pin to alpine 3.11 https://github.com/tektoncd/pipeline/pull/2757 This works for us because we didn't have any particular need to use 3.12 but won't work for you if you actually need 3.12 :O

[2020-07-06 21:17] dHannasch opened #1346 "Mount when invoking kaniko plain"
It would be useful to be able to mount a directory (even just the build context) to make it accessible within the Dockerfile.
This is obviously possible when using Kubernetes, but there doesn't seem to be any option to /kaniko/executor that has the effect of `--mount` (as how /kaniko/executor takes `--build-arg`).

The functionality apparently already exists (though I haven't been able to figure o

[2020-07-07 13:59] wanderrful commented on #1262
I wonder if an even dirtier workaround could be to rename your stages in the Dockerfile for each Kaniko build. Obviously that'd be too much trouble, though.

[2020-07-07 23:37] marcinz commented on #1325
OK, this is entirely my fault. I was not using a tag, and this was the issue. Adding a tag fixes everything, i.e:

[code]

[2020-07-07 23:37] #1325 closed

[2020-07-08 12:54] virth opened #1347 "GCR image pull - permission denied when using --no-push"
**Actual behavior**
After updating from v0.19.0 to v0.24.0 (also not working since v0.21.0) we're getting access denied when pulling a previously built image from GCR when using `--no-push`.

In a first step we build a "base" docker image with all our dependencies that gets pushed to GCR so we can use this image for multiple test and build steps later. When we try to pull the previously built imag

[2020-07-08 12:55] virth commented on #1347
As this was working  before I have a strong suspicion, that this bug was introduced at the same time as https://github.com/GoogleContainerTools/kaniko/issues/1235. It seems that Kaniko just somehow ignores the authentication against GCR as soon as `--no-push` is used (which would make sense because you don't wanna push but I would still like to pull an image from that registry 😄 )

[2020-07-08 19:30] sbrunk commented on #1347
According to #1265, pulling and pushing caches from/to GCR doesn't work either when `--no-push` is used which supports your assumption.

[2020-07-09 06:32] virth commented on #1347
Seems like #1265 describes exactly the error we have. Just didn't find that one yesterday.

I close this issue since I can track bugfixing in #1265

[2020-07-09 06:33] virth commented on #1265
We have the same issue with a FROM for an image in GCR (submitted with #1347).

[2020-07-09 15:52] vistaarjuneja commented on #1209
+1. I am able to upload docker images with https://index.docker.io/v1 but not https://index.docker.io/v2 with the latest kaniko debug executor image. Is anyone working on this issue?

[2020-07-10 11:57] virth opened #1348 "caching with COPY --from"
**Actual behavior**

Kaniko uses a the cached version of a `COPY --from` command although the copied source has changes in it and shouldn't be cached.

Disclaimer: I'm not entirely sure if this is a bug or if the "correct" caching of a `COPY --from ...` command is simply a feature that's not supported yet.

In a first step we build a "base" docker image with all our dependencies that gets pushed t

[2020-07-13 11:47] ddgenome commented on #1346
`docker run -it -v LOCAL_PATH:CONTAINER_PATH gcr.io/kaniko-project/executor:latest KANIKO_ARGS`

[2020-07-13 13:03] SS-TT commented on #480
Sorry to reply to a closed issue but I don't want to open a similar one.

What do you mean by `path to credentials`?
We just tried pointing this to our service account's JSON key file but it doesn't work.

[2020-07-13 13:20] gajus commented on #1346
You example requires to use Docker.

In our case (running Kaniko in Docker [GitLab CI/CD runner]), we cannot do that.

[2020-07-13 14:18] haampie opened #1349 "Kaniko does not detect plain `runc` container"
**Actual behavior**
When running kaniko with a bare `runc` setup, it does not detect the container environment and issues a warning.

**To Reproduce**
[code]

  | **Description** | **Yes/No** |
 |----------------|---------------|
 | Please check if this a new feature you are proposing        | <ul><li>- [ ] </li></ul>|
 | Please check if the build works in docker but not in kaniko | <ul><li>- [ ]

[2020-07-13 14:43] haampie commented on #1349
Following https://github.com/systemd/systemd/blob/4096043f05b5e9e5c306ea24d34fcc4e2977e18d/src/basic/virt.c#L449 I think the detection mechanism should be:

We're inside of a container when our pid is 1 and `/proc/1/sched` has pid 1 as well.

I guess this has to be fixed upstream. The genuinetools/amicontained package no longer provides the runtime detection, that has moved to https://github.com/g

[2020-07-13 19:28] kamikaze commented on #1297
same here

[2020-07-14 05:47] aca commented on #769
Faced the similar issue with v0.24.0
[code]
[code]

[2020-07-15 02:55] bitsofinfo commented on #846
0.24 has something like this still. My `chowns` on directories are not taking

[2020-07-15 14:46] hlubek commented on #900
There is still a case that leads to different layers that I observed today in one of our builds:

- If files are deleted between layers, the deleted files will be iterated over a map (unstable) and collected in a slice
- The whiteouts that are written to the tar are thus not stable and result in a tar file with different order (but same contents)

The code should be quite easy to fix by adding sor

[2020-07-15 17:56] darewreck54 commented on #786
@tejal29 should this be re-opened?

[2020-07-15 20:32] msembinelli commented on #1316
Confirming that I also see this issue! Would really like to see this fixed as the new run command was SO much faster, however all my projects are node...

[2020-07-16 20:28] bitsofinfo commented on #1297
https://github.com/GoogleContainerTools/kaniko/issues/1127

[2020-07-16 20:32] bitsofinfo commented on #1297
i have other issues continually w/ kaniko when any operations (like `COPY`) go against prior targets that are symlinked. The original permissions always get removed, this does not happen w/ docker build.

[2020-07-16 21:48] bitsofinfo opened #1351 "v0.24.0: COPY of a dir applies permissions from local machine into image? Builds w/ docker does not"
Kaniko: `debug-v0.24.0`

Docker: `19.03.8` on a mac

I have a directory that exists with specific permissions prior to a `COPY` statement.

After the `COPY` statement the permissions change when the build is done w/ kaniko.

When I build with docker this does not happen.

Note the directory which is the target of the `COPY` is accessed via a symlink, may or may not be related

Full issue is produc

[2020-07-17 02:31] jpatterson-fastly opened #1352 "COPY not creating relative workdir directories"
**Actual behavior**
Somewhere between 0.14.0 and latest, behaviour has changed with copying files into relative directories which need to be created within the WORKDIR, eg, if I have this dockerfile, I expect that `bin/` would be created within the WORKDIR, and the file placed into this path (other tools successfully create the relative directory, and place file inside, and did so before 0.14 of K

[2020-07-17 10:24] hpdvanwyk commented on #1352
We see something similar.

Our dockerfile has something like
[code]
Attempting to pull the resulting image results in
[code]
Doing something like
[code]
creates a working image.

[2020-07-17 14:13] pvgbabu commented on #925
@cvgw

Could you explain how do you setup   up a custom hostname for  registry

[2020-07-17 15:35] JacobHenner opened #1353 "Kaniko builds fail on k8s GitLab CI runner when /etc/ssh is mounted"
**Actual behavior**
When kaniko is used to build an image within a GitLab CI Kubernetes [executor](https://docs.gitlab.com/ee/ci/docker/using_kaniko.html), the build fails with the following error if `/etc/ssh` is mounted within the executor (the Kubernetes pod created by GitLab for the build).

[code]

However, if I change the mount path to something else (e.g. `/etc/ssh.bak/`), this error does n

[2020-07-17 15:47] JacobHenner commented on #1353
I just tested using a FROM image without `/etc/ssh`, which leads me to believe that somehow there is a conflict when a path exists within both the image and the kaniko host, if the path on the kaniko host is read-only (as it would be for a read only Kubernetes ConfigMap volume)?

[2020-07-18 02:34] dHannasch commented on #1346
@ddgenome in addition to what @gajus said, it appears that what you're trying to do is something else entirely. The point is not to get anything mounted into the running `gcr.io/kaniko-project/executor:latest` kaniko container --- that's easy. The point is to get a string into the image *that is being built, as it is being built*.

Looking at e.g. https://gitlab.com/guided-explorations/containers/

[2020-07-20 16:15] pvgbabu commented on #702
@tejal29 , how did you fixed this issue, could you let us know

[2020-07-20 17:45] kumprj commented on #1059
Experiencing this "only works with cache=false" with v0.19.0 as well. Going to try 0.23 when I get a chance.

[2020-07-20 18:03] RaveNoX commented on #1352
Looks like problem in WORKDIR handling, because have similar problem, but with RUN after WORKDIR

[2020-07-21 11:20] matzhaugen opened #1354 "Pull base image from private repo without pushing"
**Actual behavior**
In a situation where one wants to build a dockerfile which uses a private base image without pushing the built image, the current behavior will not log you in and validate your registry credentials, e.g. in the gcr case, thus failing to pull the base image. In particular this [code snippet](https://github.com/GoogleContainerTools/kaniko/blob/cdbd8af0578c56e2801b57461e9f417f9479

[2020-07-21 21:03] victorpaulo opened #1355 "Kaniko seems to be not honoring the Dockerfile COPY command"
**Actual behavior**
I am trying to build and push an application which contains a Dockerfile. I can build using docker and perform a curl, howerver when Kaniko build the same Dockerfile, I get an exception when the container spins up.

**Expected behavior**
I was expecting the same Dockerfile to work on both container runtimes, however the behaviour is different;

**To Reproduce**

Step 1: Create

[2020-07-21 21:27] victorpaulo opened #1356 "Error during build process - failed to execute command"
**Actual behavior**
I am trying to build and push an application which contains a Dockerfile. I can build using docker and perform a curl successfully, howerver when Kaniko build the same Dockerfile, I get an exception when building the container.

**Expected behavior**
I was expecting the same Dockerfile to work on both container runtimes, however the behaviour is different;

**To Reproduce**

St

[2020-07-22 09:16] hobti01 commented on #846
in 0.24.0 I also see:
[code]

In the resulting image:
[code]

[2020-07-23 06:54] isker opened #1357 "Why are `COPY` layers cacheable?"
The [README says](https://github.com/GoogleContainerTools/kaniko/blob/0c71a1bb0ea1eb619ea369a72cd0d6763790aa3f/README.md#caching-layers) that only `RUN` layers are cacheable.  But last year `COPY`s were also made cacheable
 in https://github.com/GoogleContainerTools/kaniko/commit/dbabcb1f5fc101c2735c9438cf326e8a8a51aac4 (cc @donmccasland).

I'm not an expert in docker, but it's not clear at face v

[2020-07-23 13:35] abhi1git commented on #1333
Can you please elaborate snapshot for which filesystem is being taken while building image so that we can see if filesystem size is causing this issue. we are using kaniko to build images in gitlab cicd and runner is deployed on kubernetes using helm chart.
Preiously this issue used to arise randomly but all of our kaniko build image jobs get freeze on `Taking snapshot of full filesystem...`
@teja

[2020-07-24 23:02] dHannasch commented on #1327
Incidentally for anyone looking into this: for a few "magic" arg names, standard `docker build` *won't* save them in the `docker history`.
https://docs.docker.com/engine/reference/builder/#predefined-args
(Everyone knows that, but I didn't know that, and it confused me when looking into this.)

[2020-07-25 15:28] #1356 closed

[2020-07-25 15:28] #1355 closed

[2020-07-27 10:17] srinikitha09 commented on #478
Is there any workaround to resolve this issue?

[2020-07-28 07:34] hashworks commented on #1107
Basically xz needs to be added [here](https://github.com/GoogleContainerTools/kaniko/blob/7eb2458ba48dfad9cc135c3607f6c2035bc93f6c/pkg/util/tar_util.go#L175).

Also, we need a library to do that, f.e. https://github.com/ulikunitz/xz

Additionally, one has to write tests for that.

[2020-07-28 08:30] ijaouani opened #1360 "error building image: error building stage: failed to get filesystem from image: stream error: stream ID 3; PROTOCOL_ERROR"
**Actual behavior**
kaniko breaks from time to time with this error:

`error building image: error building stage: failed to get filesystem from image: stream error: stream ID 3; PROTOCOL_ERROR`

I don't have find a way to systematically reproduice it.
Context : I use kaniko with GitLab CI (GitLab Runner).

**Expected behavior**

Log when it's working:

[code]
Log when it's not working:

[code]

*

[2020-07-28 12:29] Flauschbaellchen commented on #763
With kaniko 0.24.0 this problem still persists.

First run without cache is successful, but on the second run, with the cached layer, it fails:
[code]

[2020-07-28 13:26] mamoit commented on #909
This sounds like #862.
@jyipks do you remember if you were using the `--reproducible` flag?

[2020-07-28 13:30] jyipks commented on #909
No i've never used that flag before.

[2020-07-28 21:55] #1172 closed

[2020-07-28 22:12] beeman commented on #1104
It looks like I'm running into a similar issue, and I have a repro that I can share:

[This tree](https://github.com/nx-go/nx-go-playground/tree/3142abbad7ea4cc93596ed7078d0cd301b58fc40) of my repo with this Dockerfile:

[code]

I'm using the following commands:

[code]

[2020-07-28 22:18] tejal29 commented on #1316
@msembinelli i did not get time to investigate this.

Did you try using the new `--snapshotMode=redo`  to see if that improved your timings?

[2020-07-28 22:21] tejal29 commented on #1333
@abhi1git can you try the newer snapshot modes `--snapshotMode=redo`?

[2020-07-28 23:55] jaideepr97 commented on #434
Hey everybody,

I have a similar use case to what has been described here by other folks, where I need to inject a tar ball into the kaniko container before I can let the build begin, but as of now I don't have a way to manually trigger a kaniko build at a time when I am ready to (after the container is already running )

super cool that @miguelitoq76 got it running in an ubuntu container, but I w

[2020-07-29 05:26] jeffj254 opened #1361 "INTERNAL_ERROR when pushing image to Artifactory with Kaniko on Kubernetes"
**Actual behavior**
I'm trying to build a test docker image using Kaniko on Kubernetes (launched by Jenkins).  The image build completes successfully, but when Kaniko tries to push the image to Artifactory I will see a number of layers push successfully and then an INTERNAL_ERROR is thrown.  After this the

error pushing image: failed to push to destination <docker repo>/jefftest:0.1: Patch "https

[2020-07-29 16:51] yashcodecollab commented on #681
Hi I am still running into the same issue. Is there a resolution for this @tejal29

Error: error resolving dockerfile path: copying dockerfile: creating file: open /kaniko/Dockerfile: permission denied

[2020-07-29 16:57] yashcodecollab opened #1363 "Error: error resolving dockerfile path: copying dockerfile: creating file: open /kaniko/Dockerfile: permission denied"
Hi I am still running into the same issue. Is there a resolution for this @tejal29

Error: error resolving dockerfile path: copying dockerfile: creating file: open /kaniko/Dockerfile: permission denied

[2020-07-29 17:13] #1337 closed

[2020-07-30 07:57] Sharathmk99 opened #1365 "Failed to push the docker image to private registry in the first run, but works with second run"
**Actual behavior**
Failed to push the docker image to private registry. If i re-run the same pod again, it works.

**Expected behavior**
Able to push the docker image to private registry

**To Reproduce**
Steps to reproduce the behavior:
1. Create Deployment in Kubernetes cluster
2.

**Additional Information**
Error message,

`error pushing image: failed to push to destination xxxx/xxxxxxxx:lates

[2020-07-30 19:29] kamaln7 commented on #1357
My guess is that this was added for non disk-local contexts like S3 & friends. If that is the case maybe disabling COPY caching when the context is a `dir://` or `tar://`

[2020-07-30 20:48] mstrcnvs commented on #1023
+1
Repeating build args for very env var is unnecessary boilerplate and can actually break things.

[2020-07-30 23:36] Sineaggi opened #1366 "Docker image has wrong kaniko version"
**Actual behavior**
Running kaniko version in docker container produces `Kaniko version :  v0.23.0`

**Expected behavior**
Expected to see `Kaniko version :  v0.24.0`

**To Reproduce**
Steps to reproduce the behavior:
1. `docker run --rm gcr.io/kaniko-project/executor:v0.24.0 version`
2. `docker run --rm gcr.io/kaniko-project/executor:debug-v0.24.0 version`

 **Triage Notes for the Maintainers**

[2020-07-31 12:15] hashworks commented on #1366
Same goes for the latest tag, `Makefile` contains `VERSION_MINOR ?= 23`.

[2020-07-31 12:52] hashworks opened #1367 "Test buildcontext/TestBuildWithLocalTar fails with go flag `-trimpath`"
Running tests with the go flag `-trimpath` results in a failure of the `TestBuildWithLocalTar` test:

[code]

[code]

[2020-08-01 10:49] hashworks opened #1368 "executor coredumps with -buildmode=pie"
[code]

If someone wants to access the 9MB coredump feel free to contact me.

[2020-08-01 13:30] nikilp commented on #1231
I experience the same issue. @zanechua did you find a workaround?

[2020-08-01 15:15] ml- commented on #1368
Makefile enforces `CGO_ENABLED=0` for go build, thus `-buildmode=pie` can not work.

Calling go build directly without disabling CGO should work properly.
[code]

[2020-08-02 11:17] hashworks commented on #1368
Ah, you're right. Closing.

[2020-08-02 11:17] #1368 closed

[2020-08-02 18:25] donbowman opened #1369 "Compatibility issue w/ docker (different behaviour on copy)"
**Actual behavior**
A clear and concise description of what the bug is.

This Dockerfile, when run with `docker 19.03.4` works. In the first stage it builds the nodejs bits, copies them forward into the 2nd stage where it builds the go bits.

[code]

In kaniko we find
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

I expected the behaviour to match Do

[2020-08-02 18:40] donbowman commented on #1369
the reason is:

Prerequisite 'package.json' is newer than target 'node_modules/react-scripts/bin/react-scripts.js'.
Prerequisite 'package-lock.json' is newer than target 'node_modules/react-scripts/bin/react-scripts.js'.

in Docker, these timestamps are different

[code]

[2020-08-02 18:51] donbowman commented on #1369
[code]

[2020-08-03 12:18] sumanthkumarc commented on #434
+1 for simple kaniko binary instead of using entire image. binary is definitely lot more convinient and easy to work with .

[2020-08-03 18:39] kfox1111 commented on #749
+1 to notery support. I'd like to sign images I've built with kaniko and run them in a kubernetes that validates signatures.  https://github.com/IBM/portieris/ looks like a good way to enforce it. It doesn't require docker to operate.

[2020-08-03 21:57] jeffj254 commented on #1361
I've been working with this some more and it seems like this error is related to how Kaniko is transferring a new layer to Artifactory.  If I build a dockerfile where all layers are already cached in Artifactory then Kaniko completes successfully without errors.  But if Kaniko needs to transfer a new layer it seems to trigger this.

Perhaps something with how Kaniko is formatting the PATCH request

[2020-08-04 18:06] Logrythmik commented on #1329
This is causing lots of issues for me too , with the simple RUN cmd:
`RUN for file in $(find common -iname *.csproj); do mkdir -p ${file%.csproj}/ && mv $file ${file%.csproj}/; done`

[2020-08-04 21:14] donbowman opened #1370 "COPY fails to overwrite, different behaviour than docker"
**Actual behavior**
A clear and concise description of what the bug is.

[code]

On kaniko this fails with
[code]

(on docker it does not fail)

**Expected behavior**
A clear and concise description of what you expected to happen.

I expect copy to merge the files and dirs, as they would on unix.

**To Reproduce**
Above dockerfile reproduces

**Additional Information**
 - Dockerfile
   Please prov

[2020-08-06 12:54] ralph089 commented on #432
We hit this issue too!

[2020-08-06 21:10] jeffj254 commented on #1361
The Artifactory instance I am attempting to push to is behind an Akamai WAF.  I've found that if I bypass Akamai and push directly to Artifactory I do not get this error.

It seems to be something with how Kaniko formats it's HTTP requests.  I'm investigating this with Akamai now, but it should be noted that other utilities are able to push images just fine through Akamai, so there's something spe

[2020-08-06 23:13] tsufeki opened #1372 "Cache warmer always caches linux/amd64 image, even on arm64"
**Actual behavior**
On arm64 machines, cache warmer caches linux/amd64 image

**Expected behavior**
It should download and cache linux/arm64 image

**To Reproduce**
Steps to reproduce the behavior:
1. Build kaniko/warmer for arm64
2. Run warmer with a multi arch image, for example --image=python:3.8
3. Compare sha256 in cache dir to confirm its amd64, not arm64. https://hub.docker.com/_/python/?ta

[2020-08-07 03:52] jeessy2 opened #1373 "Downloading from docker when "Unpacking rootfs as cmd COPY . . requires it. ""
**Actual behavior**
[code]
Downloading from docker when "Unpacking rootfs as cmd COPY . . requires it. "
it's slow

**Expected behavior**
Cache the docker imges

**To Reproduce**
Steps to reproduce the behavior:
1. ...
2. ...

**Additional Information**
 - Dockerfile
   Please provide either the Dockerfile you're trying to build or one that can reproduce this error.
 - Build Context
   Please prov

[2020-08-07 19:08] neggert opened #1375 "Layer tar files contain entry for root (/)"
**Actual behavior**
Layer tar files contain a header for the path `/`, which looks like an absolute path name and creates problems for the internal non-Docker container runtime we use. Images created using Docker work just fine.

**Expected behavior**
Tar files should not contain absolute paths. GNU tar drops the leading `/` from absolute paths, so this mostly works, but other tools fail to extrac

[2020-08-09 03:26] mattsurge commented on #1297
Seeing this issue as well, using kaniko in a gitlab runner. I suppose the solution is to pin all alpine builds we have at 3.11?

[2020-08-10 09:15] abh opened #1376 "`chmod` doesn't get in final image"
**Actual behavior**

Using `RUN [ "chmod", "a+x", "/some/file" ]` the specified file gets the executable bit for the rest of the Kaniko run, but not in the final image

**Expected behavior**

Permissions set (and other similar minor changes) working.

**To Reproduce**

Running the [Dockerfile](https://github.com/abh/drone-kaniko/blob/main/Dockerfile) from https://github.com/abh/drone-kaniko/ under

[2020-08-10 16:50] carno commented on #1348
I can see a similar issue with kaniko 0.24.0 and 0.23.0.

0.18.0 seems to work as expected (but maybe it's just the case of it missing the cache more in general)

[2020-08-10 22:51] isker commented on #1357
As far as I can tell from reading [the docs](https://docs.docker.com/engine/reference/builder/#copy), you can only COPY things that are already in the local docker build context.

Even if they could be remote, you'd still have to hash them in order to check the layer cache.  And to hash them you'd presumably have to download them locally first.

[2020-08-10 23:25] isker commented on #1357
@donmccasland sorry to ping you again, but if you can provide any guidance here I'd appreciate it!  If there's anything to do I'm more than happy to implement.

[2020-08-11 07:08] lbouquinUniv opened #1377 "error building image: error building stage connection reset by peer"
**Actual behavior**
A clear and concise description of what the bug is.
I use it with gitlab-ci. when  kaniko vbuild stage reset connection
I have the following message:
`error building image: error building stage: failed to get filesystem from image: read tcp 10.233.66.246:35054->IP_B:443: read: connection reset by peer` where IP_B is harbor registry ip address

**Expected behavior**
A clear and

[2020-08-11 13:36] lbouquinUniv commented on #1377
I found a solution.
I add iptables rules to drop invalid packet harbor registry side. ( iptables -I INPUT -m conntrack --ctstate INVALID -j DROP
 && echo 1 >  /proc/sys/net/netfilter/nf_conntrack_tcp_be_liberal ).

[2020-08-11 13:36] #1377 closed

[2020-08-11 18:22] anjeyy commented on #1209
And there i was sitting the last sunday half a day thinking to be **that** stupid to build a simple image which i wanted to push to my private docker hub.

_auths: [https://index.docker.io/v**2**/]_

- debug (without version)
- debug-v0.22.0
- debug-v0.19.0

- debug-v0.16.0

------

_auths: [https://index.docker.io/v**1**/]_

- debug (without version)
- debug-v0.22.0
- debug-v0.19.0
- debug-v0.16.

[2020-08-11 18:43] livelace commented on #1209
works for me:

[code]

[2020-08-11 22:44] tejal29 commented on #1305
@SaschaSchwarze0, Thanks for all your questions.

The way we detect file deletions with `--use-new-run` is by traversing the filesystem.
With performant file walking libraries, the time takes to [walk FS](https://www.google.com/url?sa=t&rct=j&esrc=s&source=appssearch&uact=8&cd=0&cad=rja&q&sig2=qqWiIhHeoltROfwVp1c3VQ&ved=0ahUKEwiX_KS0nJTrAhXIzmQKHe0SAtE4ABABKAAwAA&url=https://drive.google.com/a/goo

[2020-08-12 07:08] dshiryaev-plesk commented on #1329
Does anyone know a workaround?

[2020-08-12 07:20] dshiryaev-plesk commented on #1329
Same error for Docker "Official Image" for ruby: https://github.com/docker-library/ruby/blob/82eecb7596c3cb466dd87d4b0350d189a330b925/2.6/stretch/Dockerfile .

[2020-08-12 08:41] dshiryaev-plesk commented on #1329
This is probably a duplicate of #1246

[2020-08-12 09:03] pedroparraortega commented on #1335
HI @chrw,

I faced the same issue today in my jenkins pipeline. after some tests i figured out this was related to the kaniko filesytem. In my pipeline i was building to images in serial, and the only one failing was the second one.

By adding the `--cleanup --cache=false` to the kaniko executor command fixed the issue.

Hope it helps

[2020-08-12 09:07] SaschaSchwarze0 commented on #1305
Thank you @tejal29 for your answer:

Okay, in my interpretation this is then still some kind of a snapshot of the filesystem, but creating a dictionary of existing files obviously is fast than building any has for each file even if the file content is ignored.

So, we continue with `--snapshotMode=redo` alone, https://github.com/redhat-developer/build/blob/master/samples/buildstrategy/kaniko/build

[2020-08-12 15:45] gokuatkai commented on #915
Hello, I am using version 0.23.0 and I am facing this issue too, Docker build copy the targetfile, but kaniko build just copy the symlink file. Was it released yet?

[2020-08-12 18:46] tejal29 commented on #1363
@yashcodecollab please specify `--context=pathMounted/` and `-f` dockerfile as path relative to `pathMounted`

Does that make sense?
Please see examples in `README`

[2020-08-12 18:57] tejal29 commented on #1376
@abh we do have integration tests which test your use case
https://github.com/GoogleContainerTools/kaniko/blob/17ceb312c6fd4ddf3c3b13d243fb17a986c36c93/integration/dockerfiles/Dockerfile_test_issue_647#L7

Can you please specify the full command.

[2020-08-12 19:04] tejal29 commented on #1370
@donbowman Kaniko does not overwrite directories if they already exist. That being said, we can modify the functionality here https://github.com/GoogleContainerTools/kaniko/blob/92917bab3accec1e9f1984486c72ce83e23cfca5/pkg/util/fs_util.go#L598 to not return an error

[2020-08-12 19:05] tejal29 commented on #1373
@jeessy2 we do have a way to cache base images https://github.com/GoogleContainerTools/kaniko#caching-base-images
Can you try this?

[2020-08-12 19:09] tejal29 commented on #1375
@neggert Adding "/" does will create files "/etc" when exploded using `tar -xvf`.  this layer.tar should work when you extract it at path "/"

[2020-08-12 19:11] tejal29 commented on #1340
@dren-dk we do try to get user group and any secondary groups if present by reading the "/etc/passwd" file.

[2020-08-12 19:13] tejal29 commented on #1340
Something we could fix in https://github.com/GoogleContainerTools/kaniko/blob/2609944787c5af903c7fe2a59cd703c58a438e73/pkg/util/command_util.go#L373

[2020-08-12 19:17] neggert commented on #1375
But there aren't any other absolute paths in the tar. Notice there is no leading slash for the paths in `etc` in the output I pasted.

Absolute paths in tars are usually a bad idea, to the point where [GNU tar ignores them by default](https://www.gnu.org/software/tar/manual/html_node/absolute.html).

[2020-08-12 19:20] neggert commented on #1375
Actually, there's a pretty good explanation of the issue in the page I linked.

[2020-08-12 19:22] #1366 closed

[2020-08-12 19:23] tejal29 commented on #1366
this is fixed now on master

[2020-08-12 19:25] tejal29 commented on #1367
@hashworks , i usually run `make test` to run all the unit tests

[2020-08-12 19:25] tejal29 commented on #1365
@Sharathmk99 Can you please share more container logs.

[2020-08-12 19:47] tejal29 commented on #1335
@pedroparraortega  Kaniko pod wasn't designed to be re-used @chrw Are you re-using the same kaniko pod?

[2020-08-12 19:52] tejal29 commented on #1341
@renatosuero would love any contributions which help making our docs more user friendly and better!
Please feel free to add it.

[2020-08-12 20:07] tejal29 commented on #1343
hmm. @matzeeable not familiar with `yarn install`. From the docs look like yarn installs packages from `package.json`.
One way, i could think is to split your package.json
1. 3rd party not changing or rarely changing packages dependencies.
[code]

Or, you could specify a cache directory using "https://classic.yarnpkg.com/en/docs/cli/cache" .
[code]
In your dockerfile
[code]

[2020-08-12 20:10] renatosuero commented on #1341
cool, I'll do that this week :)

[2020-08-12 20:14] tejal29 commented on #1348
@virth, theoretically, in case of the 2nd dockerfile,
[code]

Can you provide us with trace logs?

[2020-08-12 20:18] tejal29 commented on #1346
@gajus you could see some of our examples here https://github.com/GoogleContainerTools/kaniko/blob/master/examples/pod.yaml#L15

You can mount directories your want using the VolumeMounts in PodSpec

[2020-08-12 20:19] tejal29 commented on #1349
thanks @haampie for the detailed debugging. do you know if there is bug upstream to track this?

[2020-08-12 20:28] tejal29 commented on #1357
@isker Sorry for the delay. @donmccasland is no longer actively working on this project.

Reason why copy layers are cacheable is to determine if the subsequent  run commands can be used from cache.
e.g.
in order to determine if the subsequent `Run` command can be used from cached layer, kaniko computes if `package.json` has changed. if it has changed, then cache layer for `Run yarn install` is in

[2020-08-12 20:37] isker commented on #1357
@tejal29 Thanks for responding.

once it detects a change, it stops using cache for subsequent run commands.

This is what I did not understand.  Unfortunately our Dockerfile is fundamentally copy-heavy.  The ordering of COPYs and RUNs is already optimal in this regard.

If you'll entertain more questions, why does Kaniko's layer cache work that way?  Why can't it go back to the cache after produc

[2020-08-12 21:22] tejal29 commented on #1353
@JacobHenner Can you please specify your mount definition in the pod spec and the debug logs?

[2020-08-12 21:23] tejal29 commented on #1353
Looks like, kaniko is missing the fact that `/etc/ssh` is mounted.

[2020-08-12 21:27] tejal29 commented on #1278
I saw a related bug here https://github.com/nginxinc/nginx-amplify-agent/issues/166
I am not sure if you can run a nginx service inside a kaniko pod. Is there something else you want to do after running the `nginx` service?

[2020-08-12 21:44] tejal29 commented on #1352
Looks like the bug is here
https://github.com/GoogleContainerTools/kaniko/blob/c480a063475e2b0af66214af4c065fc6000f36a3/pkg/util/command_util.go#L185

Instead of using `filepath.join` we can replace this with
[code]

[2020-08-12 21:44] tejal29 commented on #1352
Would you be up for submitting a pr?

[2020-08-12 21:46] ironhalo opened #1378 "Builds defaulting to HTTP"
**Actual behavior**
Our internal docker registry is hosted in Artifactory on port 5000 using HTTPS.  Builds are defaulting to HTTP, resulting in a 400: bad request:

[code]

If I pass `--skip-tls-verify` then the build is successful

**Expected behavior**
An image pull defaults to HTTPS unless otherwise specified

**To Reproduce**
Steps to reproduce the behavior:
1.
[code]

2. `/kaniko/executor --

[2020-08-12 21:56] tejal29 commented on #1305
yes! `--snapshotMode=redo` should suffice and be more accurate then `--use-new-run`. Thanks a lot for confirming and all your feedback.

[2020-08-12 23:14] tejal29 commented on #1317
@oohnoitz Thanks for the project!

@oohnoitz I had a very simple bug in the code. I tried the image with fix #1379

you can now see non-empty layers.
![image](https://user-images.githubusercontent.com/1534539/90076847-98dc7f00-dcb5-11ea-9a3d-f7d45c537725.png)

Can you please give this a try
[code]

[2020-08-12 23:18] tejal29 commented on #1316
hey @fabiotamagno, i had a small bug in the code #1379
Can you try your build using this image?
[code]
I verified this image here https://github.com/GoogleContainerTools/kaniko/issues/1317#issuecomment-673154858

[2020-08-12 23:19] tejal29 commented on #1333
@abhi1git please switch to using `--snapshotMode=redo`. See comments here https://github.com/GoogleContainerTools/kaniko/issues/1305#issuecomment-672752902

[2020-08-12 23:31] tejal29 commented on #1378
@ironhalo tries to connect using [`http.DefaultTransport`](https://golang.org/src/net/http/transport.go) protocol here
https://github.com/GoogleContainerTools/kaniko/blob/c480a063475e2b0af66214af4c065fc6000f36a3/pkg/util/transport_util.go#L67

The docs mention:
[code]

Can you point the url to be "https://...."

[2020-08-12 23:35] tejal29 commented on #1297
@mattsurge yes.

[2020-08-12 23:38] #1280 closed

[2020-08-12 23:41] tejal29 commented on #1270
duplicate of #1287

[2020-08-12 23:41] #1270 closed

[2020-08-12 23:46] gajus commented on #1346
@tejal29 see @dHannasch comment.

[2020-08-12 23:47] tejal29 commented on #1269
@swist the kaniko is designed, in case we see one layer changed, the subsequent layers (from RUN command) are not cached.
Kaniko can't detect what are the files for a run command hence, if a command above it changes, all subsequent run commands are evaluated.

Does that make sense

[2020-08-12 23:49] tejal29 commented on #1347
i don't think this is an issue.
Please comment if still exists.

[2020-08-12 23:49] #1347 closed

[2020-08-12 23:50] #1259 closed

[2020-08-12 23:57] #1329 closed

[2020-08-12 23:58] tejal29 commented on #1329
closing as dupe of #1246

[2020-08-12 23:58] jeessy2 commented on #1373
i don't know the image name, just happen on 'copy . .'

[2020-08-13 00:12] will-darkwolf commented on #1287
Was this ticket resolved, or just closed?

[2020-08-13 05:35] lnhrdt opened #1380 "Executor v0.24.0 reports its version as v0.23.0"
The executor docker image for v0.24.0 reports its version as v0.23.0. As a result, I'm not sure if I'm using the newest release or not.

`docker run gcr.io/kaniko-project/executor:v0.22.0 version` returns `Kaniko version :  v0.22.0` ✅

`docker run gcr.io/kaniko-project/executor:v0.23.0 version` returns `Kaniko version :  v0.23.0` ✅

`docker run gcr.io/kaniko-project/executor:v0.24.0 version` retur

[2020-08-13 05:37] lnhrdt commented on #1380
Oops, closing as a duplicate of #1366.

[2020-08-13 05:37] #1380 closed

[2020-08-13 08:32] matzeeable commented on #1343
Hi @tejal29,

Thanks for your detailed message. I forgot to close this issue as I have solved it with `docker commit`. But your idea with a volume seems also good!

Regards,
Matthew :-)

[2020-08-13 08:32] #1343 closed

[2020-08-13 09:41] TBBle commented on #1363
I think I just bounced off this same issue, I'm passing `--context` to point to a subdirectory of the CWD (a self-contained Docker context) but it's using the Dockerfile from CWD, which then fails because it references files that aren't in the context. `-f` doesn't appear in the README.md that I can see, so I'm confused by this solution. The [README.md does say](https://github.com/GoogleContainerT

[2020-08-13 10:33] TBBle opened #1381 "Kaniko finds a Dockerfile in CWD ahead of one in the context"
**Actual behavior**

Given a filesystem layout, e.g. a Git checkout:
* _/workspace/Dockerfile_
* _/workspace/subproject/Dockerfile_

When the CWD is _/workspace/_, the following command, e.g., when [using Kaniko under GitLab CI](https://docs.gitlab.com/ee/ci/docker/using_kaniko.html),

[code]

executes using _/workspace/Dockerfile_ in context _/workspace/subproject/_.

**Expected behavior**

The b

[2020-08-13 10:56] TBBle commented on #1381
I'm not sure if it's related, but if I change
`--context /workspace/subproject` to `--context /workspace --context-sub-path subproject` it seems to run the build in the _/workspace_, not _/workspace/subproject_. I haven't tried this with non-filesystem paths though, so I guess it's possible that it only works with non-filesystem `--context`.

[2020-08-13 12:23] gokuatkai opened #1382 "Difference between docker build and kaniko executor when copying symlinks"
**Actual behavior**
When having a symlink in the context dir that point to a file to a subfolder and adding it with COPY, docker build copy the content of the file but kaniko executor copy the symlink instead.

**Expected behavior**
Kaniko executor will copy the content of the file as docker build does.

**To Reproduce**
Steps to reproduce the behavior:
Given the following environment:
[code]
and

[2020-08-13 12:56] WesCossick commented on #1278
NGINX runs without issue in the container built by either kaniko or Docker, it's just the `nginx -t` command that fails in kaniko exclusively. Does that answer your question?

[2020-08-13 13:00] donbowman commented on #1370
I think that if the error is EEXIST, it should ignore and continue.
the behaviour of docker is 'mkdir -p'

https://github.com/GoogleContainerTools/kaniko/blob/92917bab3accec1e9f1984486c72ce83e23cfca5/pkg/util/fs_util.go#L740
is incorrectly checking nil:
https://golang.org/pkg/os/#MkdirAll

[2020-08-13 14:13] oohnoitz commented on #1317
@tejal29 I think there might be another issue with it when using multi-stage builds, which is resulting in some missing files on the final image. The sizes for the `RUN` layers in specific in the history command doesn't match up with the sizes returned when running without the `--use-new-run=true` command.

(pasting the output again for reference)
[code]

Due to the mismatch, it the image still is

[2020-08-13 15:12] ironhalo commented on #1378
I updated the `FROM` instruction with the scheme; I don't think that's valid since the instruction expects an image name, not a URL.  Let me know if I misunderstood something, thanks for the quick reply!

[code]

[code]

[2020-08-13 15:17] bmudda commented on #1351
This issue is reproducible in our environment as well. We have to change permission again after performing the copy.

[2020-08-13 16:46] tejal29 commented on #1316
closing as dupe of #1317

[2020-08-13 16:46] #1316 closed

[2020-08-13 17:36] #1372 closed

[2020-08-13 17:58] tejal29 commented on #1381
@TBBle Thank you for bringing this to our attention. Our docs can definitely get some more love.
`context` is supposed to be the source/root of the build context like a github repo, while `--context-subpath` is the path with in. The reason, we have context and context-subpath is because at times, a Dockerfile may contain relative filepaths e.g. "../rootFile" and in order for kaniko to determine if

[2020-08-13 18:04] tejal29 commented on #1382
We have had a lot of debate on this in previous issues like #915 and #1038

In #1038, user mentioned, docker copies a symlink or else their image size is doubled.
I can really appreciate some help in this regard.
Can you verify what does docker do if both
1. symlink and original file are copied?
2. Only symlink is copied,

It would help us not bring in a regression.

Thanks
Tejal

[2020-08-13 20:54] tejal29 commented on #1317
Thanks! Sorry for missing the size discrepancy earlier.
In #1305, @sachaos correctly identified, relying only on `ModTime` could be one of the cause of this discrepancy.
In #1383, i have tried a very naive but effective approach.
During, performance testing, we saw creating hashes was one of the major bottlenecks as number of files increased.
In order to provide the same performance gain, i have g

[2020-08-13 20:58] tejal29 commented on #1317
I have published updated images
[code]

And the resulting image with this executor is:
1.
[code]

[code]

[2020-08-13 21:10] jeffbehl opened #1384 "$HOME specified but non-existent"
**Actual behavior**
In a GitLab runner build environment, executing a task of:

`cat $NETRC_RO > $HOME/.netrc`

fails, where the value of `$NETRC_RO` is the path to a file.  The cause is `$HOME` has the value of `/root` but the `/root` directory does not exist.

Reason for this use:

The $HOME/.netrc file is used to authenticate private git repositories for pip installations in python environments

[2020-08-13 21:16] tejal29 commented on #1384
it would be an easy fix to create the root dir here https://github.com/GoogleContainerTools/kaniko/blob/master/deploy/Dockerfile#L44
and all the other dockerfiles in deploy folder

[2020-08-13 21:19] #1317 closed

[2020-08-13 21:20] #1304 closed

[2020-08-13 22:08] #1321 closed

[2020-08-14 04:09] TBBle commented on #1381
My assumption is that a Dockerfile can't ../ to outside the context. So what's not clear to me, is `--context-sub-path` supposed to change the context path (which it doesn't), and otherwise, what is it supposed to do?

That said, it's beside-the-point for this bug report, except that when I tried it as a fix, it actually made things worse.

[2020-08-14 06:30] TBBle commented on #1381
Hmm, why is this "kind/question"? It's intended to be a bug-report. Or is this behaviour Works-as-intended, and it's just the documentation doesn't mention the CWD at all?

[2020-08-14 08:37] gokuatkai commented on #1382
From what I have tested:
1. symlinks are never copied, tested with COPY/ADD, only destination file is (with its content)
2. the test above is covering that already, I guess?
3. if the symlink is in a folder that is being copied, then the symlink is added:
[code]
[code]
[code]
tricky one

[2020-08-14 15:18] JacobHenner commented on #1353
[code]

[code]

[2020-08-15 12:57] kamaln7 commented on #1357
Thanks for the explanation @tejal29 that makes sense!

I'm trying to follow [the caching logic here](https://github.com/GoogleContainerTools/kaniko/blob/0c7e1644cb8b4fe597cf89caf179ef603fc43c7a/pkg/executor/build.go#L218) and I'm probably missing something obvious, but would something like this work?

With COPY commands specifically, instead of:

1. calculate a composite key
1. attempt to retrieve

[2020-08-16 18:51] chrw commented on #1335
What do you mean by re-using the same Kaniko pod? Gitlab CI is running the official Kaniko docker image and builds the Dockerfile I mentioned above. I'm not running Gitlab CI on Kubernetes. It's a plain Ubuntu 20.04 LTS EC2 Instance with Docker installed. The Gitlab CI Runner on the Host Machine is using the Docker executor.

Thanks for the hint @pedroparraortega, I will give it a try! 😊

[2020-08-17 20:58] guyguy333 opened #1386 "Read-only file system when mounting volume"
**Actual behavior**

When you mount a volume as RO in Kaniko container, you cannot write to the same volume path from the Dockerfile being built by Kaniko.

**Expected behavior**

Volume mount in Kaniko container has no impact on volumes with same path in Dockerfile being built.

**To Reproduce**
Steps to reproduce the behavior:
1. Mount a volume as RO in Kaniko container
2. In Dockerfile, try to

[2020-08-17 22:30] vivekthangathurai commented on #1291
@kivio @tejal29 any solutions for this issue? I am facing the exact same problem.

[2020-08-17 22:33] tejal29 commented on #1386
@guyguy333 I am not sure i understand the issue correctly.
If a docker container inside which kaniko runs, mounts a dir as readonly, kaniko does not have permissions to write in it.

[2020-08-17 22:55] tejal29 commented on #1291
@vivekthangathurai Can you try the steps mentioned in https://github.com/GoogleContainerTools/kaniko/issues/1291#issuecomment-650812003

[2020-08-17 23:19] vivekthangathurai commented on #1291
thanks. It worked!!

[2020-08-18 00:27] AdamMichaelLong opened #1387 "Kaniko removes ContainerConfig from image manifest"
**Actual behavior**
Kaniko removes ContainerConfig from image manifest while retaining Config values. In some image inspection tools, ContainerConfig is used to read Labels and Kaniko built images result in empty ContainerConfig values.

**Expected behavior**
ContainerConfig to store metadata such as Labels are retained in resulting image built with Kaniko.

**To Reproduce**
Steps to reproduce the

[2020-08-18 01:46] #1291 closed

[2020-08-18 06:30] guyguy333 commented on #1386
My bad if it's an expected behavior with Kaniko. I read a bit of code of Kaniko and I think I understood how it works. Indeed, I mustn't mount timezone in Kaniko.

I don't have this issue with Docker and DIND. Docker running DIND has /etc/timezone mounted to get the right timezone. Dockerfile being built in DIND don't care about mounted timezone.

[2020-08-18 07:14] renatosuero commented on #1341
merged!

[2020-08-18 07:14] #1341 closed

[2020-08-18 21:26] #1386 closed

[2020-08-18 21:32] guyguy333 opened #1390 "Hangs on cupsd startup"
**Actual behavior**

When you run `cupsd`, build hangs

**Expected behavior**

As Docker build, `cupsd` should start in background.

**To Reproduce**
Steps to reproduce the behavior:
1. Build Dockerfile provided below

**Additional Information**
 - Dockerfile

[code]

 - Build Context

[code]

[code]

and it hangs. I've no issues with docker.

 - Kaniko Image (fully qualified with digest)

`gcr.io

[2020-08-18 21:51] alex1989hu commented on #1384
I am thinking about switch to distroless flavor instead of SCRATCH. Certificates, nsswitch, existing home directory are part of the image.  Thoughts?

[2020-08-19 16:49] tejal29 commented on #1384
sounds good to me!

[2020-08-19 17:07] jeffbehl commented on #1384
The minimal size savings in using SCRATCH is outweighed by the complications it brings IMHO, with this partly exemplified  `/emptydir` silliness in this pull request...

[2020-08-19 21:26] guyguy333 opened #1391 "Cache policy feature"
Currently, cache is always pull and push. However, this approach can slow down CI when eg push is not required.

Similar to GitLab CI, it would be useful to configure a cache policy:
- pull: Cache is pulled from registry but never pushed. It is useful for CI when you only want to build.
- pull push: The default and current behavior.
- push: No cache is used but the cached layers are pushed.

Thank

[2020-08-21 09:01] YuhuWang2002 opened #1392 "build image is too slow to unbearable"
**Actual behavior**
Hi all:
I want to use kaniko to build image in tekton.  I find it's too slow over 40 minutes; but use docker to build image, it just only takes a few minutes.  so I try to use kaniko by docker to find what's going on.  It looks seem in "unpack rootfs" phase.
sometimes report "stream error: stream ID 17; INTERNAL_ERROR" and failed

**Expected behavior**
I think to build image as

[2020-08-22 02:14] kilianc opened #1393 "Files in kaniko base image are accessible from input Dockerfile"
**Actual behavior**

When building this simple `Dockerfile`

[code]

This is the output from `docker build`

[code]

This is the output of `kaniko`

[code]
**Expected behavior**

I expect the filesystem in my build image to only come from the `FROM` base image. It looks like `kaniko` layers are bleeding into my own image.

**To Reproduce**

    $ mkdir kaniko-bug
    $ cd kaniko-bug
    $ echo "FR

[2020-08-23 16:56] vyom-soft commented on #1087
Hello,
I am getting this same error.

[build-and-push] INFO[0002] Retrieving image manifest openjdk:8-jdk-alpine
[build-and-push] INFO[0002] Retrieving image openjdk:8-jdk-alpine
[build-and-push] INFO[0003] Retrieving image manifest openjdk:8-jdk-alpine
[build-and-push] INFO[0003] Retrieving image openjdk:8-jdk-alpine
[build-and-push] INFO[0005] Built cross stage deps: map[]
[build-and-push] INFO[

[2020-08-24 01:45] YuhuWang2002 commented on #1392
this dockerfile is use to build app.jar from source,  for reduce the image size, use the other base image.

this is the logs
[code]

[2020-08-24 03:40] samos123 commented on #968
I confirmed workload identity to work with kaniko 1.0.0 and Tekton as well:
build-image-task.yaml
[code]

And the taskrun.yaml
[code]

I was using the default KSA in the namespace that was associated with an GSA that had storage object admin permission.

[2020-08-24 14:35] shakenfr commented on #105
100% agreed with this remark !!

[2020-08-24 23:55] lxylxy123456 opened #1395 "kaniko fails with a symbolic link pointing to itself"
**Actual behavior**
When the docker image contains a symbolic to itself (e.g. `ln -s e e`, where `e` is the file name located in `/jkl/`), kaniko fails by printing error message "ERRO[0012] couldn't eval /jkl/e with link /jkl/e", and the image pushed to the registry is incomplete.

**Expected behavior**
This error should not happen, and all files should be there.

**To Reproduce**
Steps to reprodu

[2020-08-25 01:45] lxylxy123456 commented on #1395
Note that the container pushed to Docker Hub is not deterministic. Sometimes it is missing other files. For example, during another run I get this container (this time `a` and `b -> a` are missing)
[code]

[2020-08-25 08:21] #1373 closed

[2020-08-25 19:08] rcollette commented on #1331
Perhaps add a --local-destination flag rather than trying to add prefixes with any meaning to the existing destination flag.

[2020-08-25 19:23] tanguydelignieresaccenture commented on #1209
After being struggled all the day with the issue, trying to push to dockerhub with a previous version of kaniko, debug-v0.18.0, which was fine few months ago in the same context, as @gebi, I was able to push the image using `--registry-mirror index.docker.io`.

@tejal29 may it be related to dockerhub hostname or default image path that has maybe changed and is no more compatible with kaniko (in ol

[2020-08-25 19:41] rcollette opened #1396 "Inconsistent .dockerignore file copy behavior with **/someDir/ pattern"
**Actual behavior**
Directories listed in .dockerignore via `**/someDir/` pattern are initially excluded from copying but files within those directories are created.

[code]

**Expected behavior**
Current docker behavior is that an excluded directory does not have any of its contents copied.

**To Reproduce**
1. Unzip attached project
[kaniko-dockerignore-issue.zip](https://github.com/GoogleContai

[2020-08-25 21:37] k commented on #769
I'm getting this as well with gradle and kotlin

[2020-08-26 00:42] k commented on #769
This workaround worked for kotlin + gradle: https://github.com/GoogleContainerTools/kaniko/issues/769#issuecomment-596195219

[2020-08-26 01:16] dhstack commented on #1104
I'm running into this issue too when using the [Google Cloud Builders Community Firebase](https://github.com/GoogleCloudPlatform/cloud-builders-community/tree/master/firebase) build step.

I don't have a Dockerfile, only a `cloudbuild.yaml` file that looks like this:
[code]

Where `<project-id>` is the id of my Google Cloud project.

I'm using this command locally with the latest version of `gclou

[2020-08-26 01:49] dhstack commented on #1104
Well I figured it out for me! Since I'm on **Windows**, I needed to change the line endings of `firebase.bash` to LF before submitting the community build to my project. More info [here](https://itnext.io/vue-firebase-google-cloud-how-to-set-up-your-ci-cd-pipeline-3b309ef37015) and [here](https://stackoverflow.com/questions/51508150/standard-init-linux-go190-exec-user-process-caused-no-such-file-o

[2020-08-26 07:49] tanguydelignieresaccenture opened #1399 "Regression since v0.19.0 using --cache=true with shell parameter expansion in RUN instruction of Dockerfile"
**Actual behavior**
Starting with `debug-v0.19.0` (reproduced with `debug-v1.0.0`), building using `--cache=true`, a Dockerfile having `RUN` instruction with `ENV` or `ARG` variable and shell parameter expansion is not working anymore with the following error:
`error building image: error building stage: failed to optimize instructions: failed to process "RUN : \"${BINARY_NAME:?Build argument need

[2020-08-27 03:19] tmshn commented on #687
Yeah @seboudry's solution looks right; the [kaniko docker image has `docker-credentials-gcr`](https://github.com/GoogleContainerTools/kaniko/blob/cdbd8af0578c56e2801b57461e9f417f9479d303/deploy/Dockerfile#L37) and [it will be configured only if no config file exists](https://github.com/GoogleContainerTools/kaniko/blob/cdbd8af0578c56e2801b57461e9f417f9479d303/pkg/executor/push.go#L115-L120).

Maybe

[2020-08-27 03:35] tmshn commented on #1293
duplicate of #687 ?

[2020-08-27 10:38] nlamirault commented on #1209
I try with v1.0.0 on Docker Hub v2 endpoint, it fails. It works using v1.

[2020-08-27 15:30] nesl247 commented on #1265
Running into this when trying to test out kaniko locally. We shouldn't need to push to be able to test out local builds.

[2020-08-27 21:31] sonofagunn opened #1400 "kaniko finishes successfully, but image never shows up in ECR."
**Actual behavior**
I am using the kaniko:debug container in a gitlab CI job to build an image. If I put the destination as the gitlab repository, everything works fine. If I change it to ECR, the job succeeds but the image isn't in ECR. I am using the ECR Credentials Helper to assume a role that has permissions to the repository. The ecr-login.log that the credentials helper creates shows a succe

[2020-08-27 22:35] tejal29 commented on #1209
Thank you folks, I updated the docs to use `v1` endpoint instead of v2

[2020-08-27 22:36] tejal29 commented on #1209
@tanguydelignieresaccenture i am still trying to understand why adding `--registry-mirror` works for you.

[2020-08-27 23:22] tejal29 commented on #769
Thanks @k for confirming the workaround.

[2020-08-28 00:59] donbowman opened #1401 "Missing files in layer from run command w/ snapshotmode=time|redo"
**Actual behavior**
A clear and concise description of what the bug is.

[code]

as a Dockerfile, the 'docker' command is missing in the 2nd layer. It has neglected to add any files from /usr/bin change of the apt-get install docker-ce-cli.

This is run with:
[code]

if caching is not used, there is no problem.

**Expected behavior**
A clear and concise description of what you expected to happen.

[2020-08-28 09:03] xkfen commented on #719
same problem.

`  containers:
  - name: kaniko
    image: gcr.io/kaniko-project/executor:debug
    args: ["--verbosity=trace",
           "--dockerfile=Dockerfile",
           "--context=git://git.xxx.cn/username/stack.git#refs/heads/dev",
           "--destination=registry.local/kaniko/buildpack-linux-nginx:v11"]
    env:
      - name: GIT_PULL_METHOD
        value: http
      - name: GIT_TOKEN

[2020-08-28 12:16] bitsofinfo commented on #1351
#1369 #1352

[2020-08-28 16:27] gretel commented on #719
@xkfen please have a look https://github.com/GoogleContainerTools/kaniko#using-private-git-repository

[2020-08-28 18:17] tejal29 opened #1402 "How to clean GCR cache?"
A kaniko user asked via email ,

any suggestions on maintaining the cache in GCR? Storage is cheap, sure, but we make thousands of images a month for our CI/CD pipeline and that will add up quickly. Are there plans to include some sort of cleanup routines in the Kaniko image to manage the cache?

[2020-08-28 18:27] raijinsetsu commented on #1402
I _think_ the following is true:
Every tagged image references the layers/images in the cache in their manifest (ie. the images we want to keep around). The repository prevents you from deleting those layers as they are "in use".

Ignoring HOW tagged images might be cleaned up (next step), I think it is safe to assume that we could enumerate all the images in the cache that were created more than

[2020-08-28 18:30] tejal29 commented on #1402
This was also brought up in https://github.com/GoogleContainerTools/skaffold/issues/3487

[2020-08-28 18:31] tejal29 commented on #1402
@raijinsetsu do you have a script to do that?

[2020-08-28 18:41] raijinsetsu commented on #1402
I have something... but there's a bug in the tagged-image deletion logic. So, just ignore that piece. I cannot send the entire script due to proprietary code, but here is the part of it that handles cache maintenance.
[code]

It's supposed to conditionally delete the tagged image based on the presence of the corresponding branch in Git but we ran into an edge case where that is not true.

I think

[2020-08-28 23:17] kvaps opened #1403 "kaniko plugin for kubectl"
Hi I was inspired by https://github.com/GoogleContainerTools/kaniko/pull/1289 and created kaniko plugin for kubectl:
https://github.com/kvaps/kubectl-kaniko

I would like to share it with the community using krew (package manager for kubectl), but I need your approve of using kaniko name for this plugin in krew-index repository, please see https://github.com/kubernetes-sigs/krew-index/pull/785#pul

[2020-08-29 01:47] xkfen commented on #719
thanks for you apply. the readme shows that the private git repository can either use git://token@xxx  or use env GIT_TOKEN，the two methods both give me the err: **authentication required**
my gitlab use http.

[2020-08-29 12:42] corneliusweig commented on #1403
If the `kaniko` team thinks this plugin fits well to the project, one could also think about hosting its source code in the kaniko repo instead of a standalone project.
@kvaps would you be open to merge your work in here?

---

My line of thought is basically this: @kvaps's plugin is a convenience wrapper around running the kaniko executor in the cluster. So it does make sense to make the connecti

[2020-08-29 12:51] kvaps commented on #1403
Sure I can, but I'm not sure if kaniko maintainers would like to mix up two languages (shell and go) in the single project repo.

[2020-08-30 08:20] kvaps commented on #1403
Btw, I decided to rename **kubectl-kaniko** to **kubectl-build** and place it in my own krew-index repository.

**kubectl build** is better name because it do not conflicts with kaniko, and reflects exact usage, it also correlates with **docker build**:

[code]

If you like this plugin, new you can install using my own krew-index repository:

[code]

or standard way using curl, described on plugin

[2020-08-30 08:20] #1403 closed

[2020-08-31 05:33] RoSk0 opened #1406 "Cannot build multiple images inside single container ( symlinks )"
**Actual behavior**
I wan to set up image building for our project as part of CI pipeline using GitLab CI capabilities.
Following https://docs.gitlab.com/13.2/ee/ci/docker/using_kaniko.html#building-a-docker-image-with-kaniko I done CI configuration and it works perfect if you build one image per job. It is not GitLab issue, just bear with me.

We have a multi stage Dockerfile to build our images.

[2020-08-31 05:34] RoSk0 commented on #1382
Might be related https://github.com/GoogleContainerTools/kaniko/issues/1406

[2020-08-31 05:34] RoSk0 commented on #1395
Might be related #1406

[2020-08-31 10:45] kertzi commented on #1324
Hello getting exact same problem when running builds which have ubuntu:18.04 as base/FROM image. My builds are run by gitlab-runner in kubernetes.

I tried to add --allow-insecure-repositories flag to apt call to narrow problem down.
Also errors like `ERRO[0011] couldn't eval /usr/bin/which with link /usr/bin/which` and `ERRO[0015] couldn't eval /usr/bin/touch with link /usr/bin/touch` are mystica

[2020-08-31 14:02] rcollette commented on #1400
Is that the actual echo statement you are using?  If so you have not escaped the quotes and you have an extra brace after the auths property.

It should be
[code]

[2020-08-31 14:20] sonofagunn commented on #1400
Thanks for the reply. The actual echo statement is escaped, I'm not sure how I cut and paste something without them. I know the login is working correctly because I see the successful login messages. Also, I can change the account number (or remove the echo statement completely) and then the run will fail with an error message.

$ cat /kaniko/.docker/config.json
{"auths":{"registry.gitlab.com":{"u

[2020-08-31 16:45] sonofagunn commented on #1400
Closing this issue since I figured it out. In case someone in the future has the same problem:

It wasn't an issue with kaniko (woohoo!), but rather the AWS ECR web console silently failing to display images due to permissions. The web console just showed an empty repository rather than saying I didn't have permissions to view the images.

[2020-08-31 16:45] #1400 closed

[2020-08-31 20:05] akram opened #1407 "Specify an alternative path to .docker/config.json e.g .dockercfg"
Hi kaniko team,

I am trying to use kaniko to push to openshift internal registry. By default, on OpenShift, push and pull secrets are automatically created but they are using the old .dockercfg filename.

Is there any way (I didn't find flag) to specify an alternate path to the default .docker/config.json ?

[2020-08-31 21:11] isker commented on #1357
@tejal29 I will try to produce a PR for this.  It looks to me that we could achieve all of the things you listed just by deleting [the code that makes COPYs cacheable](https://github.com/GoogleContainerTools/kaniko/blob/f20f495051627b988c7449e9b163a4f9f30cc044/pkg/commands/copy.go#L164-L227).

Like @kamaln7 said, we already calculate the composite cache key for non-cacheable COPYs:
https://github.

[2020-08-31 22:19] akram commented on #1407
partially answering myself: it seems that https://github.com/GoogleContainerTools/kaniko/pull/1238/files introduced a kind of a change. If one reads comments before the PR, we can see:
[code]

and then
[code]

@ddgenome what do you think? would it more robust to allow the 2 behavior:
if DOCKER_CONFIG is not a directory, then consider its content as a filename
else if it is a directory, append conf

[2020-09-01 06:26] xkfen opened #1410 "multi-stage : GET https://index.docker.io/v2/library/build_base/manifests/latest: UNAUTHORIZED: authentication required"
hi , when i use the standard input build context in multi-stage build, the kaniko returns these error log:
`INFO[0007] Resolved base name golang:1.14-alpine to builder `
`DEBU[0007] Built stage name to index map: map[builder:0] `
`DEBU[0007] Found extra base image stage build_base    `
`INFO[0007] Retrieving image manifest build_base   `
`INFO[0007] Retrieving image build_base `
`error building im

[2020-09-01 09:20] kopwei opened #1411 "Got "invalid pseudo-version" when trying to import Kaniko packages"
I was trying to import some Kaniko pkg in my own project but i got following error when I am trying to execute "go run" command. The issue occurs on both Go 1.15 and Go 1.14.3. I wonder if there is any mis-configuration here

### Example Golang Code
[code]

[code]

[2020-09-01 09:51] evgkrsk commented on #1335
Faced same issue with kubernetes executor when both 0.23.0 AND 1.0.0 kaniko versions messed up with one registry cache. Cache cleanup and separation in registry (--cache-repo) works for me.

[2020-09-01 12:21] kopwei commented on #1411
It seems the issue is related to https://golang.org/doc/go1.13#version-validation where certain changes has to be made in "go.mod" file

[2020-09-01 20:44] neggert commented on #1375
@tejal29 Do you need anymore information on this? We're forced to revert to Docker because Kaniko-built images don't work in our system.

[2020-09-02 06:24] #1410 closed

[2020-09-02 14:39] Serrvosky opened #1413 "Unsolicited response received"
**Actual behavior**
I'm using kaniko in my gitlab ci, but now at the end of the step I'm getting this error:
[code]
I don't understand why I'm getting this response, and it's blocking this step for almost 2 minutes.

**Expected behavior**
Finish the step with no errors.

**To Reproduce**
Steps to reproduce the behavior:
`/kaniko/executor --context $CI_PROJECT_DIR --dockerfile docker/Dockerfile.alp

[2020-09-02 18:33] evgkrsk commented on #1335
Hmm, I am wrong, v1.0.0 only able to reproduce it from clean cache state :-(

[2020-09-03 00:18] tstromberg commented on #1413
Any chance your --destination isn't correct?

[2020-09-03 06:42] Morride opened #1414 "Error resolving dockerfile path: please provide a valid path to a Dockerfile within the build context with --dockerfile"
**Actual behavior**
A clear and concise description of what the bug is.
I found this problem while checking the error message.
[code]
This is my pod yaml.
[code]
And I created workspace.

kaniko-secret
[code]
config.json
[code]
dockerfile-pv and dockerfile-pvc
[code]
I looked at other similar issues but they couldn’t solve it.
**Expected behavior**
A clear and concise description of what you expec

[2020-09-03 08:40] #1414 closed

[2020-09-03 08:41] Morride commented on #1414
My pv is configured with wrong path.

[2020-09-03 10:38] Morride opened #1415 "Error checking push permissions to Harbor registry"
**Actual behavior**
A clear and concise description of what the bug is.
An error occurred when I created the kaniko pod
[code]
First of all, my harbor registry is installed using helm and only has an intranet. I added his domain name resolution for all servers in the cluster. This is my config.json
[code]
https://github.com/GoogleContainerTools/kaniko#pushing-to-docker-hub
I created /kaniko/.docke

[2020-09-03 15:45] martaver commented on #970
I'm also experiencing this in cloud build... the image is large (the cached layers are 400mb in container registry), but every Full Snapshot after installing node_modules takes many minutes.

Shouldn't subsequent layers be small?

Is there a debug image and some parameters you'd like me to use to get a log?

I'm not sure if it's the snapshotting or the pushing that's taking a long time.

[2020-09-03 16:47] tomikmar commented on #812
I would also include full image name in such log.

Currently logs are confusing. It seems that Kaniko stopped before pushing image to repository.

[2020-09-03 19:34] neggert commented on #1375
[This](https://github.com/GoogleContainerTools/kaniko/blob/7eb2458ba48dfad9cc135c3607f6c2035bc93f6c/pkg/util/tar_util.go#L82) appears to be the offending line of code.

[2020-09-03 20:02] anuragslab commented on #807
Just received this error i have checked all above details and all correct Kaniko version, sdk all latest. any thoughts how i can resolve this
Step #1: error building image: error building stage: waiting for process to exit: exit status 1
Finished Step #1
ERROR
ERROR: build step 1 "gcr.io/kaniko-project/executor@sha256:f87c11770a4d3ed33436508d206c584812cd656e6ed08eda1cff5c1ee44f5870" failed: step e

[2020-09-04 05:00] martaver commented on #970
The layers that are being pushed by the long-running 'full snapshot' steps end up being quite small... 2MB, 100 bytes etc...

That leads me to believe that it's the actual snapshot step that's slow and long-running. Maybe something with the file system.

A combination of many files (node_modules) and possibly symlinks? I'm using yarn workspaces...

[2020-09-07 09:03] Morride commented on #1415
I corrected some configurations
config.json
[code]
pod.yaml
I refer to #685 And added Additional Flags --insecure and --skip-tls-verify
[code]
I switched https to http. but I still encountered the error connect: connection refused.
[code]
So i can't find another way.

[2020-09-08 09:12] peacememories commented on #1392
Just chiming in to say we, too, are having problems with build speed in Kaniko. We're mainly using Kaniko as part of our Gitlab CI pipelines, because we don't want to enable privileged containers for our runners. In this regard, it's great that Kaniko exists at all, because otherwise we would just be out of luck

But speed-wise, the executor build takes forever for any `Using caching version of cm

[2020-09-08 09:54] felixng1028 commented on #1387
ENTRYPOINT in Dockerfile does not work when running a docker image that build from kaniko.
After command "docker inspect" to check the image, I found that the "Env" and "Cmd" in "ContainerConfig" are also null value.

[2020-09-08 22:40] tejal29 commented on #1384
@jeffbehl ping!

[2020-09-08 22:55] tejal29 opened #1416 "[Flaky Test] Fix flaky integration tests "TestRun/test_Dockerfile_test_volume_4""
On some of the contributors PRs, the integration test `TestRun/test_Dockerfile_test_volume_4` is flaky. See https://github.com/GoogleContainerTools/kaniko/pull/1408#issuecomment-684126326

Investigate and fix.

[2020-09-09 14:15] MrAmbiG commented on #758
same issue as of 9/9/2020

[2020-09-09 14:22] MrAmbiG opened #1418 "/busybox/sh: eval: line 136: -: not found"
**Actual behavior**
`.gitlab-ci.yml` file is provided below. I believe kaniko with debug tag has shell in it but it somehow complains that shell isn't present or found. The gitlab-runner or the whole setup is run in privileged or root mode. So access should not be a problem.
similar issue here --> https://github.com/GoogleContainerTools/kaniko/issues/758

**Expected behavior**
It should build and

[2020-09-09 18:12] tejal29 commented on #1418
@MrAmbiG Can you provide kaniko container logs?

[2020-09-09 18:29] tejal29 commented on #1415
Thanks @Morride . I have never worked with harbor registry.
Few things to try,
1. Can you pull and push images via docker cli to harbor registry.
2. If yes, kaniko uses gocontainer registry to push images. you can use the [crane](https://github.com/google/go-containerregistry/blob/master/cmd/crane/README.md) tool to see if you call push an image to harbor registry.
[code]

[2020-09-09 19:59] tejal29 commented on #1401
Thanks @donbowman I will update my progress.

[2020-09-10 03:23] horizonaz opened #1420 "Build failed with "removing whiteout sys/.wh..wh..opq: unlinkat /sys/.wh..opq: read-only file system""
**Actual behavior**
The kaniko build failed while unpacking and whiteouting file systems. (Debug log is available in Additional Information section)
The build is working if doing with "docker build".

**Expected behavior**
Kaniko build should be successful if there is COPY command in Dockerfile.

**To Reproduce**
Run the below kaniko build on Docker

**Additional Information**
 - Dockerfile

COPY

[2020-09-10 12:13] ferrastas commented on #1418
Shell is present or the gitlab job will automatically fail, it's in `/busybox/sh`.

Looks like `- echo 'end of before script'` is not correctly indented, could you try fixing that or trying with a simpler job?

[2020-09-10 13:08] tisc0 commented on #1096
Hi,

Indeed, it would be convenient to squash ALL layers (including base one) like podman and buildah provide via `podman build --squash-all` or `buildah bud --squash`.

Also, I think the [kaniko documentation](https://github.com/GoogleContainerTools/kaniko#--single-snapshot) is a bit misleading on that point :
[code]

Thanks !

[2020-09-10 20:30] MrAmbiG commented on #1418
@ferrastas I have since removed that entire line but no go. same issue.

[2020-09-10 20:33] MrAmbiG commented on #1418
This runs inside gitlab-runner container and hence I am not sure that is possible but as per https://docs.gitlab.com/ee/ci/docker/using_kaniko.html#building-a-docker-image-with-kaniko it (gitlab runner) requires a shell.

[2020-09-11 03:59] Reme3180 opened #1421 "multistage build error: failed to execute command: starting command: fork/exec /bin/sh: no such file or directory"
**Actual behavior**
This is the Dockerfile for the debug image builder:(v0.22.0)

FROM reme3180/debian-arm64:9.12.0 AS build
WORKDIR /
RUN touch test.txt
FROM reme3180/debian-arm64:9.12.0
COPY --from=build /test.txt /root/
WORKDIR /
USER root
RUN ls

This Executor is a binary of my own ARM schema type
The build log is as follows：
[Build] [36mINFO[0m[0000] Resolved base name reme3180/debian-arm64

[2020-09-11 04:03] Reme3180 commented on #1421
I found not only /bin/sh not found, but also other programs

[2020-09-11 08:09] KyrietS commented on #676
To extend @fhoeben 's great answer: if you use kaniko with custom cretificate to **tag your latest successfull build as _latest_**, then you'll need to specify two more flags for crane.
[code]
Where:

- **GODEBUG** suppresses an error: _certificate relies on legacy Common Name field_
- **$REGISTRY_CERTIFICATE** is your custom [GitLab file-type variable](https://docs.gitlab.com/ee/ci/variables/#cre

[2020-09-11 10:58] MrAmbiG commented on #1418
This got resolved after a different version of gitlab runner + kaniko.

[2020-09-11 10:58] #1418 closed

[2020-09-11 11:06] MrAmbiG commented on #1287
we still dont have an image which is out of this bug? is anyone working on it?

[2020-09-11 11:53] MrAmbiG commented on #1179
same issue here, gitlab-runner + kaniko debug 0.16.0

[2020-09-12 04:49] louiscpalma opened #1422 "Building Dockerfile from debian:stretch fails"
**Actual behavior**
When running an `apt-get update && apt-get install` inside a Dockerfile using `debian:stretch` or `ubnutu:18.04`, kaniko fails with the following error:

[code]
Using same Dockerfile with `FROM debian:buster` or `FROM ubuntu:20.04` builds successfully.

**Expected behavior**
Kaniko should be able to build Debian 9 / Ubuntu 18.04 images without having `dpkg` errors on `apt-get i

[2020-09-12 10:04] PMExtra opened #1423 "[Feature Request] Registry mirror for warmer."
In my network environment, It's hard to access docer.io. I want to use a registry mirror with warmer, just like `--registry-mirror` of executor.

[2020-09-14 14:19] davidmccormick opened #1424 "Kaniko build fails to unpack rootfs containing docker mounts"
**Actual behavior**
When a build step requires that kaniko unpacks the rootfs when kaniko is running from within Docker, and we have mounted files within the rootfs filessystem, we get a failure.  Our CI/CD pipeline always ties to mount in some additional commands.

Test dockerfile: -

[code]

test_script.sh: -

[code]

and build command...

[code]

Resultant output: -

[code]

**Expected behavior

[2020-09-14 16:20] davidmccormick commented on #1424
looks similar to https://github.com/GoogleContainerTools/kaniko/issues/946

[2020-09-14 16:27] HaveFun83 commented on #1179
same here

[2020-09-14 16:35] davidmccormick commented on #1424
In the source image /sbin is a symlink - as are other typical directories

dave@dmcc ~ % docker run -it --entrypoint=/bin/sh kindest/node:v1.17.5
# ls -al
total 64
drwxr-xr-x   1 root root 4096 Sep 14 16:31 .
drwxr-xr-x   1 root root 4096 Sep 14 16:31 ..
-rwxr-xr-x   1 root root    0 Sep 14 16:31 .dockerenv
lrwxrwxrwx   1 root root    7 Apr 10 20:34 bin -> usr/bin
drwxr-xr-x   2 root root 4096 Oct

[2020-09-14 19:12] davidmccormick commented on #1424
The issue looks to be more general, the `kindest/node` image is built from `ubuntu:20.10`
Using the following to simulate the docker 19.x behaviour which mounts `docker-init` into '/sbin'

[code]

I get the same error when `kaniko` tries to unpack the root image: -

[code]

Looking at the code in **pkg/util/fs_util.go** it looks as though function: -

[code]

is reading the root tar archives entri

[2020-09-14 19:14] davidmccormick commented on #946
Issue still present in gcr.io/kaniko-project/executor:v1.0.0, and will affect any from image where `/sbin` is a symlink elsewhere.

[2020-09-15 15:52] prune998 commented on #1209
@nlamirault how did you changed the v1/v2 endpoint for reaching dockerhub ?

I don't understand why it's so complicated to have this basic feature working... (I'm just starting with Kaniko...)

[2020-09-15 15:57] prune998 commented on #1209
OK the doc is https://github.com/GoogleContainerTools/kaniko#pushing-to-docker-hub

Use a `config.json` file for docker as:

[code]

[2020-09-16 11:22] carlpett opened #1427 "Cloud build with dir: broken?"
**Actual behavior**
Setting working directory with Cloud Build seems broken? If I submit this build:
[code]
Where `some-subdir/Dockerfile` has this content:
[code]
I get this error when it processes `ADD go.* .`:

If I remove `dir:` and use `--context=dir://some-subdir`, it works.

**Expected behavior**
Work from within the subdirectory

**To Reproduce**
Steps to reproduce the behavior:
1. See abo

[2020-09-16 13:12] raijinsetsu commented on #1392
@peacememories the issue is that Kaniko, because it is not able to access the Docker machinery, cannot use the overlay filesystem driver, which is what the Docker Daemon uses when building images. This means any "RUN" steps require iterating over all the files in the file system to see what has changed.

If, like me, your RUN commands only create NEW files and never modify existing files, you shou

[2020-09-16 14:52] kamaln7 commented on #1278
This worked for me:

[code]

[code]

[2020-09-16 16:08] jeffbehl commented on #1384
I will have time to look with a few days

[2020-09-16 20:27] gcalmettes commented on #1415
Hi @Morride ,

We are successfully using our harbor docker registry with kaniko.

Below are the relevant templates we are using:

- Kaniko pod:

[code]

- Kaniko secret:

[code]

and the credentials encoded in base64 (above) are in the form:

[code]

[2020-09-17 08:32] just4est commented on #702
So??? How to fix this sh... ? There is no answer https://github.com/GoogleContainerTools/kaniko/issues/1179 to

[2020-09-17 09:42] martint17r commented on #1137
I looked into this issue and I think this is a WONTFIX because the [OCI spec](https://github.com/opencontainers/image-spec/blob/master/config.md) applies labels only for the image as a whole and not for the individual history steps.

The only thing to be fixed is the missing created property with the individual steps, but that has to be applied at the [go-containerregistry](https://github.com/goog

[2020-09-17 13:27] snukone commented on #1395
Maybe we have had the same problem here:
![image](https://user-images.githubusercontent.com/44950692/93476260-de661a80-f8f9-11ea-9767-cab73b4176d6.png)

Our problem & solution was:
We run the kaniko executor binary in an different image than the google default docker image. Our image is based on SLES. The Image we wanted to build with kaniko was based on RHEL. Since we changed the RHEL based Docke

[2020-09-18 03:35] tejal29 commented on #702
@just4est and @pvgbabu #685 should respect `--insecure`   flag even if the `--insecure-registries` does not contain the destination image registry.
#663 should skip tls verficaition for your insecure registry.
Can you try `--insecure` and `--skip-tls-verify` ?

[2020-09-18 06:46] krishofmans commented on #1073
This still fails for us:
[code]
When using `gcr.io/kaniko-project/executor:debug-v1.0.0 .` on a gitlab k8s runner while unpacking rootfs:
[code]

Is there a workaround for this issue? Perhaps reopen this ticket?

[2020-09-18 16:08] tejal29 commented on #1073
@krishofmans Can you please provide some more logs. This issue was related to symlinks not being removed.

[2020-09-18 18:32] krishofmans commented on #1073
Of course @tejal29, the only thing that changed was the parent image and it broke ...

[code]

[2020-09-21 01:05] tscni commented on #1396
This is a bug in moby, see: https://github.com/moby/moby/issues/41433

[2020-09-21 05:34] TBBle commented on #1370
There's another similar difference in behaviour with Docker, where an attempt to `COPY` a directory over a file fails in Kaniko, but succeeds in Docker, i.e., something like the below `COPY` was in our Dockerfile, and working fine with Docker, but failed with Kaniko with "not a directory", I believe:
[code]

I'd been meaning to write up a proper reproduction case since I finally identified this in

[2020-09-21 09:33] l2dy commented on #465
Fixed in #1075?

[2020-09-21 10:28] Serrvosky commented on #1413
@tstromberg sorry for the late reply. No, my destination it's ok and it's working. The process is working fine, and makes everything that is suppose, the only inconvenient is the time that I have to wait to gitlab ci set that step to done.

[2020-09-21 11:06] nikser opened #1429 "Kaniko does not save changes of HTTP files in command ADD"
**Actual behavior**
Kaniko doesn't cache correctly when save HTTP dependency in ADD instruction.
Golang client do several HTTP requests (method GET) but new content of the file is absent in result image.

Access log (10 rows):
[code]

**Expected behavior**
Result docker image contains new content of the downloaded files.

**To Reproduce**
Steps to reproduce the behavior:
1. Use kaniko version: 1.0

[2020-09-22 14:59] eysi09 opened #1430 "[Question]: Why is the "not including whiteout files" step slow?"
Hi all!

First of all, thanks for a great project!

I noticed that my builds where taking more time then expected with Kaniko and as I was debugging this, I saw that after the `not including whiteout files` step, Kaniko "hangs" for about 35 seconds. Here's a bit more context:

[code]

Any idea why this is the case?

This is a large portion of the total time it takes Kaniko to fetch the cached laye

[2020-09-22 16:12] infa-sgorrela commented on #1297
@tejal29 ,

Do we have any timeline to fix this issue for the latest alpine builds, we are kinda blocked to use kaniko to build alpine images.

we can't ignore alpine-baselayout since it has core package updates.
`apk upgrade --no-cache --ignore alpine-baselayout`

[2020-09-23 00:55] EmilyEmily commented on #584
+1 Continue waiting for this functionality.

[2020-09-23 15:38] Laski commented on #1392
Even with the `--snapshotMode=redo` my builds take almost 10 minutes for a fully cached (nothing changed) run.

[2020-09-23 22:59] Laski opened #1431 "[Question] Builds inside local SSDs on GtiLab + GKE"
As the title says, we're using Kaniko on GitLab CI/CD with a Kubernetes runner in GKE (using the official GitLab Runner Helm Chart). This works great and allows us to parallelize builds, use a cache repo and disable privileged mode on the runner pods.

However, we build many react applications and they take a long time to build even with full caching and `redo` snapshot mode. We've successfully id

[2020-09-24 13:29] BYK opened #1432 "[Question] Kaniko GitHub action"
Would there be any interest having an official GitHub action for kaniko from this repository?

There are 2 actions created by third parties right now but none has great adoption and having this on the official repo would be more reassuring as we are likely to expose access tokens for this action.

If there is interest, I volunteer to submit a PR and work with the reviewers.

[2020-09-25 05:32] dinusha92 opened #1433 "Kaniko container is not getting created in VMWare Kubernetes"
**Actual behavior**
Hi all,

I have been using Kaniko in Kubernetes on VMware. When I was trying deploy the kaniko container, I got the following error. The Dockerfile is there present in the k8s cluster as a config map. I have mounted that to the kaniko pod as required. The same thing works fine in other GKE, minikube without any issue.

Error: failed to start container "sample-container": Error

[2020-09-25 11:32] 1ricardo opened #1434 "Kaniko - The Environment is empty when set up it from --build-arg"
**Actual behavior**
When I start POD with the following setup:

[code]

Kaniko will execute the following Dockerfile

[code]

This docker file is very trivial but it's enough for the explanation of the issue.
The problem is that the `--build-arg=VERSION=3.11.6` working fine only for the first line

so it will change it to the expected behavior, from
[code]
to

[code]
but `ENV` and `RUN` show only

[2020-09-25 13:02] 1ricardo commented on #1434
That was my mistake, I should read carefully the Docker Documentation

[2020-09-25 13:02] #1434 closed

[2020-09-25 19:15] Laski commented on #763
I was thinking: would it be possible to write (perhaps outside kaniko) some script that retires the job without cache if the first one fails?

[2020-09-25 23:24] jshearer commented on #1413
I am also seeing the same thing. How could there be an... unsolicited response? I don't imagine gitlab is just randomly sending 400's to open http connections, this has to be in response to a request made, right?

[2020-09-28 18:59] silviogutierrez opened #1436 "Cache repo issues"
**Actual behavior**
`--cache-repo` only works for the same container registry. It also doesn't report any errors uploading cache.

**Expected behavior**
Ideally, `--cache-repo` should not care what registry is used for caching. Assuming authentication all works, it should be able to push/pull from another registry.

Or at the very least, it should error out when it can't push.

If this can't be fi

[2020-09-29 09:16] Reme3180 commented on #1421
i found that the multistage dockerfile build  would delete the system after the execution of the first FROM, affecting the RUN instruction under the second FROM

[2020-09-30 07:17] akram opened #1438 "Kaniko warmer image build (with podman) fails with Cannot change ownership to uid"
**Actual behavior**
While trying to build the kaniko images using podman on centos8, the build is failing while ./docker-credential-gcr is ran:
[code]
it seems that ./docker-credential-gcr is trying to do a chown to a user/gid of user and group that does not exist on the system

**Expected behavior**
The build should succeed

**To Reproduce**
Steps to reproduce the behavior:
1.  Have a centos8 wit

[2020-09-30 23:09] Cameronsplaze opened #1440 "Can't install to container, before doing a build in GitLab. (Missing package manager?)"
**Actual behavior**
For running in GitLab, I have a yml similar to:
[code]
That part works great, but I can't find how to do any setup before building the image. There's a couple repo's I'd like to git clone before getting to the build part, so everything's together. I can't find how to install git, or any other packages I might need in the future. Is there a package manager I'm just missing? It's

[2020-09-30 23:45] #1407 closed

[2020-10-01 00:18] #1357 closed

[2020-10-01 02:17] cjshowalter commented on #1440
I think I got around this, by having another GitLab job (Ubuntu) download git, clone the repo, and upload an artifact with the files to the Kaniko job. Is this the intended way to add files for Kaniko to build with in GitLab? It seems slightly overkill just to add files to me, but I'm new to CI-CD. Maybe keeping jobs super small in gitlab is intended? Any way, thanks in advance for any advice you

[2020-10-01 09:33] dgzlopes commented on #755
This issue can be closed @tejal29. The link points to the correct place! See it [here](https://github.com/GoogleContainerTools/kaniko/blob/master/README.md#pushing-to-amazon-ecr).

[2020-10-01 09:36] dgzlopes commented on #762
This issue is outdated, and  I think it can safely be closed. The `/pkg/image` folder is different now, and this code-block doesn't exist.

[2020-10-01 09:44] nlewo commented on #755
Thanks @dgzlopes

[2020-10-01 09:44] #755 closed

[2020-10-01 09:46] dgzlopes commented on #1309
I peeked a little on this issue.

I'm not sure how easy is to update the list of regular expressions, [Azurite Blob Storage](https://github.com/Azure/Azurite) is a self-hosted/on-premise project.

Any host-suffix can be valid, right? Maybe this check can be disabled with some kind of flag?

[2020-10-01 15:30] aytekinar opened #1443 "Debug image of `v1.1.0` does not exist"
**Actual behavior**

`debug-v1.1.0` does not seem to exist.

**Expected behavior**

It should exist as per the [release notes](https://github.com/GoogleContainerTools/kaniko/releases/tag/v1.1.0).

**To Reproduce**

Steps to reproduce the behavior:

[code]

**Additional Information**

N/A.

 **Triage Notes for the Maintainers**

N/A.

[2020-10-01 16:37] pdefreitas commented on #432
For this one, it would be helpful if the executor had a flag to import all or specific environment variables (e.g. proxy settings) into the build-time variables. Setting up `--build-arg` with the necessary settings works as a workaround, kudos for the reporter for saving me some time.

[2020-10-01 18:33] asmi10 opened #1444 "Can kaniko support image signing function?"

[2020-10-01 22:52] CarlosDomingues commented on #923
I'm very happy to use Kaniko as it solves many security issues, but local caching could make my CI/CD pipelines much faster. In addition, cloud providers will often charge for data transfer, those costs could be reduced with this feature.

[2020-10-02 13:20] ejose19 commented on #1265
I've digged into the diffs from v0.19.0 to 0.20.0 and found the issue is because the credential-helper is no longer being called by default

https://github.com/GoogleContainerTools/kaniko/commit/8a020010b75852d5180f20f768fd09458175fd46#diff-2a33e645dffdb8c6e5dc53153fc455a6

The only other place where the credential-helper may be called is in this function

https://github.com/GoogleContainerTools/k

[2020-10-02 15:03] ljos opened #1446 "If /kaniko is on a readOnly filesystem, kaniko fails"
**Actual behavior**
Kaniko copies Dockerfile creates other files under the /kaniko path, but if kaniko is running under ReadOnlyRootFilesystem, those paths are not writeable, and kaniko fails since it is not possible to give a different path for build files to kaniko.

**Expected behavior**
Kaniko does not fail if I give it a path to write build files to that is writeable.

**To Reproduce**
Steps

[2020-10-02 17:10] tejal29 commented on #923
@caarlos0 Thanks for the feedback. Like you mentioned we only have a remote cache support.
We are relying on contributors to help us out. Local cache would be a great feature addition to Kaniko.

I am happy to help, guide to get this feature delivered

[2020-10-03 02:20] Reme3180 commented on #1421
I have solved the problem.
It's not Kaniko's problem.

[2020-10-03 02:20] #1421 closed

[2020-10-03 12:49] kamaln7 commented on #1357
Amazing, thanks @isker & @tejal29!

[2020-10-04 16:40] dmaciel opened #1448 "debug-* tags don't follow semantic version"
I'm working on a tool to check for update on containers and for parsing versions I'm using this library https://github.com/hashicorp/go-version

The debug-* images don't follow semver and the library is not able to process them, will it be possible to switch the "debug" string at the end? so instead of debug-v1.2.0 we can have v1.2.0-debug (or v1.2.0+debug if we use it as [metadata](https://semver

[2020-10-04 21:01] jeanfabrice opened #1449 "/busybox PATH not in ignoreList, causing multistage builds to timeout in Jenkins Pipelines"
**Actual behavior**
This pipeline times out on Jenkins:
[code]

**Expected behavior**
Pipeline to success

**To Reproduce**
Run provided groovy pipeline on Jenkins

**Personal analysis**
`/busybox` is getting deleted between both Docker stage (Look at the provided logs, specifically the results of the `ls` command before and after the execution of `kaniko`.

In the meantime, the `sh` Jenkins step

[2020-10-04 21:15] jeanfabrice commented on #1449
Maybe duplicates of #1275

[2020-10-05 02:21] mattmoor commented on #1432
(probably a dumb question) I'm curious what the perceived value would be over simply using `docker build` in the action?

[2020-10-06 03:44] rcollette opened #1450 "Feature Request - Extracting build artifacts"
Prior to using Kaniko, I was doing builds on a Gitlab Shell Executor on a dedicated VM.   In that mode I was able to extract build artifacts from a "build and test" target prior to generating the final "application" target.

[code]

Now that I am building on OpenShift with Kaniko I don't seem to have a way to get artifacts out of the built image.  I can't mount a volume to the kaniko image because

[2020-10-06 10:29] rachedanis commented on #625
I'm facing the same issue, could you please reopen ?

[2020-10-06 20:33] tejal29 commented on #1448
sure. we can provide that.
You could easily do that by making a change to this cloudbuild.yaml to create another tag
https://github.com/GoogleContainerTools/kaniko/blob/master/deploy/cloudbuild-release.yaml#L24

[2020-10-06 20:59] tejal29 commented on #1443
Sorry about that. I will publish it.

[2020-10-06 21:13] tejal29 commented on #1444
no. kaniko binary does not support singing right now.
This is dupe of
https://github.com/GoogleContainerTools/kaniko/issues/1099

[2020-10-06 21:13] #1444 closed

[2020-10-06 21:43] tejal29 commented on #1443
The debug image
[code]

[2020-10-06 21:48] tejal29 commented on #1436
@silviogutierrez I think we push to cache in background and log the error as warning here
https://github.com/GoogleContainerTools/kaniko/blob/master/pkg/executor/build.go#L411

Were you able to see the warning?

[2020-10-06 21:55] tejal29 commented on #1430
thanks @eysi09 for the logs.
Can you give is what is the size of your cache?
Looks like the line is coming from here, https://github.com/GoogleContainerTools/kaniko/blob/f20f495051627b988c7449e9b163a4f9f30cc044/pkg/util/fs_util.go#L156

Is it possible the cached layer is a huge layer and kaniko is spending time extracting it at L185?

Also, is this layer for run command or copy command?
In v1.2.0

[2020-10-06 21:58] tejal29 commented on #1431
Thanks @Laski for the issue.
This seems like a reasonable ask. I will find time to go through the documentation links and ways to integrate it with kaniko.

Thanks
Tejal

[2020-10-07 14:42] silviogutierrez commented on #1436
@tejal29 : Using the above config file, no. It just says pushed. Maybe I need a higher log level?

[2020-10-07 23:01] mmerickel opened #1451 "dockerfile.dockerignore not working"
**Actual behavior**
https://github.com/GoogleContainerTools/kaniko/pull/801 presumably added the ability to use kaniko with a dockerignore file following the format `${DOCKERFILE}.dockerignore` where `$DOCKERFILE` is the path specified in the `--dockerfile` arg to the executor. However, in my tests it's not being picked up and used.

**Expected behavior**
Match what `docker build` does when `DOCKE

[2020-10-08 00:23] mmerickel commented on #1451
I've traced this to the fact that kaniko copies the Dockerfile into `/kaniko/Dockerfile` prior to execution.

https://github.com/GoogleContainerTools/kaniko/blob/6c70f167dffde75618dc36c016414c8bcbc797e5/cmd/executor/cmd/root.go#L207-L251

From what I can tell #801 has never actually worked, because this file copy has been happening since before #801 started testing for the related `$DOCKERFILE.doc

[2020-10-08 08:04] aytekinar commented on #1443
Thank you. Now, I can pull it. Closing the issue...

[2020-10-08 08:04] #1443 closed

[2020-10-08 09:24] matisszilard commented on #1281
Hi! We are facing a similar issue.

[code]

[code]

User name and password is saved into `/kaniko/.docker/config.json`. User can log in from docker cli and it is able to push to the registry.

Nexus is running in a Kubernetes environment. From Docker CLI it is working as expected.

[2020-10-08 12:09] viktorradnai commented on #968
Can this be documented please? At minimum the README.md needs to be updated to mention using workload identity / default GCE instance credentials here: https://github.com/GoogleContainerTools/kaniko/blob/master/README.md#pushing-to-google-gcr

[2020-10-08 14:29] Laski commented on #1431
Thanks @tejal29. FYI, while investigating this I found a bug in the gitlab runner that makes this ¿impossible? for the time being https://gitlab.com/gitlab-org/gitlab-runner/-/issues/27011

[2020-10-08 18:41] tejal29 commented on #626
reopening to look into this.

[2020-10-09 14:40] insider89 commented on #918
Does anyone found workaround?

[2020-10-09 20:05] tejal29 commented on #918
@insider89 release v1.11.0 should have fixed this issue.
I merged a PR #1439 to fix issue where credential initializer was only called for the first destination.

Are you still seeing this issue?

[2020-10-10 11:20] insider89 commented on #918
@tejal29 Looks like fixed. I am using following version `executor:debug-v1.2.0`.

I am using gitlab CI to run kaniko. Before run kaniko I log in to both ecr and gcr, and then mount `.docker/config.json` to kaniko container. As cache I am using gcr, final image successfully push to both ecr and gcr.

[code]

[2020-10-11 06:09] #918 closed

[2020-10-11 12:28] darthf1 opened #1454 "Multi stage - not using cache from previous stage & file already exists"
I have a Dockerfile, where I build my PHP application, with three stages:
- Stage 1 (PHP): PHP image build based on `php:7.4.11-fpm`
- Stage 2 (NGINX): NGINX image build based on `openresty/openresty:1.17.8.2-alpine` - Copy /public folder from php stage
- Stage 3 (Varnish): Varnish image build based on `varnish:6.5` - Doesnt depend on previous stages, but this way I have everything in one Dockerfi

[2020-10-11 13:16] darthf1 commented on #1413
Same issue. This happens (randomly) during the build, after (during?) a snapshot is taken.

[code]

Sometimes it happens multiple times:
[code]

[2020-10-12 08:39] darthf1 commented on #1454
So i guess thats why the `--cleanup` flag was invented.

[2020-10-12 09:37] #1454 closed

[2020-10-12 17:43] sladyn98 commented on #1448
@tejal29 @dmaciel Would love to send in a PR for this.

[code]

What new tags would I need to add here ?

[2020-10-13 07:14] mmmdreg commented on #1179
Closing as this is fixed for me using 1.2.0.

[2020-10-13 07:14] #1179 closed

[2020-10-13 10:20] eysi09 commented on #1430
Hi @tejal29 and thank you for your reply!

Turns out I was on a dated version of Kaniko by accident and I'm not seeing this issue anymore. Apologies for the trouble.

[2020-10-13 10:20] #1430 closed

[2020-10-13 16:09] fkorotkov commented on #463
Bumping the issue since more and more tools are support such HTTP caches including GitHub Actions, Please Build, etc. IMO it will be a great option to have just a separate HTTP cache instead of an actual repository.

[2020-10-13 23:43] leepatrick-goop opened #1455 "Kaniko failing to push to ECR"
**Actual behavior**
Trying to push to ECR with Kaniko on Gitlab on Kubernetes and get a user denied with the node instance role as the user even when providing access and secret keys with the credstore.

**Expected behavior**
images pushes to ECS

**To Reproduce**
Steps to reproduce the behavior:
$ echo "{\"credsStore\":\"ecr-login\",\"credHelpers\":{\"$AWS_DOCKER_URL\":\"ecr-login\"}}" > /kaniko/

[2020-10-14 07:32] robertgates55 opened #1456 "COPY with --chown command should not require user or group IDs to exist"
**Actual behavior**
This looks to be similar to #477, but given that was closed a year ago with unable to reproduce I thought I'd start afresh.

Building:
[code]
Gives:
`error building image: error building stage: failed to execute command: getting user group from chown: user: unknown user 1000`

**Expected behavior**
This Dockerfile works with docker - I'd expect that specifying the --chown would

[2020-10-14 09:48] tim-itwakes commented on #1271
maybe the following line is the reason?
[code]

In my case,
it works after I change `FROM composer as composer` to `FROM composer to composerStage`

[2020-10-14 12:55] clushie commented on #1327
Hey @dHannasch that is very handy to know, I'm now passing a token via `NO_PROXY` to git until Kaniko has added a way of passing secrets into the build-job. I see that the history/ARG behavior is different for Kaniko, but using `NO_PROXY` will avoid developers accidentally having their tokens in the history when working on their local machine.

[2020-10-14 17:04] tejal29 commented on #1448
The warmer image is fine i guess.
you will have to do the following for the debug image.
you will have to make this change in 2 files. `couldbuild-release.yaml` and `cloudbuild.yaml`
[code]

[2020-10-14 17:09] tejal29 commented on #1448
Oh and in the images
[code]
Add the newly tagged  `gcr.io/kaniko-project/executor:$TAG_NAME-debug`

[2020-10-15 03:19] zhangtbj opened #1457 "Refine the error message for wrong dockerfile path"
**Actual behavior**
This is not a bug but it is a improvement. We met this kind of problem several time, `-context` and `dockerfile` path may make people confusion, so some of time, the user may input wrong `dockerfile` path, but the error message is not clear for end user.

**Expected behavior**
We can know the clear error that my dockerfile path this wrong or cannot find the dockerfile in that p

[2020-10-15 11:30] sschueller commented on #1073
For anyone having this issue (removing whiteout ... operation not permitted ). It appears to be an issue with older version of docker running the ```aufs``` storage driver (default in older debian installs). Upgrading to docker 18 or higher and using the storage driver ```overlay2``` fixed this issue for me. To check what storage driver you are using do a ```docker info```.

[2020-10-16 03:13] beanaroo commented on #769
Getting this error on `executor:debug` on GitLab CI:

[code]

Dockerfile to reproduce:
[code]

[2020-10-16 09:48] aii-ssvinoth22 commented on #923
Even im looking for this feature, it would be great if we have this feature soon!

[2020-10-16 13:05] cmorty commented on #1440
@cjshowalter The problem is, that the script is executed in the context of the knaiko-Image. And that image has no git (because it isn't needed and does not belong there). I do not have a really good solution, but I can give some pointers:
* Build your own Docker-Image with Kaniko and Git.
* You can try to exploit the `pre_clone_script` or `pre_build_script` in the [config.toml](https://docs.gitla

[2020-10-16 13:14] sladyn98 commented on #1448
Sounds good :+1:

[2020-10-16 21:51] cjshowalter commented on #1440
Hey @cmorty, thanks for the reply!

I guess that's where I'm stuck. I don't know how to add git to the Kaniko image. It doesn't have any package manager I can find, or curl, make, and cmake for building it myself. I'll have to remember about the custom executors, I'd like to get podman working eventually too xD, I'm not sure if that lets you use git, or any other packages though.

[2020-10-17 17:25] stavalfi opened #1459 "when using `--cache=true`, kaniko fail to push cache layer and (sometimes) fail to push image"
**Actual behavior**
A clear and concise description of what the bug is.

when using `--cache=true`, kaniko fail to push cache layer.

* in other repo, it failed to push the image it self because of the error.

**Expected behavior**
there shouldn't be any failures

**To Reproduce**
Steps to reproduce the behavior:

I created a repo to reproduce the bug: https://github.com/stavalfi/kaniko-bug-reprod

[2020-10-17 19:42] stavalfi commented on #1459
after investigation, a workaround is:

specifying `--cache-repo` that is different compared to `--destination=stavalfi/kaniko-bug-reproduce:1.0.0` solved it:
[code]

I would expect from kaniko to have an error about it (if thats the desired behavior)

[2020-10-17 20:27] cmorty commented on #1440
@cjshowalter You'll need a multistage build: https://docs.docker.com/develop/develop-images/multistage-build/

You can take the kaniko image and copy the executor into the alpine/git image. (You can do this using kaniko) and then upload that image to you registry and use that as your image.

You're Dockerfile should look something like
[code]
...to get the gist. ;)

[2020-10-19 12:32] huolunl commented on #1297
Is this problem solved now？

[2020-10-19 13:38] sladyn98 commented on #1448
I created a PR for this @tejal29 . Thanks for the help

[2020-10-19 14:37] dlakatos847 commented on #1136
I faced this issue during building Kaniko image with Kaniko:
[code]
The solution for me was not to mount `/kaniko/.docker` as a whole volume but to use K8S [`subPath`](https://kubernetes.io/docs/concepts/storage/volumes/#using-subpath) to just mount the `/kaniko/.docker/config.json` file.