[2019-09-27 21:23] tejal29 commented on #741
closing as dupe of #772

[2019-09-27 21:23] #741 closed

[2019-09-27 21:25] tejal29 commented on #777
@evheny0 Please refer to the caching docs mentioned here https://github.com/GoogleContainerTools/kaniko#caching to learn more about how to use local cache.

[2019-09-27 21:25] #777 closed

[2019-09-27 21:25] tejal29 commented on #777
Feel free to re-open if you have follow up questions!

[2019-09-27 21:26] tejal29 commented on #771
hmm we could definitely add a `--with-timings` flag and export a machine readable summary at the end.

[2019-09-27 21:28] tejal29 commented on #758
Thanks. Closing this issue for now. Please re-open if you need any more follow ups.

[2019-09-27 21:28] #758 closed

[2019-09-27 21:33] tejal29 commented on #718
This might be related to #742

[2019-09-27 21:38] tejal29 commented on #761
Can you try enclosing the value in quotes ?

[2019-09-27 21:43] tejal29 commented on #738
Looks like this is still not fixed in fedora:30.
i am not sure what `kaniko` could do here? Can you explain more?

[2019-09-27 21:45] tejal29 commented on #686
@vfiftyfive like @d4nyll mentioned, he was able to run kaniko without specifying `AWS_REGION`

Can you verify again?

[2019-09-27 21:54] tejal29 commented on #502
@davidbarratt I am not sure what the ask is here.
Kaniko is used to build images from a Dockerfile, inside a container or Kubernetes cluster.
For locally building and running an app, you sould our other initiative Skaffold.
Skaffold also supports docker compose.
https://github.com/GoogleContainerTools/skaffold/tree/master/examples/compose

[2019-09-27 22:02] ptinsley commented on #788
No parallel steps in this specific build.

[2019-09-27 22:10] tejal29 commented on #626
@2020testuser Thank you for filing this.
Please review our docs on Security.  https://github.com/GoogleContainerTools/kaniko#security
kaniko does run as root within the container and hence you are seeing this error.

[2019-09-27 22:19] tejal29 commented on #702
@CeadeS  and @CeadeS Can you please confirm?

[2019-09-27 22:21] tejal29 commented on #705
Thanks @leahneukirchen for detailed investigation.
Feel free to submit a PR.

[2019-09-27 23:09] JonathonReinhart commented on #738
The underlying problem is that `kaniko` apparently doesn't support *file capabilities*. If it did, there would be no problem.

[Redhat bug 648654](https://bugzilla.redhat.com/show_bug.cgi?id=648654) is discussing how `rpm` could *work around* missing support for file capabilties.

[2019-09-28 00:41] vguaglione commented on #743
Thanks.  I will give this a try and let you know our result.  I appreciate the fast turn-around on this issue.

[2019-09-29 03:04] drpmma commented on #720
I push a problem image to docker hub and pull it with kaniko. The image pulled from docker hub extracts with no problem. This issue seems causes by improper compression or the unofficial image registry.

[2019-09-30 05:48] abergmeier commented on #785
I have. Without debug output it really is problematic to see where an actual problem in authenitcation occurs.

[2019-09-30 12:35] vguaglione commented on #743
FYI, we're using the debug version of the container.  Has that image also been patched/fixed?

[2019-09-30 13:02] vguaglione commented on #743
Question answered.  We have run builds on three separate images that had been problematic last week and see that all have run successfully to completion.  Thanks so much for the help, @tejal29 We can go ahead and close this issue.

[2019-09-30 14:03] ImJasonH commented on #788
Does this error go away if you request a build with a larger [`--machine-type`](https://cloud.google.com/sdk/gcloud/reference/builds/submit#--machine-type)? My guess is that the contents of the source context are just larger than the 3.75 GB of memory (minus GCB's own overhead) available to the build, and so you're getting OOMs.

Kaniko could buffer its layer contents to disk, then upload to the r

[2019-10-01 13:48] MichelMan commented on #789
Hey thanks for your reply @tejal29.

But when you said that you were able to run the command. There is no logs WARN like:

[code]

[2019-10-02 19:04] tejal29 commented on #785
Thanks @abergmeier Is there any helpful output when you pass the verbosity debug flag?
https://github.com/GoogleContainerTools/kaniko#--verbosity

Thank you for your patience. We are trying hard to get some AWS accounts to try out our tools.

[2019-10-02 19:05] tejal29 commented on #778
sounds good!

[2019-10-02 19:17] tejal29 commented on #776
Thanks @victornoel would you be up for submitting an PR for this?
You would need  to consider the `opts.DockerfilePath` here along with the `opts.SrcContext` if DockerfilePath is not a remote file.

https://github.com/GoogleContainerTools/kaniko/blob/master/pkg/executor/build.go#L430

[2019-10-02 19:19] tejal29 commented on #770
Awesome! we should update to latest moby/buildkit

[2019-10-02 19:20] tejal29 commented on #762
Thanks @prary feel free to create a PR :)

[2019-10-02 19:24] tejal29 commented on #757
@flixpae Currently kaniko does not support reg-ex in copy command.
We welcome any PRs to support this. You would need to add this here
https://github.com/GoogleContainerTools/kaniko/blob/master/pkg/commands/copy.go#L54

[2019-10-02 19:25] tejal29 commented on #752
@micthiesen Thanks for providing the work-around. We will definitely investigate and fix this.

[2019-10-02 19:34] tejal29 commented on #759
@LP0101 I agree with @mhio. The scanning tool should be responsible for pulling the image.
Alternate approach would be have a script to pull the image and save it as tar.

closing this as wont-fix.
Thanks
Tejal

[2019-10-02 19:34] #759 closed

[2019-10-02 19:35] tejal29 commented on #699
I think this is by design. We want cache the layer and adding a timestamp might change it.
But that said, i think we need to fix our caching to not ignore the timestamp.

Thanks
Tejal

[2019-10-02 19:38] tejal29 commented on #732
This should be fixed by #736

[2019-10-02 19:38] #732 closed

[2019-10-02 19:38] tejal29 commented on #675
this should be fixed by https://github.com/GoogleContainerTools/kaniko/pull/736

[2019-10-02 19:38] #675 closed

[2019-10-02 19:39] tejal29 commented on #731
This should be fixed by https://github.com/GoogleContainerTools/kaniko/pull/736

[2019-10-02 19:39] #731 closed

[2019-10-02 19:42] tejal29 commented on #597
This is an issue related to tools consuming kaniko.
We can't guarantee or have control on when a pod gets cleanup.

[2019-10-02 19:42] #597 closed

[2019-10-02 20:01] ArsenyZorin opened #797 "Connection reset by peer"
**Actual behavior**
Kaniko build fails in Gitlab CI.
Used image:
`image gcr.io/kaniko-project/executor:debug`

During build stage this error occures sometime:
[code]

**Expected behavior**
The container is built successfully.

**To Reproduce**
Gitlab CI configured as mentioned in Gitlab documentation
https://docs.gitlab.com/ee/ci/docker/using_kaniko.html

Gitlab Runner installed with helm
`image:

[2019-10-02 20:07] micthiesen commented on #752
@tejal29 thanks. I’d like to add that I’ve had inconsistent results trying to reproduce this. Good luck with the investigation

[2019-10-02 21:04] tejal29 commented on #797
@ArsenyZorin you mentioned, it happens sometimes. Is this an intermittent error or happens always?

[2019-10-02 22:06] JeremyCraigMartinez commented on #676
@donmccasland how is this already supported? Please provide links to the documentation explaining how this is supported

[2019-10-03 04:39] ArsenyZorin commented on #797
@tejal29 It happens at about 60% of all CI runs

[2019-10-03 07:58] victornoel opened #798 "Better document how to run the integration tests"
**Actual behavior**

I run `make integration-test` and I get the following output:
[code]

**Expected behavior**

Either the tests are not working or I'm doing something wrong. I have no way to know if there are things I need to setup beforehand. For the record I just ran `dep ensure` before running the integration tests.

**Additional Information**

Using go version go1.13 linux/amd64 on archlinu

[2019-10-03 07:58] victornoel commented on #776
@tejal29 thx, I'm trying but I'm blocked by #798 :)

[2019-10-03 11:46] EnriqueRiveiro opened #799 "Cant build Nodejs image"
kaniko.yaml
apiVersion: v1
kind: Pod
metadata:
  name: kaniko-build
spec:
  initContainers:
  - name: git-clone
    image: alpine
    command: ["sh", "-c"]
    args:
    - |
      apk add --no-cache git &&
      git clone https://github.com/EnriqueRiveiro/apm-agent.git /context
    volumeMounts:
    - name: context
      mountPath: /context
  containers:
  - name: build-image
    image: gcr.io/kan

[2019-10-03 12:07] #799 closed

[2019-10-03 12:36] EnriqueRiveiro opened #800 "Errors to build nodejs in aks"
**Actual behavior**
A clear and concise description of what the bug is.
I've been trying to mount an image with a demo on nodejs.
The problem comes when I run the pod in kubernetes, it seems that it is executing the process but there comes a time that throws me this error

npm ERR! path /root/.npm
npm ERR! code EROFS
npm ERR! errno -30
npm ERR! syscall mkdir
npm ERR! rofs EROFS: read-only file sys

[2019-10-03 14:57] chauffer commented on #379
I have made an openshift-compatible version of the executor image here which seems to work for me: https://github.com/ContainerSolutions/dockerfiles/tree/master/kaniko-openshift

I have also based it on alpine to make it work with Jenkins and to easily add CA certificates (or anything else you might need.)
It is not maintained so if you intend to use it please copy & paste the files and maintain i

[2019-10-03 15:12] victornoel commented on #776
@tejal29 I've made a PR, I will leave the integration tests execution to the CI :)

[2019-10-03 21:08] ataillefer commented on #797
Hi, is your GitLab Runner using  a Kubernetes executor?
In which case you could be facing the bug described in the following blogs, that provide a workaround:
https://www.zenko.io/blog/solving-connection-reset-issue-in-kubernetes/
https://kubernetes.io/blog/2019/03/29/kube-proxy-subtleties-debugging-an-intermittent-connection-reset/

Also see
https://github.com/kubernetes/kubernetes/issues/74839
h

[2019-10-04 06:44] victornoel commented on #798
Seems I haven't read closely enough, this is documented in DEVELOPMENT.md

[2019-10-04 06:44] #798 closed

[2019-10-04 06:53] tejal29 commented on #798
Hi @victornoel this is recent issue issue with `go1.13`.
See https://github.com/golang/go/issues/34443, https://github.com/golang/go/issues/33475

Can you revert back to `go1.12`?

[2019-10-04 06:59] tejal29 commented on #797
Thanks @ataillefer for the links! @ArsenyZorin Please try the solutions mentioned and let us know!

[2019-10-04 07:00] tejal29 commented on #800
@EnriqueRiveiro, just wanted to ask 1 qq, does the above  dockerfile work via docker build?

[2019-10-04 07:01] tejal29 commented on #776
Thanks @victornoel. Please try reverting go to v12, and try running `make integration`

[2019-10-04 07:01] victornoel commented on #798
@tejal29 ah indeed, thanks for the feedback, I thought it was just me doing something wrong :)
I will try to see if I can, I'm not clear with go how to change the currently used go version (in js I would use nvm for example, in python pyenv, but in go I have no idea and my linux distribution is using 1.13.1.

[2019-10-04 07:23] ArsenyZorin commented on #797
Thank you! I will take a look on all links

[2019-10-04 08:17] #494 closed

[2019-10-04 08:17] #691 closed

[2019-10-04 08:50] EnriqueRiveiro commented on #800
@ tejal29 Yes, it works correctly, the solution is at https://github.com/GoogleContainerTools/kaniko/issues/495
Thank you very much anyway.
I close this.

[2019-10-04 08:50] #800 closed

[2019-10-04 08:56] #776 closed

[2019-10-04 09:00] tejal29 commented on #797
thanks. let us know.

[2019-10-04 09:02] #743 closed

[2019-10-04 09:11] tejal29 commented on #738
would running kaniko inside privileged container help?
https://discuss.linuxcontainers.org/t/cpio-cap-set-file/472/2

https://kubernetes.io/docs/concepts/workloads/pods/pod/#privileged-mode-for-pod-containers

[2019-10-04 09:14] tejal29 commented on #769
Thanks @fabn, i will take a look at this.

[2019-10-04 09:32] tejal29 commented on #720
So the error is coming from here https://github.com/GoogleContainerTools/kaniko/blob/master//pkg/util/fs_util.go#L73.
Can you check if the layers belonging to image are correct?

Is image, built by kaniko?

[2019-10-04 15:51] jimanvlad commented on #400
I've got the same error when trying to push to an on-prem Artifactory server:
[code]

https://github.com/GoogleContainerTools/skaffold/issues/1961

[2019-10-04 17:42] donmccasland opened #802 "Need a roadmap document"
We need to write a ROADMAP.md that calls out the work we are trying to focus on and in what order.

[2019-10-04 17:57] willcro opened #803 "Dockerfile path can no longer be an HTTP(S) address"
**Actual behavior**
Kaniko attempts to resolve any URL as a relative path. This causes an error since the directory doesn't exist.

**Expected behavior**
If a URL is passed as the `--dockerfile` argument, it should make a GET request to fetch the Dockerfile. The downloaded Dockerfile should then be used for the build.

**To Reproduce**
Steps to reproduce the behavior:
1. `kaniko --context . --dock

[2019-10-04 21:31] tejal29 commented on #803
@willcro Looks like a bug here
https://github.com/GoogleContainerTools/kaniko/blob/master/cmd/executor/cmd/root.go#L249,
Fixed in #804

[2019-10-04 21:36] tejal29 commented on #788
Thanks @ImJasonH.

[2019-10-04 23:00] #803 closed

[2019-10-05 04:31] tejal29 commented on #720
@drpmma Can you try with `-v debug` flag with the latest image

[2019-10-05 15:25] davidbarratt commented on #502
I think Skaffold is exactly what I'm looking for! thanks!

[2019-10-05 15:25] #502 closed

[2019-10-07 06:23] Neonox31 commented on #769
I have the same problem, also with the `debug` tag :
[code]

I feel like the error is related to chrome installation inside image but not sure of that.

[2019-10-07 06:50] fabn commented on #769
@Neonox31 that was my first thought but same dockerfile builds in native docker with no issues

[2019-10-07 07:29] Neonox31 commented on #769
@fabn Yes, but I think the conflict is between kaniko and chrome.

[2019-10-07 07:47] lippertto opened #807 "Kaniko executor image fails to start (unknown command true for executor)"
**Actual behavior**
The Kaniko executor image fails to start.

`gcloud build submit` fails with the following error message:

    Pulling image: gcr.io/kaniko-project/executor:latest
    latest: Pulling from kaniko-project/executor
    Digest: sha256:fb27a2ca60b0943d124100abb66e937bfcf81821d2c79eb7813b7e74637958d0
    Status: Downloaded newer image for gcr.io/kaniko-project/executor:latest gcr.io/

[2019-10-07 11:48] tadeas22 commented on #807
Yes

[2019-10-07 13:13] antechrestos opened #808 "Docker: unable to push on a some registry when FROM clause contains a private registry different that target one or a proxy url"
**Actual behavior**

I am currently trying to build and push an image on a openshift registry. The build is made from outside openshift cluster and push in the end to the openshift registry.

**I am able to do it correctly with docker and the docker push is fine.**

However, when I do it with kaniko it end with the following message

`error pushing image: failed to push to destination default-rout

[2019-10-07 13:14] tibers opened #809 "Kaniko needs better proxy handling"
**Actual behavior**

If I setup proxies in my docker service definition, containers which kaniko spawns will ignore those proxy settings. This is really a go problem, as best I can tell. They will eventually fail with the error:

[code]

[2019-10-07 13:36] lippertto commented on #807
I do not explicitly set the cache flag, because kaniko is triggered by GCP's cloud build, but according to [the documentation](https://cloud.google.com/cloud-build/docs/kaniko-cache) the option that I set with `gcloud config set builds/use_kaniko True` causes the cache to be enabled.

So, yes, the problem is seen when I use the cache flag.

[2019-10-07 15:12] prary commented on #762
PR containing deletion of the image.go file?

[2019-10-07 15:53] burdiyan commented on #575
Same thing here. Seems to only cache the first stage in our situation.

[2019-10-08 10:14] rustymunkey commented on #752
We stumbled upon a similar issue when installing the "graphviz" debian package. The kaniko build succeeds, however in the resulting image several files are missing.

Our Dockerfile:
[code]

The result is not deterministic. Sometimes newly installed libraries are missing, sometimes the "/usr/bin/dot" binary is not in the image.

We appended an `ls` command at the end of the RUN to see if the librar

[2019-10-08 18:31] time4116 commented on #785
This is currently working for me. The IAM role that is assigned to my nodes allow ECR push permissions. There are no AWS IAM credentials on my Kaniko container, here is my /kaniko/.docker/config.json. However, I have also had success specifying a registry via credHelpers.

`
{
	"credsStore": "ecr-login"
}
`

[2019-10-08 21:28] huguesalary commented on #807
I'm running into the same issue. It was still working well yesterday at 2pm PST.

I'm using `--cache true`

[2019-10-09 07:48] daHaimi commented on #676
If the workaround by @smoulderme should be seen as "suported functionality" it should be in the official documentation for this use case.

[2019-10-09 08:33] MichaelBrandt4994 commented on #807
I'm using a cloudbuild.yaml and running into the same issue.

As a quickfix I'm using `--cache=true`

[2019-10-09 12:43] drpmma commented on #720
The image is not built by kaniko. And the image can be extracted and run correctly by docker.

Below are the logs. So the error is cause by MISSING media type.

[code]

[2019-10-09 15:16] ccremer commented on #808
We also experience this. Interestingly enough, we have a GitLab CI pipeline that builds 2 images ("app" and "echo"), both Jobs are very similar as they extend the same base job ".build".

However, the echo image can be built and pushed fined, while the app cannot.
.gitlab-ci.yml:
[code]
(the sleep is debugging on the CI runner)

The difference between dockerfiles might be noteworthy:
[code]
[code]

[2019-10-09 16:09] ccremer commented on #808
I actually figured out why it cannot push:
The problematic difference actually is `FROM registry.gitlab.xxx.tld ...`
When the FROM is from Docker hub or from the same registry as the destination, it works, e.g.
[code]
This does not:
[code]
Maybe it simply selects the wrong credentials when there are multiple configured in `/kaniko/.docker/config.json`
This affects 0.12 as well as 0.13.

Can you co

[2019-10-10 16:05] ccremer commented on #808
Glad you could workaround the issue. At the same time it's confirmed.
In our case we reverted to docker builds for the time being, even if it's a security issue (root container etc.)
Do you mind renaming the issue title indicating something about multiple private registries? It's not really Openshift specific :)

[2019-10-10 16:44] antechrestos commented on #808
@ccremer Yes I also enriched the description. Thank you for your help. Cheers.

[2019-10-11 17:44] priyawadhwa opened #812 "Log that an image has been pushed successfully"
So that the user knows kaniko is done

current output is

[code]

we used to rely on go-containerregistry logs to do this for us, but maybe they've changed.

[2019-10-11 19:02] JonathonReinhart commented on #738
Possibly, but that defeats the purpose of using Kaniko, doesn't it?

[2019-10-12 02:32] Ark-kun opened #813 "The /kaniko/executor --digest-file option should create parent directories"
**Actual behavior**
I run Kaniko Docker container with the --digest-file option:
[code]
The execution fails due to the lack of parent directories:
[code]

I cannot add a script to pre-create the parent directories, because Kaniko image is distroless and lacks `sh`.

**Expected behavior**
I expect Kaniko to create the parent directories for any output file it writes.

 | **Description** | **Yes/No*

[2019-10-12 02:36] Ark-kun opened #814 "Add --image-name-with-digest-file"
I request a small new feature very similar to the existing `--digest-file` option.
The `--digest-file` option only outputs the image digest (`sha256:bc45...67e1`) and needs to be combined with image name to make a working image reference.

The `--image-name-with-digest-file` should output the full image name including the digest: `my-org/my-image@sha256:bc45...67e1`

[2019-10-13 01:54] ptinsley commented on #788
@ImJasonH I'll try that on Monday but it would seem strange for that to be the cause and it works fine when the build is retried...

FWIW the finished build when it works shows as 977MB. The base that it comes from is 218MB.

[2019-10-14 00:12] duxbuse opened #815 "Multi Stage build not respecting dependency tree"
**Actual behavior**
Kaniko builds all stages of a multi stage then only returns the stage specified in the `--target` declaration.

**Expected behavior**
Kaniko should only build the stages that the `--target` has as dependencies.

**To Reproduce**
Multi stage file like this:
[code]

I would expect that when building this file with `--target` = `deployable` that the test layers would not be built.

[2019-10-14 22:10] codevbus commented on #812
@priyawadhwa - I'd like to take this.

[2019-10-15 07:10] prary opened #818 "Change Filesystem Extraction debug log to trace log"
**Actual behavior**
Too many debug logs while building. Can we change following log level to trace instead of debug.
https://github.com/GoogleContainerTools/kaniko/blob/602657930f800d3fd7871ff647206a39e94bcd81/pkg/util/fs_util.go#L268

https://github.com/GoogleContainerTools/kaniko/blob/602657930f800d3fd7871ff647206a39e94bcd81/pkg/util/fs_util.go#L242

https://github.com/GoogleContainerTools/kanik

[2019-10-15 16:30] prary opened #819 "make push in Makefile"
**Feature requirement**
How about the idea of push phony in Makefile

 | **Description** | **Yes/No** |
 |----------------|---------------|
 | Please check if this a new feature you are proposing        | <ul><li>- [ **Yes** ] </li></ul>|
 | Please check if the build works in docker but not in kaniko | <ul><li>- [ **No** ] </li></ul>|
 | Please check if this error is seen when you use `--cache` fl

[2019-10-15 17:00] priyawadhwa commented on #812
@codevbus awesome, I will assign you. Please cc me on any PRs you open.

[2019-10-15 17:06] priyawadhwa commented on #818
Hey @prary this seems reasonable to me. Would you be interested in opening a PR? Please cc me if you, or anyone else, opens PRs around this issue.

[2019-10-15 17:06] priyawadhwa commented on #819
Hey @prary what image would this be pushing?

[2019-10-15 17:07] prary commented on #818
hi @priyawadhwa I raise a PR for it thanks.

[2019-10-15 17:08] prary commented on #819
Image build in ```make images``` step

[2019-10-15 17:22] priyawadhwa commented on #818
Great I've assigned you to the issue

[2019-10-15 19:09] EppO commented on #769
I can confirm it's about the chrome install. When I just remove Chrome (google-chrome-unstable in my case) from the list of packages installed by apt-get, kaniko is able to build the image

[2019-10-15 20:21] inhumantsar commented on #713
came across this thread while researching kaniko use on GitLab CI. was concerned this would impact me, but i'm unable to reproduce using the `debug` image.

i've posted what i'm using below. hopefully it helps someone

[code]

[2019-10-16 06:01] #809 closed

[2019-10-16 15:05] slmagus opened #820 "make images failes with build_args incorrectly populated"
**Actual behavior**
make images
docker build ''  -t gcr.io/kaniko-project/executor:latest -f deploy/Dockerfile .
"docker build" requires exactly 1 argument.
See 'docker build --help'.

Usage:  docker build [OPTIONS] PATH | URL | -

Build an image from a Dockerfile
Makefile:59: recipe for target 'images' failed
make: *** [images] Error 1
travis_time:end:28e7a5e0:start=1571237555923107306,finish=157

[2019-10-16 17:17] tejal29 commented on #819
sure. you add a `push` target to makefile and use it 👍

[2019-10-16 17:18] prary commented on #819
Great i'll raise a PR for it

[2019-10-16 17:39] tejal29 commented on #814
@Ark-kun, since the user specifies the image name in the `--destination` flag, can you write a script to append the image name?

[2019-10-16 23:55] Ark-kun commented on #814
I tried that, but the Kaniko container image is distroless and does not have `sh`.

Generally, I think that the full image name is more useful than just digest alone.

[2019-10-18 12:40] JordanGoasdoue opened #822 "USER 'www-data' uses '/home/www-data' instead of '/var/www' as $HOME"
**Actual behavior**
A clear and concise description of what the bug is.

Kaniko doesn't recognize $HOME of USER such as `www-data` which is :
* `/var/www` in Docker
* `/home/www-data` in Kaniko

Example with Kaniko :
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. USE this Dockerfile as examp

[2019-10-18 14:20] ikogan opened #823 "`RUN` fails because of missing /bin/sh. Dockerfile builds properly with Docker"
**Actual behavior**
When running a kaniko build with skaffold, I get the following error:

[code]

**Expected behavior**
For the build to complete successfully as it does when building locally with docker.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to build the included Dockerfile

**Additional Information**
 - Dockerfile
[code]

 - Build Context
   The `docker/user-sync-setup-fix.p

[2019-10-18 23:05] #820 closed

[2019-10-18 23:21] tejal29 commented on #823
@ikogan Kaniko does not come with a shell.
Please see https://github.com/GoogleContainerTools/kaniko#debug-image

Can you override the kaniko image in skaffold config to use debug image?
https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/schema/latest/config.go#L728
Thanks
Tejal

[2019-10-18 23:21] #823 closed

[2019-10-19 16:30] prary commented on #813
@priyawadhwa you can assign this to me.

[2019-10-20 12:10] ffahri opened #826 "Feature Req: Update AWS Go sdk to use iam for pods (oidc)"
https://aws.amazon.com/blogs/opensource/introducing-fine-grained-iam-roles-service-accounts/

`supported go version : Go — 1.23.13`

[2019-10-21 03:21] codevbus opened #827 "Error resolving Dockerfile path please provide a valid path to a Dockerfile within the build context with --dockerfile"
**Actual behavior**
Kaniko returns an error about an invalid path to a Dockerfile
```Error: error resolving dockerfile path: please provide a valid path to a Dockerfile within the build context with --dockerfile```

**Expected behavior**
Expected Kaniko to run correctly

**To Reproduce**
Steps to reproduce the behavior:
1. Run ```docker run -v kaniko:/workspace gcr.io/kaniko-project/executor:lates

[2019-10-21 03:50] codevbus commented on #827
Resolved by specifying ```/workspace/Dockerfile```.

[2019-10-21 03:50] #827 closed

[2019-10-21 08:13] Akkarine commented on #815
Same here. I would also add, that if there is no dependencies at all, kaniko will build all unwanted stages  in order they are declared in Dockerfile till it comes to target. Luckly, if target is the first stage, other stages not initiated :)

[2019-10-21 09:32] d-sko commented on #217
Hello, I'm using kaniko in a GitLab CI Pipeline, which works fine with one tag, but with two destination flags I only get the tag of the last destination flag in the registry. Is something wrong with my command:
[code]

[2019-10-21 10:36] ncri commented on #713
Same issue here, prevents us from using kaniko at the moment.

[2019-10-21 16:38] rayanebel commented on #681
Hello,

Did anyone find a workaround or something else to make it working with openshift ? Because I don't want to enable `anyuid` on our cluster.

Thanks.

[2019-10-21 17:32] priyawadhwa commented on #217
Hey @d-sko what version of kaniko are you using?

[2019-10-21 17:33] priyawadhwa commented on #813
@prary sounds good!

[2019-10-21 21:03] cyrildiagne commented on #686
In my case, I had to add the `AWS_REGION` env variable because my AWS project was not in the default `us-east-1` region.

[2019-10-21 22:07] bymarshall commented on #704
Hi, I confirmed this incorrect behavior. As a result, when kaniko's cache is activated, it increases the size of the containers and probably generates other problems by leaving the files and folders that you want to delete.

[2019-10-22 02:30] codevbus opened #828 "Run in Docker documentation lacks context"
**Actual behavior**
The documentation for running Kaniko in a Docker container via `run_in_docker.sh` lacks appropriate context. The script does not appear to function correctly if a remote build context is specified, or if a Dockerfile is referenced outside the container filesystem:

[code]

**Expected behavior**
As described in the documentation, this should be a valid command string:
[code]

**

[2019-10-22 03:49] codevbus commented on #828
PR in #829

[2019-10-22 12:35] JordanGoasdoue opened #830 "error building image: error building stage: mkdir /usr/share/bug/systemd: not a directory"
**Actual behavior**
A clear and concise description of what the bug is.

The error is :
[code]

This is this Dockerfile which is used to have this error :
[code]
Our home made `jessie:v0.0.1-dist-kaniko` jessie docker image use `debian:jessie-slim` as FROM.
`systemd` deb package is in version 215 on `debian:jessie-slim`, and `eu.gcr.io/xxxxxxxxxxxxx/jessie:v0.0.1-dist-kaniko` add as debian distrib

[2019-10-22 14:11] yrsurya opened #831 "Failing for RUN yum update -y"
**Actual behavior**
A clear and concise description of what the bug is.
[code]
we create following kaniko executor and configured in kubernetes plugin in jenkins.

then we are trying to build a base image which consits of this
[code]
[code]
but getting following output
[code]
**Expected behavior**
A clear and concise description of what you expected to happen.

**To Reproduce**
Steps to reproduce

[2019-10-22 16:10] codevbus commented on #720
This is currently failing when running `make test` as well.

[2019-10-24 02:14] jeunii commented on #676
Any official documentation on this ? I have a Jenkins job that needs to clone images and I do not want to introduce dind containers just so that I can run `docker pull/push`.

We already use kaniko to build images and push them to our internal repo. Would be great of Kaniko did something like pull-tag-push.

[2019-10-24 05:23] daHaimi commented on #676
As we have started using @smoulderme 's "piped" functionality and migrated now all projects with retagging needs, I can give a short explanation how we did it with gitlab-ci:

### Step 1: Create "Origin"
We created out own build step and pushed it to "registry1/project:tag". This wasperformed  by using the kaniko runner in the default configuration.
### Step 2: Credential merging
Then, we needed t

[2019-10-24 14:22] qianzhangxa opened #833 "Failed to push image to Harbor registry"
**Actual behavior**
I am running Kubernetes v1.15.5 cluster and I deployed Harbor 1.9.1 in the cluster via https://github.com/goharbor/harbor-helm, Harbor was exposed as a Kubernetes service (named `harbor`) of clusterIP type in the default namespace. And then I created a Kaniko pod to build and push an image to Harbor, here is the pod.yaml:
[code]

But I found the pod failed, here is its logs:
[c

[2019-10-24 18:36] antechrestos commented on #808
@tejal29 is there anything we can do to help? May it be linked to third party library [buildkit](https://github.com/moby/buildkit)

[2019-10-25 02:39] qianzhangxa opened #835 "Failed to push image to Docker Hub"
**Actual behavior**
I am running Kubernetes v1.15.5 cluster and I created a Kaniko pod to build and push an image to Docker Hub, here is the pod.yaml:
[code]

And I created a secret for Kaniko to login Docker Hub:
[code]

But I found Kaniko pod failed to push to Docker Hub, here is its logs:
[code]

And the I changed the `--destination` arg of Kaniko pod from `zhq527725/test-kaniko` to `registry.d

[2019-10-25 08:08] qianzhangxa commented on #833
But the first issue still exists: How can I provide Harbor's certificate to Kaniko pod, is there a Kaniko command line arg for that? Otherwise I still have to use `--skip-tls-verify` which is actually not recommended in production env.

[2019-10-25 10:39] lbouquinUniv opened #837 "kaniko doesn't support multi-stage builds push"
I have problem with  multi-stage build in docker field. we use gitlab-runner to launch kaniko.
When we use a single staging in docker file kaniko push without problem but with multi-stage we have this error  error pushing image: failed to push to destination my-harbor-registry.fr/testesup/testesup_srv:v0.0.1: unsupported status code 401.

Docker build:
[code]
.gitlab-ci
[code]

When i build on my

[2019-10-25 17:26] tejal29 commented on #833
@qianzhangxa Can you try these instructions here?
https://github.com/GoogleContainerTools/kaniko#pushing-to-docker-hub

[2019-10-25 17:32] tejal29 commented on #835
At @qianzhangxa Can you please follow the instructions here
https://github.com/GoogleContainerTools/kaniko#pushing-to-docker-hub

You need to volume mount the secret in `/kaniko/.docker/config.json`

[2019-10-25 17:44] tejal29 commented on #826
Hi @ffahri Would like to submit a PR for this? Happy to get this in!

[2019-10-25 17:50] donmccasland commented on #815
Pardon my ignorance, is there a corollary functionality in docker build?

[2019-10-25 17:50] #818 closed

[2019-10-25 17:50] donmccasland commented on #812
reviewing your PR now.

[2019-10-25 17:55] donmccasland commented on #788
Any update on this?

[2019-10-25 17:56] donmccasland commented on #752
Can one of you add a log of a debug run of kaniko that reproduces the issue?

[2019-10-25 18:09] jonjohnsonjr commented on #833
You can work around the cert issues with SSL_CERT_FILE or SSL_CERT_DIR, per https://golang.org/pkg/crypto/x509/ (default locations for system certs are [here](https://golang.org/src/crypto/x509/root_unix.go)).

[2019-10-25 18:27] ffahri commented on #826
Hey @tejal29 i created a pr to upgrade aws sdk
https://github.com/GoogleContainerTools/kaniko/pull/832

[2019-10-25 20:19] codevbus commented on #812
@donmccasland - FWIW that PR fixes a different issue with the docs/shell script... still working in this issue, although I appear to be blocked by: https://github.com/GoogleContainerTools/kaniko/issues/720

[2019-10-25 22:45] priyawadhwa opened #838 "Upgrade from dep to gomodules for dependency management"
It would be great if we upgraded to using gomodules :smile:

https://blog.golang.org/migrating-to-go-modules

[2019-10-26 08:38] antechrestos commented on #770
@N4rm0 you should report your fix in vendor code because currently the problem is stille [present](https://github.com/moby/buildkit/blob/master/frontend/dockerfile/instructions/parse.go#L298)

Upgrading to the latest moby/buildkit will not fix the issue

[2019-10-26 12:01] Akkarine commented on #815
I didn't understood question. Are you asking, is there is any benefits from using multi-stage Dockerfile?

[2019-10-26 14:06] qianzhangxa commented on #833
@jonjohnsonjr SSL_CERT_FILE works, thanks!

But why is it a work around? Any potential issues with it in a production cluster?

[2019-10-26 14:49] qianzhangxa commented on #835
Thanks @tejal29,  I already tried it before, if I volume mount the secret to `/kaniko`, the container will fail to start due to:
[code]

And if I volume mount the secret to `/kaniko/.docker/config.json`, the container will fail to start due to:
[code]

Anyway, I have fixed it by setting the env var `DOCKER_CONFIG` to `/root/.docker/` as I mentioned [here](https://github.com/GoogleContainerTools/ka

[2019-10-26 18:13] antechrestos commented on #770
@tejal29 I implemented a small fix by implementing it in the resolution in order not to change third party library behaviour

[2019-10-28 12:55] siwyd commented on #780
@tejal29 amazon-ecr-credential-helper master branch now supports native Kubernetes AWS IAM integration. Would it be possible perhaps to build a new kaniko release so this is supported in the upstream kaniko container image?

[2019-10-28 16:56] jonjohnsonjr commented on #833
I don't think there's any issue apart from the maintenance burden. Needing to set this environment variable everywhere you use kaniko is kind of annoying. Ideally, you could bundle the certs you need into your base image... or set up a a certificate authority in cluster somehow? I'm not super well versed on how CAs work in kubernetes, unfortunately. [This](https://kubernetes.io/docs/concepts/clust

[2019-10-28 19:56] #828 closed

[2019-10-29 01:37] qianzhangxa commented on #833
Thanks @jonjohnsonjr! That is very helpful!

[2019-10-29 07:39] nxexox opened #840 "Python client to Kaniko"
Hey. We made a Python client for Kaniko so that it would be possible to build a docker from python inside K8S. We want to go either to your support or the link to the library in the documentation.
https://github.com/nxexox/pykaniko

[2019-10-29 08:38] nielsvanvelzen commented on #769
I'm experiencing a similar issue with a gradle container:
[code]

When I enabled debug logging the issue disappeared. I suspect it might be a race condition but I have no experience to further investigate.

[2019-10-29 16:20] svalo commented on #368
@tejal29 Excuse me for my lateness.

After @mlschroe  comment https://github.com/GoogleContainerTools/kaniko/issues/368#issuecomment-425056931 I was able to pull the image so I did not have any other failure.

Maybe we can ask them to undo what they did and check if it works now.

Here what happens when I run the steps from my original comment

`sudo docker run -v $PWD:/workspace -it --rm gcr.io/k

[2019-10-31 17:08] NathanUrwin commented on #132
I am getting this error as well! Dockerfile:

[code]

Error message:

[code]

[2019-11-01 14:52] ptinsley commented on #788
I had a lot of other stuff jump in front of this, I changed the image size a couple of days ago and am monitoring for failures, we don't build this specific repo a ton so it will take a few days to know for sure

[2019-11-01 17:40] tejal29 commented on #840
@nxexox, feel free to submit a PR with the doc changes and i will take a look at it.

[2019-11-01 18:55] cvgw commented on #807
We are working on a fix for this issue.

As a potential work around you can try using v0.12.0 image of kaniko
`gcloud config set builds/kaniko_image gcr.io/kaniko-project/executor:v0.12.0`

[2019-11-01 21:38] cvgw commented on #837
@lbouquinUniv I haven't been able reproduce the error you shared yet.

Here is the Dockerfile I am using; it is a modification of the one you shared above with the items specific to your machine removed.
[code]

Could you please test this Dockerfile on your end to see if it reproduces the error. If it does not repro the error could you please share a minimal version of your Dockerfile which reprod

[2019-11-01 21:48] cvgw commented on #830
@rfjg can you please share a Dockerfile to build your base image `jessie:v0.0.1-dist-kaniko`

[2019-11-01 22:37] silverlyra opened #842 "kaniko fails without error after logging final Dockerfile step"
**Actual behavior**
Kaniko logs the `CMD` step near the end of the `Dockerfile` it's been building, pauses for a few seconds, then silently exits with status `0`.

**Expected behavior**
The `CMD` should correctly generate a new image layer, or if there is an error, kaniko should exit with nonzero status to signal failure to our CI system (and preferably also log something explaining why).

**To Re

[2019-11-02 12:27] antechrestos commented on #808
Going deeper in the issue with [this issue](https://github.com/google/go-containerregistry/issues/600)

[2019-11-04 01:24] mjgallag commented on #710
@priyawadhwa I'm seeing this issue using `--cache=true --reproducible=true` with `gcr.io/kaniko-project/executor:d4badf36d67a8fc4c3e38162bf1b697e20d55c69` on GCB. It also occurs when I don't include `--reproducible=true`, which I thought might fix it. Note this is also an issue with `gcr.io/kaniko-project/executor:v0.13.0` but I figured I'd try it with master branch executor too. My cache layers a

[2019-11-04 12:27] Woap opened #843 "Can't copy with multistage Dockerfile"
**Actual behavior**
I recently migrated from dind method with docker daemon to Kaniko to build my applications.
Kaniko is working fine with classical Dockerfile, but I have a problem when I try to run a job with a multistage Dockerfile.

Here my Dockerfile :
First, it copy my git project and then build it.

[code]

**Expected behavior**

Build has to be successful. When the job run, it fail at the

[2019-11-04 13:13] jgoasdoue-zenika commented on #830
With pleasure, I have succeeded to reproduce the same error with this Dockerfile while calling it with the other I already mentionned on my first post :

[code]
Thanks :+1:

[2019-11-04 13:14] rfjg commented on #830
With pleasure, I have succeeded to reproduce the same error with this Dockerfile while calling it with the other I already mentionned on my first post :

[code]
Thanks :+1:

[2019-11-04 17:51] priyawadhwa commented on #710
@mjgallag thanks for reporting this! If you, or anyone else, would be interested in exploring this bug, please let me know and I can assign you to this issue.

[2019-11-04 17:52] #742 closed

[2019-11-04 19:16] mjgallag commented on #710
@priyawadhwa thanks for re-opening! I just wanted to note that I discovered this project from https://cloud.google.com/cloud-build/docs/kaniko-cache which suggests it as a solution to the lack of a distributed docker cache in Google Clould Build. I think it would still probably be worth it to use even with this issue if you have no dependencies between your Docker images. Unfortunately, we have Do

[2019-11-05 06:10] nxexox commented on #840
I'm create pull request https://github.com/GoogleContainerTools/kaniko/pull/844

[2019-11-05 06:11] nxexox commented on #840
Later I will add documentation to the library itself and configure travis-ci

[2019-11-05 14:23] fredr opened #845 "Multistage builds doesn't always bust the cache correctly"
**Actual behavior**
When copying files from an other stage and then chowning the files, the chown command will be cached even though the files being copied have change, causing the cache to overwrite all changes.

**Expected behavior**
I would expect the cache to be busted after the `COPY`-command if the files have changed.

**To Reproduce**
Steps to reproduce the behavior:
1. Build the Dockerfile

[2019-11-05 14:28] fredr commented on #845
noticed that this probably is a duplicate of #589

[2019-11-05 14:37] fredr commented on #843
It seems the stage names needs to be lowercase. Try changing from `BUILD` to `build`

[2019-11-05 15:12] Woap commented on #843
Working now, why allowing only lowercase label ?

[2019-11-05 15:21] fredr commented on #843
I would guess that is a bug

[2019-11-06 06:29] ArsenyZorin commented on #797
Hello!

Sorry for so long response.
I've tested kaniko on different machines in my region (St.-Petersburg, Russia) there is the same problem `connection reset by peer`

When I tested in on Digital Ocean, on VM in Frankfurt, everything was fine!

So, I suppose, the problem is Russian network

[2019-11-06 08:03] ingokofler commented on #710
I also experience an issue with having non-reproducible layers even when using `--reproducible` flag set. Note that I do not use caching ATM.

My setup is as follows - I build a Docker image with a Spring Boot application (app.jar). Before starting kaniko I unzip the jar as follows

[code]
The Dockerfile looks as follows
[code]
The intention was to have the dependencies in a separate layer that re

[2019-11-06 12:58] Woap commented on #843
Closing this issue, resolved with lowercase label

[2019-11-06 12:58] #843 closed

[2019-11-06 23:30] silverlyra commented on #842
We’re seeing this now with `v0.12.0`; so much for the idea this was a regression.

Do any maintainers have a hunch how Kaniko could fail to complete a build and silently exit with status `0`?

[2019-11-07 10:56] ibayue opened #846 "directory permissions change"
**Actual behavior**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

**To Reproduce**
Steps to reproduce the behavior:
1. test/jdk.18
![image](https://user-images.githubusercontent.com/11729209/68382749-4f438e80-018f-11ea-834a-3f22731bb61a.png)
app  directory permissions app: app
2. new images app and app/li

[2019-11-07 13:56] ataillefer commented on #846
Hi @ibayue, this sounds very much like https://github.com/GoogleContainerTools/kaniko/issues/9.

[2019-11-07 18:54] #439 closed

[2019-11-08 11:21] denis111 opened #847 "Kaniko fails on empty argument with quotes in Dockerfile after 5bbb40e"
**Actual behavior**
Kaniko fails on empty argument with quotes in Dockerfile like:
ARG VARIANT=""
and also empty --build-arg VARIANT=

**Expected behavior**
Build Dockerfile

**To Reproduce**
Steps to reproduce the behavior:
1. Use the latest kaniko image.
2. Create Dockerfile with any empty argument but with quotes.

**Additional Information**
 - Dockerfile
ARG VARIANT=""
ARG VERSION=2
FROM regis

[2019-11-08 16:18] tekdahl commented on #684
idk if this is helpful, but docker documentation recommends not using apt-get upgrade since it can't run properly from an unprivileged container
https://docs.docker.com/develop/develop-images/dockerfile_best-practices/#run

Guessing based on the `building stage: symlink usr/bin /bin: permission denied` permission error there that that's the issue here. The way you would make this work is by either

[2019-11-08 16:24] #814 closed

[2019-11-08 18:50] priyawadhwa commented on #842
Hey @silverlyra -- could you confirm that the image isn't pushed? I'm wondering if kaniko was successful but just didn't properly log that it was.

[2019-11-08 22:45] silverlyra commented on #842
After digging in more today, it does seem like the problem is with our Docker registry 😅and metadata not being written successfully. I’m gonna close this as I’m now fairly certain it’s not a problem with Kaniko.

[2019-11-08 22:45] #842 closed

[2019-11-09 10:31] antechrestos commented on #808
Should be solved by [upgrading the third party library](https://github.com/GoogleContainerTools/kaniko/issues/808)

[2019-11-09 16:04] faust64 commented on #681
Looking at tekton catalog, they would show you how to build your images using a buildah container, which seems to work just fine on OpenShift.

See: https://github.com/tektoncd/catalog/blob/master/buildah/buildah.yaml

[2019-11-10 05:15] duythinht commented on #589
We too, any update for this?

[2019-11-11 10:02] ibayue commented on #846
I use chown in Dockerfile,stdout can see app directory is app:app,but the images app directory is also root:root!,why?
![image](https://user-images.githubusercontent.com/11729209/68578440-f6d10180-04ac-11ea-9b71-43485dacde42.png)
![image](https://user-images.githubusercontent.com/11729209/68578537-2aac2700-04ad-11ea-9131-823e6d372ad0.png)

[2019-11-11 10:30] purificant commented on #807
Downgrading to kaniko v0.12.0 with `gcloud config set builds/kaniko_image gcr.io/kaniko-project/executor:v0.12.0` worked for me! Thank you. Can confirm that versions `v0.13.0` and `v0.14.0` are affected.

[2019-11-11 11:13] llech commented on #506
Is there any known workaround except modifying application so that it doesn't use /var/run ?

[2019-11-11 12:37] subesokun commented on #718
Same issue here. To be sure I've removed the folder `./dist`, which I want to copy into the container image, from the `.gitignore` file but still the build is failing when Kaniko tries to extract the cached layer.

[2019-11-11 19:39] stewartbryson opened #855 "Setting --shm-size during container build"
Is there a way to set --shm-size (which is supported with the Docker daemon) using Kaniko?

[2019-11-11 20:12] cvgw commented on #807
Indeed, both `v0.13.0` and `v0.14.0` have this issue.

[2019-11-12 08:35] ataillefer commented on #846
Don't know, can you please provide the new Dockerfile?

[2019-11-12 19:14] jeunii opened #856 "error building image: unsupported MediaType when downloading from quay.io"
**Actual behavior**
I am trying to download `quay.io/roboll/helmfile:v0.79.1` using kankio. Ive used
[code]
But when it tries to download images like `quay.io/roboll/helmfile:v0.79.1`, I get the error message
[code]

**Expected behavior**
Kaniko should be able to download images like `quay.io/roboll/helmfile:v0.79.1`

Is there a reason why this happens ?

[2019-11-13 00:39] reaperes commented on #769
@nielsvanvelzen, I had a same issue. But I resolved that after set USER_HOME environment (it used by kotlin) and set --gradle-user-home=$USER_HOME parameter during gradle run.
Important thing is do not set USER_HOME=/root. Kaniko image does not have /root directory.

[2019-11-13 10:07] antechrestos opened #858 "Run individual test launches all tests"
**Actual behavior**
Currently, as documentation points it, we launch individual tests like so

[code]

However, it keeps launching all integration tests.

[code]

[2019-11-13 10:13] antechrestos opened #859 "Help needed: launch integration tests from master branch"
**Actual behavior**

I created a gcs bucket and a repository to launch integration tests. I am running on ubuntu 18.04 and go 1.12.

I am trying to validate my development environment as my IT tests failed on my [PR](https://github.com/GoogleContainerTools/kaniko/pull/839) and I want to understand what happened.

Every time I launch it from `master` branch, I keep having random errors such as

[co

[2019-11-13 12:11] antechrestos commented on #859
I suspected problem whith parallelism. It is not.
By disabling parallelism and forcing integration sequentially, I ended with an error

[code]

[2019-11-13 14:37] faust64 commented on #681
Sidenote, as I'm struggling with weird Buildah errors (eg: can't change date on files and other permission denied, that would occur after installing packages, broken pipes, i/o errors, ...). You do not need adding your ServiceAccount to any SCC, using Kaniko.

I can't explain how this is possible, though I can confirm that, creating a SA dedicated to image builds, and granting it with the `system:

[2019-11-13 17:19] prary commented on #856
Quay is v1 spec and I guess kaniko works with v2 spec that's the error you are seeing.

[2019-11-13 19:18] yangm97 commented on #786
@tejal29 take a look at how buildkit is doing it. You can use a single Dockerfile for multiple architectures and then all images get pushed into the same tag. https://engineering.docker.com/2019/04/multi-arch-images/

[2019-11-14 01:35] andraxin commented on #793
Hmm... I'm not sure in what way one isolated example that works is supposed to help in solving the original problem, but since the issue is tagged as `awaiting evidence`, I thought I'd provide more evidence and slightly more insight into what's actually broken and a theory why the mostly irrelevant example provided happens to still work.

The evidence shows that `kaniko` resets all timestamps in t

[2019-11-14 16:29] Sherman-Yang commented on #807
thank you for this thread too much. I have the same issues, use v.0.12.0, works

[2019-11-14 21:27] tejal29 commented on #769
Sorry @EppO and @fabn this fell off my radar.

[2019-11-14 21:28] tejal29 commented on #769
i will take a look at this tomorrow.

[2019-11-14 23:26] #847 closed

[2019-11-14 23:44] tejal29 opened #860 "Kaniko fails on this multistage build since v0.9.0"
**Actual behavior**

A clear and concise description of what the bug is.
Multistage built broken for docker file  since v0.9.0
https://github.com/AkihiroSuda/buildbench/blob/master/examples/ex01/Dockerfile

[2019-11-15 21:17] nathan-c opened #862 "Using --reproducible loads entire image into memory"
**Actual behavior**
When running with --reproducible=true the entire image is loaded into memory.

**Expected behavior**
Memory profile should remain stable regardless of size of image being built.

**To Reproduce**
Steps to reproduce the behavior:
1. Create following Dockerfile
[code]
1. Execute kaniko with the following parameters
[code]
2. Watch as memory consumption climbs dramatically near th

[2019-11-15 21:48] cvgw commented on #859
@antechrestos could you share the commands you are using to execute the integration tests? Thanks

[2019-11-15 21:50] cvgw commented on #859
Can you also share the git ref you are executing the tests again. I'm slightly confused because you mention master, but the log output looks like the failure is on a newly introduced test

[2019-11-15 21:51] antechrestos commented on #859
@cvgw i launch integration tests as specified in the documentation

[code]

Thank you

[2019-11-15 22:00] cvgw commented on #855
@stewartbryson at this time kaniko does not support `--shm-size` (or equivalent). [Reference on `--shm-size`](https://docs.docker.com/engine/reference/run/#runtime-constraints-on-resources)

If you'd like to share some info about your use case for this option and how critical that behavior is we could consider adding it.

[2019-11-15 22:42] cvgw commented on #431
@morsik I am unable to repro this issue. Looks like it may have since been fixed. Can you please confirm whether it is still happening on your end. Thanks!

[2019-11-15 23:01] cvgw commented on #495
The supplied Dockerfile is now failing due to the image using the V1 registry format which kaniko does not support. If this issue can be repo'd using a V2 registry format image I'm happen to further investigate.

[code]

[2019-11-15 23:06] cvgw commented on #856
Yes, Kaniko only supports the v2 spec. I'm not very familiar with Quay, but that is the error I have previously seen when the v1 spec is being used.

[2019-11-15 23:07] cvgw commented on #856
Closing this issue as there are no plans to support the v1 registry spec. Please re-open if this was closed in error. Cheers

[2019-11-15 23:07] #856 closed

[2019-11-15 23:14] cvgw commented on #400
Kaniko only support the v2 schema. There are no plans to support the v1 schema. Closing this as won't fix. Please re-open if this was closed in error.

[2019-11-15 23:14] #400 closed

[2019-11-15 23:15] cvgw opened #864 "Update documentation to include information about registry schema support"
Kaniko only supports the v2 registry schema making it incompatible with registries like quay which only support the v1 schema. We should update the documentation to make this clear to users.

[2019-11-15 23:21] cvgw opened #865 "Update documentation: Kaniko only support in official kaniko docker image"
There are a number of users attempting to run kaniko in a docker image that they have themselves built (as opposed to the image distributed by the dev team). This is not support due to certain design details within Kaniko. We should update the documentation to make it clear that this is not supported.

[2019-11-15 23:29] cvgw commented on #437
I am unable to repro this issue; leading me to think that it has since been fixed. If this issue can still be repro'd please share the appropriate steps to do so.

[2019-11-16 00:00] cvgw commented on #481
Hello, I am unable to repro this issue against the latest version of kaniko. I'm going to close this issue as it has most likely been fixed. If this issue is still present or this has been closed in error please re-open.

[2019-11-16 00:00] #481 closed

[2019-11-16 00:43] cvgw commented on #506
Investigating this issue I found an additional problem. As detailed [here](https://hub.docker.com/_/centos) on many systems `bash` does not function correctly for this image. I am unable to create a directory at any path or even run the image with CMD `/bin/sh`. I believe this to be due to the fact that `RUN` commands are called using `/bin/sh` by kaniko. In the centos image this is linked to `/bi

[2019-11-16 00:51] cvgw commented on #506
I am unable to reproduce this issue. Using the image specified originally `centos:centos6` results in a different error. Using `busybox` or `ubuntu:18.04` does not repro the error.

[2019-11-16 01:03] cvgw commented on #450
I'm not clear whether there is a bug here. Config for private registries should be located at `/kaniko/.docker/config.json` as outlined [here](https://github.com/GoogleContainerTools/kaniko#pushing-to-different-registries).

When I created a random file (say at `/root/.docker/config.json`) in the Kaniko container before running the executor the file can still be found at the end of the build.

If

[2019-11-16 01:15] cvgw commented on #520
I am unable to repro this issue with or without the `--cache` flag enabled. If this is still an issue please share updated repo instructions. Thanks!

[2019-11-16 02:13] JonathanRRogers commented on #506
What system are you using? I am able to run "docker run --rm -it centos:centos6 bash" on both Ubuntu 18.04.3 LTS (kernel 5.1.0-050100-generic) and Fedora 30 (kernel 5.2.16-200.fc30.x86_64). Under "A note about vsyscall" on https://hub.docker.com/_/centos, it explains how to work around the problem. In any case, system call mapping is unrelated to the problem described in this issue.

[2019-11-16 02:23] JonathanRRogers commented on #506
Whatever problems you have with centos:centos6 aren't relevant to this issue. I have changed the example Dockerfile to use "debian" instead of "centos:centos6". One could likely use any base image with a "mkdir" command and the problem would be the same.

[2019-11-16 02:37] cvgw commented on #506
I obviously made an error earlier; I now am able to repro the issue with `debian`, `busybox`, and `ubuntu:18.04`

[2019-11-16 02:41] JonathanRRogers commented on #506
Thanks.

[2019-11-16 06:19] Sherman-Yang commented on #637
yes. I get a lot of this errors for the cache. I don't have ARG. use kaniko-project/executor:v0.12.0

[2019-11-16 06:26] Sherman-Yang commented on #410
I have the same cache problem. even the workdir in the bottom

[2019-11-16 08:21] nathan-c commented on #862
I should probably mention that this means we cannot use --reproducible for our builds because the containers running the build are being killed by k8s on our dev cluster and increasing the node RAM capacity is not a cost effective solution

[2019-11-16 19:13] antechrestos commented on #859
@cvgw I join you the last test I made. In the [log](https://github.com/GoogleContainerTools/kaniko/files/3854593/kaniko_integration_tests.txt) you can see that:

- I start from a clean repo with head pointing to commit `4f789a0`
- I cleaned all local docker images
- I run on go 1.12
- my repository was clean

Also, before running the tests

- my `out` directory was cleaned
- my buckets were also c

[2019-11-17 17:49] kvaps commented on #637
I have the same issue when using docker staging build, eg.:

ARG on first stage, caching is **working**:
[code]

ARG on next stages, caching is **not working**:
[code]

[2019-11-18 00:04] tarr11 commented on #521
This bug seems to still exist in latest master.  Using multi-stage builds with COPY causes different hashes each time.  If I remove the multi stages, it works.

[2019-11-18 04:45] Sherman-Yang commented on #807
I tried v0.12.0, it CAN WORK, but there are a lot warning message
"Error while retrieving image from cache: getting file info: stat /cache/sha256:f6c42959bcc1619c55898bbff2c3a9bff5d4a1e90bf79c491e9f016a88105eea: no such file or directory"

even I didn't change any byte, build again, it still builds from the base image, the cache doesn't work. hope I can get the latest version work.

[2019-11-18 09:02] RJPercival commented on #807
You can ignore those "Error while retrieving image from cache: getting file info" messages, they're a red herring. They're caused by Kaniko searching a local /cache directory before checking your container registry. One way you can tell whether a cache is being created by Kaniko is looking for a "cache" directory next to the images it pushes to your container registry.

[2019-11-18 10:34] patstrom commented on #780
Is this solved with the new release?

[2019-11-18 16:26] vguaglione commented on #793
@andraxin Thanks for providing this example.  We have a few container builds failing that similarly reflect what you present above.

[2019-11-18 17:44] stewartbryson commented on #855
I have some legacy image builds that I am trying to port over. These images have an Oracle database on them, and that install checks for levels of shared memory. The only way I've found to successfully build those images is to `--shm-size` during the build.

This is not critical. Porting legacy image builds to kaniko is second-tier in my mind.

[2019-11-19 00:00] cvgw commented on #855
Thanks for that info @stewartbryson :+1:

[2019-11-19 12:08] deepnum opened #868 "Is there any alternative to Dockerfile"
Like OCIfile

[2019-11-19 15:34] Lawouach commented on #589
Seeing this issue too unfortunately.

[2019-11-20 06:31] haizaar opened #870 "False-positive cache-hit on COPY --from"
**Actual behavior**
I have a two stage docker image that first build sphinx docs and then copies it to the second nginx image:
[code]

I build it on Google Cloud Build using `gcr.io/kaniko-project/executor:latest` builder.

The problem is the last copy instruction - even through generated HTML files differ from the previously built revision, kaniko still prefers to use the cached version:
[code]

[2019-11-20 06:55] aivarasko commented on #584
Retry is already in https://github.com/google/go-containerregistry/pull/459 but kaniko needs to upgrade this dependency.

[2019-11-20 08:04] simon991 commented on #860
Hi @tejal29, I am facing the same issue using kaniko on google cloud build. Do you have any workaround so far?

[2019-11-20 09:00] aivarasko commented on #584
Did extra checking and I think the issue is that just tryUpload part but not checkExistingBlob part in https://github.com/GoogleContainerTools/kaniko/blob/e0e59e619c03da1e60e9e9520aee5cc741000e3d/vendor/github.com/google/go-containerregistry/pkg/v1/remote/write.go#L291 is wrapped in retry

[2019-11-20 15:48] stroncium commented on #870
I can confirm this problem.

[2019-11-20 23:51] michaelhixson opened #871 ".dockerignore not considered when computing cache keys"
**Actual behavior**
Files excluded by `.dockerignore` are wrongly included when determining whether the cache can be used for a `COPY` build step.

**Expected behavior**
Modifications to files excluded by `.dockerignore` do not affect the cacheability of `COPY` steps.

**To Reproduce**

## Project files

**example/project/.dockerignore**
[code]

**example/project/Dockerfile**
[code]

**example/pro

[2019-11-21 00:08] michaelhixson commented on #871
Oops, I didn't see https://github.com/GoogleContainerTools/kaniko/pull/854 before filing this, but I bet that PR will fix this.

[2019-11-21 20:15] cvgw commented on #520
Closing this issue; feel free to reopen if this bug still exists or re-surfaces

[2019-11-21 20:15] #520 closed

[2019-11-21 20:16] cvgw commented on #495
Closing this issue, but feel free to re-open if there is case of this with the V2 registry format

[2019-11-21 20:16] #495 closed

[2019-11-22 02:06] caiwei-ebay opened #875 "Kaniko build's performance much slower comparing with DID solution"
We have a very simple Dockerfile which inherits a ubuntu jdk 8 image,  run a few shell commands and copy a few files. Please note the RUN commands comes at the very first.

Our CI is built on top of Kubernetes, the Jenkins build will be run in a slave pod.
We've enabled DID & Kaniko in separate slave images and trigger the builds with Kaniko and Docker. Here is the performance result of building &

[2019-11-22 15:05] marcosimioni commented on #656
FYI I keep having a "Value too large for defined data type" when I even do an `ls`, but only on my k8s cluster running Linux 5.0 gcc 7.4 . My local Docker runs 4.15 & gcc 5.4 and it works just fine.

Tested both with distroless (related to https://github.com/GoogleContainerTools/distroless/issues/225) and kaniko-debug, just to confirm - see below.

[code]

[2019-11-22 16:20] marcosimioni commented on #713
Same here, only way I could find in order to pass secrets via environment variables is via sh on kaniko:debug for now

[2019-11-22 16:20] #865 closed

[2019-11-22 16:22] #864 closed

[2019-11-22 16:38] OmriHarary opened #877 "Cache warmer does not support insecure registries"
**Actual behavior**
Attempting to warm cache with an image from a private http registry fails with the following error:
[code]

Attempting to use the `--insecure` or `--insecure-pull` options like the executor offers results in:
[code]
[code]

**Expected behavior**
Cache warmer to have the same insecure registry support as executor.

**To Reproduce**
Steps to reproduce the behavior:
1. Run cache w

[2019-11-22 16:50] cvgw commented on #807
This issue is fixed in v272.0.0 of the gcloud sdk (released on 2019-11-19)

I've verified that it works with kaniko versions v0.13.0 and v0.14.0

[2019-11-22 16:50] #807 closed

[2019-11-22 17:01] cvgw commented on #368
I've verified that this issue has been fixed. If this is a mistake and the issue is still present please feel free to re-open this issue.

[2019-11-22 17:01] #368 closed

[2019-11-22 17:21] purificant commented on #807
Thank you! Switched to latest kaniko version, using up to date gcloud, no issue.

[2019-11-22 18:02] #774 closed

[2019-11-23 00:35] dylanpiergies commented on #496
This would be an extremely useful feature. It's not hard to attach NFS storage to stateless pods. I'm already doing precisely this to allow Gradle to cache.

[2019-11-23 18:32] cvgw commented on #859
@antechrestos I'm fairly certain what you are seeing is a known race condition in docker. I sometimes see it on my own machine as well. Here is an issue that I believe is relevant https://github.com/docker/for-linux/issues/711

Unfortunately I don't have any answers on how to fix it; I'm still working on resolving it on my own machine.

[2019-11-23 18:33] antechrestos commented on #859
@cvgw thank I will give it a try by tomorrow!

[2019-11-25 13:44] mcfedr commented on #870
Just found this having the exact same issue using kaniko on cloud build. will try suggested work aorund/roll back.

[2019-11-25 14:04] mcfedr commented on #875
I've noticed similar issues - I use GitLab runner on Kubernetes, and in the same way as you described, ran dind and kaniko at the same time, kaniko is much slower. At the moment I've switched to using kaniko on Cloud Build, and there its pretty fast and caches better than docker.

[2019-11-26 01:14] cvgw commented on #870
this appears to the same underlying problem as #845 and #589

[2019-11-26 01:37] caiwei-ebay commented on #875
Thanks for the information, I believe you are talking about https://cloud.google.com/blog/products/application-development/build-containers-faster-with-cloud-build-with-kaniko.

Unfortunately we are using an internal docker registry based on quay.io, so it cannot benefit us.
The cache uploading & downloading with quay takes much more time than without using cache as we observed.

[2019-11-26 10:14] abergmeier opened #885 "Push to local Docker"
GCB currently does not fully support Kaniko (things like `images`). Their handling seems to hardcoded to Docker "internals".
As such, it would be really good if Kaniko had an option to besides pushing to a remote to also write the produced image to local Docker.

[2019-11-26 16:18] nicolaferraro opened #886 "Cannot chain builds using minikube default registry"
**Actual behavior**

We use Kaniko to build images in Camel K and sometimes we chain images, i.e. we build `img1` from our base image (`fabric8/s2i-java:3.0-java8`) and next `img2` using `img1` as base. This setting works on most registries, but not on Minikube, where the build of the second image fails.

This is what happens with cache enabled (when building `img2`):
[code]

Before getting into t

[2019-11-26 20:54] hugokerstens commented on #793
I'm having an issue similar to this one and I believe the cause is the same. My build fails when running `apt-get update` in a container that was built some time ago (+1 month). I'm running the following Dockerfile:

[code]

This results in the following error:
[code]

When the same Dockerfile is run locally using `docker build` everything is fine and the build succeeds.

[2019-11-27 10:04] Andrei-Stepanov opened #887 "RFE: Add to documentation how to push to docker registry V2"
Hello.
This is not a bug. Rather, ask to add add missing documentation.
At this moment the documentation say to use `base64`, and craft `config.json`. But. This approach works only for docker registry V1. This is really time consuming when you try all different variants of urls and protocols in `config.json` and `--destination`, but get all time the same error:

[code]

1. Update the doc, and add

[2019-11-27 15:04] AASanchezA commented on #687
any update on this issue, I need to pull from private registry and need to push to aws

[2019-11-27 18:47] caseycs commented on #769
Exactly the same thing while building huge (3gb) container with gradle&android sdk:
[code]

[2019-11-27 18:51] markussiebert opened #889 "Please make ecr login from eks with sts:AssumeRoleWithWebIdentity possible (update aws-sdk/ecr-credential-helper)"
**Actual behavior**
At the moment it is not possible to use the iam role connected to an serviceaccount within eks. The credential helper ignores this new method of getting iam credentials.

More info: https://aws.amazon.com/blogs/opensource/introducing-fine-grained-iam-roles-service-accounts/

**Expected behavior**
It should be possible to get credentials this way.

**To Reproduce**
Steps to repr

[2019-11-27 23:07] #682 closed

[2019-11-28 14:00] adrianf0 commented on #707
@bryanhuntesl : Could you elaborate how did you manage to mount a directory to a docker image being currently built? I am struggling currently with passing _secrets_ to the build image build process as well.

[2019-11-28 18:19] #772 closed

[2019-11-28 18:20] cvgw commented on #815
This may be the same issue as #775

[2019-11-28 18:26] cvgw commented on #673
@MyIgel want to clarify that I'm understanding this issue correctly;

Are you seeing different digests associated with the same image and tag?

IE build the same dockerfile twice with the same name and tag -> get a different digest for the image each time?

If not, apologies for my confusion.

If so, this is a known and expected behavior in kaniko due to the way it implements image building.

If y

[2019-11-28 21:53] Akkarine commented on #815
If you use DOCKER_BUILDKIT=1, dependencies resolved correctly.

[2019-11-28 23:28] antechrestos commented on #858
I did not spot the `TestMain` in integration test and all the building images are made as set up

[2019-11-28 23:28] #858 closed

[2019-11-28 23:56] antechrestos commented on #859
@cvgw Adding `"storage-driver": "overlay",`in `/etc/docker/daemon.json` did the trick. Thank you very much I was then able to launch integration tests.
Shouldn't the `DEVELOPMENT.md` be amended to suggest it?

[2019-11-29 04:17] Sherman-Yang opened #894 "should push layer to cache after every layer is built, not wait until whole image is built"
**Actual behavior**
A clear and concise description of what the bug is.
current push all snapshots after the whole image is built. if image build failed, want to build again, all Docker commands need to run without and cache.

**Expected behavior**
A clear and concise description of what you expected to happen.

should async push every layer snapshot after the layer is built. so even image buid fa

[2019-11-29 15:16] hugokerstens commented on #793
Can this issue be assigned a priority level? I think the current evidence is quite clear.

I would say this issue has quite high priority, since basically `apt-get update` doesn't work with kaniko.

[2019-11-29 20:20] Sherman-Yang opened #895 "add date time for logging"
**Actual behavior**
A clear and concise description of what the bug is.

currently there no date time for log message,

**Expected behavior**
A clear and concise description of what you expected to happen.

**To Reproduce**
Steps to reproduce the behavior:
1. ...
2. ...

**Additional Information**
 - Dockerfile
   Please provide either the Dockerfile you're trying to build or one that can reproduc

[2019-11-29 21:08] raphaelLacerda commented on #687
any status on this feature request?

[2019-11-29 23:54] Sherman-Yang opened #896 "--cache-ttl seems doesn't work"
**Actual behavior**
A clear and concise description of what the bug is.
I set --cache-ttl=8760h, which is about one year. but Kaniko shows cannot find from cache when I build in the second day for the same project no any changes. what's max value for --cache-ttl ?

**Expected behavior**
A clear and concise description of what you expected to happen.

**To Reproduce**
Steps to reproduce the behavio

[2019-11-30 03:42] edvald commented on #687
@AASanchezA I'd expect you could mount or otherwise write the `/kaniko/.docker/config.json` JSON file as suggested, and just have two keys under `auths`, one for each registry. Did you try that? I'm working on supporting this in https://github.com/garden-io/garden and until I find out otherwise, I'm going on the assumption you can put multiple auths in that file, same as when you configure docker

[2019-12-02 12:52] mcfedr commented on #870
@cvgw Any movement on getting that fix merged?

[2019-12-02 14:17] afirth commented on #589
this completely breaks caching for multi-stage docker files. since we are pushing distroless so hard, this sucks. please fix <3

[2019-12-02 17:10] GO3LIN commented on #614
@ViceIce I am having the same issue with ProGet and Kaniko, I've tried everything but still getting that 401 Unauthorized error. However, I am able to push images using docker login, etc...

Can you show the config part ? How do you get the ProGet token ? Here's my config.json file:

[code]

PROGET_URI just points to the root ProGet url, should I be using a different url for authentication ??

[2019-12-02 17:16] ViceIce commented on #614
@GO3LIN I've never got it working, sorry.

[2019-12-02 17:22] GO3LIN commented on #614
Feelsbad @ViceIce thanks for the quick feedback, will try to update you if I found something

[2019-12-02 17:31] cvgw commented on #894
@sherman-yang please update the body of your issue with a description of what you are seeing and expecting. I would recommend filling out the issue template.

[2019-12-02 17:36] cvgw commented on #896
@Sherman-Yang `--cache-ttl` is a `time.Duration` so its resolution is the same as `int64`

[2019-12-02 19:31] cvgw opened #897 "Integration suite should build images only for tests that will actually be run"
The way we currently setup the integration suite means that we build every docker image before a single test is run. This means that when the user specifies a specific pattern for tests like `-run TestLayers/test_layer_Dockerfile_test_copy_bucket` a lot of unnecessary images are built.

The integration test suite should be updated so that only the images explicitly required for the tests which wil

[2019-12-02 19:32] cvgw commented on #858
I think this would be a great change; opened https://github.com/GoogleContainerTools/kaniko/issues/897 to address

[2019-12-02 21:29] cvgw opened #899 "Cache keys don't match for builds with a cached copy command"
**Actual behavior**
When a build contains a cached layer using the `COPY` command all following layers in the build will produce incorrect cache keys. Specifically, the cache key used to read from the cache and the cache key used to write to the cache will be different for each layer following the copy command.

Layers affected by this will never be able to read from the cache because the key used

[2019-12-02 21:34] cvgw commented on #682
There is still an edge case where this might fail related to https://github.com/GoogleContainerTools/kaniko/issues/899

[2019-12-02 22:15] cvgw commented on #859
@antechrestos I'm glad to hear that fixed it for you! Unfortunately that doesn't seem to fix it for my machine; perhaps it is dependent on the platform or something like that?

[2019-12-02 22:17] cvgw commented on #870
@mcfedr hoping to get merged this week

[2019-12-02 22:18] cvgw commented on #589
@afirth we've got some PRs in review that will hopefully fix this. Fingers crossed for getting this fixed in the next week or two

[2019-12-03 10:43] ingokofler opened #900 "--reproducible leads to different layers in resulting image"
**Actual behavior**
Building an image twice using the `--reproducible` flag leads to different layers in the final images.

**Expected behavior**
Image layers should have the same hash as the content is the same and the reproducible flag was used.

**To Reproduce**
[code]

Layers in myrepo.com/img:foo and myrepo.com/img:bar have different hashes.

**Additional Information**
see steps to reproduce

[2019-12-03 16:15] Sherman-Chata commented on #896
thank you @cvgw. I find it --cache-ttl works. just sometimes, the hash value is different. so Kaniko cannot find the cache. don't know Kaniko calculate the hash value

[2019-12-03 16:38] cvgw commented on #896
@Sherman-Chata yes, that's correct. There are a few open bugs around caching at the moment. There are some PRs in review to address them so hopefully will be fixed soon.

Please let me know if there is anything I can do to help

[2019-12-03 18:16] trongchata commented on #637
Have took a quick look at kaniko code, seems it use context, command args, files, and Dockerfile command to generate the HashValue for each image layer.
In this case, you change the context name, and Dockerfile, so the hashValue will be different.

[2019-12-04 12:21] unalterable opened #901 "COPY commands log too much info"
**Actual behavior**
When my Dockerfile has a COPY command - kaniko logs out all the files that were copied.

For multi-stage builds, or copying dependencies, or any massive collection of files that aren't bundled or compiled, this is extremely impractical.

My build logs have gone from 10kb to over 1000kb per build.

**Expected behavior**
For me to only see such detailed logs when in a higher log-

[2019-12-04 22:05] webmutation opened #902 "Adding linting of Docker image to Kaniko container"
Feature Request
One of the main issues we have is improper Dockerfiles. So as a first step I run hadolint to avoid failed Kaniko builds. However I have to use a different Docker image for this. It would be more efficient to run it in the same container or for kaniko to have a linting option.

[2019-12-05 14:34] hlubek commented on #797
We face the same issue in Gitlab CI. Testing our Kubernetes cluster (v1.15) with https://github.com/tcarmet/k8s-connection-reset shows no issues. Somehow this only occurs on larger layers and mostly be fixed by retrying the build.

[2019-12-05 15:30] Teddy-Schmitz commented on #889
I ran into this same issue and did some digging, kaniko just gets the latest released version of the ecr-credentials helper and builds it in the docker file.  Unfortunately the latest version of the helper does not have awslabs/amazon-ecr-credential-helper@73edd05 .  I have asked them to release a new version awslabs/amazon-ecr-credential-helper#192 which then would allow kaniko to push an updated

[2019-12-05 20:43] cpointner opened #903 "Symlinks to absolute paths don't work properly"
**Actual behavior**
Ubuntu images have a symlink `/var/run` that points to the absolute path `/run`. Any file that gets created inside `/var/run` does not end up in the image. If i change the link to be relative everything works as expected.

**Expected behavior**
Symlinks to absolute paths must be based on the image root.

**To Reproduce**

Create a temporary directory and copy the following Dock

[2019-12-06 14:43] hlubek commented on #797
This seems not to be related to Kaniko. We (most certainly) also did not face the Kubernetes connection reset issue (but thx. for the informative links) - since we could not reproduce it.

What seems to help is the following annotations for the registry Nginx Ingress (taken from the Gitlab Helm chart):

[code]

[2019-12-06 17:40] cvgw commented on #902
Interesting, just want to make sure I'm understanding this correctly.

You're proposing adding a feature to kaniko where it could lint the supplied dockerfile and then exit early if that linting fails?

[2019-12-06 17:42] cvgw commented on #903
Hi @cpointner is it possible this is a duplicate of https://github.com/GoogleContainerTools/kaniko/issues/506 and not specific to symlinks?

[2019-12-06 21:32] MarkusTeufelberger commented on #903
Why should "/var/run" be a special case that's treated differently by kaniko? Maybe #506 is the special case and the symlink issue the general one (with #506 being one instance of the underlying issue that absolute symlinks don't work properly in the "chroot" environment of kaniko's build).

[2019-12-06 22:41] cvgw commented on #903
@MarkusTeufelberger `/var/run` is part of the explicit list of paths ignored by kaniko https://github.com/GoogleContainerTools/kaniko/blob/b0577768490fc619fdb93e7221096e303caa0b65/pkg/util/fs_util.go#L52

It may be that there is a general issue with absolute symlinks, but I think it would be helpful to have a repro case that doesn't involve `/var/run`.

As to why `/var/run` is ignored, I'm not sur

[2019-12-06 23:13] cpointner commented on #903
You are right the following Dockerfile works as expected:

[code]

Still i don't get the rationale behind this. Why would somebody want to mount /var/run/docker.sock during image build inside the image that is about to be built?

[2019-12-06 23:29] poy opened #904 "COPY does not seem to recursively copy contents of files"
**Actual behavior**
COPY results in the expected directory structure and files, but the files are empty.

**Expected behavior**
When using the `COPY` command on a directory structure that has some depth, I would expect the files and their contents to be copied.

**To Reproduce**
Steps to reproduce the behavior:
1. Create the following `cloudbuild.yaml`:
[code]
2. Run in cloud build:
[code]

**Addi

[2019-12-08 12:03] markus7811 commented on #889
Yes, after recompiling the credential helper and kaniko and building my of kaniko image i still had trouble that the credential helper won't use my servicerole iam role. So i contacted AWS and the told me this solution.
env:
AWS_SDK_LOAD_CONFIG=true

=> and it is working. With the released kaniko image. Please test this solution if it works for you.

[2019-12-08 14:54] webmutation commented on #902
Yes indeed. It would prevent having needless build done. unfortunately it has happened in our CI pipelines quite often, improperly formatted Dockerfiles

[2019-12-09 10:37] Teddy-Schmitz commented on #889
yep that worked, thanks!

[2019-12-09 18:01] cvgw commented on #902
@webmutation that seems like a reasonable and useful feature to me.

@tejal29 or @priyawadhwa any opinions?

[2019-12-09 18:45] priyawadhwa commented on #902
I think this could be cool! We could put the feature behind a flag.

[2019-12-09 21:07] #904 closed

[2019-12-09 23:39] #770 closed

[2019-12-09 23:39] #592 closed

[2019-12-10 00:01] antechrestos commented on #808
@cvgw @tejal29 what is the process to upgrade third party libraries? As kaniko does not use go modules approach, I guess that is not doable in a PR for security reasons, isn't it?

[2019-12-10 00:59] cvgw commented on #808
@antechrestos kaniko is using `dep` so you'll want to follow these instructions to upgrade a vendor pkg https://golang.github.io/dep/docs/daily-dep.html#updating-dependencies

[2019-12-10 05:18] iciclespider opened #907 "ADD of local tar fails if last layer of stage"
## Actual behavior

When an ADD command of a local tar archive is performed as the last command of the Dockerfile, the contents of the local tar are not in the image.

## Expected behavior

I expect the resulting image to contain the contents of the local tar archive.

## To Reproduce

1. While in a directory with the following Dockerfile:
[code]
2. Create a `localtar.tar` archive using:
[code]
3.

[2019-12-10 07:39] kzap commented on #870
I can also confirm this does not exist in `0.13.0` but not sure why
hope the fixes can get merged soon

[2019-12-10 13:38] gebi commented on #656
Currently using kaniko is a bit unfortunately, because it still failes most builds (for us) on k8s clusters.

The reason as above written is a broken busybox/uclibc coming from distroless (which is i686 and breaks on hitting 64bit inodes)

The fix for us was to just add an additional layer over `gcr.io/kaniko-project/executor:debug` like

[code]

Would be nice if this problem could finally be fixe

[2019-12-10 13:45] guillaumebreton commented on #837
@cvgw I ran into the same issue. I run kaniko inside Tekton and I'm able to push single stage images. However I'm unable to push multi-stage ones.

### Information

We run the executor in a custom image, base on the official executor image.
executor version : `gcr.io/kaniko-project/executor:v0.14.0`
repository type: private AWS ECR repository
symptom: push fails with a 401 error

### Docker file
[

[2019-12-10 17:23] cvgw commented on #870
Once https://github.com/GoogleContainerTools/kaniko/issues/899 is fixed this issue should be resolved

[2019-12-10 17:39] guillaumebreton commented on #837
A small update - I discovered that authentication isn't setup when I do a multi stage push, but it's setup correctly when I do a single-stage push.

[2019-12-10 20:54] guillaumebreton commented on #837
I found the issue. Between the two stage, kaniko deletes the filesystem and logs `INFO[0016] Deleting filesystem...`. Because I needed a specific authentication for my repository, I wrote the credentials to `/root/.docker/`. This directory was deleted after the first stage, and the second stage couldn't authenticate correctly. I changed my wrapper to write to `/kaniko` instead, and everything work

[2019-12-10 21:01] AASanchezA commented on #687
@edvald at the end i solved running two separate jobs on my gitlab-ci.yml one for registry that i need to push the container image, this is working quit well but the image is been build two times

[2019-12-11 02:47] jyipks opened #909 "kaniko build using too many memory"
I am building a rather large docker image, end size is ~8GB. It builds fine in DinD, however we would like to use kaniko. The kaniko pod running the dockerfile balloons in memory usage and gets killed by kubernetes. How can I make kaniko work for me, or am I stuck with DinD?

Please help, thank you

[2019-12-11 07:23] hulucc opened #910 "Very slow when building from big base image"
**Actual behavior**
Build takes 10 minutes over when build with a big base image doing same simple job.

**Expected behavior**
It should be quick.

**To Reproduce**
Steps to reproduce the behavior:
1. Just build
2. If you check the debug log, you will see it's almost recreating every file in base image
[code]

**Additional Information**
 - Dockerfile
[code]
 - Build Context
   Doesn't matter, it c

[2019-12-12 05:22] michaelfindlater commented on #521
I am also running into this bug in a multistage build.

[2019-12-12 18:47] gothburz commented on #478
it seems to be related to the flag package as well, glog relies on the flag package.

[2019-12-13 06:37] willinwu commented on #711
@drpmma , I get the same error while i use the private registry.
It's strange that I only get error if the vm ( which the kaniko is running on )can't access the internet.
I upgrade the golang to 1.12 and upgrade the kaniko to 0.14.0.
But it doesn't help.
Can you give me some advise?

[2019-12-13 13:27] pustovalov1 opened #913 "Problem with building multistaged image based on mysql"
I have a problem building multistaged image using kaniko (gcr.io/kaniko-project/executor:debug).
With docker build image builds without any problem.
Below is a Dockefile:

[code]
setup.sql is simple init script:
[code]
When I build it with kaniko I have an error:
[code]
Full kaniko build log is in attachment: [kaniko_build_log.txt](https://github.com/GoogleContainerTools/kaniko/files/3960981/kanik

[2019-12-13 21:41] #897 closed

[2019-12-15 18:01] ivankatliarchuk commented on #889
Latest kaniko image `gcr.io/kaniko-project/executor:debug-d72a960600f388655171eec0bf797cd5fbece666` works with AWS EKS WebIdentity and IAM orles over a  service account. Thanks for a tip. The environment variable `AWS_SDK_LOAD_CONFIG=true` shold be set.

[2019-12-16 13:42] pedrofolim commented on #478
Hello people,

      We are also having the same problem pushing to a private nexus using kaniko and kubernetes.

      `ERROR: logging before flag.Parse: E1216 13:37:22.432101      39 metadata.go:142] while reading 'google-dockercfg' metadata: http status code: 404 while fetching url http://metadata.google.internal./computeMetadata/v1/instance/attributes/google-dockercfg
ERROR: logging before fla

[2019-12-16 18:46] ZedYeung opened #915 "Inconsistent behavior for symlink file COPY compared with docker build"
**Actual behavior**
A clear and concise description of what the bug is.
For docker build, copy symlink would copy the actual file.

**Expected behavior**
A clear and concise description of what you expected to happen.
For kaniko build, copy symlink would copy the symlink file.

**To Reproduce**
Steps to reproduce the behavior:
1. ...FROM any image with /bin/sh(e.g. golang)
2. ...FROM scratch
3. ..

[2019-12-16 19:03] HerrmannHinz commented on #769
any progress on this one?
can't use kaniko atm for building images from cicd.
using kaniko:debug latest image from gcr.io

[2019-12-16 19:45] #899 closed

[2019-12-17 00:19] cvgw commented on #870
This should be fixed as of master@https://github.com/GoogleContainerTools/kaniko/commit/a675098b452d020bf678063a3ac2d3be84b0e545

Some assistance verifying that it is fixed would be appreciated. Thank you

[2019-12-17 02:42] hulucc commented on #910
It's my problem.
When the log saying `Unpacking rootfs`, actually it's downloading the base image.
So the slowness is caused by the network.
After I populate cache from mirror, everything is ok.
`/kaniko/warmer -f --image=<mirror>/library/golang`

[2019-12-17 02:42] #910 closed

[2019-12-17 08:15] mcfedr commented on #870
Is there a prebuilt image from master that I can test with? it looks like `gcr.io/kaniko-project/executor:latest` is fixed at the last release

[2019-12-17 08:27] fredr commented on #870
@mcfedr I think you can use the git hash, like `gcr.io/kaniko-project/executor:a675098b452d020bf678063a3ac2d3be84b0e545`

[2019-12-17 08:46] edbighead commented on #870
@mcfedr you can check image versions in GCR https://console.cloud.google.com/gcr/images/kaniko-project/GLOBAL/executor?gcrImageListsize=30

[2019-12-17 09:13] edbighead commented on #870
@cvgw fix is working on the latest version for me.
`INFO[0390] No cached layer found for cmd COPY --from=build /usr/src/app/target/app-0.0.1.jar /home/user/app.jar`

[2019-12-17 09:54] toxsick commented on #870
@cvgw works for me too. Thanks!

[2019-12-17 11:49] fredr commented on #845
I've tested with the latest master (a675098b452d020bf678063a3ac2d3be84b0e545) and this seems to have been solved

[2019-12-17 14:27] danilorsilva opened #916 "Kaniko + Nexus"
Hello all,

Is there a way to use kaniko + nexus private registry?

I tried to use a config.json without success.

Thanks!

[2019-12-17 15:44] bramus opened #917 "Google Cloud Build: "Error: error resolving dockerfile path: please provide a valid path to a Dockerfile within the build context with --dockerfile""
**Actual behavior**

I'm trying to use kaniko with Google Cloud Build. My `Dockerifle` is stored inside a `docker/` subfolder of this project.

[code]

I immediately get back a `"Error: error resolving dockerfile path: please provide a valid path to a Dockerfile within the build context with --dockerfile"` error from kaniko.

[code]

Having checked some other issues I've tried building with these

[2019-12-17 15:45] ArnaudWald opened #918 "Using multiple Registries bug"
I am trying to build on top of a public DockerHub image, and push the result into my private registry.

**My Dockerfile**:
[code]

**The command I run**
[code]

**Result**
The initial permission checking succeeds, the build is successful, but I cannot push, I get `error pushing image: failed to push to destination my-private-registry/testkaniko/test-kani:latest: unsupported status code 401; body:

[2019-12-17 15:48] bramus commented on #917
Oh my, found the core issue: apparently it's not allowed to use quotes around a specified `--dockerfile=`.

- Won't work: `--dockerfile="Dockerfile"`
- Will work: `--dockerfile=Dockerfile`

Would look to me that it should also work with quotes used, so leaving it open for now. Feel free to close if that's not in line with the vision of this project.

[2019-12-17 16:33] cvgw commented on #870
Thanks everyone for the help solving and verifying this issue. Closing, but feel free to reopen if it isn't 100% fixed

[2019-12-17 16:33] #870 closed

[2019-12-17 16:34] cvgw commented on #845
Thanks for verifying @fredr . Closing this issue but feel free to reopen if needed

[2019-12-17 16:34] #845 closed

[2019-12-17 16:35] cvgw commented on #589
This should be fixed as of master@https://github.com/GoogleContainerTools/kaniko/commit/a675098b452d020bf678063a3ac2d3be84b0e545

Closing, but please reopen if it is not resolved

[2019-12-17 16:35] #589 closed

[2019-12-17 17:17] pselden commented on #589
@cvgw I tried with `kaniko-executor:debug` and it works!

[2019-12-17 19:25] vguaglione opened #919 "QUESTION: Correct Build Parameters/Args For Opting Into Caching?"
I am attempting to make use of the built-in caching mechanism when building images.  I have set the following build parameters:

--cache=true
--cache-dir=/images  (mapped to a local volume via standard docker run -v)

I am testing using the debug version of the executor via docker run:

docker run -it -v $(pwd):/workspace -v $(pwd)/mywkdir:/images --entrypoint=/busybox/sh gcr.io/kaniko-project/exe

[2019-12-17 19:27] stroncium commented on #870
Any info on when release version lands(0.15.0?)? (I can test commit based version, but won't be able to use non-release version in production.)

[2019-12-17 20:41] cvgw commented on #870
@stroncium plan is to release v0.15.0 this week

[2019-12-18 01:46] Sexual commented on #713
Any update regarding this?

[2019-12-18 08:58] meglory commented on #676
i just verified @daHaimi 's solution，but i found that the image hash has changed，and i also get some error，like this:

but it push succeed，kind of weird.

[2019-12-18 20:49] tejal29 commented on #916
Hey @danilorsilva thank you for your question.

Looking into using nexus private registry docs,
you need to set up auth like this.
https://blog.sonatype.com/using-nexus-3-as-your-repository-part-3-docker-images

[code]

Can you follow the instructions here
https://github.com/GoogleContainerTools/kaniko#pushing-to-docker-hub
to create a `/kaniko/.docker/config.json` and try?

[2019-12-19 11:43] jandillmann commented on #769
Same error here, I'm trying to build a danlynn/ember-cli image on Gitlab CI…

[2019-12-19 17:00] gawi opened #921 "cache warmer --cache-ttl option serves no apparent purpose"
**Actual behavior**
The cache warmer will always ensure that the requested image will be written to the base image cache. It will always validate against the registry (a given tag can point to different images over time, the best example of that is the `latest` tag).

If the base image was not present, the file will be written to the cache and the cache warmer will output some traces:
[code]

If t

[2019-12-19 19:20] drshrey commented on #769
@jandillmann @fabn
I was getting this same issue when installing google-chrome-stable using Kaniko within GitLab CI. I was able to fix it for now by inserting this statement before doing `apt-get install` operations.
[code]

So now my entire Dockerfile looks like this:
[code]

I'm not exactly sure why we need to clean out the lists directory beforehand, but the source of the solution comes from th

[2019-12-20 12:10] vguaglione commented on #919
Pasting full command and selected output revealing the errors below:

/kaniko/executor --dockerfile /workspace/Dockerfile --no-push --context /workspace --cache=true --cache-dir=/image-cache --cache-repo=<my private repo>

INFO[0025] Taking snapshot of full filesystem...
INFO[0028] Pushing layer <private repo>:b9f16ab3e1f4f8639b80facf2d658f05cad2186188e4f17c8a3a62f4d64d84ef to cache now
INFO[0028]

[2019-12-20 12:57] rustymunkey commented on #752
At least on our side it was the problem with our kaniko docker image. We took great care in creating it (yes, we have seen the warning on the readme!), as it would better fit to our build pipeline.
However, when we switched back to the official docker image, these weird non-deterministic problems disappeard and never came back.
After several weeks of testing and building various images with kaniko

[2019-12-20 16:54] cvgw commented on #919
@vguaglione it looks like you're specifying a blank `cache-repo`. I would imagine that results in some weird, undefined behavior we could probably produce a better error message for.

I'm not sure if this was clear to you already, but `cache-dir` is only for base images and populated by the `cache-warmer`. `cache-repo` is used for the layers build by kaniko.

[2019-12-20 17:08] vguaglione commented on #919
Actually,  I have specified the cache repo but attempted to obfuscate it from the output.   Here's the command:

/kaniko/executor --dockerfile /workspace/Dockerfile --no-push --context /workspace --cache=true --cache-dir=/image-cache --cache-repo=gitlab.dhe.duke.edu

I believe I misunderstood the functionality of the cache.  What we were trying to do was use cache=true and cache-dir=/image-cache t

[2019-12-20 17:41] cvgw commented on #919
Whoops! Sorry, that makes sense :) In that case I'm not sure what the 401 is about but probably related to configuring auth in the container.

But to address your main point: afaik `cache-repo` can't point to a local directory (or a mapped volume). @tejal29 might correct me on that though.

I can definitely see the use case and advantage of that;  seems like a reasonable feature to consider adding

[2019-12-20 17:42] vguaglione commented on #919
Ok so to sum up, we can't cache layers locally at this point, correct?

[2019-12-20 17:46] cvgw commented on #919
No, I do not believe that is possible at this time.

[2019-12-20 17:50] vguaglione commented on #919
Can we add this?  I can go ahead and create a feature request or can you move this to the backlog?

[2019-12-20 19:48] cvgw opened #923 "Proposal: Kaniko should have option to use local layer cache"
# Proposal: Local layer cache
## Current behavior
Kaniko currently supports only a remote layer cache (a docker registry).

Kaniko does allow for caching of base images within a local cache, but it does not support image layers built by kaniko (or other docker image build mechanisms)

## Desired behavior
Kaniko should allow users to specify a local directory to use for caching layers. Kaniko shoul

[2019-12-20 19:49] cvgw commented on #923
related #919

[2019-12-20 19:49] cvgw commented on #919
@vguaglione ya I think this is reasonable to add. I opened https://github.com/GoogleContainerTools/kaniko/issues/923 to track

[2019-12-20 19:51] cvgw commented on #923
cc @tejal29

[2019-12-20 19:53] cvgw commented on #896
@Sherman-Chata can you give this another try with v0.15.0?

[2019-12-20 20:13] vguaglione commented on #919
Great, thanks so much!

[2019-12-20 20:35] cvgw commented on #919
@vguaglione is it ok if I close this issue?

[2019-12-20 20:39] cvgw commented on #496
I've created a proposal for this feature https://github.com/GoogleContainerTools/kaniko/issues/923

Closing this issue to continue discussion there.

[2019-12-20 20:39] #496 closed

[2019-12-20 20:40] cvgw commented on #923
Also related https://github.com/GoogleContainerTools/kaniko/issues/496

[2019-12-20 20:40] vguaglione commented on #919
Sure.  Thanks for looking into this for us.

[2019-12-20 20:45] cvgw commented on #637
I'd like to get some clarity on this issue as a number of things have changed in Kaniko and it sounds like there are a couple of things at play here.

Some bugs in caching have been fixed so getting consistent cache keys is no longer a problem in v 0.15.0

Digests of layers and images built by kaniko are not reproducible (unless the `--reproducible` flag is used); that is working as designed

Kani

[2019-12-20 20:53] #919 closed

[2019-12-20 21:00] cvgw commented on #704
This is definitely a bug in how kaniko's caching is implemented. I think the issue most likely stems from the fact that kaniko unpacks layers to the filesystem even when they are cached, but does not execute cached run commands.

[code]

[2019-12-20 21:03] cvgw commented on #710
closing this in favor of continued tracking in #900

[2019-12-20 21:03] #710 closed

[2019-12-20 21:25] cvgw commented on #860
@tejal29 what error due you see with this build?  I'm able to build the linked dockerfile successfully and I don't see any differences between the kaniko version and docker version using `container-diff`

[2019-12-20 22:05] cvgw commented on #921
I confirmed we don't have any documentation of what `cache-tll` does for either executor or warmer so I'll definitely create an issue to add that information to the docs.

As far as the warmer goes, looking at the src kaniko definitely ignores when the cached image is expired so I'm not sure what the point of passing `cache-ttl` to the warmer is.

I'll open a bug for the warmer and start a discuss

[2019-12-20 22:32] cchanley2003 opened #925 "Pulling from insecure registry with skip tls verify fails with 0.15.0"
**Actual behavior**
Latest release seems to have broken insecure pull. Getting the following errors (I have replaced the hostname/port of my insecure registry with nexus):

INFO[0000] Resolved base name nexus/centos-jdk:7-11 to nexus/centos-jdk:7-11
INFO[0000] Resolved base name nexus/centos-jdk:7-11 to nexus/centos-jdk:7-11
INFO[0000] Retrieving image manifest nexus/centos-jdk:7-11
ERRO[0000] Err

[2019-12-20 22:48] cvgw opened #926 "Cache warmer is broken in v0.15.0"
**Actual behavior**
Cache warmer never downloads images that are not found in the cache

**Expected behavior**
cache warmer should download images not found in the cache

**To Reproduce**
Steps to reproduce the behavior:
1. `docker run -v $(pwd):/workspace gcr.io/kaniko-project/warmer:latest --cache-dir=/workspace/cache --image=ubuntu:latest`

**Additional Information**
 This commit broke it https

[2019-12-20 23:40] cvgw opened #928 "Warmer ignores result of `cache-ttl`"
**Actual behavior**
Cache warmer does not return an error and does not remove expired images from the cache.
The function used to check for the presence of a cached image takes options containing the value of `cache-ttl`. This function does not return an error when the cached image is found but expired.
https://github.com/GoogleContainerTools/kaniko/blob/9ebee24bf332e89817844125de1225ba0247b573/pk

[2019-12-20 23:42] cvgw opened #929 "Update documentation with information about `cache-ttl`"
Currently our documentation doesn't include any information about what `cache-ttl`. We should update it for both the warmer and executor

[2019-12-20 23:43] cvgw commented on #921
opened https://github.com/GoogleContainerTools/kaniko/issues/928 and https://github.com/GoogleContainerTools/kaniko/issues/929

Please close this issue if you feel #928 and #929 sufficiently cover your concerns. If not let me know what else we should include!

[2019-12-20 23:48] cvgw commented on #926
Using the `--force` flag is a temporary work around

[2019-12-20 23:53] gawi commented on #921
Thanks. #928 and #929 accurately cover the issue.

[2019-12-20 23:53] #921 closed

[2019-12-21 14:28] dinvlad commented on #900
Having the same issue. I ran all checks supplied by [container-diff](https://github.com/GoogleContainerTools/container-diff), but it didn't reveal any differences. Yet, sha256 still differs..

[2019-12-21 18:14] cvgw commented on #917
Hmmm, I think this might be related to the CLI framework we use, Cobra. I'll look into it.

[2019-12-21 18:18] cvgw commented on #918
I'm pretty sure pulling a base image from a public registry and pushing to a private registry works as thats what I do daily for testing and such. There might be some edge case here, but it might be related to auth on your private registry rather than combination of public and private.

If you don't mind me asking, what private registry are you using? (Service provider or project name would be gre

[2019-12-21 20:48] cvgw opened #931 "Question: Unneeded Code?"
https://github.com/GoogleContainerTools/kaniko/pull/693#issue-285063736

cc @orisano

[2019-12-21 20:49] cvgw commented on #931
from https://github.com/GoogleContainerTools/kaniko/pull/693

[2019-12-21 20:56] #838 closed

[2019-12-21 21:19] kvaps commented on #637
Hi @cvgw,
I've just tested my cases from https://github.com/GoogleContainerTools/kaniko/issues/637#issuecomment-554769329, all of them are working fine with new kaniko v0.15.0.
So I guess problem solved. Thank you!

[2019-12-21 22:32] #819 closed

[2019-12-22 01:44] cvgw commented on #925
Hi @cchanley2003 I wasn't able to repro this after a quick test using the `registry:2` Docker image to run a local, insecure registry.

1. Build image and push to local registry
2. Build dockerfile in kaniko with image from step 1 as base

[code]

Any thoughts on what steps I might be missing to repro?

[2019-12-22 01:47] cvgw commented on #925
Hmm, trying the same build again with "--insecure", "--insecure-pull", "--skip-tls-verify" didn't raise any errors so I'm guessing this registry isn't a good example for whatever reason

[2019-12-22 02:42] cchanley2003 commented on #925
I am home for the holidays so have limited ability to test this week. We are using nexus as our docker repo if that helps any. I can potentially provide some simple steps (4-5) to get that started from scratch.

[2019-12-22 03:19] cvgw commented on #925
Was able to repro after setting up a custom hostname for my registry

`error building image: Get https://www.cvgw-local-registry.org:5000/v2/: http: server gave HTTP response to HTTPS client`

[2019-12-22 18:56] #785 closed

[2019-12-22 21:14] cvgw commented on #704
I'm not super familiar with this part of the code but here is what I found

During stage build when the current command is a `CachedRunCommand` we call `s.snapshotter.TakeSnapshot`
https://github.com/GoogleContainerTools/kaniko/blob/732b2700354dc0f501e5d3012e74b3d6672bae41/pkg/executor/build.go#L368

But `Snapshotter.TakeSnapshot` does include the deleted file (whiteout) logic
https://github.com/G

[2019-12-22 21:38] cvgw commented on #704
You can see that the final layer for the cached and uncached versions of the image are different
[code]
Specifically the cached version is missing `some/dir/.wh.first.txt` which I think would be used to filter out `some/dir/first.txt` from the final image content. IE because this isn't included in the layer for the cached version of the image `some/dir/first.txt` is included in the final image.

[2019-12-22 21:40] cvgw commented on #704
Updating https://github.com/GoogleContainerTools/kaniko/blob/732b2700354dc0f501e5d3012e74b3d6672bae41/pkg/commands/run.go#L209 to `return nil` (as in the case of `RunCommand`) produces the expected behavior but I'm not sure what the consequences of that change would be.

[2019-12-23 01:59] cvgw commented on #704
This line is leading to the whiteout file missing in the cached layer
https://github.com/GoogleContainerTools/kaniko/blob/732b2700354dc0f501e5d3012e74b3d6672bae41/pkg/util/fs_util.go#L123

If I understand this correctly, we wouldn't want to extract the whiteout files from base images (which `GetFSFromImage` is also used for) but doing so in the case of a cached layer would make sense.

So perhaps

[2019-12-23 02:43] #826 closed

[2019-12-23 02:58] cvgw commented on #831
Kaniko is only supported running in one of the official docker images; unfortunately it is out of scope to support kaniko running in other images https://github.com/GoogleContainerTools/kaniko#known-issues

[2019-12-23 02:58] #831 closed

[2019-12-23 03:06] #645 closed

[2019-12-23 03:06] cvgw commented on #645
kaniko is now using golang 1.12

[2019-12-23 03:08] cvgw commented on #575
This should be fixed in v0.15.0
Please re-open if this problem persists

[2019-12-23 03:08] #575 closed

[2019-12-23 03:12] cvgw commented on #434
Supporting kaniko in custom containers is out of scope for the timing being, but we can leave this issues open for future discussion

[2019-12-23 03:19] cvgw commented on #579
related issue https://github.com/GoogleContainerTools/kaniko/issues/57

[2019-12-23 10:44] ArnaudWald commented on #918
I'm using the [Scaleway Registry](https://www.scaleway.com/en/container-registry/).

[2019-12-23 19:30] #925 closed

[2019-12-25 14:25] DGollings opened #934 "Panic: index out of range when stage alias has the same name as base image"
**Actual behavior**
A clear and concise description of what the bug is.

Kaniko panics with an index out of range when _I think_ a image and alias are duplicates of each other. For example FROM composer AS composer

Removing AS composer fixed it

Output
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

Not crash

**To Reproduce**
Steps to reproduce the

[2019-12-28 12:07] antechrestos commented on #808
@cvgw I was on holiday and waiting as a good thing as you migrated to module :smirk:

[2019-12-29 17:58] martinraison opened #937 "Kaniko hangs in GKE cluster with Workload Identity enabled"
**Actual behavior**

The kaniko executor hangs on startup when running inside our GKE cluster. After a bit of investigation, it seems the executor is stuck in a loop when trying to get the instance metadata (see reproduction below for details).

I suspect (not 100% sure) this might be due to Workload Identity being enabled in the cluster (which protects metadata by default).

What is metadata used

[2019-12-29 18:25] martinraison commented on #937
After further investigation, there seems to be an issue on the GKE side. I tried fetching the service account metadata manually from the kaniko container, with:

[code]

I'm getting a 500:

[code]

Looks like the issue has more to do with Kubernetes than with Kaniko. I'll close (let me know if you know a workaround, though !)

[2019-12-29 18:25] #937 closed

[2019-12-30 13:02] aivarasko opened #938 "Cached layer returns deleted file (symlink link)"
**Actual behavior**
Building same image that contains file removal returns removed file when cache is used. On first build when no cache exists file is removed. On second build when cache hit used file exists but it should not.

**Expected behavior**
Cached layer should not return removed file.

**To Reproduce**
Steps to reproduce the behavior:
1. Build image on Kubernetes with tag tag1
        ..

[2019-12-30 19:37] priyawadhwa commented on #931
so this code is storing all existing files in `paths`. Any file that has a `.wh.` prefix is a whiteout file, and indicates that that file should be deleted from the filesystem (it may have existed in an earlier layer, so this is how we keep track of deleted files)

There's more info on whiteout files [here](https://github.com/moby/moby/blob/master/image/spec/v1.md), for reference!

[2019-12-30 21:01] cvgw commented on #938
this is most likely a duplicate of https://github.com/GoogleContainerTools/kaniko/issues/704

[2019-12-31 05:00] aivarasko commented on #938
Closing. Duplicate of #704

[2019-12-31 05:00] #938 closed

[2019-12-31 16:46] WildMattock opened #940 "Impossible to build a dockerfile with continuumio/miniconda3:4.7.12"
I'm trying to build the following dockerfile in kaniko:
[Dockerfile.txt](https://github.com/GoogleContainerTools/kaniko/files/4013098/Dockerfile.txt)

The command is:
/kaniko/executor --dockerfile=./Dockerfile --context=./ --destination=registry.container-registry.svc.cluster.local:5000/templates/test1:0.0.1

Follows the log with the error:
****
INFO[0030] Resolved base name continuumio/miniconda3

[2020-01-02 02:58] macrotex commented on #862
We are having this issue as well. We need to use reproducible builds so that our daily builds do not get added to our container registry if there is no "real" change to the docker image.

[2020-01-02 16:40] cvgw commented on #931
@orisano is there anything else we can help clarify about this code?

[2020-01-02 18:07] orisano commented on #931
I read the image/spec already.
I believe that the below code is correct.
[code]
please tell me why the code delete paths entry, then immediately add paths entry?

[2020-01-03 08:20] shortstories opened #942 "ADD or COPY with symbolic link breaks image"
**Actual behavior**
Image is broken when there is a symbolic link at the destination when ADD or COPY

**Expected behavior**
build should succeed and sources should be in destination

**To Reproduce**
1.  create Dockerfile
[code]

2. image build with kaniko
[code]

3. docker run
[code]

- test images
     - `shortstories/kaniko-test:case1`
     - `shortstories/kaniko-test:case2`
     - `shortstori

[2020-01-03 09:47] noni73 opened #944 "docker-credential-acr-linux is missing"
**Actual behavior**
The docker credential helper for azure is missing

**Expected behavior**
Include this helper file in the image

**To Reproduce**
Use kaniko with an azure docker registry

 **Triage Notes for the Maintainers**

I will create a pull request.

 | **Description** | **Yes/No** |
 |----------------|---------------|
 | Please check if this a new feature you are proposing        | <ul>

[2020-01-03 17:30] hanlaipeng opened #946 "error building image: error building stage: error removing sbin to make way for new symlink: remove /sbin/docker-init: device or resource busy"
I run the kaniko in kubernetes, the k8s node's docker version is 19.03. When i run kaniko in k8s,  there is an error:
`"error building image: error building stage: error removing sbin to make way for new symlink: remove /sbin/docker-init: device or resource busy".`
However, if k8s node's docker version is 18.03, it works. So, i want to know how to fix it when i run kaniko in k8s which cluster node

[2020-01-03 19:11] cvgw commented on #931
@priyawadhwa I'm not understanding what the code does either.
https://github.com/GoogleContainerTools/kaniko/blob/3422d5572af36c70c7875e4861703cb1c8588548/pkg/snapshot/layered_map.go#L65

Take the following example
[code]

Why is it required to delete `/tmp/foo/.wh.bar` from `paths` and then add `/tmp/foo/.wh.bar` to `paths`?

Apologies if I am misunderstanding the code.

[2020-01-03 19:21] cvgw opened #947 "Travis, Docker, and Kokoro all use different golang versions"
**Actual behavior**
Kokoro, Travis, and the Kaniko Dockerfiles all use different Golang versions

Travis is 1.13
https://github.com/GoogleContainerTools/kaniko/blob/eafb80227b044b521f261b3883f094da0dd29950/.travis.yml#L5

Dockerfile is 1.12
https://github.com/GoogleContainerTools/kaniko/blob/eafb80227b044b521f261b3883f094da0dd29950/deploy/Dockerfile#L17

I have no idea what Kokoro is using but it'

[2020-01-03 20:53] cvgw opened #948 "License validation code does not accept 2019 or 2020 as valid years"
**Actual behavior**
Adding a new file with a copyright dated 2019 or 2020 will cause the license validation code to fail

**Expected behavior**
2019 and 2020 should be valid dates for copyright license

**To Reproduce**
Steps to reproduce the behavior:
1. Add a file with copyright dated 2019 or 2020
2. run license validation code

**Additional Information**

 **Triage Notes for the Maintainers**

[2020-01-03 21:07] hanlaipeng commented on #946
docker (version 18.03) init is
`/dev/init  --/bin/bash`
but docker (version 19.03) init is
`/sbin/docker-init --/bin/bash`

[2020-01-03 21:58] priyawadhwa commented on #931
This looks like a bug! I think the correct code would be:

[code]
so if we find a whiteout file we remove the file it refers to from `paths`, otherwise we add it.

[2020-01-03 22:27] cvgw commented on #931
Thanks @priyawadhwa! That makes sense to me; though I'd suggest a slight change
[code]

[2020-01-03 23:45] cvgw opened #950 "Integration tests break flags in go 1.13"
**Actual behavior**
Testing flags are overwritten by flags in `integration_test.go`

`flag provided but not defined: -test.testlogfile`

**Expected behavior**
Testing flags are not overwritten

**To Reproduce**
Steps to reproduce the behavior:
1. use golang 1.13
2. Execute a single integration test

 **Triage Notes for the Maintainers**

 | **Description** | **Yes/No** |
 |----------------|-------

[2020-01-04 00:17] cvgw opened #951 "Integration test false positive when filesystem differs from docker built image"
**Actual behavior**
An integration test will pass even if the resulting image is different than one built using docker

**Expected behavior**
An integration test will fail if the resulting image is different than one built using docker

**To Reproduce**
Steps to reproduce the behavior:
1. Sample Dockerfile
[code]
2. Add the sample dockerfile to `integration/dockerfiles`
3. Execute the test with th

[2020-01-05 04:38] wtam2018 commented on #681
Running as root seems to fix it.
` securityContext:
      runAsUser: 0`

[2020-01-06 09:07] manicole commented on #789
Same problem here, able to run the command but getting same log warn. Any clue ?

[2020-01-06 12:02] stefanfritsch opened #952 "Error processing tar file"
Hi,

## Actual behavior

### Symptom
Kaniko builds broken images that works when built with docker instead.

The error when trying to run the image is:
[code]

### Related bugs
Unlike #572 I do push and use `--destination`, #132 seems to describe the same issue but was closed back in 2018

### Build process
The relevant part of the `Dockerfile` is:
[code]

Which leads to the following in the kanik

[2020-01-06 17:33] fhusson commented on #614
Hi @ViceIce @GO3LIN,

With the latest version of Proget (v5.2.22 03/01/2020),

Proget and Kaniko are now working \o/

More details with :
- [PG-1651](https://inedo.myjetbrains.com/youtrack/issue/PG-1651) - FIX: ProGet misdetects some Docker auth token requests as anonymous.
- [PG-1650](https://inedo.myjetbrains.com/youtrack/issue/PG-1650) - FIX: Docker API treats /v2/ endpoint differently than oth

[2020-01-07 03:36] shortstories commented on #952
@stefanfritsch
This issue occurs because `/etc/service` is a symlink. See #942
[code]

[2020-01-07 07:59] ingokofler commented on #900
As mentioned in #710 I have already debugged this and the different hash is resulting from the different order of the files in this tar-gz json diff layer information. I think the files listed in that JSON file need to be in a consistent order.

[2020-01-07 11:58] amouat opened #953 "Hash Bang on wrong line in bash script"
**Actual behavior**
A clear and concise description of what the bug is.

Running the `run_in_docker.sh` script on non-bash shells results in an error:

[code]

This is because hash bang lines in bash scripts (e.g. `#!/bin/bash`) must occur on the first line, but in this script the first line is a copyright statment.

**Expected behavior**

The error lines should not appear:

[code]

**To Reproduce

[2020-01-07 12:15] amouat commented on #953
I also found the same problem in two more scripts `integration-test.sh` and `benchmark.sh`

[2020-01-07 18:08] tejal29 commented on #902
@webmutation nice idea. Do you want to open a PR and implementing this?

[2020-01-07 18:14] tejal29 commented on #903
@cpointner its is very common to mount docker.sock during building an image.
Bind mounting the Docker daemon socket into a container is used to communicate with and control the docker daemon inside the container.

That being said, we want to add a feature to ignore the explicit list of paths if it is present in the dockerfile.

[2020-01-07 18:21] cpointner commented on #903
@tejal29 sorry but i still don't get why someone needs this during image build time. I know there are some use-cases for mounting the docker socket to the container once it is started but i have never seen somebody use this during image build time...

However thanks for your response. What do you mean by

How would this work?

[2020-01-07 18:26] tejal29 commented on #918
@ArnaudWald Does `docker push` to your private registry work?

[2020-01-07 21:56] stefanfritsch commented on #952
Thanks a lot. I'll close this issue then. 👍

[2020-01-07 21:56] #952 closed

[2020-01-08 02:10] Elgarni commented on #916
@tejal29 We have a Nexus repository, and it's working with this setting.
@danilorsilva Make sure the authenticated user has the necessary permissions.

[2020-01-08 05:38] #950 closed

[2020-01-08 11:55] cmorty opened #958 "Add option to only build if the image/tag does not yet exist"
Depending on your CI-Environment it might be helpful to only build a certain image only if it it does not yet exist at the registry. (E.g. if the tag is derived from a version/ID or, as in our case, from the hash of the Git-Folder-Object containing the Docker-file.)

**Actual behavior**
The image is always built and uploaded.

**Expected behavior**
Only build the image if it does not yet exist.

*

[2020-01-08 16:28] kvaps opened #960 "Kaniko is stucking on copying root"
**Actual behavior**
Kaniko is sucking forever when trying to save `/` (root) of previous stage
[code]

**Expected behavior**
Kaniko will copy `/` to the specified directory.

**To Reproduce**
[code]

**Additional Information**
 - <details><summary>Strace log</summary>
   <pre>
   strace: Process 53577 attached with 17 threads
   [pid 53624] futex(0xc0004699c8, FUTEX_WAIT_PRIVATE, 0, NULL <unfinish

[2020-01-09 08:52] marekaf commented on #733
this doesn't seem to be document well though :(

[2020-01-09 09:19] lijianfeng1993 commented on #781
i meet the save problem.
my harbor version is 1.8.0 and push failed.
but i can push to registry.

[2020-01-09 11:22] Kami-no commented on #437
Still got this with fresh gcr.io/kaniko-project/executor:debug

GitLab CI + Kaniko

[2020-01-09 11:23] kvaps commented on #960
This is my ugly workaround for this:
[code]

[2020-01-09 11:27] kvaps commented on #960
/area multi-stage builds
/kind bug

[2020-01-09 19:46] faiq commented on #519
I've experienced this issue not only with stage build names but building docker images that start with an all caps from image.

ie:

[code]

fails for me.

[2020-01-09 20:23] wstrange commented on #9
Any updates on this issue?

[2020-01-10 01:45] stevenaldinger commented on #713
We're running into this issue as well, preventing us from using kaniko with cloudbuild securely without major changes to use google's secrets options or something which we don't want to do since we already have a secrets management system.

The tool itself is awesome, any updates on whether or not it's being worked would be great.

This is essentially what we need to work and its confirmed working

[2020-01-10 08:18] WildMattock commented on #940
**Meanwile I found a workaround:**
In the dockerfile, placing the command [rm -rf /var/lib/apt/lists/*] before the command [apt-get update] it works.

Docker build works better in this situation because every run starts from clean.
I think Kaniko should do the same.

[2020-01-10 12:34] diclophis commented on #9
I just ran into this bug as well...

[2020-01-10 18:01] cvgw commented on #953
I didn't realize this way a requirement :+1:

I am concerned that the tool we use https://github.com/google/addlicense will cause this problem to occur again.

[2020-01-10 18:06] cvgw commented on #614
Sounds like this might be resolved on the Proget side. Can we close this issue?

[2020-01-10 18:06] #944 closed

[2020-01-10 18:09] cvgw commented on #681
AFAIK kaniko must run as root at this time. It's something we've discussed fixing but I don't think has been addressed yet.

[2020-01-10 18:51] cvgw commented on #960
Unfortunately I think this behavior is expected. There are directories at `/` (such as `/kaniko`) that are "special"/"reserved". I'm not sure if there is a better work around than you've suggested

[2020-01-10 18:58] Andor commented on #901
For me, it works well for first run, without usage of caching layers.
But when the layer used by `COPY` is extracted from cache then it generate tons of noise:
[code]
Literally listing all the files in the copyed directory.

[2020-01-10 19:09] cvgw commented on #894
Closing this issue as it has not been updated. Feel free to reopen with more info.

[2020-01-10 19:09] #894 closed

[2020-01-10 19:15] cvgw commented on #953
Re-opening this issue as it may happen again due to `addlicense` behavior

[2020-01-10 19:16] ViceIce commented on #614
Sorry, hadn't have time to test.

[2020-01-10 19:26] cvgw commented on #507
I imagine this issue is related to https://github.com/GoogleContainerTools/kaniko/issues/822

[2020-01-10 19:29] cvgw commented on #716
As a note; using kaniko in a non-official image or copying the binaries to a non-official image is not supported. There may be a way to make it work, but YMMV

[2020-01-10 19:57] #948 closed

[2020-01-10 19:59] kvaps commented on #960
But docker and buildkit is working fine with this

[2020-01-10 20:51] cvgw commented on #647
It appears the culprit for the permission change is this line
https://github.com/GoogleContainerTools/kaniko/blob/48f66e958c3e0aa8af57f524721cb8f246d5b511/pkg/executor/build.go#L578

If you add some debugging in like such
[code]

it appears the change happens there

[code]

[2020-01-10 21:01] cvgw commented on #647
Looks like otai10/copy was updated; perhaps to fix this issue https://github.com/otiai10/copy/blob/f98458f9df5788f53462a1bf427b728f113ab481/copy.go#L76

[2020-01-10 21:07] cvgw commented on #647
The latest version of otiai10/copy has the correct behavior for permissions it seems

[code]

[2020-01-10 21:10] #926 closed

[2020-01-10 21:13] cvgw commented on #960
Right, this is specific to the way that kaniko is implemented.

[2020-01-10 21:15] cvgw commented on #437
@Kami-no would you mind sharing an example Dockerfile and the options you are passing to kaniko?

[2020-01-10 21:23] cvgw commented on #721
I think this will also be fixed by https://github.com/GoogleContainerTools/kaniko/pull/961

[code]

[2020-01-10 21:51] tejal29 commented on #704
So, IIUC the cached layer for
`RUN mkdir -p /some/dir/ && echo 'first' > /some/dir/first.txt` has `/some/dir/first.txt`

Then cached layer for
`RUN rm /some/dir/first.txt` has `/some/dir/.wh.first.txt`

I feel
1.  `CacheRunCommand` and `RunCommand` should use the same `TakeSnapshotFS` method.
2. I also feel, `CacheRunCommand. ExecuteCommand` should call `util.GetFSFromLayer` instead of https://git

[2020-01-10 22:00] cvgw commented on #704
RUN mkdir -p /some/dir/ && echo 'first' > /some/dir/first.txt has /some/dir/first.txt
Then cached layer for
RUN rm /some/dir/first.txt has /some/dir/.wh.first.txt

Yup, that's correct

I don't see anything wrong with making that change, but I'm not sure if there is a historical reason they aren't doing that currently

Where is `util.GetFSFromLayer` defined? I wasn't able to find it in the code.

[2020-01-10 22:23] tejal29 commented on #704
i feel its safe for us to go ahead and make this change (without worrying about past. Kaniko started as POC and hence there could be simply no reason).
If the tests pass, we should be fine.

I assumed in your comment [here](https://github.com/GoogleContainerTools/kaniko/issues/704#issuecomment-568327969), `util.GetFSFromLayer` already :) My bad.
I think there would be very few changes between both

[2020-01-10 22:29] tejal29 commented on #947
This is being tackled by @samos123

[2020-01-10 22:49] tinkerborg commented on #900
[This map](https://github.com/GoogleContainerTools/kaniko/blob/master/pkg/snapshot/snapshot.go#L220) in `filesWithParentDirs` causes that function to return files in a different order on each invocation. I refactored it a bit to preserve order, and now my layers remain consistent, but only with a warm cache. The initial image built w/ cold cache differs.

[2020-01-10 22:50] tejal29 commented on #909
/cc @priyawadhwa Can we provide users anything to measure the memory usage ?

@jyipks Can you tell us if you have set resource limits in kaniko pod spec
Also please tell us cluster specification

[2020-01-10 22:53] tejal29 commented on #859
Looks like this issue is resolved.

[2020-01-10 22:53] #859 closed

[2020-01-10 22:54] tejal29 commented on #846
We need to reproduce this bug to make sure this still exists.

[2020-01-10 22:58] tejal29 commented on #793
@hugokerstens Sorry we missed this in triage.

[2020-01-10 22:59] tejal29 commented on #797
Thanks for following up @hlubek

[2020-01-10 22:59] #797 closed

[2020-01-10 23:04] tejal29 commented on #763
@denitol Can you provide more information on your docker file?

[2020-01-10 23:12] tejal29 commented on #637
Thanks @kvaps for confirming. i am going to close this issue now.

[2020-01-10 23:12] #637 closed

[2020-01-10 23:21] tejal29 commented on #656
@gebi Sorry about the lack of support. We are a small team and trying to re-vamp our support level.

Looks like this was fixed on distroless https://github.com/GoogleContainerTools/distroless/pull/437 in Nov 2019.

We did a release in Dec and this should be fixed now.
Can you please confirm with the [v0.15.0](https://github.com/GoogleContainerTools/kaniko/releases/tag/v0.15.0) version?

Tejal

[2020-01-10 23:23] #681 closed

[2020-01-10 23:26] tejal29 commented on #673
@MyIgel Can you try this flag?

[2020-01-10 23:28] tejal29 commented on #506
I think we need to support a feature flag to override whitelists.
some users use /var/run dir which is whitelisted.

[2020-01-10 23:33] tejal29 commented on #612
@ViceIce you will have to mount it explicitly

[2020-01-10 23:41] antechrestos commented on #859
@tejal29 Yeah sorry, I forgot to close it. Thanks

[2020-01-11 00:15] cvgw commented on #846
Is this related to https://github.com/GoogleContainerTools/kaniko/issues/721?

[2020-01-11 00:20] cvgw commented on #704
Oh gotcha, that makes sense 😄

Ya, I think adding another method `util.GetFSFromLayer` that uses the same logic as `util.GetFSFromImage` (do some refactoring to remove duplication) but perhaps takes some options one of which would allow whiteout files to be removed?

[2020-01-11 12:04] antechrestos commented on #859
@tejal29 @cvgw Should I do a PR to upgrade the documentation?

[2020-01-12 00:11] diclophis commented on #707
As I understand it, using kubermetes `volumes` and `volumeMounts` its possible to "layer" into the "build context" a directory contained ssh key material mounted from a kubernetes `secret` ... however... the part that is unclear is exactly what is the safest directory to use for this purpose? for example if I were to mount them in the incorrect location wouldn't kaniko just `COPY` the mounted bits

[2020-01-12 00:29] diclophis commented on #506
Is it recommended to use `/var/run` as the target directory for mounting SSH private keys required for building a given image? related: https://github.com/GoogleContainerTools/kaniko/issues/707

[2020-01-12 12:42] antiqe commented on #780
Anyone can you confirm that the 0.15.0 is compatible with IRSA ?

[2020-01-13 03:42] samos123 opened #966 "Desitination using --tarPath doesn't work if base image is in gcr.io"
**Actual behavior**
I tried to use --tarPath where the base image is in gcr.io which will cause it to try to authenticate to gcr.io even for public images.

**Expected behavior**
--tarPath to work with any kind of image

**To Reproduce**
Steps to reproduce the behavior:
1. Run the following and watch it fail:
[code]

**Additional Information**
 - Dockerfile: https://github.com/GoogleContainerTools

[2020-01-13 13:37] vguaglione commented on #793
@tejal29 What's the ETA for release?

[2020-01-13 18:19] #647 closed

[2020-01-14 09:09] wilmardo commented on #915
Was about to open the same issue but instead I will add it here for some more elaborate explanation:

libstdc++.so.6 is a symlink like so in stage 0:
`/usr/lib/libstdc++.so.6 -> libstdc++.so.6.0.27`

[code]

This should result in the `libstdc++.so.6.0.27` file placed as `/usr/lib/libstdc++.so.6` in the current stage.

**To Reproduce**
Steps to reproduce the behavior:

Create the following Dockerfi

[2020-01-14 11:11] WanzenBug commented on #940
I also encountered this issue. After some debugging I noticed that `apt-get update` only "Hits" the urls, so no refreshing the content. Normally I would expect out-of-date lists to be fetched. However it seems apt bases this decision on the modification date of the fetched list.

So during kaniko build I get:
[code]

However the same file in docker is
[code]

So in kaniko my output is
[code]

and

[2020-01-14 21:08] priyawadhwa commented on #909
@tejal29 @jyipks the only thing I can think of is upping the resource limits on the pod as well

[2020-01-14 21:51] gawi commented on #687
If the goal if to be able to publish to GCR and something else, this is absolutely feasible by providing two auth entries in `config.json`.  You would need to authenticate to GCR using a [JSON key file](https://cloud.google.com/container-registry/docs/advanced-authentication#json_key_file).

What you can't do is to publish to multiple GCR projects having different credentials because the authentic

[2020-01-14 23:32] jyipks commented on #909
i had no resource limits on the kaniko pods. This was on a 3 node cluster, 4cores, 16GB each. From grafana i believe the pod attempted to use more than 15GB
I was building a custom jupyter-notebook image, that normally comes out to be ~8GB upon build completion via docker build.

[2020-01-14 23:57] tejal29 opened #968 "Try workload identity for authenticating to GKE"
**Actual behavior**
A skaffold kaniko user opened an issue https://github.com/GoogleContainerTools/skaffold/issues/3468 to use Workload identity for authenticating to GKE https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity

This bug is to set up workload identity and try out running a kaniko pod without  environment variable `GOOGLE_APPLICATION_CREDENTIALS` in the pod config..

[2020-01-15 00:59] ejose19 commented on #901
Current workaround is adding --verbosity=warn flag to keep logs clean, but agree on this needs fixing.

[2020-01-15 08:24] Andor commented on #901
@ejose19 It's not a workaround, because I will lose all the logs, not only unneeded.

Also, `COPY --from=...` works fine when the cache is not used, so it's definitely some difference between cached and non-cached copying.

[2020-01-15 09:35] ejose19 commented on #901
@Andor of course if you only use Kaniko in all steps of your CI the workaround is "useless", however when doing multi steps build it's better to have the others at least (google cloud build truncates logs over a certain size)

Yes, I noticed that too, the issue is related to cache.

[2020-01-15 09:37] lihuixian001 commented on #679
I still don't understand how to solve it.... Can you elaborate on how to solve it

[2020-01-15 12:59] Aisuko commented on #679
Docker Destop-for-mac default saves the identity into the macOS Keychain, so just let the identity save to the local.

[2020-01-15 13:57] urbaniak opened #969 "Mount cache directory inside build container"
Trying to figure out some way of sharing cache between builds, though about mounting some directory like /cache inside the build container, so we can then have a shared cache there for things like pip, npm or cargo.

Will be possible to implement something like that?

[2020-01-15 17:12] sandrich commented on #793
got the same issue

[code]

[2020-01-16 12:01] nicolaferraro opened #970 "Snapshotting is taking > 10 minutes"
**Actual behavior**

We're using Kaniko in Camel K and some users are complaining about builds that became slow after we upgraded to v0.14.0 from 0.9.0 (https://github.com/apache/camel-k/issues/1209) especially on Minikube (towards Minikube internal addon registry).

Under the hood, we use the `fabric8/s2i-java:3.0-java8` image which is a bit heavy, but it seems the logs get stuck when doing the s

[2020-01-16 23:48] tejal29 commented on #915
Thanks @ZedYeung and @wilmardo for all the information.
I was able to track this down and have a PR out.

The major changes are.
1. For cross stage dependency symlinks, we did not copy the target source. The temporary workspace, only had a dead symlink.
2. When copying a symlink from one stage to another, we know also copy the target.

Thanks
Tejal

[2020-01-17 06:23] tejal29 commented on #969
We do have a cache warmer feature for caching base layers.
https://github.com/GoogleContainerTools/kaniko#caching

The intermediate layers are caches remotely. Are you looking for caching layers locally?

Would that help?

[2020-01-17 06:38] tejal29 commented on #970
@nicolaferraro For ADD command we only take snapshot of files
the log line below also suggests it.
[code]
https://github.com/GoogleContainerTools/kaniko/blob/master/pkg/snapshot/snapshot.go#L63

Can you provide output with `-v=debug` flag? Maybe the number of files to be snapshotted are not just files from `ADD .  ./deployments` dir .

[2020-01-17 06:44] tejal29 commented on #970
Also, can you provide your dockerfile? Are you copying the / ? see #960

[2020-01-17 10:23] urbaniak commented on #969
Layer cache is invalidated on any change so wanted to mount shared directory and keep for example python pip cache there, so it doesn't require to fetch that from network even one dependency has changed.

Something like -v for docker to mount a directory/image (which is also not supported for `docker build`)

[2020-01-17 11:25] Silthias commented on #656
I'm encountering the same issue having tried the v0.15.0 image indicated above, so looks like this is still outstanding.

Unable to find image 'gcr.io/kaniko-project/executor:debug-v0.15.0' locally
debug-v0.15.0: Pulling from kaniko-project/executor
56794e083a92: Pull complete
1c0b7e34e3d0: Pull complete
8f7bb327a6ac: Pull complete
36d852826fe5: Pull complete
0a2adab3f462: Pull complete
bd1fdd317c

[2020-01-17 16:39] #503 closed

[2020-01-17 16:50] cvgw commented on #969
@urbaniak going on the example of pip caching (which I don't know a ton about) I'm assuming pip looks for certain directories to check if a cache already exists. I would imagine you could just mount a volume at that directory into the kaniko docker container.

IIRC kaniko has some special handling for mounted volumes so I don't think it would cause issues for the image build if those cache files a

[2020-01-17 16:53] cvgw commented on #656
@Silthias What does your docker file look like? Do you happen to be copying  `/` because that will cause the issue you posted. See https://github.com/GoogleContainerTools/kaniko/issues/960 for more details

[2020-01-17 16:57] cvgw commented on #940
I wonder if this could be related to https://github.com/GoogleContainerTools/kaniko/issues/793

[2020-01-17 18:44] MyIgel commented on #673
That makes the build tags the same but also sets for example `Created` and `LastTagTime` to 0001-01-01T00:00:00Z which is definitely not what i expect here as the image id should have nothing to do with the build timestamp.

The problem is that just re-tagging should not change the containers ID as the source image is still the same.
But to answer the question: Yes, the container gets a new random

[2020-01-17 23:04] cvgw opened #974 "linter unused not running"
**Actual behavior**
Saw this in travisCI, I'm guessing it has something to do with `gcpConfig` being declared in a `_test.go` file
[code]

**Expected behavior**
All the configured linters should run without error

**To Reproduce**
 **Triage Notes for the Maintainers**

 | **Description** | **Yes/No** |
 |----------------|---------------|
 | Please check if this a new feature you are proposing

[2020-01-18 16:36] cvgw commented on #684
The example dockerfile does build using `docker build` even with the `apt-get upgrade`

[2020-01-18 16:37] cvgw commented on #684
And it also builds with v0.15.0 of kaniko. Closing this issue. Please reopen if it's still a problem.

[2020-01-18 16:37] #684 closed

[2020-01-18 16:44] cvgw commented on #940
The example dockerfile included here references local files, the contents of which I'm not aware of.

Can someone supply an example file that does not depend on local files or provides instructions for generating those local files?

[2020-01-18 16:54] cvgw commented on #793
I'm not able to repro this issue using v0.15.0, can someone please supply an example?

* Dockerfile with no dependencies on local filesystem
* Arguments passed to kaniko
* Kaniko image used

[2020-01-18 17:48] cvgw commented on #830
@tejal29 @samos123  I found some additional info here

When kaniko goes to extract `/usr/share/bug` that directory already exists on the filesystem (part of kaniko's docker image) so `os.MkDirAll` actually does nothing (if you look at the implementation it just returns nil). But when kaniko goes to extract `/usr/share/bug/systemd` (which is a directory in the case of the example dockerfile) it fin

[2020-01-18 18:02] cvgw commented on #450
Closing this as there are no updates. Feel free to reopen if there is still an issue

[2020-01-18 18:02] #450 closed

[2020-01-19 03:29] gejunqiang opened #976 "How to get imageSize using kaniko"
I want to build a docker image using kaniko, and I want to know imageID and imageSize after build completion which can easily get by two docker commands: `docker inspect imageName:imageTag --format='{{.Id}}'`, `docker inspect imageName:imageTag --format='{{.Size}}'`.

I tried the `--oci-layout-path` to save the  OCI image layout. Then I can get the imageID from the image manifest file. For imageSi

[2020-01-19 03:39] nonetheless opened #977 "Connection refused for non-TLS registry URL"
**Actual behavior**
When I use kaniko to build image and push it to a local registry (xx.xx.xx.xx:5000/tag:version), it will refuse the connection.
We should upgrade go-containerregistry version to deal it.

https://github.com/google/go-containerregistry/commit/4711a5d6e6d8d5973f1cce4f680feff4fde91550

**Expected behavior**
A clear and concise description of what you expected to happen.

**To Repr

[2020-01-19 05:08] pidydx commented on #550
This appears to still be happening with 0.16.0.  I have usr/ and etc/ directories in the repo with my Dockerfile and when I COPY usr/ /usr/ it changes the ownership of /usr to the user/group that was running kaniko and changes all file permissions to 777.  When building with docker the root:root permissions are retained and the permissions are not modified.

[2020-01-19 05:21] pidydx commented on #550
It may be worth noting that COPY --from seems to properly preserve permissions

[2020-01-19 20:49] WildMattock commented on #940
I attached the dockerfile with COPY command as example but you can consider the following:

FROM continuumio/miniconda3:4.7.12
ENTRYPOINT [ "/bin/bash", "-c" ]
EXPOSE 5000
RUN set -x && apt-get update && apt-get install --no-install-recommends --no-install-suggests -y libpq-dev build-essential && rm -rf /var/lib/apt/lists/*
CMD [ "/bin/bash", "-c" ]

[2020-01-19 20:50] WildMattock commented on #940
I attached the dockerfile with the COPY command as example but you can consider the following:

FROM continuumio/miniconda3:4.7.12
ENTRYPOINT [ "/bin/bash", "-c" ]
EXPOSE 5000
RUN set -x && apt-get update && apt-get install --no-install-recommends --no-install-suggests -y libpq-dev build-essential && rm -rf /var/lib/apt/lists/*
CMD [ "/bin/bash", "-c" ]

[2020-01-20 02:43] #976 closed

[2020-01-20 09:51] nicolaferraro commented on #970
Hi @tejal29, the Dockerfile is simple:

[code]

I've extracted a verbose log. The problem is that after the snapshot there are no more logs, so it's difficult to tell what's going slow.

[code]

[2020-01-20 14:15] vguaglione commented on #793
I can repo it using v0.15.0.  Same behavior observed using v0.16.0 also:

Dockerfile:

FROM botpress/server:v12_0_0
RUN chmod -R gou+rw /botpress
WORKDIR /botpress

RUN apt-get update \
&& apt-get -y install curl gnupg \
&& curl -sL https://deb.nodesource.com/setup_11.x | bash \
&& apt-get -y install nodejs \
&& apt-get -y install rsync \
&& apt-get upgrade -y

RUN cd /botpress && npm install && n

[2020-01-20 16:39] cvgw commented on #940
Thanks @WildMattock I'm able to repro with that.

@WanzenBug Thanks for sharing that investigation. It lead me right to the problem (or at least one of them)

When kaniko extracts a file from a base image (or a cached image) it is not setting atime or mtime on the file.

https://github.com/GoogleContainerTools/kaniko/blob/00a01f9f290b8df7620adbc199d03954eed312ba/pkg/util/fs_util.go#L245

By adding

[2020-01-20 17:23] cvgw commented on #793
Thanks @vguaglione I was able to repro with that example.

I also tested it with Pr #981 and that seems to fix it

[2020-01-20 17:35] vguaglione commented on #793
Great news.  Will this be merged into the latest and debug versions of the executor?  We are currently using both version within our environment.

[2020-01-20 17:39] cvgw commented on #793
Yes, AFAIK we always build both images with all changes

[2020-01-20 18:00] antechrestos commented on #761
Maybe it will be solved once [this issue](https://github.com/GoogleContainerTools/kaniko/issues/713) will be. You'll only have to reference the argument `JENKINS_SECRET_PUB_KEY` in your dockerfile and run kaniko with option `--build-arg JENKINS_SECRET_PUB_KEY` (I do it the same way in gitlab ci  so as not to reveal any secret in my `.gitlab-ci.yml` or build logs)

[2020-01-20 18:24] cvgw commented on #713
I not sure if I'm understanding this issue correctly but here's what I've found

test Dockerfile
[code]

test script
[code]

test command
`docker run -it --entrypoint="" --rm gcr.io/kaniko-dev/issues:713-kaniko cat log.txt`

output
`713`

To me, that seems like it is working.

`docker build` also supports this cool short reference form where if there is some ENV variable `FOO` you can do `docker b

[2020-01-20 18:33] mykter opened #982 "Wrong Dockerfile used when one exists in pwd and context dir"
**Actual behavior**
When running executor from a directory containing a Dockerfile, but specifying a context directory that also contains a Dockerfile, the working directory one gets used instead of the one in the context dir.

**Expected behavior**
The docs suggest that the dockerfile must be within the context dir - it seems that
 a) that is not the case, and
 b) regardless, the current behaviou

[2020-01-20 19:38] andraxin commented on #793
The level of incompetence displayed in this thread is staggering.
That example is *identical* to the original thread  starter.

[2020-01-20 19:53] cvgw commented on #793
@andraxin that kind of comment is uncalled for. Refer to the code of conduct for more info

https://github.com/GoogleContainerTools/kaniko/blob/master/code-of-conduct.md

[2020-01-20 20:48] andraxin commented on #793
Wow... wasn't that the exact same example as in the original thread starter?

[2020-01-20 23:35] cvgw commented on #519
I don't believe `CENTOS` is a valid image name. AFAIK only lowercase letters, `_`, and `-` are allowed.

Looking into the issue with stage aliases

[2020-01-20 23:44] cvgw commented on #519
I believe the issue is with this line
https://github.com/GoogleContainerTools/kaniko/blob/00a01f9f290b8df7620adbc199d03954eed312ba/pkg/dockerfile/dockerfile.go#L97

as `stage.Name` will be all lowercase while `stages[currentStage].BaseName` will be the original case

like such
[code]

[2020-01-20 23:53] cvgw commented on #519
also here https://github.com/GoogleContainerTools/kaniko/blob/00a01f9f290b8df7620adbc199d03954eed312ba/pkg/dockerfile/dockerfile.go#L252

[2020-01-20 23:54] cvgw commented on #519
I wonder if this line also should be updated https://github.com/GoogleContainerTools/kaniko/blob/00a01f9f290b8df7620adbc199d03954eed312ba/pkg/dockerfile/dockerfile.go#L197

[2020-01-21 04:55] #942 closed

[2020-01-21 07:43] vebis opened #984 "kaniko behavior differs from docker using links"
Disclaimer: i don't know if that's a bug in kaniko or docker, but as kaniko tries to mirror the docker build experience i file the issue here

### Actual behavior
Kaniko copies link to layer, so it doesn't have the target file in the layer

### Expected behavior
Like docker, copy the content of the links target.

### Additional information
[code]

[2020-01-21 11:01] MichelMan opened #985 "Kaniko with gVisor: Failed to load /busybox/sh"
**Description**

I would like to build a Dockerfile with Kaniko in gVisor. So after read the documentation in [gVisor](https://gvisor.dev/docs/user_guide/docker/), i installed runsc and configured it and read the documentation to use Kaniko as describe in [the section of gVisor](https://github.com/GoogleContainerTools/kaniko#running-kaniko-in-gvisor).

In my case, i want to use **Kaniko with gViso

[2020-01-21 11:08] mykter opened #986 "COPY --from incorrectly uses .dockerignore"
**Actual behavior**
`COPY --from` appears to be applying `.dockerignore` filtering, which it shouldn't.
[code]

**Expected behavior**
The source file is copied to the destination.

**To Reproduce**
With this Dockerfile in the current directory
[code]
and this .dockerignore:
`*`
Run ```docker run -v `pwd`:/workspace gcr.io/kaniko-project/executor:latest --no-push ```

Gives the above error.

**Addi

[2020-01-21 13:22] vguaglione commented on #793
Yes but I needed to test with the same version/tag that @cvgw was using to verify the error.  Original results were obtained using the debug version of the executor.

[2020-01-21 15:15] ptemmer commented on #584
+1 Very much desired functionality

[2020-01-21 17:56] #519 closed

[2020-01-21 17:59] #940 closed

[2020-01-21 18:13] tejal29 commented on #793
I tried the below dockerfile inside kaniko conatiner with fix #981
[code]

The build was successful
[code]
/ # /kaniko/executor -f dockerfiles/Dockerfile_test1 --context=dir:///workspace --destination=gcr.io/tejal-test/test --tarPath=image.tar
INFO[0000] Resolved base name botpress/server:v12_0_0 to botpress/server:v12_0_0
INFO[0000] Using dockerignore file: /workspace/.dockerignore
INFO[0000] Res

[2020-01-21 18:27] vguaglione commented on #793
Both executor:793 and executor:debug_793 return the following error:

INFO[0000] Resolved base name botpress/server:v12_0_0 to botpress/server:v12_0_0
INFO[0000] Resolved base name botpress/server:v12_0_0 to botpress/server:v12_0_0
INFO[0000] Retrieving image manifest botpress/server:v12_0_0
INFO[0000] Retrieving image manifest botpress/server:v12_0_0
INFO[0000] Built cross stage deps: map[]
INFO[

[2020-01-21 18:52] tejal29 commented on #793
@vguaglione I re-verified your `Dockerfile`
[code]

The dockerfile i used it
[code]

From the logs looks like your have issues with `apt-key`.
Are you running the kaniko pod in k8 cluster?
https://stackoverflow.com/questions/46673717/gpg-cant-connect-to-the-agent-ipc-connect-call-failed

[2020-01-21 18:58] vguaglione commented on #793
For this test, as with all previous tests, I am running on a mac workstation.  I can, however, test this for you in a k8s cluster, if you'd like.  Not sure if this is a valid test considering the same Dockerfile works when building the image via 'docker build' on this mac workstation.  Please advise.

[2020-01-21 22:00] jyipks commented on #909
does kaniko keep everything in memory as its building the image or it writes to a temp directory? if it goes into a temp directory can you please provide it?

thanks

[2020-01-22 00:05] tejal29 commented on #982
I think this is indented behavior. Kaniko will first look for dockerfile in the source and then in the context dir.

It would be great to change the documentation to point out so.

[2020-01-22 00:07] tejal29 commented on #984
This is related to #915 and a PR with a fix #971 is in progress

[2020-01-22 00:07] #984 closed

[2020-01-22 00:07] tejal29 commented on #984
closing as dupe of #915

[2020-01-22 00:09] tejal29 commented on #985
Can you try
[code]

[2020-01-22 00:51] tejal29 commented on #986
@mykter What is your `.dockerignore` file?

[2020-01-22 00:58] tejal29 commented on #977
Thanks looks like you already have a pr in progress.
Thanks

[2020-01-22 08:44] DjinNO commented on #970
"Taking snapshot of full filesystem" is taking > 30 minutes.. Can't start using kaniko because of this :(

My Dockerfile is very simple:

[code]

[2020-01-22 13:25] MichelMan commented on #985
Same result with your command:
[code]

[code]

Default behavior with Docker (runc):
[code]

[2020-01-22 17:43] ashwinkp8 opened #987 "Unable to push to a self-signed locally hosted docker registry"
I have setup a self signed private registry. I am using kaniko to build image and push to the the private registry.
**Actual behavior**
The following error is noticed in the logs.
error checking push permissions -- make sure you entered the correct tag name, and that you are authenticated correctly, and try again: checking push permission for "10.103.225.30:443/sample53:ashwini": creating push che

[2020-01-22 18:56] rhs opened #988 "run_in_docker.sh doesn't work (or gracefully not work) with non-glcoud registires"
**Actual behavior**
I'm trying to get run_in_docker.sh to work... I'm passing in quay.io/<username>/foo as the third argument, and I keep getting permission issues with pushing to that repo
how am I supposed to give the run_in_docker.sh script credentials?

**Expected behavior**
I would expect there to be some instructions for passing in docker credentials to work with a normal registry. Or altern

[2020-01-22 23:45] tejal29 commented on #903
@cpointner i meant, if /var/run is present as destination in Dockerfile then we should be not whitelisting it.
@cvgw just added a PR to to remove `/var/run` from default whitelist and add  another option to command line `additional-whitelist`.

[2020-01-22 23:50] tejal29 commented on #970
Let me look in to it @DjinNO
Can you also specify what is the size of your current workdir?

[2020-01-22 23:55] tejal29 commented on #793
@vguaglione i am running this using the `run_in_docker.sh` script on linux.
when you say, you are running this on a mac workstation do you mean you are running kaniko executor directly?

[2020-01-23 00:01] tejal29 commented on #988
@rhs is this insecure registry?

[2020-01-23 00:38] tejal29 commented on #970
Thanks @nicolaferraro Can you change your dockerfile to

[code]

and see if it helps? I want able to reproduce your error. i will try downloading one of these jars in my workspace and see if i can reproduce this issue.

[2020-01-23 00:53] tejal29 commented on #970
@nicolaferraro i am not able to reproduce this issue on my end. I downloaded a jar and put it in the my `$buildcontext/dependencies` directory
[code]
Can you provide more information? Are any of these jars symlinks?

[2020-01-23 01:09] tejal29 commented on #970
@nicolaferraro i pushed an image `gcr.io/kaniko-project/executor:970` with fix #989.
I want to know if we spend to much time calculating the parent directories.
Can you please try this kaniko image?

Thanks
Tejal

[2020-01-23 08:13] DjinNO commented on #970
80M

[2020-01-23 08:34] DjinNO commented on #970
Im using gitlab ci to build image and i want to store cache in gitlab registry.
To try to use gcr.io/kaniko-project/executor:970  i need shell in image

[2020-01-23 09:26] 1605200517 opened #991 "Question regarding completeness of Dockerfile tests"
Hi, Kaniko team,

I have a question regarding completeness of Dockerfile integration tests.

How complete are these tests and how do you know?
https://github.com/GoogleContainerTools/kaniko/tree/master/integration/dockerfiles

[2020-01-23 11:46] vguaglione commented on #793
I am using the docker run command on my local workstation, which is a MacBook Pro running Mojave 10.14.6.

docker run -v $(pwd):/tmp gcr.io/kaniko-project/executor:latest ... etc

[2020-01-23 12:17] PhoenixMage opened #992 "Kaniko doesnt support Variant label for images"
**Actual behavior**
When using kaniko on an armv7 instance kaniko seems to use the armhf architecture.
If I use docker build then armv7 is correctly used.

**Expected behavior**
Kaniko should use the armv7 architecture.

**To Reproduce**
/kaniko/executor -f Dockerfile --no-push
gives armhf
docker build
gives armv7

**Additional Information**
- Dockerfile
FROM alpine:3.11
RUN apk update --print-arc

[2020-01-23 12:19] PhoenixMage commented on #992
Seems runtime.GOARM doesnt exist.
My thoughts were to set a symbol at compile time using the linker but I lack the skills to implement that.

[2020-01-23 16:32] cvgw commented on #991
Hi,

First, it would be helpful to know what you mean by completeness. It could have a variety of different meanings IMO

Does kaniko test all of possible execution paths in the code? No
Does kaniko test all possible behaviors of `docker build`? No (probably not a goal of the project)
Does kaniko test all possible Dockerfile combinations? No (also probably not a goal of the project)

At least sinc

[2020-01-23 16:36] cvgw commented on #713
@antechrestos I think adding the short form (argument expansion) that `docker build` has is a reasonable feature addition, but I think a separate ticket should be open for that.

[2020-01-23 17:39] cvgw commented on #793
I think this has something to do with mounting the context at `/tmp` (I have no idea why)

`IMAGE=gcr.io/kaniko-project/executor:793`

This fails
[code]

This succeeds
[code]

@vguaglione can you try mounting your context at `/workspace` instead of `/tmp`?

[2020-01-23 17:56] 1605200517 commented on #991
@cvgw thank you! from the Docker/moby people, I've found there is great repository by @jessfraz with really great number of Dockerfile. Possible, altogether they exploit many possible and meaningful Dockerfile combinations.

[2020-01-23 17:59] samos123 commented on #988
could you try this pull request the script from this pull request to confirm whether it fixes the issue? https://github.com/samos123/kaniko/blob/fix-988-run-in-docker-sh-non-gcr/run_in_docker.sh

[2020-01-23 17:59] cvgw commented on #991
One thing to consider is that the integration tests already take a significant amount of time to execute. That is already a burden on the developer experience. Significantly increasing the number of tests run on each commit or PR may not be a good idea. Perhaps there could be a large suite of tests run on release though

[2020-01-23 18:03] 1605200517 commented on #991
yes something like that - before coming to that though, IMHO already a single run could provide some insights (of course for those Dockerfiles that also link intact third-party resources)

[2020-01-23 18:18] cvgw commented on #991
That's true, a single run might reveal some obvious areas for improvement.

Another thing to note is that we don't expect Kaniko to ever be 100% feature complete with respect to `docker build`. Doing a test run of those Dockerfiles would also imply interpreting the results to identify cases where we do want parity with `docker build`

[2020-01-23 18:19] cvgw commented on #991
cc @samos123 @tejal29 I think this could be a good idea

[2020-01-23 19:26] tejal29 commented on #991
@cvgw I agree a single run can provide us a lot of insights and we could take that effort.
However, i would always prioritize issues filed on github over disparities found in the tests.

I would also say, we do one before every milesone release like v1.0.0 etc then every other release.
We could do one run now and measure this as baseline compatibility score.
The next one will be before our next ma

[2020-01-23 19:49] tejal29 commented on #970
@DjinNO ok, i will push a debug image.
[code]

[2020-01-23 20:26] wmuizelaar commented on #901
Maybe related to https://github.com/GoogleContainerTools/kaniko/issues/303 ?

[2020-01-23 20:34] Andor commented on #901
@wmuizelaar doesn't look like. It logs different data for cached and not-cached COPY command.

[2020-01-23 21:00] #704 closed

[2020-01-23 21:51] tejal29 commented on #985
i don't have `runsc` installed.
Kaniko documentation mentions https://github.com/GoogleContainerTools/kaniko#running-kaniko-in-gvisor using the `--force` flag for the executor image. If this works, i will install gvisor and try on my end.

[2020-01-23 23:18] tejal29 commented on #992
We did merge a #980 which prefers platform you are currently running on.
I tried adding `Variant` to `goarm`, however i got this error
[code]

[2020-01-23 23:33] tejal29 commented on #992
Forgot to mention,
I  modified the Makefile to retrieve `GOARM` from the current platform i am building on.
However it is empty
[code]

[2020-01-23 23:47] tejal29 commented on #591
This now fixed!
I verified on the latest kaniko image
[code]

[2020-01-23 23:47] #591 closed

[2020-01-23 23:56] tejal29 commented on #716
@dsalaza4 Sorry for the late response.
`/kaniko` is a special directory and the tools uses it as a build workspace. The workaround mentioned where you only add specific files you need is the right thing to do.

[2020-01-24 00:00] tejal29 commented on #822
This issue was fixed in #824 and #995

I verified your dockerfile and the home dir is set correctly
[code]

[2020-01-24 00:07] tejal29 commented on #860
Sorry @cvgw this was very poorly written bug description. I was trying to use the v0.11.0 version for the dockerfile.
[code]

However, i tried this on latest executor image and it works.

[2020-01-24 00:07] #860 closed

[2020-01-24 00:08] #822 closed

[2020-01-24 00:18] tejal29 commented on #764
Unfortunately, we don't evaluate the `ARG` and hence the arg substitution is empty.

[2020-01-24 07:50] DjinNO commented on #970
With this image i have error:
`error building image: error building stage: unable to add file  to layered map: error creating hash for : lstat : no such file or directory`

On first snapshot

[2020-01-24 09:27] 1605200517 commented on #991
@tejal29 love the container diff feature! did not know about that.  However, shouldn't we say image-diff?

I can't estimate the required effort for somebody experienced with Golang and the Docker development ecosystem and I do not yet see the solution you might have in mind.

Let me assess a little bit what we are going to do here. Please feel free to rewrite it to what seems best to you.

# Goal

[2020-01-24 10:45] andrewshadura opened #997 "Kaniko doesn’t set image platform for FROM scratch images"
**Actual behavior**
When trying to pull an image generated with kaniko `FROM scratch` with podman, podman complains:
[code]
Apparently, the platform is set only for images derived from others:
[code]
**Expected behavior**
Set the platform value to an actual one or provide a way to override.

**To Reproduce**
Steps to reproduce the behavior:
[code]

 **Triage Notes for the Maintainers**

 | **Descr

[2020-01-24 10:50] em- commented on #997
My naive observation is that kaniko may be creating an empty manifest that is too empty when building an image from scratch:
  https://github.com/GoogleContainerTools/kaniko/blob/master/pkg/executor/build.go#L444

`Os` and `Architecture` should probably be set if unset, just like it is done for `Env`:
https://github.com/GoogleContainerTools/kaniko/blob/a2aae627/pkg/executor/build.go#L139

Likely t

[2020-01-24 11:21] olivierboudet commented on #793
I can confirm that the image gcr.io/kaniko-project/executor:debug_793 fix the issue in my case.

[2020-01-24 17:05] tejal29 commented on #997
Thanks @em for the details.
@andrewshadura oe @em-  Would you any of you want to give it a try?

[2020-01-24 17:24] tejal29 commented on #947
@samos123 is this fixed now?

[2020-01-24 17:38] sjkeerthi opened #998 "Kaniko Cache Clear Auto"
Hi
By using the Kaniko in my GitLab to build docker
using to push the docker image in Google Container Register with --cache=true --cache-ttl=8h and now I could see the cache folder all the layers.

Now my question is after 8 hours when I do the next build, It will create a new cache
but It will be great that if we add this features to clear the cache.

Kaniko can check the cache-ttl value and the

[2020-01-24 18:40] tejal29 commented on #793
ok cool! Thanks @olivierboudet !

[2020-01-24 18:45] tejal29 commented on #923
Related to #969

[2020-01-24 18:57] vguaglione commented on #793
Yes, changing the context to something other than /tmp fixed the problem.  Tested with :793 and :debug_793.

[2020-01-24 19:10] cvgw opened #999 "Build fails when context is mounted to /tmp"
**Actual behavior**

TODO

**Expected behavior**
The build success regardless of where the context is mounted or the rules for mounting a context are documented

**To Reproduce**
Steps to reproduce the behavior:
1. ...
2. ...

**Additional Information**
 - Dockerfile
   Please provide either the Dockerfile you're trying to build or one that can reproduce this error.
 - Build Context
   Please prov

[2020-01-24 19:10] cvgw commented on #999
related to #793

[2020-01-24 19:11] cvgw commented on #793
Thanks @vguaglione :+1:

Are we ok to close this issue now?

Opened #999 to track issue with mounting context at `/tmp`

[2020-01-24 19:14] vguaglione commented on #793
I believe so.  Will this be merged into executor:debug?

[2020-01-24 21:23] tejal29 commented on #830
+1 to this. I think we should remove what existed before and replace it.

[2020-01-24 21:28] tejal29 commented on #998
The team is also working on local cache #923

[2020-01-24 22:04] #901 closed

[2020-01-25 00:01] tejal29 commented on #769
Hey @olivierboudet, @jandillmann, @HerrmannHinz , @drshrey, @EppO, @Neonox31, @fabn , @nielsdenissen
Sorry this took a lot of time.
I have a fix for this and verified your dockerfile on my branch.
https://github.com/GoogleContainerTools/kaniko/pull/1000

Thanks a again!
Please let me know if you want an image to verify this works on your side.

[2020-01-25 00:07] tejal29 commented on #590
Thanks @ALuongIBM For posting this solution.

@de1m can you verify if this solves your issue?

[2020-01-25 00:11] #506 closed

[2020-01-25 00:12] tejal29 commented on #913
Thanks @pustovalov1 for your issue.
I think this could be related to the fact that we whitelist `/var/run/`

We will test your dockerfile on the lastest master where @cvgw  removed `/var/run` from whitelist
https://github.com/GoogleContainerTools/kaniko/pull/975

Will report back.

[2020-01-25 01:21] dinvlad commented on #903
We've just run into this issue in Cloud Build:
[code]
The error seems repeatable, and has never manifested before..

[2020-01-25 01:30] dinvlad commented on #903
I think this is due to https://github.com/GoogleContainerTools/kaniko/commit/72bfed18506977054bb05589e87cb7b920b11823#diff-d36eb675aa49a7b471e3a2be77005b18 (I'll create a new issue, if needed)

[2020-01-25 01:41] dinvlad opened #1001 "Kaniko builds fail in Cloud Build without `--additional-whitelist=/var/run`"
**Actual behavior**
Kaniko builds fail in Cloud Build, in standard configuration.

**Expected behavior**
Kaniko builds work just fine, without the extra `--additional-whitelist=/var/run` flag.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a Cloud Build job in standard debug configuration:
[code]
2. Observe that the build fails with
[code]
3. Add `--additional-whitelist=/var/run`

[2020-01-25 05:16] sjkeerthi commented on #998
Local cache :) Great,  If in that case when people who build since I knew about the gitlab
 I am thinking will that reside inside the gitlab-runner.

If in that case do we need to consider to set runner config file /cache folder to access between
the runner and job while kaniko execute.

[2020-01-25 06:02] cvgw commented on #793
Yes it will

[2020-01-25 06:02] #793 closed

[2020-01-25 06:18] #507 closed

[2020-01-25 13:43] hadrien-toma commented on #946
Same for me using kaniko in minikube 1.6.2. I don't know how it happened and I am now not able to build any images :cry:.
Did you find a workaround @hanlaipeng ?

[2020-01-25 17:39] ejose19 commented on #1001
Getting this since latest debug image @sha256:d39c342cd6cbf7b85d2ca57dcd51f2a704d027b9b87cc6b7264e1def9949a633

[2020-01-25 19:28] hadrien-toma opened #1002 "error removing var/run to make way for new symlink: unlinkat"
**Actual behavior**
Can not build the image, was working and suddenly was not.

**Expected behavior**
Be able to build the image.

**To Reproduce**
File system:
[code]
- Create an `issue` directory
- Create the following `index.bash` file under the `issue` directory:
[code]
- Create a `context` directory in the `issue` directory
- Create the following `Dockerfile` file under the `context` director

[2020-01-26 11:39] eduscrakozabrus commented on #1002
I am have this error in gitlab ci

.gitlab-ci.yaml
build:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --cache=true --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR

[2020-01-26 11:42] eduscrakozabrus commented on #1002
solution worked for me
change version of kaniko: gcr.io/kaniko-project/executor:debug-v0.15.0

[2020-01-26 12:13] hadrien-toma commented on #1002
Thank you @eduscrakozabrus, worked for me too :pray:. So is this a bug in the newest version?

[2020-01-26 12:35] followsound commented on #1002
I've also been having this issue - this solved it

[2020-01-26 13:09] olivierboudet commented on #769
@tejal29 I am interested to have an image with this fix and the one in #793 if possible to check if my dockerfile is building with it.

thanks

[2020-01-26 14:33] axyjo commented on #1002
Looks like a duplicate of #1001

[2020-01-27 10:51] StepanKuksenko commented on #1001
also have this issue on latest debug image. Changed it to 0.15.0

[2020-01-27 11:12] atikhono commented on #1001
I've hit this as well. Hoping for a fix soon.

[2020-01-27 11:39] wintersolutions commented on #946
is this a possible duplicate of #1001 ?

[2020-01-27 13:01] artichaulo commented on #1001
Same problem here

[2020-01-27 14:30] keylowgee commented on #1001
I ran into this issue this morning.
I was using the kaniko image image: gcr.io/kaniko-project/executor:debug
I changed my image to use an explicit version gcr.io/kaniko-project/executor:debug-v0.16.0

Appears to not have that /var/run issue with that version

[2020-01-27 14:41] f0o commented on #542
Hi it seems like this issue just appeared again.

I got build jobs failing that were working just 3h ago.

Error:
[code]

[2020-01-27 14:52] EppO commented on #769
@tejal29: I can test it on my side too if this helps, thanks!

[2020-01-27 16:10] bozzo commented on #1002
I had the same issue, i've fixed it by adding `--additional-whitelist /var/run/secrets` with the `gcr.io/kaniko-project/executor:debug` image.

[2020-01-27 17:11] cvgw commented on #1001
This is probably expected behavior. Couple of notes.

I highly recommend that you set an explicit kaniko version in cloudbuild, otherwise you're using latest which is essentially the tip of the master branch.

The `--additional-whitelist` flag was added and `/var/run` removed from the default whitelist in this PR https://github.com/GoogleContainerTools/kaniko/pull/973 which was not part of the v0.

[2020-01-27 17:19] cvgw commented on #1002
Strong recommendation to everyone; using an explicitly tagged release of the kaniko image. Don't use `latest` in your critical systems. This change has not been released and is only affecting people using `latest`

[2020-01-27 17:24] rokerkony commented on #1002
@cvgw thx for the suggestion, it makes totally sense. It would be great to mention it in the readme as it always advises to use `:latest`

[2020-01-27 17:56] samos123 commented on #988
@rhs kindly let me know if it fixed the issue for you

[2020-01-27 18:09] cvgw opened #1003 "Proposal: tag debug image with version and latest"
Currently we use a single tag `debug` for the debug executor image. This can make it challenging to determine which version of the image people are using in bug reports.

My proposal is to append the version or latest to the debug image tag. So the tag would look like `debug-v0.15.0` or `debug-latest`

Another option, which I might prefer, is giving the debug image it's own repository i.e. executo

[2020-01-27 18:21] cvgw commented on #1003
never mind, this is already done except for the latest part

Debug gets tagged
* `debug`
* `debug_${PR_NUMBER}`
* `debug_${COMMIT_SHA}`
* `debug_${RELEASE_VERSION}`

Might make sense to change `debug` to `debug-latest` or do the repo suggestion, but probably worth keeping it the current behavior and then documented this better

[2020-01-27 18:23] dinvlad commented on #1001
@cvgw In that case, could you update the README for Cloud Build so it's more clear that we have to set that flag explicitly? Thanks

[2020-01-27 18:58] #915 closed

[2020-01-27 20:33] ejose19 commented on #986
The problem is that .dockerignore is being applied to COPY between stages, like the one provided by @mykter. Current workaround is to use debug image to replace/rename .dockerignore before launching kaniko

[2020-01-27 21:34] tejal29 commented on #1001
@everyone,
The `gcr.io/kaniko-project/executor:debug` now points to `gcr.io/kaniko-project/executor:debug-v0.16.0`

[code]

We will also add a fix to retain the default behavior which is whitelisting `/var/run` so that the current users are not affected.

[2020-01-28 00:01] #988 closed

[2020-01-28 00:03] tejal29 commented on #991
This all sounds great @1605200517.
We also have @samos123 interested in working on this.

I would leave it upto you two who wants to implement this.

Thanks
Tejal

[2020-01-28 00:03] tejal29 commented on #1002
closing this as dupe of #1002

[2020-01-28 00:06] tejal29 commented on #1003
I would also suggest keeping `debug` as is.
We could actually publish a `executor:bleeding-edge` and `executor:debug-bleeding-edge` for users to consume the latest image if they want to test out a fix.

But not to keen on it.

[2020-01-28 00:32] cvgw commented on #1003
Thats fine with me. Lets update the documentation 👍

[2020-01-28 08:39] vrkshetty opened #1005 "Authentication Error"
**Actual behavior**
A clear and concise description of what the bug is.
I am trying to push docker hub unable to authenticate
I have tried various way of creating secret , confmap from config.json extracted cat ~/.docker/config.json

"error checking push permissions -- make sure you entered the correct tag name, and that you are authenticated correctly, and try again: checking push permission for"

[2020-01-28 11:18] marekaf opened #1006 "Error: unknown flag: --additional-whitelist"
**Actual behavior**
`--additional-whitelist` was added and removed short after that from the `gcr.io/kaniko-project/executor:debug-v0.16.0` image

**Expected behavior**
Succesful push

**To Reproduce**
Steps to reproduce the behavior:
[code]
**To maintainers**
thanks for all the great work on kaniko!

 | **Description** | **Yes/No** |
 |----------------|---------------|
 | Please check if this a n

[2020-01-28 11:19] marekaf commented on #1001
Now it might fail with `--additional-whitelist` due to https://github.com/GoogleContainerTools/kaniko/issues/1006

[2020-01-28 12:53] downfall109 commented on #1001
Yeah, I could never get this flag to actually work. I guess I'll revert to 0.15.0 while this gets resolved in some way.

[2020-01-28 13:46] douddle commented on #1001
+1
I rollback into 0.15.0 to solve the problem and get all my Gitlab CI job back to normal.

[2020-01-28 15:32] HaehnleinMar opened #1007 "Copying rootfs containing /dev and /proc fails on Fedora 31"
**Actual behavior**
When copying a rootfs that contains `/sys` and `/proc` from one stage to another it fails on Fedora 31 with the following error:
`error building image: error building stage: failed to execute command: chown /sys: read-only file system`

When building the Image on CentOS 7 it works, but pulling the image on F31 fails with
`failed to register layer: Error processing tar file(exit

[2020-01-28 15:34] HaehnleinMar commented on #1007
Currently I'm working around this with the following in the 1st build-stage:

[code]

[2020-01-28 15:37] thomasfulton opened #1008 "Is there a way not to include build-args in the cache key?"
We are trying to use the kaniko executor in cloud build. We pass in a build timestamp and build commit sha into our dockerfile as build-args. Since these change with every build, the cache keys change every build even though the contents of the layers are the same. This causes a 100% cache miss rate. Is there any way around this? We would like to be able to pass in build args that change every bui

[2020-01-28 17:10] bitsofinfo opened #1010 "Question: build local image (not pushed) that is referenced by 2nd built image"
if I need to build an image that depends on another temporary image (that is built locally prior step and not pushed anywhere) how could I do this? I.e. step1[buildImageA locally], step2[buildImageB that is FROM buildImageA].

I've tried using combinations of `--cache=true` and specifying a shared `--cache-dir` to no avail, it keeps prompting me for a `--cache-repo` etc. Not really sure how to do

[2020-01-28 17:18] tejal29 commented on #1006
@marekaf, The `--additional-whitelist` flag was not supposed to be released in `:debug`.  We have now fixed our release pipeline to not update the `debug` tag on every push to master.

Please remove it from your command.
Sorry for the confusion.

We are going to add this feature in next release `:debug-v0.17.0`.

[2020-01-28 17:18] tejal29 commented on #1006
`--additional-whitelist=/var/run` is now going to be replaced with `--whitelist-var-run`

[2020-01-28 17:18] #1006 closed

[2020-01-28 22:35] kfox1111 commented on #432
We just hit this issue too

[2020-01-29 00:00] #808 closed

[2020-01-29 12:05] consideRatio commented on #875
It seems a lot of time is spent snapshotting the filesystem, which I believe is used to ensure we get an end result with multiple layers.

By using `--single-snapshot` there will only be a single layer added to the base image, and I assume we won't slow down making intermediary snapshots for intermediary layers.

It can of course be nice to have layers, so improving performance like this is a comp

[2020-01-29 16:52] antechrestos opened #1012 "Add documentation about local integration tests"
Looking at the [travis file](https://github.com/GoogleContainerTools/kaniko/blob/master/.travis.yml), we can see that there is a way to run integration tests locally. This great feature was brought by [the following pull request](https://github.com/GoogleContainerTools/kaniko/pull/979)

I think this feature quite great and should be documented as it is quite usefull.

However, looking at how it is

[2020-01-29 17:13] tejal29 commented on #769
Thanks a lot @EppO.  I pushed the following images with the fix
[code]

[2020-01-29 17:14] tejal29 commented on #769
@olivierboudet i did verify your dockerfile at my end and its works. Do you want to give it a try with
these images
[code]

[2020-01-29 18:08] tejal29 commented on #913
Hey @pustovalov1 Looks like on latest master with `--whitelist-var-run` flag the above error is gone.
I am seeing a Permission  issue further. Does it look familiar?

[code]

[2020-01-29 18:13] tejal29 commented on #913
could be related to this https://github.com/docker-library/mysql/issues/624

[2020-01-29 18:23] tejal29 commented on #1010
Related to #496 #923

[2020-01-29 18:28] tejal29 commented on #1012
Thanks @antechrestos for bringing this up1
/cc @samos123

[2020-01-29 18:29] samos123 commented on #1012
All good points! I wasn't expecting there to be any demand outside of travis CI to run integration tests locally, but since there clearly is we should get it fixed.

Actually the best way would be to fix the google-container registry to not require authentication with gcloud for public GCR repositories. The only reason I made this hacky solution that replaces the base image with local docker regis

[2020-01-29 18:36] tejal29 commented on #1008
Thanks @thomasfulton for your issue.
We actually did some  to add `build-args` as part of cache key.
Can you be more specific about
1. Do you need all builds args to be excluded or just some?

We can provide a flag to configure it.

[2020-01-29 18:40] tejal29 commented on #1007
Thanks @HaehnleinMar  for raising this issue and also listing your workaround.

Can you provide us more details logs ? It would be helpful to see around which dockerfile command the error happens.

[2020-01-29 19:01] joan-serra commented on #734
Same happens to us when running steps in parallel in the same pod. We have >20 containers (microservices monorepo *sigh*), and we run on EKS (limited pods due to VPC based CNI), so running parallel stages in a lot of pods would be a bit of an inconvenience.

[2020-01-29 21:01] thomasfulton commented on #1008
@tejal29 Either way, either excluding all build args or having it be configurable so we can select which arguments to exclude. Both ways would work.

Out of curiosity why are the docker layer hashes themselves not used as the cache keys?

[2020-01-29 21:39] drshrey commented on #769
@tejal29 I wasn't able to pull down your debug_769 image for some reason, but fix_769 works for me. Will test it out and let you know if it fixes the issue. Thanks!

[2020-01-29 22:00] james-emerton commented on #1008
I'm experiencing the same issue; our build uses a build-arg to specify which version of a python wheel to install.

Our Dockerfile is as follows:
[code]

It would be nice if the build-arg wasn't considered part of the cache key until the `ARG` or, even better, until it was actually used.

[2020-01-30 00:35] samos123 commented on #1012
I created a bug to go-containerregistry here: https://github.com/google/go-containerregistry/issues/666

[2020-01-30 01:56] tejal29 commented on #1005
Thanks @vrkshetty for this issue.

What does `kaniko-secret` or `docker-config` config map look like?

Basically, Kaniko expects a file in `/kaniko/.docker/config.json` as
[code]

Can you try these steps and let us know.
1. create a `config.json` as mentioned [here](https://github.com/GoogleContainerTools/kaniko#pushing-to-docker-hub)
2.  Create a config map
[code]
3. Run `kubectl describe configm

[2020-01-30 02:00] tejal29 commented on #1001
hey folks, if you want to allow `var\run` in your images,
1. Please wait for our release `v0.17.0` scheduled on Friday.
2. Use `--whitelist-var-run=false` with `executor:v0.17.0` and `executor:debug-v0.17.0`

[2020-01-30 02:24] tejal29 commented on #946
@hanlaipeng Can you paste your container logs along with your dockerfile? Please run kaniko with `-v=debug`?

[2020-01-30 02:29] tejal29 commented on #837
@guillaumebreton You are correct. Our documentation mention please add docker config at `/kaniko/.docker/config.json`
@lbouquinUniv Can you please try that?

[2020-01-30 09:00] astefanutti opened #1013 "Upload to a local Docker registry is very slow compared to Docker push"
**Actual behavior**

The build is taking a long time. It seems the image upload to a local Docker registry is very slow, compared to a traditional Docker push for the same image. It gets even worse as the image size increases.

This follows up #970. As mentioned by @nicolaferraro, the last log statement is about snapshotting, and there is no other information about what Kaniko is performing afterw

[2020-01-30 09:02] astefanutti commented on #970
I've created #1013 that is a follow-up analysis of the build time for Apache Camel K.

[2020-01-30 10:38] lbouquinUniv commented on #837
This correct my issue. I change /root to /kaniko.
Thanks to support

[2020-01-30 10:38] #837 closed

[2020-01-30 10:56] Bean900 commented on #837
I use Kaniko in a Kubernetespod and I have the same problem. Additional software is installed in /root. After I have created my multi-stage Docker file with Kaniko, the installation is lost. Do I now have to install my applications under the path /kaniko or is there another solution?

[2020-01-30 11:21] nicolaferraro commented on #970
Thanks @astefanutti, yes snapshotting does not seem to be the problem, it's only referenced in last line printed in the logs.
Kaniko takes a lot to push the image to the registry.

[2020-01-30 14:59] olivierboudet commented on #769
yes it's work on my side also, thanks

[2020-01-30 16:15] EppO commented on #769
I'm using the debug images in a GitLab pipeline that needs a shell to inject the custom executor command, and I can't pull `gcr.io/kaniko-project/executor:debug_769` for some reasons. It doesn't show up in [GCR](https://console.cloud.google.com/gcr/images/kaniko-project/GLOBAL/executor?gcrImageListsize=30&gcrImageListquery=%255B%257B_22k_22_3A_22_22_2C_22t_22_3A10_2C_22v_22_3A_22_5C_22769_5C_22_22

[2020-01-30 16:20] tdensmore commented on #734
A monolithic repo, especially when using [golang](https://golang.org/) is a common pattern.

@tejal29 are you using Jenkins, or a custom build tool? If Jenkins, can you explain how to modify my Jenkins pipeline to accommodate `parallel` using different `pods` /  `namespaces` ?

[2020-01-30 21:16] tejal29 commented on #769
@EppO and @drshrey i pushed an image without the `debug_`. Thanks!

[code]

[2020-01-30 21:34] tejal29 commented on #734
@tdensmore we are using different pods and not different containers in the same pod.
I see the Jenkins pipeline `parallel` stages run containers in parallel in same pod. That is definitely not going to work right now since
- we use the same scratch workspace /kaniko
- parallel builds might end up writing in the same path. Deleting and adding files.

We can definitely make this experience better.

[2020-01-31 03:50] EppO commented on #769
`Job succeeded`! It works! Thanks a lot for your fix

[2020-01-31 05:38] drshrey commented on #769
Thank you @tejal29, all is well now!

[2020-01-31 08:14] ingokofler commented on #900
Why does is this influenced by caching? I had a look on the code - I am not a Go expert but do those maps preserve order? Wouldn't it be sufficient to just sort the resulting array of files in lexicographical order?

[2020-01-31 18:50] #769 closed

[2020-01-31 19:26] #713 closed

[2020-01-31 19:33] tejal29 commented on #769
Great! This fix will available in next release in about an hour!

[2020-01-31 23:21] tejal29 commented on #769
Sorry, i am going to push the release to monday since could not get done in the am.

Thanks
Tejal

[2020-02-03 07:45] twDuke commented on #719
Does this affect cloning from private azure devops repos?
Getting
Error: error resolving source context: unexpected client error: unexpected requesting
https://#TOKEN#@somegitrepo/git-upload-pack" status code: 400

[2020-02-03 13:26] MichelMan commented on #985
Yes I already tried it with Kaniko documentation. It _**seems to work**_ with Docker and Kaniko image `gcr.io/kaniko-project/executor:latest` with the `--force` flag (Cf. issues https://github.com/GoogleContainerTools/kaniko/issues/789).

But in this case, i tried to build a Dockerfile with Kaniko debug image `gcr.io/kaniko-project/executor:debug` with `runsc` in order to use it in Gitlab CI (wher

[2020-02-03 21:48] raijinsetsu commented on #1008
I've run into exactly the same issue and I'm also getting 100% cache miss.

Before I happened on this issue, I had assumed that the hash of a RUN layer was done by hashing the expanded command line and the hashes of prior layers and state (ex. ENV declarations do not create layers but do create "state"). In that case, if the command line used a build argument, the existing cached layer would get u

[2020-02-03 21:54] tejal29 opened #1019 "[Flake] integration test flake Dockerfile_test_copy_symlink"
the `Dockerfile_test_copy_symlink` has failed multiple times on Jenkins.
This test passes on Travis every single time.
Re-triggering the failed build fixes it.

[code]

[2020-02-03 22:51] tejal29 commented on #1001
Hey folks, our v0.17.0 release is out!

Please use `--whitelist-var-run=false` to include `/var/run` in your destination image.

[2020-02-03 22:54] tejal29 commented on #769
Hey folks, Release v0.17.0 is now up! Please use the latest image and let us know if you still see this issue!

Thank you for your patience!

[2020-02-03 23:03] tejal29 commented on #550
Hey @hobti01 I verified `COPY --chown` on PR #962  and it know copies the files with correct permissions.
[code]

[2020-02-03 23:05] dinvlad commented on #1001
Could you add a note that we should use it in Cloud Build by default from now on? I.e. the default Cloud Build config suggested in README.md should be
[code]
Otherwise, it seems like this solution is not any different from where it started..

[2020-02-03 23:11] dinvlad commented on #1001
Alternatively, would it be possible to make `--whitelist-var-run=false` the default instead, so that it preserves the previous argument lists in Cloud Build without having to explicitly specify `--whitelist-var-run=false` in every step?

Thanks

[2020-02-03 23:13] tejal29 commented on #550
@Kars-de-Jong I verified your docker file on PR #962 and looks like the permissions are now correct
[code]

[2020-02-03 23:16] ejose19 commented on #1001
@tejal29 I'm still getting the error after v0.17.0. Here's my config

[code]
I get
[code]
Am I missing something? Using v15 without the whitelist flag just works.

[2020-02-03 23:21] dinvlad commented on #1001
Yes, and we also got that error in Cloud Build! I suspect it's because CB has those images cached (because 0.17.0 was re-tagged). Maybe we could try the full sha256-based image tag..

Would it be possible to detect Cloud Build environment and set this option automatically instead, so that DevOps don't have to apply this fix retroactively? Thanks

[2020-02-03 23:22] tejal29 commented on #550
@everflux I ran your dockerfile on #962 and looks like it works.
[code]

[2020-02-03 23:25] ejose19 commented on #1001
@dinvlad Tried doing sha256 tag

[code]

but still get the error. I took the image from
https://console.cloud.google.com/gcr/images/kaniko-project/GLOBAL/executor

[2020-02-03 23:27] tejal29 commented on #871
This is closed via #924 and released in kaniko v0.17.0

[2020-02-03 23:27] #871 closed

[2020-02-03 23:29] dinvlad commented on #1001
Yep, same behavior. FWIW, i've just reverted to `debug-v0.16.0` and that seems to work great without any extra options. We'll keep using that version for now, until this issue is resolved..

[2020-02-03 23:33] dinvlad commented on #1001
To re-iterate, what we'd like to be able to see (ideally) is that Kaniko auto-detects Cloud Build environment, and automatically whitelists `/var/run`. If that's not possible, at least there should be (ideally) an option that preserves the old behavior by default (i.e. no need to whitelist /var/run explicitly), and then for those user that don't need to whitelist it (i.e. non-Cloud Build users), t

[2020-02-03 23:37] tejal29 commented on #752
@micthiesen and @rustymunkey I think we might have identified the root cause for this behavior.  The reason why this is intermittent is,
- apt get ends up running child process in other process groups.
- kaniko isnt aware of these and does not wait for them to complete at times.

We are working on investigating this further. I will update this ticket with progress. Hopefully you will be game for s

[2020-02-03 23:47] tejal29 commented on #550
@everflux @hobti01 and @Kars-de-Jong @gugahoi @swistaczek
Can you please verify your dockerfile on this image
[code]

Thanks a lot in advance!
Tejal

[2020-02-03 23:47] tejal29 commented on #579
@kferrone I verified your dockerfile on #962
[code]

Can you verify your original dockerfile on this image?
[code]

Thanks a lot in advance!
Tejal

[2020-02-03 23:48] tejal29 commented on #1019
this also happened on Travis

[2020-02-04 00:49] cvgw commented on #721
@drpmma would you mind checking with the latest version of kaniko to see if this bug is fixed. Thanks!

[2020-02-04 00:49] ddgenome opened #1020 "Failure under gVisor: failed to get filesystem from image: chtimes /bin/bash: invalid argument"
**Actual behavior**

A build that succeeds under v0.16.0 fails under v0.17.0 with the error:

[code]

**Expected behavior**

I expect the build to complete successfully.

**To Reproduce**
Steps to reproduce the behavior:
1.  Create a package.json and package-lock.json using a command like

        npm install --save @atomist/automation-client

2.  Run the kaniko build with the following arguments

[2020-02-04 00:49] raijinsetsu opened #1021 "Build falls when getting base image"
**Actual behavior**
I receive the following when building under v0.17.0:
`error building image: error building stage: failed to get filesystem from image: error removing var/run to make way for new symlink: unlinkat /var/run/docker.sock: device or resource busy`

Reverting to v0.16.0 allows the build to complete.

Here is the log output with some context:
[code]

**Expected behavior**
I expect my

[2020-02-04 01:33] littlexsparkee commented on #542
I had the same issue, seemed to be fixed by specifying v0.16.0 in the cloud build yaml.

[2020-02-04 06:10] CAFxX commented on #1001
Just ran into this as well. Do you plan to roll out a fix soon, or should we roll back?

[2020-02-04 06:44] #9 closed

[2020-02-04 07:36] fischerman commented on #1002
@tejal29 What is the solution to this problem? #1001 seems to be related to CloudBuild (which I have no knowledge about). This issue here seems to be related to Kubernetes. AFAIK whitelisting `/var/run` exposes the service account token in the image, which is a security thread. Not whitelisting breaks the build.

[2020-02-04 07:52] afirth commented on #1001
/reopen

[2020-02-04 07:59] afirth commented on #1021
relates #1001 (bottom of comments)
breaks our cloudbuilds too, not mounting anything funny (stage 1 golang, stage 2 distroless)

[2020-02-04 08:07] stevehipwell commented on #1001
This is broken when using the Kaniko debug image in GitLab CI.

[2020-02-04 08:08] afirth commented on #1001
looks like #1021 is a dup of the bottom comments in here. broken for non debug image at 0.17.0 for everyone in cloudbuild i think

[2020-02-04 08:13] stevehipwell commented on #1021
In GitLab CI we get the following `error building image: error building stage: failed to get filesystem from image: error removing var/run to make way for new symlink: unlinkat /var/run/secrets/kubernetes.io/serviceaccount/..2020_02_04_07_54_57.166504180: read-only file system`.

[2020-02-04 10:11] bnouvelbmll commented on #1002
Bug still present in debug-v0.17.0  - reverting to earlier version fix the build but not ideal.

'''
error building image: error building stage: failed to get filesystem from image: error removing var/run to make way for new symlink: unlinkat /var/run/secrets/kubernetes.io/serviceaccount/..2020_02_04_10_04_34.525459306: read-only file system
'''

[2020-02-04 12:03] pehbehbeh commented on #1021
@stevehipwell same here. :-/

[2020-02-04 12:21] Kars-de-Jong commented on #550
@tejal29 I can confirm it works now!
[code]
Output of `ls -l` in /var/lib of the container:
[code]
Thanks!

[2020-02-04 12:40] f0o opened #1023 "Is there a way to populate ARG from kaniko-executor's environment?"
Hi,

is there a way to populate the Dockerfile's ARGs (or ENVs at this point) from the environment present at kaniko's executor build time?

I would like to avoid writing a bash-loop to generate `--build-arg FOO=$FOO` statements to feed these into the executor's cmdline if possible.

[2020-02-04 12:59] consideRatio commented on #1002
@bozzo, where is this parameter passed? To kaniko executor? It didn't recognize that flag. I'm confused about that.

[2020-02-04 13:03] tomislater commented on #1002
I have the same issue (`0.17.0`):

[code]

[2020-02-04 13:25] bozzo commented on #1002
@consideRatio It was an option added to the `debug` image. I don't know if it still present. btw, `executor:debug-v0.17.0` worked for me with Gitlab Runners on Kubernetes, by running:
[code]

[2020-02-04 13:30] webmutation opened #1024 "Our images now fail to run with OCI error"
**Actual behavior**
The new images return  Error response from daemon: OCI runtime create failed: container_linux.go:345: starting container process caused "exec: \"/usr/bin/java\": stat /usr/bin/java: no such file or directory": unknown

**Expected behavior**
Previously it run without issue. No OCI runtime

**To Reproduce**
1. Build image with Kaniko
2. Try to run image docker run
**Additional In

[2020-02-04 13:35] davidq2q commented on #1021
same here

[2020-02-04 14:31] ypadlyak commented on #896
@cvgw v1.16.0 seems to be broken, we set -cache-ttl=168h , but it still fails to find cache

[2020-02-04 14:32] RemcodM commented on #1024
I have similar problems, but they already occur when performing a `docker pull` on a freshly build image with kaniko debug-v0.17.0.

The build seems to go fine without any errors, but when pulling the image, I get random errors related to missing files, what the error exactly details depends on the image.

For now, I have gone back to debug-v0.16.0 which builds the same images fine... No errors wh

[2020-02-04 14:37] consideRatio commented on #1002
@bozzo ah thanks for helping me out! I tried the following that does work for v0.16.0 on my gitlab-runner on k8s, but it fails for me with kaniko v0.17.0 with the error of this issue's title.

[code]

[code]

I think what happens in my case, is that the COPY statement in my Dockerfile triggers some similar logic that would require "whitelisting" but it does it outside the scope of a image snapshot

[2020-02-04 15:51] liemdo commented on #1024
We get a different error and cannot build the image in Google Cloud Build `error building image: error building stage: failed to get filesystem from image: error removing var/run to make way for new symlink: unlinkat /var/run/docker.sock: device or resource busy`.

[2020-02-04 15:52] liemdo commented on #1021
We get the same error in Google Cloud Build.

[2020-02-04 16:08] LanceSandino commented on #1021
Reverted to v16 for now and working.

[2020-02-04 16:29] raijinsetsu commented on #1021
The fix is listed in #1001

[2020-02-04 17:16] tejal29 commented on #1020
hi @ddgenome i wasnt able to reproduce this on my local docker container.
When you say "Kubernetes running on Container-optimized OS with the containerd runtime" do you mean GKE node?

[2020-02-04 17:17] tejal29 commented on #1024
@liemdo are you mounting `docker.sock` in your Kaniko build? Can you please specify your Dockerfile and kaniko command

[2020-02-04 18:00] ddgenome commented on #1020
Yes, it is GKE. The cluster is running Kubernetes 1.15.7-gke.23. The nodes are running [cos_containerd](https://cloud.google.com/kubernetes-engine/docs/concepts/node-images#cos-containerd) under [gVisor](https://cloud.google.com/kubernetes-engine/sandbox/).

The issue seems similar to #1021 .

[2020-02-04 18:14] tejal29 commented on #1020
This could be due to #940 which went in this release.