[2020-02-04 18:18] tejal29 commented on #1001
hey folks, `\var\run` was always whitelisted in kaniko. If you were relying on previous kaniko behaviour which is `\var\run` is whitelisted, please do not use this flag.

[2020-02-04 18:22] tejal29 commented on #1001
@dinvlad Previous versions of kaniko i.e. `0.16.0` always whitelisted `\var\run`. We have preserved the default behavior.
[code]

If you are relying on the previous behavior your cloudbuild.yaml shd work as is. No need to change anythig.

[2020-02-04 18:25] higgs01 commented on #1001
@tejal29 using GitLab CI/CD kubernetes runner, whether I set `--whitelist-var-run` to true, false or don't include it. Builds fail with `debug-0.17.0`. Everything works fine when using `debug-v0.16.0`.

[2020-02-04 18:26] tejal29 commented on #1021
@raijinsetsu Can you please give us `trace` logs using `-v=trace` options.
Also can you please mention your kaniko command

[2020-02-04 18:27] ejose19 commented on #1001
Yes, what I meant is that previous versions works without doing anything. As @higgs01 commented, version 0.17.0 fails whenever you set the flag to true,false or don't include it.

[2020-02-04 18:28] tejal29 commented on #1001
@higgs01 and @ejose19 sorry for the breakage.

Can you please give us some `debug` logs with `-v=debug`.
I am also trying to reproduce this at my end using your GCB step
[code]

[2020-02-04 18:30] raijinsetsu commented on #1021
Here is my cloudbuild.yaml:
[code]
Logs will take a little bit as I'm traveling.

[2020-02-04 18:37] raijinsetsu commented on #1021
I got to it quicker than I expected. See attached.
[build.log](https://github.com/GoogleContainerTools/kaniko/files/4155239/build.log)

[2020-02-04 18:37] tejal29 commented on #1021
No worries @raijinsetsu we have the logs now.
[code]

[2020-02-04 18:38] higgs01 commented on #1001
@tejal29 currently I can't access the system I've encountered the problem with (corporate network). But  I will send the debug logs tomorrow if it's still necessary then.

[2020-02-04 18:44] ejose19 commented on #1001
@tejal29 here it is

Cloudbuild:
[code]

Dockerfile:
[code]
Logs:
[code]

[2020-02-04 18:50] claudioweiler commented on #1001
@tejal29

From a GitLab CI build:

[code]

[2020-02-04 18:50] tejal29 commented on #1021
Thanks you folks, i have identified the issue and fix is coming in!

[2020-02-04 18:56] tejal29 commented on #1001
hey folks, PR in progress. https://github.com/GoogleContainerTools/kaniko/pull/1025

Patch fix coming soon.

[2020-02-04 18:56] tejal29 commented on #1021
hey folks, PR in progress. #1025

Patch fix coming soon.

[2020-02-04 18:57] tejal29 commented on #1024
@liemdo  PR in progress. #1025

Patch fix coming soon.

[2020-02-04 19:08] ddgenome commented on #1020
Well, the error seems to align with that hypothesis. So presumably this line is returning an error:

https://github.com/GoogleContainerTools/kaniko/pull/981/files#diff-d36eb675aa49a7b471e3a2be77005b18R253

Now, since the previous calls to `setFilePermissions` on the `path`, which is `/bin/bash`, worked, the problem is probably not with the `path` but rather one or both of the times, `hdr.AccessTim

[2020-02-04 19:43] ejose19 commented on #1001
@tejal29 can confirm now it works with both v0.17.1 and debug-v0.17.1 without needing to add any additional flag (like it was before). Thanks!

[2020-02-04 20:04] webmutation commented on #1024
Indeed fix for us was force 0.16 on pipeline. Only a dozen microservices affected.

[2020-02-04 20:05] cvgw commented on #1020
I haven't had much time to look into this but I wonder if we need to some sanity checks on the header times. I agree that it seems most likely one of the times is bad. I noticed that golang `time.Time` and the args expected by `Chtimes`'s underlying syscall are a bit different. Might be that the zero value or some other case don't line up right.

http://man7.org/linux/man-pages/man2/utimensat.2.ht

[2020-02-04 20:45] cvgw commented on #1020
I'm not able to repro the bug using the executor:v0.17.0 container on my local machine

Dockerfile
[code]

package.json
[code]

package-lock.json
[code]

kaniko command
[code]

[2020-02-04 21:03] cvgw commented on #1002
Some info which will hopefully help clear up confusion:

tldr;
< v0.16.0 = no flag
v0.16.0 = --additional-whitelist=/var/run
v0.17.0 = no flag

prior to v0.16.0 kaniko always whitelisted the path `/var/run`; meaning that `/var/run` and any sub paths were ignored.

v0.16.0 introduced the `--additional-whitelist` flag and removed `/var/run` from the hardcoded whitelist. The default for `--additional

[2020-02-04 21:36] consideRatio commented on #1002
Thank you for an excellent summary @cvgw!

For me, the --additional-whitelist within the debug-v0.16.0 image isn't recognized. It also didn't recognize the --whitelist-var-run=true or false option.

![image](https://user-images.githubusercontent.com/3837114/73787291-474db780-479b-11ea-87ca-5e3550a1c157.png)

Using debug-v0.17.0 I crash directly without specifying any flags with this issue's titles

[2020-02-04 22:11] tejal29 commented on #1002
hey folks, Sorry we had a bad release v0.17.0.
I fixed the `/var/run` issue and released a new `v0.17.1` patch release.

[2020-02-04 22:12] tejal29 commented on #1002
@bnouvelbmll  This should now be fixed in v0.17.1 latest release pushed an hour ago.

[2020-02-04 22:15] tejal29 commented on #1002
@fischerman Sorry for the inconvenience. We added the flag `--whitelist-var-run` which whitelisted `/var/run` by default however there was bug #1025 due to which it got added after extracting base image. We fixed the bug  and now your build should work fine.

[2020-02-04 22:16] tejal29 commented on #1002
@tomislater This is should be fixed now in `v0.17.1`.  . We added the flag --whitelist-var-run which whitelisted /var/run by default however there was bug #1025 due to which it got added after extracting base image. We fixed the bug and now your build should work fine.

[2020-02-04 22:19] ddgenome commented on #1020
The issue might be a capability, perhaps `CAP_SETFCAP`, that `os.Chtimes` requires to do its work that is not available in the container. I'll investigate that.

[2020-02-04 22:42] consideRatio commented on #1002
@tejal29 I wanted to confirm that v0.17.1 doesn't have the issue, and if i actively specify `--whitelist-var-run=false` I can get the same error again - confirming the flags function.

[2020-02-04 23:21] tejal29 commented on #1024
@webmutation Unfortunately i am not able to reproduce your error. Would it be possible for you to give us `-v=trace` logs?

[2020-02-04 23:21] tejal29 commented on #1024
@liemdo That error should be fixed by v0.17.1 release due to  #1025

[2020-02-04 23:22] tejal29 commented on #1024
@RemcodM Sorry to hear about that. Were your issues related to files in `/var/run` Is yes we fixed that.
Please let me know if you are having other issues.

[2020-02-04 23:28] tejal29 commented on #1021
This is fixed in `v0.17.1` release. https://github.com/GoogleContainerTools/kaniko/releases/tag/v0.17.1

[2020-02-04 23:28] #1021 closed

[2020-02-04 23:30] #550 closed

[2020-02-04 23:30] tejal29 commented on #550
will be available in next release on Friday.

[2020-02-04 23:40] tejal29 commented on #595
thanks all. i have a fix for this and will try to get this in by next release.

[2020-02-05 01:13] vguaglione commented on #793
Same dockerfile as used previously to provide an example of failure:

FROM botpress/server:v12_0_0
RUN chmod -R gou+rw /botpress
WORKDIR /botpress

RUN apt-get update \
&& apt-get -y install curl gnupg \
&& curl -sL https://deb.nodesource.com/setup_11.x | bash \
&& apt-get -y install nodejs \
&& apt-get -y install rsync \
&& apt-get upgrade -y

RUN cd /botpress && npm install && npm install node-s

[2020-02-05 07:52] 1605200517 commented on #991
@samos123 further thoughts?

[2020-02-05 09:57] afirth commented on #1001
Thanks for the quick fix @tejal29 ! Confirmed fixed for us too on cloudbuild with `latest`

[2020-02-05 10:22] webmutation commented on #1024
@tejal29 I will update the pipeline to 0.17.1 and see if the problem is related and solved by the patch.

[2020-02-05 11:54] mungaij83 commented on #987
This issue seams to originate from private IP filters. When an IP is private, kaniko results to using **http** traffic. This can be referred here:

https://github.com/GoogleContainerTools/kaniko/blob/790ba99477d15dfbb3b218937d1499cb4189aaf9/vendor/github.com/google/go-containerregistry/pkg/name/registry.go#L68

If think more control can be granted to users to overcome this issue when testing their

[2020-02-05 13:30] afirth opened #1028 "Regression: Invalid docker image layers produced with 0.17.1 (not 0.16.0)"
**Actual behavior**
Running kaniko in cloudbuild on a multistage node build, receive an error extracting a layer during `docker pull`. All ok on 0.16.0.

Error:
[code]

cloudbuild step (working at 16)
[code]
Dockerfile
[code]

Docker info
[code]

Another user got an error from docker: `failed to register layer: ApplyLayer duplicates of file paths not supported stdout: {"layerSize":21436138}
 stder

[2020-02-05 13:32] afirth commented on #1024
https://github.com/GoogleContainerTools/kaniko/issues/1028 for this one I think

[2020-02-05 14:31] antechrestos commented on #977
@nonetheless @tejal29 I think that this issue is already fixed by #957 as I upgraded to the commit [34fb8ff](https://github.com/google/go-containerregistry/commit/34fb8ff33bed0fab41a607d21da5860b924ff694) which is more recent that [4711a5d](https://github.com/google/go-containerregistry/commit/4711a5d6e6d8d5973f1cce4f680feff4fde91550)

[2020-02-05 14:54] dinvlad commented on #1001
Thanks again @tejal29! I'm marking this as closed, anyone please feel free to re-open if you still have issues.

[2020-02-05 14:54] #1001 closed

[2020-02-05 15:12] hlavacek commented on #1008
We are also experiencing this issue, in our case we would like to pass git commit IDs as build arguments to our builds, so the app can use it for logging or traceability - but with the current approach it is always invalidating the whole cache, not just from the moment the argument is used in the docker file like documented on https://docs.docker.com/engine/reference/builder/#impact-on-build-cachi

[2020-02-05 15:39] ddgenome commented on #1020
Troubleshooting this issue further it seems the issue is with kaniko running under gVisor, GKE Sandbox for the specific case I have tested.

I created a permissive pod security policy to eliminate that variable and ran the builds under that policy. With kaniko 0.17.1 I was able to successfully complete the build on a "normal" GKE node but the build failed in the same manner, i.e., `error building

[2020-02-05 15:50] osela opened #1029 "better logging format"
#327 forces logrus to output colored logs, which are very hard to parse using the built-in tools of log collectors like fluentd.

In case you want to keep the existing behaviour, will you be open to accept a PR to allow setting the log formatter using a flag?

[2020-02-05 16:49] raijinsetsu commented on #1021
Confirmed that v0.17.1 resolved this issue for me. Thanks for the quick turn-around.

[2020-02-05 17:57] tejal29 commented on #1029
@osela  we would not mind that at all. We could definitely add a flag like `--color` and set it true by default. You can set it to `false` to turn off color logging.

[2020-02-05 18:06] RemcodM commented on #1024
@afirth Indeed, #1028 seems like the problem I am experiencing with 0.17.0 (and thus also with 0.17.1). So if this issue is unrelated it can be closed.

[2020-02-05 18:09] RemcodM commented on #1028
I am experiencing this exact issue. The error message differs though. But it seems indeed that the layers produced by kaniko seem corrupt somehow. Layers from base images seem to be uploaded correct to my own registry, but image layers build by kaniko fail to extract or sometimes they even fail to verify (so verification of the layer fails).

I do not experience this problem when building with 0.1

[2020-02-05 18:23] afirth commented on #1028
I cannot reproduce this with a minimal cloudbuild of the same dockerfile. However, in my investigation I found a race in our cloudbuild.yaml (running `npm test` in a separate step in parallel, polluting workspace and then deleting those files while kaniko was running). I'm going to leave this open for now as others are reporting and thumbsupping, so I think behavior has changed.

[2020-02-05 18:38] RemcodM commented on #1028
I am not running any background or parallel tasks while building in GitLab CI. The Dockerfile does also not contain any such behaviour... Therefore I would say the issue still exists.

I have no time to test it right now, but when needed I can do some builds with my Dockerfiles under 0.17.1 later. Hopefully, I will be able to reproduce the behaviour and post the related information here.

[2020-02-05 18:53] afirth commented on #1028
would be great. We saw some interesting things in the docker daemon log (which I was hoping to put in debug mode with a repro image).

[2020-02-05 22:35] ddgenome commented on #1020
I guess the question now is whether running under gVisor is a goal of kaniko exectutor. If not, I guess this issue can be closed.

[2020-02-05 23:26] cvgw commented on #793
@vguaglione can you share the command you are using to run kaniko?

Not able to repro with tag
* debug-v0.17.0
* debug-v0.17.1
* debug (gcr.io/kaniko-project/executor@sha256:bcfcad6b54e9368079232094ed9f8332e5bc642aed77a6b0c1f15fee2b8b13df)

Dockerfile
[code]

command
[code]

[2020-02-06 00:37] #1019 closed

[2020-02-06 01:57] hstenzel commented on #1028
Agree. We're having this same issue. Thanks @afirth for posting the workaround.

Please check if this a new feature you are proposing |  
-- | --
Please check if the build works in docker but not in kaniko |  true
Please check if this error is seen when you use --cache flag |  true
Please check if your dockerfile is a multistage dockerfile | true

[2020-02-06 09:01] twDuke commented on #719
If I understand everything correctly it seems to be related to
https://github.com/src-d/go-git/issues/1058
Given this, it seems that solving it using go-git will be hard before they add support for git protocol-v2
with that in mind the options would be

1. Install git in the docker image. Then either:
    1.a Clone the git repo before starting kaniko and in kaniko treat it as a local context
    1

[2020-02-06 12:40] vguaglione commented on #793
@cvgw Ok, I learned that the 0.15.x version fails as does the debug version.  The 0.17.0 and 0.17.1 versions complete successfully.  Command is:

docker run -v $(pwd):/workspace gcr.io/kaniko-project/executor:debug-v0.17.1 --dockerfile=/workspace/Dockerfile --context=/workspace --no-push

Can you tell me when the 0.17.1 version will be merged into debug?  For now, we will point to 0.17.1.

Vince

[2020-02-06 13:14] evheny0 commented on #542
I've had similar issue:
[code]

and specifying v0.16.0 worked, thanks @littlexsparkee

[2020-02-06 13:42] pustovalov1 commented on #913
Hi, thanks for you response!
I am building images with kaniko using gitlab ci, so I need debug kaniko version because it has shell required by gitlab ci to work.
Latest debug version does not understand --whitelist-var-run arguments.
[code]
Is there a kaniko debug version with whitelist-var-run support?

[2020-02-06 16:31] cvgw commented on #793
@vguaglione

It has already been merged into `debug`.  `debug` and `debug-v0.17.1` point to the same image.

[2020-02-06 17:41] vguaglione commented on #793
@cvgw Ok, I got it.  I had to nuke the executor:debug version on my machine and pull a new one and that solved the issue.  I think we're good and we can put this issue to rest.

[2020-02-06 18:58] webmutation commented on #1024
Bad image creation with OCI error continues with v0.17.1.

[2020-02-06 19:47] #1012 closed

[2020-02-06 20:56] dinvlad opened #1033 "Shared ARG or Whitelist /dev/pts/ptmx in Cloud Build"
**Actual behavior**
When running a build in Cloud Build, it fails with
[code]

If I move `ARG DIST=/opt` after `FROM` (see below), then the build succeeds. However, I keep it above because it's used in multi-staged builds (where a single ARG value is shared among multiple stages). But the error appears even in the absence of other stages.

**Expected behavior**
Build succeeds.

Alternatively, woul

[2020-02-06 21:27] frickenate commented on #815
Yep, being burned by this. Migrating to GitLab CI with existing multi-stage builds which were using eg. `DOCKER_BUILDKIT=1 docker build --target release` with the previous build system. Looking at kaniko rather than docker-in-docker, but no support for dependency resolution in multi-stage builds is a killer that has us traveling back in time to having to build Dockerfiles dynamically? Heck no.

[2020-02-06 22:53] #1029 closed

[2020-02-06 23:29] lmakarov commented on #656
Ran into this issue trying to build images with kaniko in a GitLab managed EKS Kubernetes cluster.

https://gitlab.com/griffinplus/gitlab-kaniko did not work, since it does not seem to have the [amazon-ecr-credential-helper](https://github.com/awslabs/amazon-ecr-credential-helper) embedded and I do need to push to AWS ECR.

The [quick and easy workaround](https://github.com/GoogleContainerTools/ka

[2020-02-06 23:40] tejal29 commented on #1020
@ddgenome We do want to support running under gVisor and do not want to break that support.
Unfortunately we don't have integration tests to ensure this.

I will fix this and verify manually before next release.

Thanks
Tejal

[2020-02-07 00:16] tejal29 commented on #1020
@ddgenome i was looking at gvisor capabilities https://gvisor.dev/docs/user_guide/compatibility/linux/amd64/
Looks like `utimes` is supported which is what `os.Chtimes` is.
Which version of `gvisor` are you on?

[2020-02-07 00:22] dinvlad commented on #1033
I should add that this issue started happening for us today (2/6/20) ~1:48 PM EST, without any changes to the Dockerfile or cloudbuild.yaml. Prior to that, a successful build happened earlier today ~10:29 AM EST, which I assume indicates that something changed on Cloud Build infra side..

[2020-02-07 00:26] tejal29 commented on #1020
nvm, you mentioned before you will need to set capability `CAP_SETPCAP`

[2020-02-07 02:46] michaelfindlater commented on #1033
Been getting this for two days now. Our testing and production builds are broken because of it.

[2020-02-07 11:56] stevehipwell commented on #1028
We've got the exact same issue running v0.17.1, but not on v0.16.0.

[2020-02-07 13:27] tanguydelignieresaccenture opened #1036 "Symlink file from a symlink directory not being copied across stages compared with docker build"
**Actual behavior**
_A clear and concise description of what the bug is._
For docker build, copy symlink file from a symlink directory copy the actual file across stages.
For kaniko build, copy symlink file from a symlink directory throws the following error across stages:

`error building image: error building stage: failed to execute command: failed to get fileinfo for /kaniko/0/test/link: lstat

[2020-02-07 15:31] raijinsetsu commented on #1036
I ran into this issue as well but only one of my symlinks was causing an issue but not the other 30+ symlinks. I haven't dug deeper into it yet.

[2020-02-07 16:29] raijinsetsu commented on #437
Is this related to #1036 ?

[2020-02-07 16:30] raijinsetsu commented on #1036
Minor addendum to my prior comment: sometimes the symlink causes an issue during unpacking and other times the symlink is just... missing.

[2020-02-07 16:56] raijinsetsu commented on #1008
Actually... It looks like Kaniko uses EVERY variable passed through --build-arg on the command line, even if it is never referenced by an ARG line.

[2020-02-07 17:29] ddgenome commented on #1020
Sorry for the confusion, but the capabilities investigation turned out to be a red herring, see [this comment](https://github.com/GoogleContainerTools/kaniko/issues/1020#issuecomment-582467815) where that issue was eliminated. As such, I am not sure whether #1035 will help the issue.

Here is the requested gVisor version information:

[code]

I thought that perhaps `os.Chtimes` was calling some sy

[2020-02-07 17:50] z0mb1ek commented on #763
same problem

 error building image: error building stage: failed to execute command: extracting fs from image: removing whiteout .wh.dev: unlinkat //dev/pts/ptmx: operation not permitted

[2020-02-07 17:52] z0mb1ek commented on #763
my docker image

[code]

[2020-02-07 17:52] vguaglione opened #1038 "Kaniko-Built Image Cannot Be Pulled from Repo Due To Symlink Error"
**Actual behavior**
kaniko-built image that has been pushed to a repository is not extracted correctly upon download, but the same docker-built image that has been pushed to a repository is extracted correctly upon download.

**Expected behavior**
Image built with kaniko should be extracted correctly when pulled from a repository.

**To Reproduce**
Steps to reproduce the behavior:
1. Build the con

[2020-02-07 18:00] tanguydelignieresaccenture opened #1039 "Regression on image built with kaniko between v0.16.0 and v0.17.1"
**Actual behavior**
_A clear and concise description of what the bug is._

- An image, based on redhat Universal Based Image 7, installing gcc, gcc-c++ and make with yum package manager, built with kaniko **v0.16.0** is usable as a FROM in another kaniko build and allows to successfully build a new sub image.

- An image, based on redhat Universal Based Image 7, installing gcc, gcc-c++ and make wi

[2020-02-07 18:23] tejal29 commented on #1036
Thanks @tanguydelignieresaccenture. I just merged https://github.com/GoogleContainerTools/kaniko/pull/1030 which should fix this issue.
I will verify this.

[2020-02-07 18:52] tejal29 commented on #1033
Dupe of  #1039

[2020-02-07 18:52] #1033 closed

[2020-02-07 19:19] simeonberkley commented on #1038
downgrading to debug-v0.16.0 fixed my issue (symlinking to /proc/self/fd/1 and 2). let me know if it would help for me to try later versions. i first had trouble with whatever 'debug' was pointed at two days ago.

[2020-02-07 19:26] ddgenome commented on #1020
If, however you did want to check if the required capabilities were available, I have found you need at least this set:

-   CAP_CHOWN
-   CAP_DAC_OVERRIDE
-   CAP_FOWNER
-   CAP_SETFCAP
-   CAP_SETGID
-   CAP_SETUID

[2020-02-07 20:03] tanguydelignieresaccenture commented on #1036
Thanks @tejal29 , let me know.

[2020-02-07 20:55] samheutmaker commented on #716
@tejal29 @cvgw Any progress on this?

[2020-02-07 23:26] cvgw commented on #764
@tejal29 I'm assuming we will never log the value of ARG because they may contain sensitive data like SSH keys. WDYT?

[2020-02-08 00:21] cvgw commented on #1039
I'm able to repro (thank you @tanguydelignieresaccenture for the detailed report)

I'm seeing some strange output in a debugger at `util/fs_util.go:158`
[code]

It looks like files are being double whiteouted? I can't image a scenario where we would expect a file to have double `.wh.` prefixes like the examples above.

[2020-02-08 00:36] cvgw commented on #1039
at util/fs_util.go
[code]

ya trying to remove `/dev` is gonna be a bad time

[2020-02-08 01:10] cvgw commented on #1039
Looks like `/dev` gets whitelisted as part of this `/proc` logic (that I didn't know we had)
[code]

[2020-02-08 16:11] vguaglione commented on #1038
@cvgw Based on Simeon's comment, we will downgrade to the debug version of v0.16.0 until latest is fixed.

[2020-02-08 19:11] cvgw commented on #1039
I have a theory about this issue

In https://github.com/GoogleContainerTools/kaniko/pull/971 this code was added
https://github.com/GoogleContainerTools/kaniko/blob/8d9e6b8ea54274f73517f11c113c13cd03d26349/pkg/snapshot/snapshot.go#L183

In the issue example, this causes `/etc/systemd/system/systemd-logind.service` and its resolved link `/dev/null` to be appended to the `filesToAdd` list. The issue

[2020-02-08 19:18] cvgw commented on #1038
I suspect this may be related to the issues in #1039

[2020-02-08 19:19] cvgw commented on #1028
I suspect this is related to #1039

[2020-02-08 19:21] cvgw commented on #1024
I suspect this is related to #1039

[2020-02-08 19:57] cvgw commented on #1039
@tanguydelignieresaccenture can you try tag `fix-1039-test` or `debug-fix-1039-test`?

I've just pushed these two tags and I'd like to test if they fix the issue you are seeing. Thanks!

[2020-02-08 19:59] cvgw commented on #1038
@vguaglione would you mind giving tag `fix-1039-test` or `debug-fix-1039-test` a try? I think that might resolve the issue, but I'd appreciate if you could give it a try. Thanks!

[2020-02-08 21:29] RemcodM commented on #1039
@cvgw After your observations that the issues #1038 #1024 and #1028 might all be related, and my involvement with the issues #1024 and #1028, I figured I could do a test on my own.

I used the following Docker image:
[code]
I have build this Docker image 4 times: One time using tag `debug-v0.16.0`, one time using `debug-v0.17.0`, one time using `debug-v0.17.1` and one last time using `debug-1039-f

[2020-02-08 21:51] RemcodM commented on #1039
One more comment: I am not sure if it is related or useful at all, but I noticed when going over the build logs that `debug-v0.16.0` seems to add some whiteouts for files at the end of the last layer, while version `debug-v0.17.0` and later do not. Same for `debug-1039-fix-test`.

Build log `debug-v0.16.0`: https://git.tworem.nl/RemcodM/kaniko-test/-/jobs/17363/raw
Build log `debug-v0.17.0`: https

[2020-02-09 03:03] cvgw commented on #1038
I did some testing and it doesn't look like `1039-fix-test` fixes this issue. I do believe that the issues are related.

My theory is that https://github.com/GoogleContainerTools/kaniko/blob/8d9e6b8ea54274f73517f11c113c13cd03d26349/pkg/snapshot/snapshot.go#L183

Causes the resolved link to also be added to the layer (i.e. adding `/usr/lib/.build-id/c0/b98a...` and  `/lib64/libBrokenLocale.so.1`).

[2020-02-09 16:34] cvgw commented on #991
@1605200517 for fun I threw together this PR https://github.com/GoogleContainerTools/kaniko/pull/1042 where I copied over all of the dockerfiles from jessfraz/dockerfiles which don't require any context to build.

I was unable to run the suite on my local machine as I ran out of disk space (I'm assuming to build all the images). Our CI env Kokoro also failed for the same reason. TravisCI also fail

[2020-02-09 17:52] tanguydelignieresaccenture commented on #1039
@cvgw, I've made a test with `debug-1039-fix-test` tag, following the same steps I gave in this issue, and it's OK for me.
@RemcodM maybe you're issue is not the same, as I did not get pull error in `debug-v0.17.1` nor `debug-1039-fix-test`.

Here are the results:

1. Build the image from the Dockerfile "build1" with `gcr.io/kaniko-project/executor:debug-1039-fix-test`
[code]

2. Try to build the

[2020-02-09 22:49] tanguydelignieresaccenture commented on #1036
@tejal29, FYI, I've tested with the `debug-e0b913997f07dab0cc5751a7b2d26f62d9c9830e` release, supposing it includes the merge of #1030 and have confirm I did not reproduce the problem anymore in the context of this issue (nor in my original more complex case).

[code]

Dockerfile used:
[code]

[2020-02-10 11:17] jsravn commented on #495
I think this is just a bug in the kaniko example [here](https://github.com/GoogleContainerTools/kaniko/blob/master/examples/pod.yaml). It is mounting to `/root` which makes `/root` a read only filesystem. Instead it should be mounting the docker credentials directly to `/root/.docker` or `/kaniko/.docker`.

[2020-02-10 13:39] vguaglione commented on #1038
@cvgw Sorry, wasn't able to get back to this over the weekend.  Feel free to add @simeonberkley when you need for us to verify any changes.

[2020-02-10 15:49] HaehnleinMar commented on #1007
Sure, @tejal29.
Sorry for the inactivity, but I don't really use GitHub.

Here are the logs:

Built on CentOS 7, trying to pull on Fedora 30:
[code]

Trying to build on F30:
[code]

My theory is that Kaniko is initializing the scratch image with a minimal file system, just like docker would when running a container from `scratch` with just a binary added. However, as there is no `ls` available in

[2020-02-10 15:52] cvgw commented on #1038
No worries @vguaglione. I didn't expect you to respond over the week; I just happened to have some free time to test it myself.

[2020-02-10 16:26] stijndehaes commented on #57
Is it ok if I give this a shot?

[2020-02-10 23:05] ddgenome commented on #1020
I am able to reproduce this locally running the latest release of runsc and the same package.json and package-lock.json you use above with kaniko executor 0.17.1:

[code]

If you replace `:v0.17.1` with `:v0.16.0`, the build succeeds.

What version of runsc are you using?

[2020-02-11 10:32] ribx commented on #763
We are also on gitlab/gitlab-runner + k8s.

I can reproduce this _sometimes_ with this simple Dockerfile:
[code]

with this command:
[code]

[2020-02-11 18:34] ddgenome commented on #1020
To more fully test the variable space, I ran the following command:

[code]

where

-   docker is version 18.09.7, both client and server
-   runc is version spec `1.0.1-dev`
-   runsc is configured to the latest release, `release-20200127.0`
-   runsc-nightly is the current nightly build, `release-20200127.0-96-gca30dfa065f5`
-   runsc-head is the latest master HEAD build, `release-20200127.0-127

[2020-02-11 21:01] dlaidlaw commented on #780
The image at gcr.io/kaniko-project/executor:debug-v0.16.0 does contain the latest release of docker-credential-ecr-login: 0.4.0, from Jan 6th and containing the IRSA feature. However, I still cannot get kaniko to retrieve the correct credentials. I always end up with the Instance Profile credentials instead of those from the Kubernetes service account.

I have verified that the correct AWS_ROLE_AR

[2020-02-11 22:59] tejal29 commented on #1038
@cvgw

Causes the resolved link to also be added to the layer (i.e. adding `/usr/lib/.build-id/c0/b98a...` and  `/lib64/libBrokenLocale.so.1`). In this case `/lib64/libBrokenLocale.so.1` is not itself a link, but instead it's parent directory `/lib64` is a link to `/usr/lib64`.

My belief is that this causes the links (i.e. `/lib64/libBrokenLocale.so.1`) to be directly added to the tar which break

[2020-02-12 02:46] alejandrox1 commented on #1028
+1 to this
I was getting an error about "/lib/systemd /usr/lib/systemd" not being found (im using the latest version to build).

[2020-02-12 11:24] HaehnleinMar opened #1045 "Missing files in Kaniko-built image"
**Actual behavior**
When building from Red Hat's UBI 8 and installing nginx a library is missing in the resulting image preventing docker from pulling it.

[code]

**Expected behavior**
The files should be present

**To Reproduce**
[code]

**Additional Information**
[code]

Build Context:
- `Dockerfile`
[code]
- `nginx.repo`
[code]

 - Kaniko Image (fully qualified with digest)
  `gcr.io/kaniko-pr

[2020-02-12 13:39] stephanf commented on #1045
Could be related to:
#1039
#1038
#1024
#1028

I had a working build by moving from AmazonLinux:2018.03 to AmazonLinux:2, but pip3 was not working with that image. Yesterday I fixed the issue with pip3, and the images didn't work anymore (build successful, but pulling images doesn't work).

It's always something different, sometimes it is git, or zip, or java ... tried different approaches includin

[2020-02-12 13:56] tbonfort commented on #1045
Also getting this on a go build with 0.17.1.

error building image: error building stage: failed to take snapshot: unable to add file /root/.cache/go-build/f6/.wh.f6274bb3f6af4a08a241f2da8b1723712d7eb3e2038fa9bf9fc2f5958addf420-a to layered map: error creating hash for /root/.cache/go-build/f6/.wh.f6274bb3f6af4a08a241f2da8b1723712d7eb3e2038fa9bf9fc2f5958addf420-a: lstat /root/.cache/go-build/f6/.w

[2020-02-12 21:33] tejal29 commented on #1008
Thanks folks, as soon as we get some bandwidth, we will fix this.

[2020-02-12 23:27] cvgw opened #1047 "Design Proposal 01: Filesystem Resolution"
Write up and discuss a proposal on how to resolve filesystem paths to address issues such at #1038

[2020-02-13 00:03] tejal29 commented on #1045
Thanks @HaehnleinMar Sorry for the regression. Please use `v0.16.0` untill we fix this issue.

[2020-02-13 00:39] cvgw commented on #1008
Because layer digest produced by kaniko are not idempotent; running the same build twice will always produce different layer digests unless the `--reproducible` flag is used. This is working as expected (just a consequence of Kaniko's fundamental design)
@thomasfulton

[2020-02-13 00:41] cvgw commented on #1008
I'd want to understand how docker handles this case before making any major changes and if at all possible avoid adding another flag (kaniko already has a lot of configuration).

I'm having a hard time imagining how you could build a deterministic cache key without the build args. How do you know the build args won't affect the output of the layer?

[2020-02-13 00:50] cvgw commented on #1020
@tejal29 have you tested this using runc? I have not (haven't been able to set it up yet). Probably should remove the `norepro` flag unless we've tried it with runc.

@ddgenome I'm sorry, I don't understand your question. Are you asking if we can open a PR so you can test with the extra logging? Is a PR enough? New PRs don't result in any new images (until the PR is merged)

[2020-02-13 00:52] cvgw commented on #57
@stijndehaes definitely! Contributions are always welcome and appreciated

[2020-02-13 00:58] cvgw commented on #1007
I wonder if `/proc` is another "whitelisted/special" directory. IIRC it is involved with whitelisting as part of whitelisting mounted volumes.

https://github.com/GoogleContainerTools/kaniko/blob/ae4e7d91aa6e825f6ac42d9dc085fda8d109cfd0/pkg/util/fs_util.go#L392

[2020-02-13 01:00] raijinsetsu commented on #1008
Hi Cole,
Docker only takes the ARG and ENV directives into account from the line
that appear downwards. A FROM directive resets that - prior ARE are
forgotten after the FROM. This is documented in the Dockerfile
documentation.

Kaniko, on the other hand, doesn't look at the ARG directive at all and all
build args specified on the command line, regardless of if they are used,
are composed into the

[2020-02-13 01:02] raijinsetsu commented on #1008
PS - I worked around this by writing the value to a file, copying that file
just before the RUN that needs it, and having the script which is run use
the file instead of an environment variable. It's not pretty, but I could
not wait for this fix.

On Wed, Feb 12, 2020 at 8:00 PM Lucas Lacroix <raijinsetsu@gmail.com> wrote:

[2020-02-13 06:24] HaehnleinMar commented on #1045
Thank you @tejal29 for that suggestion. Using `v0.16.0` it works like a charm :+1:

[2020-02-13 17:06] ddgenome commented on #1020
@cvgw ,

I've tested using runc. Both kaniko executor 0.16.0 and 0.17.1 succeed under runc.

I was asking if you would consider ignoring any error from `os.Chtimes` as an acceptable fix for this issue. I was not asking for additional testing, but as a solution to the current breakage. The reason I ask is that I would perfectly understand the answer "no", since it is not clear where the issue lies

[2020-02-13 17:17] nnatter commented on #595
that are great news - thanks a lot! @tejal29

[2020-02-13 17:36] cvgw commented on #1020
I think that could be a reasonable fix, but ya I would want to better understand what the issue is before making any changes. I'm gonna try to get runc setup on my machine this week so that I can debug this.

[2020-02-13 17:43] cvgw commented on #1008
@raijinsetsu thanks for the info; to make sure I understand correctly given the following scenario

Dockerfile
[code]

`docker build --build-arg COMMIT=xf443d VERSION=v0.14.3 ./`

The cacher key for stage 0 (`FROM foo:latest`) would contain the `ARG` `VERSION`, but not `COMMIT`

The cache key for stage 1 (`FROM baz:latest`) would contain the `ARG` `COMMIT`, but not `VERSION`

Is that essentially c

[2020-02-13 18:45] tejal29 opened #1050 "Add a pull request hook to run benchmark on every PR."
It would be great to make sure a PR is not degrading the build time. This will also help us identify PRs which improve the performance especially when snapshotting the whole File System.
We have seen some bugs reported by users like #970.

The idea is to
1. Use https://developer.github.com/webhooks/ to write a service hosted on GCP which will be called on every new PR or changes to an existing PR.

[2020-02-13 19:09] tejal29 commented on #951
this could be possibly fixed by #1019

[2020-02-13 19:22] #900 closed

[2020-02-13 21:28] raijinsetsu commented on #1008
According to the Docker documentation:
FROM foo:latest                           key=()

ARG VERSION
RUN apt-get install -y bar-${VERSION}     key=(ARG VERSION=v0.14.3)

FROM baz:latest                           key=(ARG VERSION=v0.14.3)
ARG COMMIT
ARG BUILD_TYPE
RUN git checkout ${COMMIT}                key=(ARG COMMIT=xf443d,ARG
BUILD_TYPE=development)
RUN make                                  k

[2020-02-14 14:11] victornoel commented on #969
I second this need, what you explained @cvgw is correct:
- pip, maven, npm, yarn and so on have cache directories for downloaded packages
- usually one would instruct the CI to cache such directory so that it can be reused between builds

When using kaniko, the build itself has no access to the host filesystem, so it would be neat to be able to instruct kaniko to mount a certain directory into the

[2020-02-14 15:36] olivierboudet commented on #1039
I have tested this image on my side too and it fix my similar issue.

[2020-02-14 15:42] olivierboudet commented on #1002
it is fixed for me also with v0.17.1

[2020-02-14 16:10] hadrien-toma commented on #1002
Fixed for me too, I close the issue, thanks all :+1: :rocket: !

[2020-02-14 16:10] #1002 closed

[2020-02-14 17:32] cvgw opened #1056 "Multiple instances of running integration tests in same GCP project can interact"
**Actual behavior**
Instances of the integration test suite running against the same GCP project are not hermetically sealed with respect to each other.

**Expected behavior**
Multiple instances of the integration test suite running against the same GCP do not interact with each other at all.

**To Reproduce**
Inconsistent repro

**Additional Information**
I ran a single integration test on my loc

[2020-02-14 17:44] cvgw commented on #1056
The context tar that is uploaded to GCS uses `time.Now().UnixNano()` which I think is plenty of entropy, but I noticed that the image names have no entropy.

In travis we use a local image registry but since the tests are still running in kokoro and multiple maintainers may execute the tests against GCP `kaniko-test` at the same time we probably need some entropy in the image names.

[2020-02-14 17:44] cvgw commented on #1056
cc @tejal29 @samos123

[2020-02-14 18:08] cvgw commented on #1056
Also this kokoro build hit files that were not part of the branch https://g3c.corp.google.com/results/invocations/3c2c8693-2d65-43ae-8711-fb9aa049d613/targets/runtimes-common%2Fkaniko%2Fpresubmit/log

[2020-02-14 21:50] raijinsetsu opened #1057 "Question about --snapshotMode"
### Background
We use a Jenkins multi-branch pipeline job to submit builds to Cloud Build. This means that the timestamps on the files will be as of the latest "git checkout" invocation and, therefore, will be different for each branch (Jenkins checks each branch out into it's own working copy).

### Question
It's implied, but not explicit, that "--snapshotMode=full" uses both the modified time an

[2020-02-15 00:04] golpa opened #1058 "Kaniko saves a corrupted /bin/ directory in image"
**Actual behavior**
v0.17.0 corrupts `/bin`:
[code]

works correctly with `v0.16.0` (and docker):
[code]

**Expected behavior**
A functioning `/bin` just like with `v0.16.0`

**To Reproduce**
Steps to reproduce the behavior:
1. `/kaniko/executor --context /path/to/Dockerfile/ --destination logstash:7.6.0`
2. `docker run --rm -ti --entrypoint "" logstash:7.6.0 ls -l /bin/`

**Additional Information

[2020-02-15 06:45] jlucktay commented on #1039
I just started encountering this issue this morning.
My Dockerfile is [here](https://github.com/jlucktay/factorio-server-kit/blob/master/cloud-build/0-packer/Dockerfile) and the associated build script and Cloud Build YAML are alongside in the same directory.
It has failed with the same error 4 times in a row just now.

[2020-02-15 16:47] timbrd opened #1059 "Kaniko 0.17.x builds a broken image"
I'm using kaniko 0.17.1 on my gitlab runner (Docker 19.03.5).

This is my dockerfile:

[code]

This is the command to build the image:
[code]

The image build succeeds, but when I pull the image from my registry, I get the following error (tested on multiple machines and operating systems):

[code]

When building the image with kaniko 0.16.0, the image works as expected.

[2020-02-15 21:55] whren commented on #1058
Repro with #1039 context too.

[code]

But not fixed by @cvgw try to fix #1039 with tag `debug-1039-fix-test`

[code]

[2020-02-15 21:57] tanguydelignieresaccenture commented on #1058
Repro with #1039 context too.

[code]

But not fixed by @cvgw try to fix #1039 with tag `debug-1039-fix-test`

[code]

[2020-02-17 02:35] dinvlad commented on #1039
I'm getting the same error with `debug-v0.16.0`, for the situation described in #1033. So atm there doesn't appear to be a viable workaround..

[2020-02-17 11:11] tanguydelignieresaccenture commented on #1058
Of course, no problem with `debug-v0.16.0 tag`.
Note that this issue is related to symlink once again.

[code]

[2020-02-17 14:07] kenanduman1988 commented on #1039
I'm getting the same error as well with _gcr.io/kaniko-project/executor:debug_

[2020-02-17 17:13] ffoebel opened #1061 "Build fails to start when setting proxy environment on GKE"
**Actual behavior**
When setting http_proxy, https_proxy and no_proxy on GKE, process startup hangs and I see requests to `metadata.google.internal` in the proxy logs although the no_proxy environment contains that address.
I have set both the upper as well as lowercase variants of those variables, have tried different variations like `.google.internal` and `*.google.internal`

**Expected behavior

[2020-02-17 18:55] sbuvaneshkumar commented on #769
@tejal29 I still see this error in latest as well.
[code]
Log:
[code]

[2020-02-17 19:40] cvgw opened #1062 "Integration tests with context"
Background:
Currently all integration tests in kaniko share the same context, this means that adding new tests which require specific context is a laborious and error prone process. Many of the issue which are fixed involve builds that require context. Currently we are not able to easily add these new examples to the integration test suite.

Proposal:
Update the integration test suite to allow for

[2020-02-17 21:44] BenHizak commented on #764
Why not let users decide? it makes it difficult to see important elements
of the CI pipeline. Is there a way to denote specific ARGs to show?

[2020-02-18 13:05] binnythomas-1989 commented on #1045
guys I need an equivalent version of v0.16.0 for executor:debug. What would that be?

[2020-02-18 15:21] Djabx commented on #478
Hello everyone,

We also have the same problem with kaniko (debug-v0.17.1) on gke (1.13.12-gke.25).
BTW We use the debug image because we launch it via gitlab-ci.

[code]
Thanks.

[2020-02-18 17:56] tejal29 commented on #1045
@binnythomas-1989 please use the tag `v0.16.0-debug`

[2020-02-18 19:27] tarioch commented on #1059
Similar issue with a slightly different error message on a custom image build

``
failed to register layer: ApplyLayer duplicates of file paths not supported stdout: {"layerSize":369586710}
 stderr:
``

[2020-02-18 19:48] stephanf commented on #1045
debug-v0.16.0

[2020-02-18 20:47] rkamradt opened #1064 "Use a subdirectory in git repo as docker context"
I have a use case where I want to build from a git repo with Kaniko. However, I have some git repos that have several projects in subdirectories with a Dockerfile and the application code in each subdirectory. I can't find a way with Kaniko to set the docker context to anything other than the root of the repo.

My current work-around is to copy the Dockerfiles in each subdirectory to the root dire

[2020-02-18 20:50] diegosucaria commented on #1039
same error here!

[2020-02-19 00:06] tejal29 commented on #1058
@tanguydelignieresaccenture Thank you for opening this issue. Sorry about this. While the team is working on this, please use `gcr.io/kaniko-project/debug-v0.16.0`

[2020-02-19 00:10] tejal29 commented on #1039
@dinvlad Can you mention your error?
`debug-v-.16.0` should work if it was due to a regression.

[2020-02-19 00:24] tanguydelignieresaccenture commented on #1058
@tejal29 , I think you wanted to mention @golpa as the opener !

Anyway, I'm in a situation where I face the #1036, #1039 then #1058 with `debug-v0.17.1` but needs #971 in it because of #915 in <= `debug-v0.16.0`.
So until overall symlink/multistages issues known actually are fixed, I'm afraid to be in a dead end.

[2020-02-19 01:10] dinvlad commented on #1039
@tejal29 the error is the same as in this issue, and the error reproduction and log are described in https://github.com/GoogleContainerTools/kaniko/issues/1033 (however, the workaround no longer seems to work, even with 0.16.0).

[2020-02-19 02:49] dinvlad commented on #1039
This is braking all of our multi-stage builds currently (i.e. not limited to the situation described in #1033). Moreover, switching to `v0.16.0` doesn’t help. The only workaround is to switch to normal Docker builds (i.e. not using Kaniko) :(

[2020-02-19 03:21] dinvlad commented on #1039
OK, apparently this issue has to do with caching. If I "break" the cache (either by removing all images from the `cache` directory on GCR, or by simply modifying a base layer) then the full rebuild succeeds. But when I rebuild it again (with the new cache), it fails..

[2020-02-19 15:48] jsravn commented on #566
I'm running into this same issue, also with aufs. I can't see the .wh files with `ls` but they seem to be there - if I stat directly, I get the EPERM. I wonder if anyone has any further insight into why this is happening. Is the only solution to move away from aufs?

[2020-02-19 17:13] #406 closed

[2020-02-19 17:22] #1047 closed

[2020-02-20 16:37] cvgw opened #1067 "Image used in integration tests no longer available"
The image tenstartups/alpine is no long publicly available

It should be replaced with the canonical alpine image, `alpine`

[2020-02-20 16:38] cvgw commented on #1067
example failing test https://travis-ci.org/GoogleContainerTools/kaniko/jobs/652628384?utm_medium=notification&utm_source=github_status

[2020-02-20 17:42] #1067 closed

[2020-02-21 02:49] sourcec0de commented on #713
Confirmed working ❤️
[code]

[2020-02-21 10:55] cigraphics commented on #1059
I'm getting something like this:
The first build is fine. Then when i build a new one/new ones it will fail with this when i try to deploy to GKE i even tried on my local machine a docker pull [IMAGE-FROM-GCR] and i get the same error
`failed to register layer: error processing tar file(exit status 1): failed to mknod no such file`

[2020-02-21 12:55] hberntsen commented on #1059
This Dockerfile also fails on 0.17.1:
[code]
When I pull the generated image, it says:
`failed to register layer: ApplyLayer exit status 1 stdout:  stderr: link /lib/x86_64-linux-gnu /usr/lib/x86_64-linux-gnu: no such file or directory`

0.16.0 works fine

[2020-02-21 22:35] Laski opened #1070 "Multi stage build fails when using FROM previous stage"
Hello! I'm seeing a strange behavior in the last version.

Here is my dockerfile

[code]

I'm trying to build it with `gcr.io/kaniko-project/executor:debug` on GitLab, with:

[code]

It fails at `RUN yarn run build`
with
[code]

But `docker build` works, and this also works with kaniko if I remove the `FROM local as builder` line (and replace the `--from=builder` appropriately, of course).

If use

[2020-02-21 23:05] Laski commented on #1070
Nevermind, seems that the
`COPY . /app`
overwrites the `node_modules` directory. Still wondering how `docker build` works around this, but kaniko's approach seems correct here.

[2020-02-21 23:05] #1070 closed

[2020-02-22 09:30] drptbl commented on #752
@tejal29 just encountered this issue with `yarn`. `yarn.js` is sometimes missing and sometimes it's in place.

[2020-02-22 10:09] drptbl commented on #1059
Same issue with yarn here:
[code]

[2020-02-22 11:20] drptbl opened #1071 "yarn is missing files after container is built with kaniko"
Dockerfile with `yarn` is missing files after container is built with kaniko, tried on 0.17.1 and 0.16.0:
[code]
.. now if you pull this image and `cd /opt/yarn-v1.22.0/` you will notice empty folders but without files.

[2020-02-22 22:31] drptbl commented on #1071
this works:
[code]
what is the issue? something wrong with layers? thing get lost if they're too complex?

[2020-02-23 18:36] tblaisot opened #1073 "Error: failed to get filesystem from image: removing whiteout operation not permitted"
**Actual behavior**

When using kaniko via Jenkins in a k8s cluster to build an image which contain whiteout file, got this error.

[code]

**Expected behavior**
Expect no error
Note:
Reproducing the bug in a local docker install give no error
I have tried with version 0.9.0 which works and 1.16.0 which don't work but no other version beetween.

**To Reproduce**
Steps to reproduce the behavior:
1.

[2020-02-23 21:22] cvgw commented on #1020
I was able to repro this after getting gvisor installed.

After some debugging I saw that the value of `accesstime` is the zero value for `time.Time` which I have a hunch is not compatible with `os.Chtimes` due to the requirements of the underlying syscall.

Working on a fix.

[2020-02-23 21:31] cvgw commented on #1020
It does appear to be an issue with the zero value for `time.Time`.

When `UnixNano` is called on a zero `time.Time`, a negative number is returned. This is not a valid argument for the syscall that `os.Chtimes` hits.

https://play.golang.org/p/-e6FdyWcqp1

I believe the correct fix here would be to convert any zero `time.Time` to `1970-01-01 00:00:00Z` as this will be the zero value for unix epoch

[2020-02-24 21:46] bootc commented on #986
It looks like this is a duplicate of #595.

[2020-02-25 01:20] diist commented on #780
I'm having the same issue, does anyone have a workaround?

[2020-02-25 04:10] diist commented on #780
I'm having the same issue, has anyone found a workaround?

[2020-02-25 04:26] diist commented on #780
It works by setting the following environment variable: `AWS_SDK_LOAD_CONFIG=true`

[2020-02-25 06:30] #1020 closed

[2020-02-25 07:30] conblem commented on #1039
@dinvlad same issue here

[2020-02-25 09:44] purificant opened #1076 "error building image: error building stage: failed to execute command: extracting fs from image: removing whiteout .wh.dev: unlinkat //dev/pts/ptmx: operation not permitted"
**Actual behavior**
`
error building image: error building stage: failed to execute command: extracting fs from image: removing whiteout .wh.dev: unlinkat //dev/pts/ptmx: operation not permitted
`

**Expected behavior**
Build finishes without error.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Kaniko and set version:
[code]
2. Start build:
[code]
3. Build is finished.
4. Start buil

[2020-02-25 12:13] ddgenome commented on #1020
Thanks!

[2020-02-25 12:38] mcfedr commented on #1076
Got something that looks similar to this

[code]

Rollback to 0.16.0 and not seeing this.

[2020-02-25 13:05] dlaidlaw commented on #780
If running on an EC2 instance with an instance profile, you may also need to set: `AWS_EC2_METADATA_DISABLED: 'true'` In my case kaniko kept getting the EC2 instance profile role credentials instead. This disables the instance profile role credentials and kaniko then gets the expected credentials.

[2020-02-25 16:44] cvgw commented on #1039
We've committed a change which I hope will fix this. If anyone feels like testing tags `a1af057f997316bfb1c4d2d82719d78481a02a79` and `debug-a1af057f997316bfb1c4d2d82719d78481a02a79` have the new code

[2020-02-25 16:46] cvgw commented on #1038
We've committed a change which I believe will fix this. If anyone feels like testing tags a1af057f997316bfb1c4d2d82719d78481a02a79 and debug-a1af057f997316bfb1c4d2d82719d78481a02a79 have the new code

[2020-02-25 16:47] cvgw commented on #1024
We've committed a change which I believe will fix this. If anyone feels like testing tags a1af057f997316bfb1c4d2d82719d78481a02a79 and debug-a1af057f997316bfb1c4d2d82719d78481a02a79 have the new code

[2020-02-25 16:56] cvgw commented on #1045
I believe this is the same issue as #1039 as is fixed in a1af057f997316bfb1c4d2d82719d78481a02a79.

Tags `a1af057f997316bfb1c4d2d82719d78481a02a79` and `debug-a1af057f997316bfb1c4d2d82719d78481a02a79` have the new code

[2020-02-25 16:57] cvgw commented on #1045
I believe this is the same issue as #1039 and is fixed in a1af057f997316bfb1c4d2d82719d78481a02a79.

Tags `a1af057f997316bfb1c4d2d82719d78481a02a79` and `debug-a1af057f997316bfb1c4d2d82719d78481a02a79` have the new code

[2020-02-25 16:58] cvgw commented on #1058
This is most likely the same issues as #1039, can you try tags `a1af057f997316bfb1c4d2d82719d78481a02a79` or `debug-a1af057f997316bfb1c4d2d82719d78481a02a79`

[2020-02-25 16:59] cvgw commented on #1059
This is most likely the same issues as #1039, can you try tags a1af057f997316bfb1c4d2d82719d78481a02a79 or debug-a1af057f997316bfb1c4d2d82719d78481a02a79

[2020-02-25 17:01] cvgw commented on #1073
This is most likely the same issues as #1039, can you try tags `a1af057f997316bfb1c4d2d82719d78481a02a79` or `debug-a1af057f997316bfb1c4d2d82719d78481a02a79`

[2020-02-25 17:06] cvgw commented on #1071
This should be fixed now, can you give tag `a1af057f997316bfb1c4d2d82719d78481a02a79` or `debug-a1af057f997316bfb1c4d2d82719d78481a02a79` a try?

[2020-02-25 17:09] cvgw commented on #1076
This should be fixed now, can you give tag a1af057f997316bfb1c4d2d82719d78481a02a79 or debug-a1af057f997316bfb1c4d2d82719d78481a02a79 a try?

[2020-02-25 17:19] cvgw commented on #1028
This should be fixed. Can you try tag `a1af057f997316bfb1c4d2d82719d78481a02a79` or `debug-a1af057f997316bfb1c4d2d82719d78481a02a79`

[2020-02-25 17:22] tanguydelignieresaccenture commented on #1039
I have re-run this issue context with the `debug-a1af057f997316bfb1c4d2d82719d78481a02a79` tag and have confirm it fix it.
@cvgw, do you want details of test run?

[2020-02-25 17:26] tanguydelignieresaccenture commented on #1058
I've re-run the context of the #1039 with the `debug-a1af057f997316bfb1c4d2d82719d78481a02a79` tag, build correctly the image, pushed it, pulled it and confirm it fixes the context of this issue too.

[code]

[2020-02-25 17:37] michaelhixson commented on #1058
Both of these fix the issue for me.  I'm not doing exactly the same test as the OP, but I was seeing the same symptoms (same output for `ls /bin`) in my own builds with v0.17.1.

[2020-02-25 18:06] cvgw commented on #1039
@tanguydelignieresaccenture that info is great. Thanks for confirming the fix!

[2020-02-25 18:06] #1039 closed

[2020-02-25 21:25] Andor commented on #1076
@cvgw build with `gcr.io/kaniko-project/executor:debug-a1af057f997316bfb1c4d2d82719d78481a02a79` still fails for me.

My Dockerfile:
[code]

I build in GitLab inside docker container with overlayfs, runner in GCP.

[2020-02-25 21:39] Andor commented on #1076
Works fine when I dropped the cache by deleting `$DOCKER_IMAGE/cache` tags.

[2020-02-25 22:07] bimargulies-google commented on #769
I just hit this ...

[code]

I'm using GCB,

[code]

[2020-02-25 22:08] bimargulies-google commented on #1020
Would I be hitting this if I got...

[code]

[2020-02-26 08:44] mcfedr commented on #1076
@cvgw the version a1af057f997316bfb1c4d2d82719d78481a02a79 that you linked solved the issue I had,

but - seems to break switching users, the `HOME` env var is not changed.

This simple docker file illustrates the issue,

[code]

If you run it with `latest` (or `docker build`), `HOME` correctly updates to `/home/myuser`, with `a1af057...` it is still `/root`.

[2020-02-26 08:57] mcfedr commented on #1076
Looks like this was fixed by https://github.com/GoogleContainerTools/kaniko/pull/995 but seems to have broken again.

[2020-02-26 09:32] drptbl commented on #1071
Re-built from scratch using version above, still failing:
[code]

Dockerfile: https://gist.github.com/drptbl/92b67ccffa2c14bd78b7100e9d777a24

[2020-02-26 11:02] sereinity commented on #997
Also, having `os=""` makes podman fail to run the container.

[code]
Do you prefer a separated issue ?

[2020-02-26 13:54] Flauschbaellchen commented on #763
We're running into the same bug which is reproducable on every run as long as the cache exists.
Currently, we disabled the cache to be able to build our images again.

Can I help, e.g. do you need another Dockerfile example or debug output?
We're using gitlab-runner 12.7.1 on Debian 9 with Docker version 17.05.0-ce (build 89658be) and gcr.io/kaniko-project/executor:debug (025bd79d3e06)

[2020-02-26 14:05] vguaglione commented on #1038
@cvgw Ok, I went ahead and tested this and it appears to fix the issue.  @simeonberkley Can you also run your tests with this updated image and let Cole know if those tests are successful?

[2020-02-26 14:15] mykter commented on #986
Yup, sorry I missed that

[2020-02-26 14:15] #986 closed

[2020-02-26 14:30] dren-dk commented on #1073
Same thing fails for me with: **gcr.io/kaniko-project/executor:debug-v0.17.1**

Using this Dockerfile:
[code]

I get:
[code]

[2020-02-26 16:43] cvgw commented on #1071
@drptbl which docker image are you using? Are you using one of the tags I suggested? I.E `gcr.io/kaniko-project/exectutor:a1af057f997316bfb1c4d2d82719d78481a02a79` or `gcr.io/kaniko-project/exectutor:debug-a1af057f997316bfb1c4d2d82719d78481a02a79`?

I tested your example Dockerfile with both of those images and it built successfully; perhaps I made an error in testing.

[2020-02-26 16:47] cvgw commented on #1076
Bummer, thanks for the report @mcfedr. Will look into it

[2020-02-26 16:48] cvgw commented on #1020
@bimargulies-google no, you would see almost the exact same error as original reported except with maybe a different file path. That error looks more like #1039

[2020-02-26 16:48] drptbl commented on #1071
@cvgw I've linked full Dockerfile now and started thread with just short version of it :). I've tested it with `gcr.io/kaniko-project/executor:debug-a1af057f997316bfb1c4d2d82719d78481a02a79`, everything was built with new kaniko, base image too (it relies on official node:10-buster image, it's just re-built with kaniko before and used as base for e2e image, so everything is ran with help of kaniko

[2020-02-26 19:45] jeunii opened #1079 "Kaniko does not preserve permissions on folders while running in GKE cluster."
I have a docker file that does the following
[code]
I am using `gcr.io/kaniko-project/executor:debug-v0.12.0` image in kubernertes to build the above snippet and then push it to GCR. The build is running on a GKE cluster with version `1.13.12-gke.30`

**Actual behavior**

Building the above docker snippet gives the log
[code]

And once I download the built image from GCR, the permissions are not c

[2020-02-26 20:58] gfvirga commented on #1059
@cvgw, I am having the same error with kaniko:debug
 `ERROR: Job failed: image pull failed: rpc error: code = Unknown desc = Error committing the finished image: error adding layer with blob "sha256:db37edea0ded56df3b03d6f76eedd9cd1303d1f6e4920588aa28b37c94d47b8f": Error processing tar file(exit status 1): open /bin/nc.traditional: no such file or directory
`

Tag debug-a1af057f997316bfb1c4d2d8271

[2020-02-26 21:00] gfvirga commented on #1038
@vguaglione, I was having the same error with kaniko:debug
`ERROR: Job failed: image pull failed: rpc error: code = Unknown desc = Error committing the finished image: error adding layer with blob "sha256:db37edea0ded56df3b03d6f76eedd9cd1303d1f6e4920588aa28b37c94d47b8f": Error processing tar file(exit status 1): open /bin/nc.traditional: no such file or directory
`
I can confirm that tag debug-a1a

[2020-02-26 21:22] ddgenome commented on #1020
@cvgw here are the results you requested:

|     | runc | runsc | runsc-nightly | runsc-head
|----|----|----|----|----
| kaniko 0.16.0 | success | success | success | success
| kaniko 0.17.1 | success | fail | fail | fail
| kaniko 16e60cd | success | success | success | success
| kaniko debug-16e60cd | success | success | success | success

runsc is now release-20200219.0, runsc-nightly is release

[2020-02-26 21:24] timbrd commented on #1059
Yes, building an image with `debug-a1af057f997316bfb1c4d2d82719d78481a02a79`, I can pull it afterwards.

[2020-02-26 23:04] cvgw commented on #1059
That code will get pushed with the `debug` tag when the next release of kaniko is cut. Should be end of this week or next cc @tejal29

[2020-02-26 23:04] cvgw commented on #1059
closing issue as it appears to be fixed, please re-open if needed

[2020-02-26 23:07] cvgw commented on #1076
cc @tejal29, we should fix this before the next release so there isn't another regression. Also should figure out why the integration tests didn't pick this up.

[2020-02-27 06:04] METAJIJI opened #1080 "Bug with COPY and variables with quotes"
**Actual behavior**
Kaniko does not `COPY` files to directory when used path with variables in quotes with trailing slash inside qoutes, i.e. `COPY Dock* "$PATH2FILE/"`

**Expected behavior**
Files should be copied to the directory.

**To Reproduce**
Steps to reproduce the behavior:
1. Craete `Dockerfile`

2. `docker build -t test .` - OK, file in directory `/path/2/files/Dockerfile`
2. `docker ru

[2020-02-27 07:52] mcfedr commented on #1076
I'm sure this doesnt really need saying, but it is something that makes using kaniko difficult, the stability being... a little all over the place. But you do a good job of responding quickly, so thanks for that, and the general experience, of fast builds, is great.

[2020-02-27 11:02] tblaisot commented on #1073
@cvgw I juste tried the tags you indicate me but I got the same error
[code]

Btw I don't use the cache or the warmup to make sure it's not related to others bugs.
I have tried the same container (All versions) in local (no k8s) without any problem ...

[2020-02-27 11:48] vguaglione commented on #1038
@cvgw Let us know when this fix becomes available via the standard debug tag.  Thanks.

[2020-02-27 13:29] swqmaven opened #1081 "Performance in jenkins dind"
in jenkins used kubernetes plugin build docker file spend a lot of time
used dind agent 2 minutes
kaniko 4 minutes it's same docker file
the file looks like this
'''
FROM docker.hub/library/javalib:latest AS compiler

ARG REPO_PATH
ARG BRANCH

WORKDIR /usr/share

RUN  set -ex \
  && git clone http://oauth2:xxxxxxx@xx.xx.xxx.xx:8888/xxxxxxx.git \
  && cd /usr/share/xxxxxxx \
  && git checkout ${BRA

[2020-02-27 14:02] anton-johansson commented on #57
@stijndehaes, any news on this one? :)

[2020-02-27 15:31] simeonberkley commented on #1038
I started using the '--cache' option, which isn't going so well currently. I have a couple of projects doing automated builds overnight, and they fail about half the time so far, but can be re-run after deleting the cache. This was with the 0.16.0 image. I tried out debug-a1af057f997316bfb1c4d2d82719d78481a02a79 and 0.16.0, and they both error out with:
"""
INFO[0074] Found cached layer, extractin

[2020-02-27 15:48] raijinsetsu commented on #1080
As a work around:
[code]

[2020-02-27 16:15] vguaglione commented on #1038
@simeonberkley @cvgw I didn't try the cache option for my tests, FYI.  We have tested some of our images with caching turned on in the past, but we haven't tried it with this specific fix version.

[2020-02-27 16:22] anton-johansson opened #1082 "USER directive doesn't change home directory"
FYI: I found some related issues/PRs such as #403, however, I can reproduce this with the latest tag of kaniko, so it's maybe not related.

Here is my `Dockerfile`:
[code]

Running `docker build` behaves differently than `kaniko` does.

**Expected behavior**

I expect the following output:
[code]

As you can see, it lists the username `node` and itshome directory. It lists the contents of the home

[2020-02-27 17:09] afirth commented on #1028
I can't repro those original broken builds since removing our npm race, sorry

[2020-02-27 18:15] cvgw commented on #1076
I'm not able to repro this bug using tag `a1af057f997316bfb1c4d2d82719d78481a02a79`

Dockerfile
[code]

Docker command
[code]

[2020-02-27 18:20] cvgw commented on #1082
I'm not able to repro this bug using tag `a1af057f997316bfb1c4d2d82719d78481a02a79`

Dockerfile
[code]

Docker command
[code]

Test
[code]

[2020-02-27 19:07] cvgw commented on #1082
So the issue here is not with the final image, but during the build

during the build $HOME is not updated, but in the final image it is correct.

[2020-02-27 19:15] cvgw commented on #1082
We need to add an integration test which writes a file to user's HOME directory E.G.

[code]

[2020-02-27 19:16] tejal29 commented on #1082
Integration test ->  https://github.com/GoogleContainerTools/kaniko/pull/1072/files

[2020-02-27 19:18] cvgw commented on #1082
I'd prefer not to add integration tests which use bash in the docker file to assert the test

[2020-02-27 19:38] jeunii commented on #656
Does anyone have a somewhat similar issue in GKE cluster where the build goes through but the image build misses chown-ing a folder ? Im referring to #1079

[2020-02-27 19:40] tejal29 commented on #1082
@greut already started looking into this. I will work with him to get this fixed.

Thanks @cvgw and @anton-johansson.

[2020-02-27 21:15] anton-johansson commented on #1082
Thanks yourselves for a great product!

[2020-02-27 22:46] cvgw commented on #1038
If you have a cache that is persisted between versions you might try clearing it.

That is to say, don't try to re-use a cache from v0.16.0 with v0.17.0

[2020-02-27 23:13] cvgw commented on #1073
Can you please share the exact docker command you are using to execute the kaniko build. Thank you

[2020-02-27 23:15] cvgw commented on #763
You probably need to clear your cache so that it doesn't keep re-using the bad cached layer.

[2020-02-27 23:16] cvgw commented on #769
that may be the same as #830

[2020-02-27 23:17] drptbl commented on #1071
@cvgw could you please remove `fixed-needs-verification` label? Thanks 🤝.

[2020-02-27 23:20] cvgw commented on #1071
@drptbl can you provide instructions on how to build the base image in your latest example or share an example that depends on a public base image. Thanks

[2020-02-27 23:27] drptbl commented on #1071
@cvgw
1. Build image named `docker-node:10.19.0-buster` using kaniko, with following `Dockerfile`:
https://gist.github.com/drptbl/3441afdf9b5821d34b8ba399c011d755
2. Build image named `docker-e2e:10.19.0-buster` using kaniko, with following `Dockerfile` (it uses previous image as base, please edit):
https://gist.github.com/drptbl/92b67ccffa2c14bd78b7100e9d777a24

That's it. You will get an error w

[2020-02-28 00:23] cvgw commented on #1071
@drptbl I cannot repro with the information you've provided using any of the following images
* `fb0cfd74649f88a942c0a77c85136b791a9c09d1`
* `debug-a1af057f997316bfb1c4d2d82719d78481a02a79`
* `a1af057f997316bfb1c4d2d82719d78481a02a79`

Can you please include the exact docker command you are using to execute the build

Dockerfile base https://gist.github.com/drptbl/3441afdf9b5821d34b8ba399c011d755

[2020-02-28 00:27] dinvlad commented on #1038
We found the same issue. Clearing all cache between versions helped.

On Thu, Feb 27, 2020, 5:46 PM Cole Wippern <notifications@github.com> wrote:

[2020-02-28 00:30] drptbl commented on #1071
@cvgw It didn't work for both commands, with cache and without, tried both. Also didn't work with other combinations (tried adding `--cleanup` and `--single-snapshot`).
1. Build `docker-node` image with: (assuming that Dockerfile is in root directory)
[code]
2. Build `docker-e2e` image with: (assuming that Dockerfile is in another root directory)
[code]
Keep in mind that it also doesn't work for m

[2020-02-28 00:37] cvgw commented on #1071
@drptbl can you please try it using a local docker daemon rather than gitlab's runner

[2020-02-28 00:57] drptbl commented on #1071
@cvgw Tested on macOS locally and it worked fine. :(
How to make it work on GitLab?

[2020-02-28 01:03] cvgw commented on #1071
Thanks for testing @drptbl. I've never used gitlab before but I'm setting an account up now to debug this.

[2020-02-28 01:05] drptbl commented on #1071
@cvgw I can see how much this tool has reduced my CI build time, even if output builds aren't usable (yet). Happy to help for such a great project :). Ask me anything.

[2020-02-28 01:30] swqmaven commented on #1081
the step【Taking snapshot of full filesystem】【Unpacking rootfs as cmd COPY . . requires it. 】  It usually takes a lot of time。 have some change to solve this?

[2020-02-28 02:14] swqmaven commented on #875
have the same question. in jenkins used dind faster than Kaniko . most of the time spent [Taking snapshot of full filesystem] [Unpacking rootfs as cmd COPY]  how to improve this?

[2020-02-28 08:00] Flauschbaellchen commented on #763
@cvgw Well, that's not a solution as within the next run a newly created cache would be saved which is also faulty.

[2020-02-28 10:05] tejal29 commented on #764
No, we never added the ARG value to `confif.ENV` which ends up replacing all the places which use the arg.

I added a PR to fix this.

You can now see the arg in log
[code]

[2020-02-28 10:06] tejal29 commented on #1008
Agreed. #1085 addresses this issue.

[2020-02-28 11:00] tejal29 commented on #764
No. This only happens when parsing stages from dockerfile. At the time of parsing stages, we only evaluate args present in [`--build-args`](https://github.com/GoogleContainerTools/kaniko/blob/649a0ed99ba704fe3d9c18c77de2bbd1bdec61ed/pkg/dockerfile/dockerfile.go#L67).

None of the dockerfile commands have been evaluated at this time and hence `ARG VERSION=3.7` is not evaluated

[2020-02-28 11:01] tejal29 commented on #579
@kferrone This is now fixed by #962. I also verified your dockerfile manually!

Please re-open if this issue persists

[2020-02-28 11:01] #579 closed

[2020-02-28 12:00] tejal29 commented on #752
Thanks @drptbl . this is the next on our list. Will update the progress

[2020-02-28 12:07] tejal29 commented on #533
I have identified the issue. The [`resolveStages`](https://github.com/GoogleContainerTools/kaniko/blob/master/pkg/dockerfile/dockerfile.go#L64) happens before `resolveOnBuild` for a stage is called.
`resolveStages` replaces all the stage names to an index `0`, `1` instead of their name in the order in dockerfile. Copy command expects the stage names to be resolved to an index.

The `OnBuild` comma

[2020-02-28 12:10] tejal29 commented on #721
This is fixed by #961  and manually verified.
Please re-open if you this issue again.

Thank you!

[2020-02-28 12:10] #721 closed

[2020-02-28 12:27] tejal29 commented on #705
Thanks @leahneukirchen and @hobti01
I added PR #1086 to return error when `filepath.Walk` sees an error.

I tried reproducing your issue  with the minimal dockerfile you mentioned on the master with "gcr.io/kaniko-project/executor:edge". I could not reproduce this.

[code]

Can you please verify?

[2020-02-28 13:04] tejal29 commented on #1081
Thanks @swqmaven. We are going to look in to performance soon. We have a tool slowjam written by @tstromberg which can identify which func is slow.
@priyawadhwa put a branch with instructions on how to run slowjam here
https://github.com/priyawadhwa/kaniko/tree/slowjam

If you have a GCR project, please follow the instructions [here](https://github.com/priyawadhwa/kaniko/tree/slowjam#to-run-slowja

[2020-02-28 14:00] vguaglione commented on #1038
@simeonberkley @cvgw I successfully tested debug-a1af057f997316bfb1c4d2d82719d78481a02a79 with caching turned on with the sample dockerfile provided here in this thread.  @tejal29 Yes, cache invalidation would be a nice feature here otherwise there will likely be some confusion within our user base.  Thank you both for helping with this issue.

[2020-02-28 15:20] Techn0logic commented on #753
I observe the exact same issue.
[code]
Getting error on:
[code]
However, running debug image with ["tail", "-f", "/dev/null"], running same args inside pulls ubuntu image no problem.

running on k3s version v1.17.3+k3s1 (5b17a175)

[code]

would appreciate if someone could help to troubleshoot

[2020-02-28 15:47] cvgw commented on #1038
Thanks you everyone for reporting your finding and helping to test. I'm gonna close this one, but feel free to reopen if needed.

[2020-02-28 15:47] #1038 closed

[2020-02-28 16:07] Techn0logic commented on #753
Found what is the issue.

Namespace was configured to initialize pods with `istio-proxy`, which takes some time to come up. Therefore, on the immediate launch pod was unable to reach out and got `Connection Refused`

Setting pods `restartPolicy: OnFailure` solved the issue and kaniko worked and ended up in `Completed`

[2020-02-28 16:25] cvgw commented on #1071
@drptbl I wasn't able to repro this on Gitlab either; I'm guessing something is different about how I set things up.

My runner is installed on a GKE cluster
I built the base image using docker and pushed it to gitlab registry

Dockerfile base https://gist.github.com/drptbl/3441afdf9b5821d34b8ba399c011d755
Dockerfile https://gist.github.com/drptbl/92b67ccffa2c14bd78b7100e9d777a24

.gitlab-ci.yml
[

[2020-02-28 16:27] drptbl commented on #1071
@cvgw just to confirm, I'm bulding base image with kaniko and e2e image with kaniko. You wrote that you built base with docker. Did you mean kaniko or docker?

[2020-02-28 16:36] cvgw commented on #1071
I indeed build my base image with docker; I'll try building it with kaniko and report back

[2020-02-28 17:12] cvgw commented on #763
Apologies if I'm misunderstanding you; my suggestion was to clear the cache when going from a known bad version of kaniko to a good version

E.G

image was previously built with kaniko v0.17.0 and cached
switch to kaniko v0.17.1
clear cache
build image with v0.17.1
at that point the cache is good to use for v0.17.1

[2020-02-28 17:15] cvgw commented on #764
Would adding an additional run command to your dockerfile be a work around?

I.E.

[code]

[2020-02-28 17:34] ddgenome commented on #1020
Here's the script I used to test the various versions of kaniko and gVisor: https://gist.github.com/ddgenome/9f29b878d45f6c282dcdd7b226a907ed , if that helps anyone.

[2020-02-28 17:40] ddgenome commented on #1020
Here is the script I used to test the various versions of kaniko against the various versions of gVisor: https://gist.github.com/ddgenome/fa1da223569fdb602592a87249c1bf10 , if that helps anyone.

[2020-02-28 21:12] tejal29 commented on #1008
Hey folks i pushed following images with a fix if anyone is interested in trying out
[code]

[2020-02-28 21:56] tejal29 commented on #913
Can you please use `executor:v0.16.0-debug` instead?

[2020-02-29 01:23] cvgw commented on #1064
I would prefer this is not done via inferring the context from the Dockerfile path; I think that will cause unexpected behavior.

My suggestion would be that we update the code to allow subpaths on a git context.

E.G.  --context=git://github.com/foo/bar.git/sub/path#master

[2020-02-29 22:01] petkovacs19 opened #1087 "build hanging at 'Unpacking rootfs as cmd RUN mkdir ... requires it'"
**Actual behavior**

When using gcr.io/kaniko-project/executor:debug and
running /kaniko/executor --context $CI_PROJECT_DIR --dockerfile Dockerfile --destination ${CONTAINER_IMAGE} in gitlab runner build hangs.

**Expected behavior**

Build finishes successfully and image getting published to gcr

**To Reproduce**
Steps to reproduce the behavior:

Dockerfile
[code]

.gitlab-ci.yml

[code]

 **Tria

[2020-02-29 22:09] petkovacs19 commented on #1087
It turned out it was not hanging it just keeps iterating over files and whiting them out for a very long time. It has never got to finish from the triggers.

DEBU[0002] Not adding /dev because it is whitelisted
 DEBU[0002] Not adding /etc/hostname because it is whitelisted
 DEBU[0002] Not adding /etc/hosts because it is whitelisted
 DEBU[0002] Not adding /etc/resolv.conf because it is whitelisted

[2020-02-29 23:11] cvgw opened #1089 "Proposal: Split integration test into multiple travis jobs"
The integration tests are getting longer
There is a max job time of 50m on travis free tier
We should split some of the integration tests into their own travis jobs
Primarily
TestRun and TestLayers
The other tests can run in the same Travis job

My proposal is to have a job which explicitly passes `-run TestRun` and another which passes `-run TestLayers` and a third which uses `go test ./integrati

[2020-03-01 02:07] cvgw opened #1092 "Integration TestRelativePaths fails to build"
**Actual behavior**
The image for TestRelativePaths fails to build, we didn't notice this because the error return by the builder method was not checked

https://github.com/GoogleContainerTools/kaniko/blob/8d2b205ef2076e1e2ccc9ad60e827e48eaf8986e/integration/integration_test.go#L390

**Expected behavior**
The test builds and passes successfully

 **Triage Notes for the Maintainers**

 | **Descript

[2020-03-01 02:13] cvgw commented on #1092
It looks like that test was added in https://github.com/GoogleContainerTools/kaniko/pull/736 but I'm not sure how it could have ever passed. What creates `./relative-subdirectory`?

[2020-03-01 02:13] cvgw commented on #1092
cc @tejal29

[2020-03-01 02:31] cvgw commented on #1092
It's not clear to me what scenario this is supposed to be testing.

Is `./relative-suubdirectory` supposed to be in the context? In the workspace?

@huguesalary perhaps you can provide some insight into what the intention behind this test was?

[2020-03-01 03:45] cvgw commented on #1092
Perhaps this is an example of the scenario which should be tested?

[code]
[code]

`docker run -v /foo:/workspace gcr.io/kaniko-project/executor --context ./src --Dockerfile ./docker/Dockerfile .....`

[2020-03-02 01:53] z0mb1ek commented on #763
try this, not working too

[2020-03-02 01:56] samos123 commented on #1089
+1 I like the way you handled the issue of running all tests except `TestRun` and `TestLayers` by having a script `misc-integration-test.sh` that runs all tests except those 2 programmatically.

[2020-03-02 15:56] stephen-dexda commented on #716
The problem is that the official kaniko images are `FROM scratch`, so if you want to use e.g. Git to extract useful building/tagging info from revision control, you're SOL. `kaniko:debug` just adds Busybox, and at least in the case of Git there are no official static binaries made available.

TBH it would be much better if there were e.g. a `kaniko:alpine` image available.

[2020-03-02 16:51] myaesubi opened #1095 "Pushing same image version into Artifactory gets INVALID_MANIFEST error"
Hi,
when using the executor and pushing same image version again into JFrog Artifactory I get error.
this doesn't happen when using docker though.

**Actual behavior**
error pushing image: failed to push to destination artifactory:5001/action_server:1.1.0: MANIFEST_INVALID: manifest invalid; map[description:HTTP 403 Forbidden]

**The error looks like Authorization, but it is not. changing the imag

[2020-03-02 17:40] #1092 closed

[2020-03-02 17:42] #1062 closed

[2020-03-02 18:25] cvgw commented on #1089
Thanks! I was somewhat surprised that there is no negative match argument for `go test`, but the `-list` option will work. We can also clean up that script at some point to have a list of tests to exclude which should make it easier to maintain.

[2020-03-03 02:35] giovanism commented on #432
My team hit this issue too. We would really like to see more discussion on this.

[2020-03-03 06:39] vvbogdanov87 opened #1096 "tarPath with single-snapshot should produce one layer"
**Actual behavior**
If I specify both `--single-snapshot` and `--tarPath`, resulting tar file contains all layers instead of one

**Expected behavior**
If both `--single-snapshot` and `--tarPath` are provided, resulting tar file should contain one layer

[2020-03-03 09:08] dren-dk opened #1097 "The USER command does not set the correct gids, so extra groups are dropped"
**Actual behavior**

When adding a user with an additional group and setting the user with USER, the user isn't a member of the group, according to id

**Expected behavior**

Users should be a member of all the groups listed in /etc/group

**To Reproduce**

[code]

Observe:
[code]

As you can see the second id command shows that the foo user is not a member of bar, even though the first id command

[2020-03-03 09:34] dren-dk commented on #1097
Note: I have just reproduced the problem with master (b538066dcb8267df6553e1adc5ea6dd0e6832cdb)

[2020-03-03 12:06] Shanuson commented on #687
@gawi how does the config.json looks like in this case? What would be the content of the auth field for gcr:
[code]

[2020-03-03 16:26] kroshilin commented on #1076
This helped me, thanks. I had to clear (corrupted?) cache before retry.

[2020-03-03 16:41] 3qdev commented on #1076
@cvgw It works for me. When do you plan the next release. I need this bugfix.

[2020-03-03 17:08] cvgw commented on #1076
cc @tejal29 for release schedule

[2020-03-03 17:40] darewreck54 opened #1099 "Is it possible to generate signed docker images?"
Sorry, not sure if this is the right place.  I'm trying to figure out how to generate a docker image that is signed with kaniko?  Is that possible?

[2020-03-03 19:52] #1079 closed

[2020-03-03 20:16] klkl0808 commented on #875
I have the same question. I tried kaniko build on gitlab and it's also slower than with docker.

[2020-03-03 20:17] antechrestos opened #1100 "Kaniko should allow to pass a certificate for a self-signed registry"
Just like options `--skip-tls-verify-registry`,  or `--skip-tls-verify`, kaniko should allow user to pass a certificate for a given registry

This could be something like `--registry-certificate my.registry.url=/path/to/the/certificate.cert`

[2020-03-03 20:20] antechrestos opened #1101 "pkg/executor/push.go: make makeTransport should not modify static object"
In the [following file](https://github.com/GoogleContainerTools/kaniko/blob/17ceb312c6fd4ddf3c3b13d243fb17a986c36c93/pkg/executor/push.go#L231), the function  `makeTransport` modifies `http.DefaultTransport`.

This object should be cloned so as not to imply random behaviour

[2020-03-03 20:48] paleozogt opened #1102 "multi-arch manifest lists"
**Actual behavior**

I'm building multi-arch containers with kaniko.  I'd like to be able to stitch them together with a manifest list and push to a registry.  Sadly, I have to switch back to Docker in order to do this last step.  Since the whole point of kaniko is to avoid using Docker it seems like it should support manifest lists.

**Expected behavior**

Be able to make manifest lists with kani

[2020-03-04 17:14] bitsofinfo opened #1104 "standard_init_linux.go:211: exec user process caused "no such file or directory""
Running `gcr.io/kaniko-project/executor:debug`

I have a dockerfile that when i build locally runs fine, however when kaniko builds it, running it yields

`standard_init_linux.go:211: exec user process caused "no such file or directory"`

what would cause this?

#1024 related?

[2020-03-04 17:21] bitsofinfo commented on #946
ugh, same issue w/ `gcr.io/kaniko-project/executor:debug-v0.17.0`, with latest i get #1104.

[2020-03-04 17:25] bitsofinfo commented on #1024
experiencing the same

[2020-03-04 17:30] bitsofinfo commented on #946
only reverting to 0.15.0 lets me actually get working images

[2020-03-04 17:30] bitsofinfo commented on #1104
only reverting to 0.15.0 lets me actually get working images

[2020-03-04 17:30] bitsofinfo commented on #1024
only reverting to 0.15.0 lets me actually get working images

[2020-03-04 17:34] hanlaipeng commented on #946
oh, I read the code find error in this:
`// Check if something already exists at path (symlinks etc.)
		// If so, delete it
		if FilepathExists(path) {
			if err := os.RemoveAll(path); err != nil {
				return errors.Wrapf(err, "error removing %s to make way for new file.", path)
			}
		}`
if /sbin already exists in docker, where remove it

[2020-03-04 18:40] aholler commented on #1007
I've run into the same error with /sys (but not on Fedora). Here is a little testcase:

#!/bin/sh
MYTMPDIR="$(mktemp -d)"
cd "$MYTMPDIR"
mkdir -p image/rootfs/sys
echo "FROM scratch" > image/Dockerfile
echo "ADD rootfs/ /" >> image/Dockerfile
docker run --rm -it -v "${MYTMPDIR}/image":/workspace gcr.io/kaniko-project/executor:v0.17.1 --context dir:///workspace/ --destination=kaniko-error-sys:v1.0

[2020-03-04 18:41] rbkaspr opened #1106 "Client Certificate Authentication"
Does Kaniko support the concept of authenticating to a secure registry using client TLS certificates?

For reference, looking for something similar to this: https://docs.docker.com/engine/security/certificates/

[2020-03-04 21:02] donnyv12 commented on #1104
Having this issue as well using the kaniko builder in Google' Cloud Build. Would love to get some eyes on this as it has been a massive pain to debug.

[2020-03-04 22:09] #1089 closed

[2020-03-04 22:33] tejal29 commented on #1097
This should be fixed by #1072 i will verify on the branch

[2020-03-05 05:32] rlangfordBV commented on #598
This works for me.

I too exported:
[code]
as well as:
[code]

and the configmap:
[code]

Naturally, I annotated the pod with the desired role as well

[2020-03-05 07:48] MarcoSchaar commented on #1104
facing same issue with version 17.1 but only when building images based on debian

[2020-03-05 09:32] nomatterz commented on #1059
@cvgw
was using :debug image ( till yesterday) to build images from gitlab shared runner and push to AWS ECR. This week errors started to appear while pulling:
[code]
Referring to this issue and using debug-a1af057f997316bfb1c4d2d82719d78481a02a79 solved it.
So I'm afraid i the issue is still there on "latest"

[2020-03-05 15:41] robertbus opened #1107 ".tar.xz files are not supported"
**Actual behavior**
Build fails if `.tar.xz` archive is used in `ADD` operation in the Dockerfile.

**Expected behavior**
Kaniko should be able to handle `.tar.xz` files.

**To Reproduce**
1. Clone [CentOS/sig-cloud-instance-images](https://github.com/CentOS/sig-cloud-instance-images) and check out [CentOS-8-x86_64](https://github.com/CentOS/sig-cloud-instance-images/tree/CentOS-8-x86_64) branch f

[2020-03-05 15:48] robertbus commented on #1107
If someone is having the same issue, here is the workaround that worked for me:

1. repackage the XZ file as GZ.

[code]

2. Patch the Dockerfile to use the GZ archive instead of the XZ one:

[code]

3. Build it with kaniko:

[code]

[2020-03-05 17:52] #1082 closed

[2020-03-05 21:48] thavlik commented on #520
FYI I am experiencing this issue. Multi-stage docker file, golang base image:

[code]

[code]

It fails every time with `--cache=true` and works every time without it.

EDIT: I just inserted a `RUN ls` layer for debugging purposes and it was able to build:
[code]
Yikes.

[2020-03-06 00:10] tejal29 commented on #1028
Thanks @afirth for explaining the issue. I verified an npm install and i no longer see this issue. Closing this now.

[2020-03-06 00:10] #1028 closed

[2020-03-06 00:14] dinvlad commented on #520
@thavlik have you tried `:debug-a1af057f997316bfb1c4d2d82719d78481a02a79` yet? It addresses issues linked via https://github.com/GoogleContainerTools/kaniko/pull/1069, which I believe includes this one. You may have to delete Kaniko cache prior to re-running it though.

(BTW, can't wait until this image tag gets re-tagged as `:debug`)

[2020-03-06 00:25] tejal29 commented on #1073
Verfied on latest master image `gcr.io/tejal-test/executor`

[code]

and
[code]
runs successfully
[code]
They both work.

[2020-03-06 00:31] tejal29 commented on #1058
I verified this on the latest master `gcr.io/tejal-test/executor:debug`

[code]
The destination image inow lists the /bin/
[code]

[2020-03-06 00:37] tejal29 commented on #1076
Verified, following on `gcr.io/tejal-test/executor:debug`
[code]
and

[code]
shows the current home dir
[code]

[2020-03-06 00:53] tejal29 commented on #1097
This is still an issue and i will address this in next release.

[2020-03-06 03:12] tejal29 commented on #1045
I verfied this on latest image `gcr.io/tejal-test/executor`

[code]

[code]

[2020-03-06 03:14] tejal29 commented on #705
This is now fixed!

[2020-03-06 03:14] #705 closed

[2020-03-06 04:31] tejal29 commented on #1024
@webmutation i verfied your Dockerfile on latest master build
I changed the base image to `openjdk:8`

[code]

I ran the following command
[code]
I docker ran the new image
[code]
 and as expected it complains no main in manifest.

``

[2020-03-06 04:35] tejal29 commented on #1036
I just verified your dockerfile in latest master `gcr.io/tejal-test/executor`

[code]

I checked the built image:
The results are consistent
[code]

[2020-03-06 04:35] #1036 closed

[2020-03-06 04:40] tejal29 commented on #656
@jeunii i will try to reproduce your issue on GKE.

[2020-03-06 04:42] #1076 closed

[2020-03-06 12:12] StarkillerObl commented on #520
@dinvlad We have similar issue and we have tried it, but it fails in the same way.

Our last successful dockerization was yesterday and it used:
docker image sha256:025bd79d3e0699b5f59142b03f7e66916980bd0e32653b9c7e21b561d4e538c3 for gcr.io/kaniko-project/executor:debug

We have tried to locate this particular image in https://console.cloud.google.com/gcr/images/kaniko-project/GLOBAL, but with no

[2020-03-06 12:34] gilbsgilbs opened #1109 "Bad handling of trailing slash in WORKDIR"
**Actual behavior**

The following Dockerfile:

[code]

fails to build since v0.18.0 with the following error message:

[code]

**Expected behavior**

Kaniko should be able to build this Dockerfile.

**To Reproduce**

Steps to reproduce the behavior:

[code]

**Additional Information**

- the regression was introduced in `v0.18.0`. `debug-v0.17.1` image does not present the issue.
- if the trailin

[2020-03-06 12:46] gilbsgilbs commented on #1109
Note that the regression is easy to reproduce with `WORKDIR`, but I also have similar errors in more complex images with `COPY` (`lstat /xxx: no such file or directory`). It may very well be related.

[2020-03-06 12:58] mapopa commented on #1109
confirmed , also with ```
FROM node:lts-slim
WORKDIR /var/www/
[code]

[2020-03-06 13:47] tarvitz opened #1110 "Multistage build directory copy fails"
**Actual behavior**
Multistage build fails.

[code]

The latest kaniko result build and output:
[code]
Output:
[code]

**Expected behavior**
Multistage build runs well.

Output with kaniko: gcr.io/kaniko-project/executor:v0.17.1
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Use provided Dockerfile
2. Try to build it by the latest kaniko

**Additional Information**
Dockerfile:
[code]

[2020-03-06 14:33] gilbsgilbs opened #1111 "COPY resolves symlinks it shouldn't try to resolve"
**Actual behavior**

Since v0.18.0, `COPY` tries to resolve some symlinks it shouldn't try to resolve, which is a regression.

**Expected behavior**

I would expect kaniko to let those symlinks remain symlinks when copied in the image.

**To Reproduce**

For instance, we can create a symlink that points to nothing to make kaniko crash:

[code]

:point_down: :point_down: :point_down:

[code]

If we

[2020-03-06 15:26] thavlik commented on #520
I have not been able to reproduce the bug after changing the Dockerfile so the cache wasn't utilized. Fingers crossed it doesn't happen again lol

[2020-03-06 16:37] gilbsgilbs commented on #1111
FWIW, this was probably introduced by #943 .

[2020-03-06 17:40] tejal29 opened #1112 "Resolve paths does not resolve correctly for paths with "/""
A GCB user reported this bug,

[code]

resulted into this error

[code]

[2020-03-06 17:56] gilbsgilbs commented on #1112
This is a duplicate of #1109

[2020-03-06 17:57] gilbsgilbs commented on #1109
Closing in favor of #1112 .

[2020-03-06 17:57] #1109 closed

[2020-03-06 17:57] tejal29 commented on #1109
Thanks!

[2020-03-06 18:20] #1112 closed

[2020-03-06 19:14] diegosucaria commented on #1039
I see this is merged, but I have many Google Cloud Build pipelines using kaniko:latest which are still failing with the same problem.....    any ideas why? should I use another tag?

Thanks

[2020-03-06 19:52] dinvlad commented on #1039
That's because the `:latest`/`:debug` tags were not updated yet, to the build with the fix.

[2020-03-06 21:55] drptbl commented on #1071
@cvgw tried v0.18.0-debug, same error.

[2020-03-07 00:05] tejal29 commented on #1111
@gilbsgilbs Thanks for the issue.

We changed copy to be as close to `docker build`.
I verified your case on docker version 1.9.03

Dockerfile
[code]
My workdir
[code]
Dockerbuild log
[code]

We also made changes to make `COPY` behavior is mimic to `docker build`
Dockerfile
[code]

My dir
[code]

Run docker build
[code]

Then, i exploded the built image.
[code]

If you see the `sym.link` is a regu

[2020-03-07 01:12] tejal29 commented on #1104
@bitsofinfo and @donnyv12 can you please provide some more context to help us debug your issue
e.g.
- dockerfile?
- cloudbuild.yaml

Thanks
Tejal

[2020-03-07 02:59] WestonThayer commented on #1111
I'm also seeing build failures that are likely caused by this when using `npm link` during image build. All fine in v0.17.1.

[2020-03-07 04:46] skaymakca commented on #656
I'm running into the same issue (running ls) on a Rancher/RKE kubernetes cluster running docker 19.3.5. The builds otherwise run fine.

The issue doesn't exist on a development Ubuntu 18.04 VM running docker 19.03.7.

I tried it on the debug:latest and debug-v0.18.0 tagged images.

[2020-03-07 04:57] tejal29 commented on #1110
Thanks @tarvitz .

I have this PR #1114 and #1113 which ended up fixing this
[code]

Here i used the `gcr.io/kaniko-project/executor:edge` from latest master.
[code]

[2020-03-07 05:10] tejal29 commented on #1110
Can you use the latest image?
[code]

[2020-03-07 05:10] tejal29 commented on #1111
@WestonThayer can you please provide your dockerfile?

[2020-03-07 05:13] tejal29 commented on #1106
@rbkaspr @antechrestos did some great work to add a new flag
https://github.com/GoogleContainerTools/kaniko/pull/1037

I am going to get this in next release v0.19.0

I am going to mark this as duplicate of  #1100

[2020-03-07 05:13] #1106 closed

[2020-03-07 05:32] tejal29 commented on #1102
Hi @paleozogt Thank you for opening an issue and identifying an essential gap!

I have added this to our next milestone

[2020-03-07 05:42] gilbsgilbs commented on #1111
@tejal29 I agree that Kaniko is closer to Docker's behavior in the case you described and that the title of the issue is maybe slightly incorrect (I'll fix it). But insist, the case I gave in the original post still **is** a regression regarding docker 19.03 and kaniko 0.17.1 behavior. Kaniko v0.18.0 tries to resolve *some* symlinks it shouldn't resolve. The `regression` label should be kept. Are

[2020-03-07 05:52] tejal29 commented on #1111
yes i am. The reason why we made that change was to mimic what docker does and picked up the regression. I will work on fixing it and fixing the tests.

[2020-03-07 05:57] gilbsgilbs commented on #1111
Thanks. Sorry for the misunderstanding. Given that you removed the `regression` label and since your response sounded like “not a bug” to me, I wasn't sure you were actually able to reproduce :smile: .

[2020-03-07 07:56] tejal29 commented on #1111
No worries at all. I fixed up my PR to revert back to old behavior.
Can you try on your end to see if that fixes your issue?
[code]

[2020-03-07 08:10] gilbsgilbs commented on #1111
Thank you. I can confirm this issue is fixed on `debug-edge`.

[2020-03-07 08:26] tejal29 commented on #1111
The integration test is failing probably due to incorrect permissions.
I will take a look tomorrow

[2020-03-07 09:12] tarvitz commented on #1110
Checked with executor:edge, here's result:
[code]
Dockerfile is the same.
Thanks @tejal29. It seems everything is fine now.

[2020-03-07 18:39] JordanGoasdoue commented on #567
Hello, for my first open source PR, I want to take this issue as it's not updated since August 2019 and it's with the `good first issue` label.

[2020-03-07 20:06] WestonThayer commented on #1111
I can also confirm `debug-edge` is working for me.

I'm not having much luck getting this down to a minimal repro, but here's the general idea. Dockerfile:

[code]

Here's the error:

[code]

I tried reducing down to very basic Node modules and wasn't able to reproduce it. It could've been that I used a different path structure, different NPM dependencies, or that I was skipping the `npm run build

[2020-03-07 20:58] invliD commented on #985
I'm seeing the same issue running kaniko through gitlab ci on a containerd-based kubernetes cluster.

The root cause seems to be gvisor not supporting 32bit binaries, and busybox as included in distroless (which the kaniko image is based on) is a 32bit binary: GoogleContainerTools/distroless#352

[2020-03-08 03:16] tejal29 commented on #1111
@WestonThayer Thanks for confirming!

[2020-03-08 11:30] elnygren commented on #769
@nielsvanvelzen did you ever manage to solve the kotlin daemon issue?
I keep having that same error undeterministically in random commits that don't change Cloudbuild, Kaniko, Gradle or Docker configurations at all...

A possible fix may be to disable Kotlin daemon with `ENV GRADLE_OPTS -Dkotlin.compiler.execution.strategy="in-process"` (in Dockerfile) but I can't yet say as the issue might still

[2020-03-08 12:02] MAHDTech opened #1117 "Multistage Dockerfile combined ARG is not expanded"
**Actual behavior**

If you combine multiple ARG at the top of the Dockerfile they are not expanded

**Expected behavior**

The ARG values provided are expanded, and can be passed to later stages. This is the behavior in Docker.

**To Reproduce**

Use the below Dockerfile as an example

**Additional Information**

[code]

Here is Kaniko output

[code]

Here is example Docker output

[code]

The te

[2020-03-08 12:09] nielsvanvelzen commented on #769
@elnygren As I needed the image to work fast I added a sleep command (for 10 seconds) and everything worked fine (hence my suspicion it was a race-condition). I haven't tried it yet with the fixed image.

[2020-03-08 15:20] rkamradt commented on #1064
I closed the #1065 PR as it was committed on the wrong computer so it didn't pass the CLA. I have recreated it as PR #1078. This is a possible solution using the # separator to give the path at the end of the context.

[2020-03-08 18:43] rkamradt opened #1118 "Using a Git context, kaniko will fail if the repository already exits in the local filesystem."
**Actual behavior**
My use-case is I'm using Kaniko in Kubernetes to pull source from GitHub, build an image and push to a local repository. My Jenkins pipeline creates a Kaniko pod and will keep it around for a specified amount of time and reuse it if needed. When it gets reused to build from the same git repository if gives the error 'Error: error resolving source context: repository already exi

[2020-03-09 11:36] purificant commented on #1076
Thank you for the fix!
Works for me in v0.18.0 for fresh builds. Had to clear caches created by v0.17.1

[2020-03-09 14:13] RubenAtPA commented on #1073
We have had the same error since about a week. After a lot of trial-and-error debugging we've figured out that the problem (in our case) could be traced to the use of an image that contains a symlink to the stdout/stderr. After removing this symlink image in our base image, we could build new images from this base image again.

Is that related to this issue?

[2020-03-09 14:37] fabiotamagno commented on #1059
I have the same behaviour when running on kubernetes as @nomatterz when using 0.17 and latest (0.18).

Using version `debug-a1af057f997316bfb1c4d2d82719d78481a02a79` solved it for me as well.

[2020-03-09 14:52] afirth commented on #595
@tejal29 is this fixed now? I noticed that `.dockerignore` doesn't seem to work at all in 0.16.0, but it's back in 0.18.0 - couldn't find anything in the release notes though

[2020-03-09 18:41] tanguydelignieresaccenture opened #1119 "Kaniko image built using VOLUME then WORKDIR will fail in a kaniko child build"
**Actual behavior**
- In <= `debug-v0.18.0` (tested with `debug-v0.17.1`, `debug-v0.16.0` and `debug-v0.15.0`), an image built with kaniko with a `VOLUME` clause then a `WORKDIR` clause and used as a base image in a child kaniko build with a `RUN` clause will fail with the following error:
`error building image: error building stage: failed to execute command: starting command: fork/exec /bin/sh:

[2020-03-09 21:17] tejal29 commented on #1111
Thanks @WestonThayer The error you are seeing is due to #1112  and not due to symlinks.

[2020-03-10 09:55] valdestron opened #1120 "Question, dynamically create ECR repository if not exists"
I am using Jx and Kaniko executor in the pipeline. I need dynamically create repository in the ECR if it does not exists, how can i do that, my jenkins-x.yaml. The issuei s not related to jenkinsx, I am wondering if I can just somehow tell executor to use instance role permissions and create the repository dynamically.

[code]

Getting error:
[code]

[2020-03-10 13:26] joscarras commented on #1110
@tejal29  I just tried the latest version you posted above (not including the warmer) and I am still getting a similar error

I was able to resolve the issue by using **gcr.io/kaniko-project/executor:debug-v0.17.1**

[2020-03-10 16:08] evheny0 commented on #1008
`gcr.io/kaniko-project/executor:cache_fix` with different build args from command line works for me

[2020-03-10 20:52] filesnate opened #1122 "Kaniko can't pull public images from gcr.io"
**Actual behavior**
Using kaniko to pull and build a kaniko image fails (kaniko is a public image) because it requires credentials.

**Expected behavior**
I expect kaniko to pull a public image w/out requiring credentials.

**To Reproduce**
Steps to reproduce the behavior:
1. Dockerfile is
[code]

2. Build image
[code]

 **Triage Notes for the Maintainers**

 | **Description** | **Yes/No** |
 |---

[2020-03-10 23:55] wstrange commented on #846
This bug still exists in v0.18.0

For example, this: https://github.com/ForgeRock/forgeops/tree/master/docker/7.0/ds/idrepo

Results in the /opt/opendj being owned by root, instead of the "forgerock" user in the parent image.

The same image built with docker works fine (/opt/opendj remains owned by the forgerock user)

If we add ```flags: [ "--single-snapshot" ]``` to our skaffold file, the direc

[2020-03-11 06:00] axot commented on #769
Today I got some strange errors. Any ideas?
[code]

[2020-03-11 07:18] ataillefer commented on #846
Just a quick check, does it behave the same without the final slash in the target directory?
[code]
instead of
[code]

[2020-03-11 07:37] fhoeben commented on #676
@daHaimi solution works great, but it is a real pity the hash changes. This is a real difference compared to the 'normal' pull/tag/push approach.

I tried using kaniko's cache, but that did help. (Actually I was quite surprised that did not work. As I would have expected a cache hit, even though the 'FROM' image name was different than one I used in a previous run, the source image hash was the sa

[2020-03-11 08:14] tosheer commented on #946
+1. Facing same issue with Kaniko version :  v0.17.1.

`[0005] Mounted directories: [{/kaniko false} {/etc/mtab false} {/tmp/apt-key-gpghome true} {/var/run false} {/proc false} {/dev false} {/dev/pts false} {/sys false} {/sys/fs/cgroup false} {/sys/fs/cgroup/blkio false} {/sys/fs/cgroup/cpu false} {/sys/fs/cgroup/cpuacct false} {/sys/fs/cgroup/cpuset false} {/sys/fs/cgroup/devices false} {/sys/fs

[2020-03-11 08:28] fhoeben commented on #676
I found the solution for my GitLab pipeline to retag using the original hash. @jonjohnsonjr 's 'crane'  tool works like a charm! Thanks!

[code]

[2020-03-11 16:55] Sherman-Chata opened #1123 "--cache-dir support Google bucket (gs://)"
**Actual behavior**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

**To Reproduce**
Steps to reproduce the behavior:
1. ...
2. ...

**Additional Information**
 - Dockerfile
   Please provide either the Dockerfile you're trying to build or one that can reproduce this error.
 - Build Context
   Please provid

[2020-03-11 16:57] wstrange commented on #846
Just retested without the `/` - same error.

[code]

[2020-03-11 17:53] tejal29 commented on #595
@afirth no i have not merged the patch. i will get it in v0.19.0

[2020-03-11 18:14] tejal29 commented on #1117
Thanks @MAHDTech.

Looks like there is bug [here](https://github.com/GoogleContainerTools/kaniko/blob/master/pkg/commands/arg.go#L50). Since this function has very little tests, we could add some tests scenarios to test if a previous `arg` value is expanded or not.

Thanks
Tejal

[2020-03-11 18:24] tejal29 commented on #1123
@Sherman-Chata Thank you for opening this issue.
Are you saying we dont support remote GCS cache?

[2020-03-11 18:33] tejal29 commented on #1122
@filesnate Thank you for opening this issue. Kaniko uses gooogle/go-container-registry to retrieve images.
From your `docker run` command looks like you haven't volume mounted docker credentials.
See https://github.com/google/go-containerregistry/issues/666#issuecomment-580036486 for why this could be the issue.

Can you confirm again ?
/cc @samos123

Meanwhile, we can look into if `executor:debug

[2020-03-11 18:46] filesnate commented on #1122
@tejal29 - I shouldn't need any credentials to pull a publically available image.

[code]
No credentials are necessary to fetch that image.

If I change the image in the Dockerfile to a different publicly available image, it works.

Dockerfile:
[code]
% docker run -v `pwd`:/workspace gcr.io/kaniko-project/executor:debug --context=/workspace --no-push
INFO[0000] Resolved base name alpine:3.9.5 to a

[2020-03-11 18:50] filesnate commented on #1122
Also, while I do have a file `~/.docker/config.json`, it has no entries for `gcr.io`.

[2020-03-11 19:05] filesnate commented on #1122
[ I added the comments to the wrong issue, my apologies ].

In the kaniko image, there exists the file /kaniko/.docker/config.json with the following contents.

/kaniko/.docker # more config.json
{
        "auths": {},
        "credHelpers": {
                "asia.gcr.io": "gcr",
                "eu.gcr.io": "gcr",
                "gcr.io": "gcr",
                "staging-k8s.gcr.io": "gcr",

[2020-03-11 19:05] tejal29 commented on #1119
@Thanks @tanguydelignieresaccenture i was doing my testing and look like your dockerfile with Volume is also broken on `v0.13.0`

I tested the following dockerfile on latest gcr.io/kaniko-project/executor:debug-edge`

[code]

The above dockerfile works.
Did you know if adding a `VOLUME` worked on any previous kaniko versions?

[2020-03-11 19:27] tejal29 commented on #1122
Thanks a lot @filesnate for debugging this.
I agree, we should replace config.json with empty file and other users who use private images can add their config as a volume mount inside cluster like this
or on the docker run command like you mentioned

Would you up for submitting a PR to remove credentials helper in from the executor image ?

[2020-03-11 19:48] filesnate commented on #1122
Let me see what I can do

[2020-03-11 19:54] filesnate commented on #1122
https://github.com/GoogleContainerTools/kaniko/pull/1125

[2020-03-11 20:08] Nainterceptor commented on #1110
Hello,

I'm adding some noise to this thread to find this issue via Google if somebody else have an issue in their CI/CD. So, sorry if my comment is not relevant for the issue resolution.

This issue cause a failure in many of our gitlab CD, we've switched to debug-v0.17.1 too, solving the issue. I guess that gitlab documentation should not recommand to configure on `:debug` tag :/

As a reference

[2020-03-11 20:21] maxres-fr commented on #846
@ataillefer based on my debugging the issue is related to snapshots and not the builds. You can add a `ls -la` right after the copy command and it show the correct ownership.  Can see some of my comments in slack too https://kubernetes.slack.com/archives/CQDCHGX7Y/p1583438179027700

[2020-03-11 20:41] tanguydelignieresaccenture commented on #1119
@tejal29 your example with `WORKDIR` and without `VOLUME` is not in the context of this issue.
Anyway I confirm that using `VOLUME` only or `WORKDIR` only, in `build1`, allows to build the child (`build2`) successfully with `debug-v0.18.0`, `debug-v0.17.1` and `debug-v0.16.0` (not tested with older tags).

And I confirm that it's only when using both in `build1` that it does not work in `build2` i

[2020-03-11 20:59] ataillefer commented on #846
OK @maxres-fr good to know, we'll try to test soon the supposedly fixed `COPY --chown`.

[2020-03-11 21:34] filesnate commented on #1122
3rd times a charm.  I was rushing to get it done, and didn't look closely at the Dockerfile to see how it was being built.

[2020-03-11 22:19] bitsofinfo commented on #846
similar issue, builds that work fine built w/ normal Docker, get weird permissions errors after being built by Kaniko. (tried 0.15.x + 0.18.0)

[2020-03-11 22:32] bitsofinfo opened #1127 "RUN chmod 777 on /var/run yields differing permissions; Kaniko vs Docker engine build"
Dockerfile built w/ docker 19.03.4 yields an image who has these expected permissions:

The Dockerfile does a `RUN chmod 777 /var/run`

Contents of /var in image build by Docker 19.03.4
[code]

Image built w/ kaniko 0.15.x or 0.18.0:

Contents of /var
[code]

My app breaks because it runs as non-root, the statement in the Dockerfile `RUN chmod 777 /var/run` is intended to set this.

Why does it wo

[2020-03-11 22:49] filesnate commented on #966
See https://github.com/GoogleContainerTools/kaniko/pull/1125 which may be related

[2020-03-12 08:42] isantospardo opened #1129 "Kaniko hardcoded /bin/sh?"
**Actual behavior**
This is the Dockerfile for the debug image builder:
https://github.com/GoogleContainerTools/kaniko/blob/master/deploy/Dockerfile_debug

it seems like the shell is installed under /busyboxy, so it would be /busybox/sh? However images understandably assume it's in /bin/sh?
[code]
something in the build process is hardcoded to use /bin/sh?
I get the following error:
[code]

[2020-03-12 13:08] infinytum opened #1131 "Building a Dockerimage that uses FROM gcr.io/kaniko-project/executor fails"
**Actual behavior**
Im building a Dockerimage which FROM's from the gcr.io/kaniko-project/executor image with a custom name like this
[code]

This results in a failing build:
[code]

**Expected behavior**
Im building a Dockerimage which FROM's from the gcr.io/kaniko-project/executor image with a custom name like this
[code]

And I get a scratch image with the kaniko folder in it.

**To Reproduce**

[2020-03-12 14:42] gawi opened #1132 "Changelog reports last version to be 0.8.0 instead of 0.18.0"
**Actual behavior**

[Changelog](https://github.com/GoogleContainerTools/kaniko/blob/master/CHANGELOG.md) displays `v0.8.0 Release -2020-03-05`

**Expected behavior**
Should display `v0.18.0 Release -2020-03-05`

**To Reproduce**
N/A

**Additional Information**
Not relevant

 **Triage Notes for the Maintainers**

 | **Description** | **Yes/No** |
 |----------------|---------------|
 | Please check

[2020-03-12 14:59] pllopis commented on #1129
Additional comments about this issue:

This error appears to come from https://github.com/GoogleContainerTools/kaniko/blob/7bf3f87430c780c1fdc9fcd90ddb3d14c4bfcc9d/pkg/commands/run.go#L97

Further up in line 55 seems to be the culprit: https://github.com/GoogleContainerTools/kaniko/blob/7bf3f87430c780c1fdc9fcd90ddb3d14c4bfcc9d/pkg/commands/run.go#L55
It seems that /bin/sh -c is prepended to the co

[2020-03-12 19:37] filesnate commented on #1122
@tejal29 - Is there anything I need to do at this point to move this forward?  PR is submitted and is passing.

[2020-03-12 19:53] dani29 commented on #718
Hi @achmudas,
After taking a look, the issue seems to be what @tejal29 described: the source is resolved at the start of the build, and files created subsequently aren't picked up. This seem to be consistent to the behavior of docker, and not a bug in Kaniko.

Trying to docker build the Dockerfile you supplied fails as well:
[code]

Likewise, docker build on the example supplied by @tejal29 also f

[2020-03-12 19:56] #1100 closed

[2020-03-12 19:56] #1101 closed

[2020-03-12 21:48] ljakimczuk commented on #1117
Hi @tejal29

Do you resolve the ARGs against the `config.Env` slice? It seems the slice does not contain any ARGs like ARG1 / ARG2, so the value is `nil` and so it is tried to be expanded against the `ba.GetAllMeta()` map, but the map contains still unexpanded nested/combined ARGs, like `map[ARG1:"Hello" ARG2:"World" COMBINED="$ARG1 $ARG2"]`. I quickly added an additional step of resolving them ag

[2020-03-12 22:20] tejal29 commented on #718
@dani29 Thanks a lot for confirming!

@achmudas i am going to close this bug as won't fixed.

[2020-03-12 22:20] #718 closed

[2020-03-12 22:24] tejal29 commented on #1127
looks like, this issue is specific to symlinks.
Looks like the contents of `/var` has right perimissions.

The second output screenshot which you provided, is this for `/var/run` or `/run`
[code]

[2020-03-12 22:26] bitsofinfo commented on #1127
Correct, its symlink related. That is `/run` and when built by docker ce the perms are 777, w/ kaniko they are 755

[2020-03-12 22:27] #1132 closed

[2020-03-12 22:28] tejal29 commented on #1131
@infinytum this could be fixed on latest master. i will verify this.
Also note, we have not tested behavior of building a image using kaniko built from kaniko image.

[2020-03-12 22:33] infinytum commented on #1131
I can tell you, without using the AS directive the image build works like a charm and my custom image works too. So its just an issue while using AS.

Yeah this is probably an edge case, but as it still shouldn't happen its probably better to report :)

[2020-03-13 08:23] MichelMan commented on #985
Thanks @invliD, i thought i was the only one having this problem.
It's a little more clear now. So we have to wait for a fix on the side of the Kaniko debug image...

[2020-03-13 11:54] ljakimczuk commented on #1117
I also tested other approach of moving this to the [Parse](https://github.com/GoogleContainerTools/kaniko/blob/9cfb196d028d85bc7a132950eeadb18d8046610f/pkg/dockerfile/dockerfile.go#L108) func (it seems to better fits in there) and trying to expand next ARG's value against all previously defined ARGs:

`
@@ -120,9 +120,34 @@ func Parse(b []byte) ([]instructions.Stage, []instructions.ArgCommand, err

[2020-03-13 12:54] fitex commented on #478
We also experience the same issue using GKE (1.15.9-gke.22), Kaniko (debug-v0.18.0) and Gitlab runner (12.4.1):

`$ /kaniko/executor --context ./dockerfiles --dockerfile ./dockerfiles/Dockerfile--destination eu.gcr.io/<gke_id>/<image-name>:<image-tag>
...
ERROR: logging before flag.Parse: E0313 12:36:01.315276      20 metadata.go:142] while reading 'google-dockercfg' metadata: http status code: 40

[2020-03-13 13:27] dlfoo opened #1133 "can't determine image digest after build"
**Actual behavior**
A clear and concise description of what the bug is.

I'm running kaniko executor inside a tekton task run and everything works well however It will never return the image digest in the terminate message. I know that the image is being pushed to the local repository. I don't know where else to get it since its not in the logs. The documentation wasn't clear to me.

**Expected be

[2020-03-13 13:30] dlfoo commented on #1133
Dockerfile

[code]

[2020-03-13 13:32] dlfoo commented on #1133
Tekton Task. Also this was happening before I used the --cache flags

`
  steps:
    - name: build-and-push
      image: gcr.io/kaniko-project/executor:v0.17.1
      volumeMounts:
        - name: kaniko-cache
          mountPath: /cache
      env:
        - name: "DOCKER_CONFIG"
          value: "/tekton/home/.docker/"
      command:
        - /kaniko/executor
      args:
        - --dockerfile=$(

[2020-03-13 15:59] kevinleturc commented on #846
Hello,

We've got a similar issue with an image extending another one. We used kaniko v0.18.0.
The base image has a `USER ...` at the end of its Dockerfile.

Here below the corresponding Dockerfile:
[code]

The output of `ls -la /opt/nuxeo/server/nxserver/config`:
[code]
So the file is copied with the right permission. But as you can see with `.`, its parent's ownership has changed.

The output of

[2020-03-13 18:24] maxres-fr commented on #846
@kevinleturc I'm not entirely sure here. Using `--single-snapshot` should help resolved in v0.18.0, I've had successful results with v0.16.0. Im not familiar with the kaniko code base and I'm not sure this would be a good issue for me as a first time contrib, unless someone has some pointers on where to get started.

It's great to see the issue reproduced.

I've tried to debug a little of this, bu

[2020-03-13 19:45] tejal29 commented on #1127
@bitsofinfo please provide your dockerfile. I want to see if the base image already has `/run` or is created by kaniko.

/cc @tstromberg
Thanks
Tejal

[2020-03-13 21:13] Sherman-Chata commented on #1123
Yes. Hope the cache base image can support Google bucket, cause we use Kaniko with Google cloud build.

From: Tejal Desai <notifications@github.com>
Reply-To: GoogleContainerTools/kaniko <reply@reply.github.com>
Date: Wednesday, March 11, 2020 at 12:25 PM
To: GoogleContainerTools/kaniko <kaniko@noreply.github.com>
Cc: Sherman Yang <syang@chata.ai>, Mention <mention@noreply.github.com>
Subject: Re:

[2020-03-14 22:28] samos123 commented on #947
Yes, however I will still need to update the Dockerfile to use 1.13 as well. It's still using 1.12 in the dockerfile. Let me create a PR for that.

[2020-03-14 22:38] ljakimczuk commented on #1117
I eventually added a function that tries to expand all meta ARGs against themselves and build ARGs in [Stages](https://github.com/ljakimczuk/kaniko/blob/3bb6c6bb24a293cc91f50969ebbd4929518f020e/pkg/dockerfile/dockerfile.go#L61). Also extended one test case for checking the correct expansion of meta-args, please check the diff from my previous comment. I can open a PR if it fits you. It seems that

[2020-03-14 23:40] samos123 commented on #947
Actually seems the Dockerfiles have already been updated to use 1.13 in master. So this can be closed now.

[2020-03-14 23:40] #947 closed

[2020-03-16 02:17] PhoenixMage opened #1136 "Kaniko Self Build"
Is it possible to self build Kaniko?

When I attempt to the resulting image doesnt work correctly. I believe it ends up with the /kaniko directory missing

[2020-03-16 08:26] yuchunyu97 commented on #312
For help, I used the v0.18.0 version of the executor to build my image, but I used `docker history` to see that the created image display layer was created 292 years ago, does anyone know how this happened?

[2020-03-16 14:14] davidq2q commented on #769
Same problem here

[2020-03-16 14:48] bitsofinfo commented on #1127
Unfortunately I cannot share the dockerfiles as-is as it derives from other private images etc.

[2020-03-16 15:17] bramus commented on #1111
Also having symlink issues with an image containing a PHP app, where its dependency manager _(Composer)_ will create symlinks to provided binaries.

When building using Docker itself, the files are – as expected – symlinked into `vendor/bin/`:

[code]

When building using kaniko, the files in the `vendor/bin/` are no symlinks but actual copies:

[code]

For reference, the Composer dependencies wer

[2020-03-16 16:37] ewah opened #1137 "docker history missing LABELs"
**Actual behavior**
 building a simple Dockerfile
[code]

`/kaniko/executor --dockerfile=./Dockerfile  --destination=mydockerhub/ed/ed-test:200316-a`
[code]

After pulling the image.  It does show up in `docker inspect mydockerhub/ed/ed-test:200316-a`
[code]

but missing in `docker history --no-trunc mydockerhub/ed/ed-test:200316-a`
[code]

**Expected behavior**
[code]

**To Reproduce**
see actual

[2020-03-16 17:48] raijinsetsu opened #1138 "Cached layers duplicated some of the time"
**Actual behavior**
I noticed that my image size jumped from 1.1GB to over 2GB overnight. After reviewing the images, it looks like the new image has two versions of some of the layers. Most notably: there is a layer that is the entirety of the node_modules folder, which is ~900MB,  for this large mono-repository and there appear to be two different versions of that layer in the new image as I can

[2020-03-16 21:00] gsf commented on #780
In my case, running the debug image on kubernetes, I had to overwrite the docker config first:

[code]

[2020-03-17 06:30] tejal29 commented on #1136
that could be correct since /kaniko is whitelisted :)

[2020-03-17 09:37] tingshua-yts opened #1142 "can kaniko cache base image without warmer"
**Actual behavior**
from readme, i known cache base image should use warmer image.

**Expected behavior**
can kaniko save base image when it first build image use the base image?

it perhaps is a feature request, but I don't known where to request

**To Reproduce**
Steps to reproduce the behavior:
1. ...
2. ...

**Additional Information**
 - Dockerfile
   Please provide either the Dockerfile you'r

[2020-03-17 17:11] ichaozai commented on #769
This is fixed in v0.17.0.
But it is reproduced in v0.18.0.

[2020-03-17 22:07] #57 closed

[2020-03-17 22:24] #567 closed

[2020-03-17 22:28] PhoenixMage commented on #1136
You are correct.

Good to know I am not going mad.

[2020-03-17 23:03] #1008 closed

[2020-03-18 00:18] tejal29 commented on #1131
@infinytum can you please not copy the whole `/kaniko` dir and only the files you are interested in.
`/kaniko` is special and we end up saving files which we need for multistage builds in `kaniko/{stg_idx}`

When we copy `/kaniko` into `/kaniko/idx` the copy command recursively keeps copying it which is why you see the above error.

Please explicitly copy the executor or any other config like `/ka

[2020-03-18 00:18] #1131 closed

[2020-03-18 00:36] tejal29 commented on #1129
Thanks @isantospardo Looks like something changed either the base image or the way we build the image right now.

I am going to dig into this deeper and fix it before the next release

[2020-03-18 04:50] tejal29 commented on #1129
@isantospardo I am not able to reproduce your issue with the following dockerfile

[code]
Here is the log.
Can you please double-check again?
I verified the above dockerfile on latest master, "gcr.io/kaniko-project/executor:debug-v0.16.0" and "gcr.io/kaniko-project/executor:debug"

[code]

[2020-03-18 05:05] mattmoor opened #1144 "Pick up latest GGCR"
The latest version of GGCR has a fix to k8schain to support ECR on AWS.

I poked at this a little and my `go mod` fu is not strong enough yet to figure things out.  It seems a number of dependencies (e.g. K8s) are pretty far behind, and should probably be bumped too.

cc @jonjohnsonjr @tejal29

If you have a build of kaniko you'd like me to try out on AWS/EKS with ECR, I'd be happy to take if for

[2020-03-18 05:08] tejal29 commented on #1137
Thanks @ewah for your issue.
I compared what `docker build` does for the similar docker file.

[code]

I do see a difference.
Kaniko produces
[code]

while docker produces the following
[code]

[2020-03-18 05:43] tejal29 commented on #1138
Thanks @raijinsetsu I was able to reproduce this issue like this
For Dockerfile with `gcr.io/kaniko-project/executor:debug`
[code]
I ran the `kaniko/executor` with `--cache`.

I observed the cache layer corresponding to `Run ["echo", "test"]` also had the `layer.tar`

[code]

The cached layer "gcr.io/tejal-test/test-cache-latest/cache:a6a737350f9f5578e3aa5c0fd024252a79a1f9ece9bd7272f9bb057a94ba320

[2020-03-18 05:43] tejal29 commented on #1138
I am going to keep this open with pending verification  after `v.0.19.0` release.

[2020-03-18 05:46] tejal29 commented on #702
This is now fixed. thank you for your patience.

[2020-03-18 05:48] tejal29 commented on #1104
ping!

[2020-03-18 05:50] tejal29 commented on #977
Thanks @antechrestos for confirming!

[2020-03-18 05:50] #977 closed

[2020-03-18 05:51] tejal29 commented on #913
@pustovalov1 Can you please confirm if this issue still exists?

[2020-03-18 06:10] tejal29 commented on #1096
Thank you @vvbogdanov87 for your PR.
Looks like for multistage docker files we create layers for every stage.
In order to fix this, you will have to change this `stageBuilder` code [here](https://github.com/GoogleContainerTools/kaniko/blob/0302e5150ccb04c8503c5545495285936d776e45/pkg/executor/build.go#L416) to return true *iff* its the last command of the last stage.

In order to determine if the

[2020-03-18 06:22] tejal29 commented on #1099
@darewreck54 Kaniko only builds an image. Currently we don't have any plan to support to attest the created image.

[`gcloud`]( https://cloud.google.com/sdk/gcloud/reference/beta/container/binauthz/) provides a way to attest images
You could use Kaniko as a build step in GCB followed by a step to attest the built image via [`gcr.io/cloud-builders/gcloud`](https://github.com/GoogleCloudPlatform/clo

[2020-03-18 06:30] tejal29 commented on #1095
@myaesubi we use google/go-containerregistry to push an image to registry and looks like the error is coming from there.

Given the priorities right now, the team does not have the bandwidth to set up a way to reproduce this issue. If you could help us by providing the steps to set a Jfrog artifactory i will be happy to take a look.

[2020-03-18 07:46] tejal29 commented on #1087
ah got it.  Thanks.

Is the base image `gcr.io/deeplearning-platform-release/tf2-cpu.2-1` expected to contain so many white outs path?

On latest master, i was able to build your docker file in 4 mins.  Can you remove the `-v=debug` flag and see?
[code]

I did a small optimization which reduced the time to 3 mins.

[2020-03-18 07:56] tejal29 commented on #1118
Thanks @rkamradt for your issue.  When we designed kaniko we did not think of it as a pod which could be reusable.
Do you see any performance improvement for your Jenkins job when keeping the pod around and re-using it?

Looking forward to make as re-usable as possible.

[2020-03-18 07:59] tejal29 commented on #1123
@Sherman-Chata You can absolutely use Kaniko with GCB!
Please see here https://cloud.google.com/cloud-build/docs/speeding-up-builds

[2020-03-18 07:59] #1123 closed

[2020-03-18 09:40] bappr commented on #875
Same here.
Trying to improve the build of https://beta.kintohub.com/ by transitioning from DiD to Kalico but DiD is faster, even with caching. Seems that most of the time is indeed spent in `[Taking snapshot of full filesystem] [Unpacking rootfs as cmd COPY]`

[2020-03-18 11:50] donnyv12 commented on #1104
Hi @tejal29 sorry for the delay. I am using the `cache=true` flag and will try it without that.

The docker file is quite large, and is based on a centos image. I'll try clearing the cache and see if that solves it.

[2020-03-18 14:54] bitsofinfo commented on #1127
@tejal29 @dani29 I just verified that the base image this dockerfile is FROM, already has both `/run` and the symlink `/var/run` that points to it. (pre-existing)

ultimately it derives from nginx:1.17.8-alpine

[2020-03-18 17:14] rkamradt commented on #1118
it takes about 30 seconds to spin up a slave pod for kaniko. My workaround, for now, is to create two worker pods, since my pipeline creates an app image and a tester image. You can read more about what I'm trying to accomplish here: https://medium.com/better-programming/playing-with-pipelines-b5cf357ddd06?source=friends_link&sk=fa2e5729c6c8b02641cee94e8b99d340

[2020-03-18 18:41] raijinsetsu commented on #1138
I've switched my builds over to 0.19.0. I'll let you know how it goes.

[2020-03-18 18:49] glen-84 commented on #595
@tejal29 Did you forget about this? 😞

[2020-03-18 20:17] dani29 commented on #1127
Hi @bitsofinfo,

Did you use the flag `--whitelist-var-run=false` in your build command?
I couldn't build the following Dockerfile without explicitly setting it to false, but when I did, the following image was built with the correct permissions on the target file.
[code]

[2020-03-18 22:54] bitsofinfo commented on #1127
Thanks.

I did not use that flag. So you are saying that flag is required to do what I'm trying to do? Why would this not just work by default?

[2020-03-19 08:55] dani29 commented on #1127
I believe that by default (=without setting the flag to false), /var/run will not be part of the file-system snapshot taken after some of the commands. There's some explanation in [fs_util.go](https://github.com/GoogleContainerTools/kaniko/blob/master/pkg/util/fs_util.go#L857), but perhaps @tejal29 could elaborate on why this is required. Intuitively, I agree that setting "whitelist = false" for a

[2020-03-19 09:20] sereinity commented on #1110
For me [v0.19.0](https://github.com/GoogleContainerTools/kaniko/releases/tag/v0.19.0) has fixed the issue.

[2020-03-19 12:03] raijinsetsu commented on #1138
I have confirmed that 0.19.0 has corrected the issue for me. Thanks!

[2020-03-19 14:17] tarvitz commented on #1110
I've updated back to gcr.io/kaniko-project/executor:debug works fine with copying virtual environment directory of python (like in the example above).

[2020-03-19 14:21] bitsofinfo commented on #1137
experiencing the same issue

[2020-03-19 20:11] tejal29 commented on #1111
@bramus Tried your issue on latest v0.19.0 build and it does not work. i will add a fix in next release.

[code]

[2020-03-19 20:12] #1110 closed

[2020-03-19 20:13] #1138 closed

[2020-03-19 20:13] tejal29 commented on #1138
Thanks a lot @raijinsetsu for confirming!

[2020-03-19 20:30] tejal29 commented on #1073
@RubenAtPA Thanks for all the investigation. I will try to reproduce this with symlink to stdout/err and track the progress here. #1147

[2020-03-20 02:27] kelvin-yue-scmp commented on #1059
I still got

with using debug-v0.18.0

[2020-03-20 06:56] giulio1979 commented on #217
Hi guys, I have same situation, on multiple destinations, only last one is reaching repository. We use gcr.io/kaniko-project/executor:debug image.

[2020-03-20 08:33] leolb-aphp commented on #432
Also meeting that issue. Currently trying to figure out the best way to solve this as-is, will report back if I find a good workaround in the mean time to do it.

[2020-03-20 11:53] james-mchugh opened #1148 "Caching Base Layers without Remote Repo"
Hello,

First off, thank you all for for your work on this awesome project.

Now to the question. Is it possible to cache base layers without a local repo? My plan here is to use the warmer to cache a base layer from a private repo, and then use Kaniko to build an image using that layer. The goal here is to prevent the Kaniko executor from attempting to access the private registry when building th

[2020-03-20 12:54] james-mchugh commented on #1148
After reviewing the code, it seems that the issue was caused by the fact that executor expects base images passed to the `FROM` operation to be in the form of digests(`FROM myrepo.net/myapp@sha256:fdafasds...`). Could this be better clarified in the README? I could potentially do that. I know that the README says:
[code]
But it did not indicate that the executor would attempt to reach out to the r

[2020-03-20 15:13] Bean900 opened #1149 "failed to unpack: : waiting for the reexec command failed"
**Actual behavior**
I am currently migrating my Dockerfiles to be build with Kaniko (V16 and V19 have been tried). The following error occurs in two of my Dockerfiles when starting in Cloud Foundry with `cf push`:
[code]

**Expected behavior**
The expected behavior looks like this when building with Docker (`docker build .`) and starting with `cf push`:
[code]

**To Reproduce**
So I wrote a minima

[2020-03-20 18:38] drptbl commented on #1071
@cvgw tried v0.19.0-debug, same error.

[2020-03-21 00:32] tomprince opened #1150 "`--single-snapshot` fails if there is a `MAINTAINER` command in the dockerfile"
**Actual behavior**
If there is a `MAINTAINER` command in a dockerfile, and --single-snapshot is passed, no snapshot of the stage with `MAINTAINER` is taken (and the final image from that stage is identical to the from image)

**Expected behavior**
A snapshot it taken after all the commands run.

**Additional Information**
 - Dockerfile
[code]
 - Kaniko Image (fully qualified with digest): gcr.io/

[2020-03-21 00:50] tomprince opened #1151 "Dangling symlinks cause kaniko to generate layers that cannot be loaded by docker"
**Actual behavior**
Building an image with a dangling symlink causes kaniko to build an image that `docker load` fails to load.

It fails with the error
[code]
Inspecting the layer with `tar tzvP`:
[code]

**Expected behavior**
kaniko should generate an image loadable by docker

**Additional Information**
 - Dockerfile
[code]

 - Kaniko Image: gcr.io/kaniko-project/executor:v0.19.0@sha256:66be3f60

[2020-03-21 11:40] JordanGoasdoue commented on #902
@tejal29 , I want to give this cool feature request a shot :) as no one did before.

[2020-03-23 07:43] SIGSEGV911 opened #1154 "error despite official signed certificate"
**Actual behavior**
On Kaniko debug build, Kaniko states this error despite skip-tls parameter. Without the parameter the build in my GitLab Pipeline ends much earlier.

[code]

But my private registry has a well signed certifcate, signed by DigiCert/Thawte.

**Expected behavior**
Kaniko should push and pull from my registry.

**To Reproduce**
Restarting this jobs....

**Additional Information**

[2020-03-24 00:50] #1144 closed

[2020-03-24 00:55] tejal29 commented on #1129
@isantospardo Can you please verify?

[2020-03-24 01:12] #1073 closed

[2020-03-24 07:32] MichaelSp commented on #759
Anyone has experience with this?

[2020-03-24 10:34] pllopis commented on #1129
Here's a simplified Dockerfile that reproduces this issue. Works with Docker but doesn't with Kaniko:

[code]
Which yields:
[code]

However if you comment out that line that does `RUN rm -rf /something`, it works:
[code]

[2020-03-24 10:42] pllopis commented on #1129
A possible workaround that also makes it work is to change the workdir back to a directory that exists, such as:
[code]

In my Dockerfile I was using this pattern of ADD something.tgz, WORKDIR /something, RUN ./configure && make install, RUN rm -rf /something, the rm -rf being to free up unnecessary data, which works in Docker but triggers this bug in Kaniko.

Thanks for looking into this!

[2020-03-24 12:41] myaesubi commented on #1095
@tejal29 thanks for getting back to me. I've put here two approaches to install the JFrog:

https://www.jfrog.com/confluence/display/JFROG/Installing+Artifactory

or
https://jfrog.com/screencast/artifactory-5-one-minute-setup-docker-registry-as-container-install/

Thanks,
Mohammad

[2020-03-24 17:31] #1122 closed

[2020-03-24 17:37] filesnate commented on #1122
Thank you!

[2020-03-24 20:06] filesnate opened #1156 "Kaniko doesn't recognize file changes to modified files"
**Actual behavior**
When modifying an existing file in an image, kaniko doesn't recognize the file has been changed.

**Expected behavior**
Specifically, we're modifying the file `/kaniko/ssl/certs/ca-certificates.crt`, but it's not being identified as being changed, so the resulting image does not contain the updated file change.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new

[2020-03-24 21:51] dani29 commented on #749
Hi @phantooom, sorry for late response, but we wanted to clarify the issue.
Is your request is to provide a signed Kaniko image, so that you could run enforce its' signature when you run it in your cluster, or to enable signing images built using Kaniko?

If it's the latter, I believe it's out of scope of Kaniko. I'd recommend taking a look at [Kritis,](https://github.com/grafeas/kritis) an open-s

[2020-03-24 21:57] dani29 commented on #1127
@bitsofinfo After a further research, I wanted to provide a small clarification: the flag `--whitelist-var-run=false` is required **only** if you'd like to unpack the /var/run directory from the base image. In your case, since you did not use this flag, this directory would not be unpacked from the base. However, it might have been re-created in later stages if you run other commands like `apt-get

[2020-03-24 22:35] mhio commented on #759
Moby also provide a [`download-frozen-image-v2.sh`](https://github.com/moby/moby/blob/c7ad2b866182325b49bc7addb7042e16afbb60b6/contrib/download-frozen-image-v2.sh) script if you don't have docker available.

[2020-03-25 11:00] igorfraa opened #1157 "Kaniko uses HTTP port 80 when "--insecure" is not set"
**Actual behavior**
We have a private registry (Artifactory), which is available only via https on port 443. Connections on port 80 are silently dropped.
After Kaniko pod got started, it tries to retrieve image from **http://**myregistry/docker-remote-cache/centos:7 and fails with **Error while retrieving image from cache: <...> Get http://myregistry/v2 dial tcp timeout on 1.2.3.4:80**

We do not

[2020-03-25 11:05] christianbeland opened #1158 "Pip cannot install package in docker image when cache is activated."
Pip cannot install package in docker image when kaniko cache is activated.

**Actual behavior**
I want to build following image:
`
ARG docker_registry
FROM ${docker_registry}tensorflow/tensorflow:1.13.2-gpu-py3

USER root
RUN mkdir -p ~/.pip
ADD deployment/pip.conf ~/.pip/pip.conf

RUN pip3 install --upgrade pip

ADD requirements.txt requirements.txt
RUN echo "pip3 install requirements.txt"
RUN pi

[2020-03-25 11:25] igorfraa commented on #1157
After manually setting port 443 (i.e. FROM myregistry:443/docker-remote-cache/centos:7) I can see HTTP 400 response due plain HTTP request was sent to HTTPS port.

According to Docker docs (https://docs.docker.com/engine/reference/commandline/pull/) HTTPS should be used unless --insecure-registry option is set.

[2020-03-25 17:03] filesnate commented on #1156
I suspect this is related to having /kaniko whitelisted, which I don't believe is configurable.

[ ie; it would be nice to be able to un-whitelist certain files such as the certificates, vs. having to have one-off solutions like done in #1011 ]

[2020-03-25 17:10] #997 closed

[2020-03-25 17:20] tejal29 commented on #1154
@schumac2 Thank you reporting this issue. `--skip-tls-verify` is used only when pushing images.
To skip tls verification for pulling images, please use `--skip-tls-verify-pull`. Can you please try?

[2020-03-25 17:23] tejal29 commented on #1156
@filesnate can you please create the file in another directory? We can't remove the whitelist `kaniko` dir because it stores all the files needed across multiple stages for mutlistage builds in `/kaniko/$idx`

[2020-03-25 17:38] filesnate commented on #1156
I can, but I can't see a way to update the certificates to add a self-signed certificate.  Can you think of a way to update the list of certificates to kaniko to allow downloads from a registry that has a self-signed certificate?

[2020-03-25 19:20] filesnate commented on #1156
Never-mind, I believe I can use the feature from #1037 to solve my issue.  This can be closed.

[2020-03-25 19:20] #1156 closed

[2020-03-25 21:34] swist commented on #1059
Still having this issue on multi tenanted cluster running a mix of 0.17.1 and 0.19.0

[2020-03-25 21:35] swist commented on #1158
Hitting the same issue intermittently on most versions from 0.17.1 to 0.19.0

[2020-03-26 07:19] schumac2 commented on #1154
Tried this already:
[code]

[2020-03-26 09:52] marcaurele opened #1159 "Changelog release v0.19.0 content error"
**Actual behavior**
The release content for the version 0.19 contains command to pull the version 0.18.

**Expected behavior**

    gcr.io/kaniko-project/executor:v0.19.0 and
    gcr.io/kaniko-project/executor:latest

    gcr.io/kaniko-project/executor:debug-v0.19.0 and
    gcr.io/kaniko-project/executor:debug

 **Triage Notes for the Maintainers**

 | **Description** | **Yes/No** |
 |------------

[2020-03-26 12:08] yuchunyu97 commented on #1039
[code]

This issue also occurred in version `v0.18.0`, I don't know what happened?

[2020-03-26 22:31] SamerAdra opened #1161 "Pull fails with "error processing tar file(exit status 1): link /dev /dev/shm: operation not permitted""
**Actual behavior**
docker pull fails. After it downloads the layer, it fails with the following error:
Failed to register layer: Error processing tar file(exit status 1): link /dev /dev/shm: operation not permitted

**Expected behavior**
docker pull should succeed.

**To Reproduce**
Unclear scenario causes it, but the layer that is failing to register does the following: "RUN ADD microsoft.gpg /t

[2020-03-27 12:09] hochreitercorpuls commented on #1158
we are also experiencing this issue resulting in exactly the same behaviour in our pipelines.

[2020-03-27 16:56] swist opened #1162 "Repeated builds using cache produce broken images"
**Actual behavior**
Hey we’re having some problems with kaniko 0.19 and python. We have a dockerfile that looks vaguely like this:
[code]
For reasons independent of us, we can’t actually re-organize the sourcecode to remove the `RUN rm` lines.
What we’re seeing is that if our cache ECR repo is empty, then the image is fine.
We then build an image using the cache, but change one of later layers (fo

[2020-03-27 17:31] gilbsgilbs opened #1163 "Ownership of a directory is set to root when changing only a file in that directory"
**Actual behavior**

Let's take the following tree:

[code]

If I run the following commands:

[code]

`foo` directory becomes owned by root in the forthcoming layers:

[code]

This is inconsistent with Docker's behavior.

**Expected behavior**

I would expect the directory ownership to remain untouched in order to reflect the behavior from the Docker daemon.

**To Reproduce**

Steps to reproduce

[2020-03-27 17:56] gilbsgilbs commented on #1162
I can confirm that this issue also happens randomly for me when caching is enabled. It happens in non-python project as well and the only workaround I found so far is to remove every cached images. The error message is different on OSX and on Linux:

- Linux: `ApplyLayer duplicates of file paths not supported stdout: {"layerSize":283880101}`
- OSX (described by OP): `ERROR: failed to register laye

[2020-03-27 18:12] tejal29 commented on #749
Closed as won't fix since GCP already supports this

[2020-03-27 18:12] #749 closed

[2020-03-27 18:20] tejal29 commented on #830
This issue was fixed in Pr #1147

[2020-03-27 20:00] tejal29 commented on #1159
Thanks @marcaurele !
Fixed!

[2020-03-27 20:00] #1159 closed

[2020-03-27 20:04] tejal29 commented on #1162
Thanks @gilbsgilbs I will take a look into this.

[2020-03-28 07:57] hochreitercorpuls commented on #1162
seems related/equal to #1158 -
we are also experiencing this issue and we are building our containers like this:

[code]

our kaniko is invoked like this in our .gitlab-ci.yml (basically like it is recommended by gitlab)
[code]

- We use the warmer to prepopulate the cache with the base image. Which works fine.
- We used it to prepopulate the cache with an earlier version of the to be built image

[2020-03-28 11:02] swist commented on #1162
We're also seeing that corrupted images have an increased layer size.

Have you managed to work out which docker command the additional layer corresponds to? We have suspected that it has to do with layers that don't change the image size (```run rm``` or ```run mv``` ) but haven't managed to isolate the issue yet.

[2020-03-28 20:15] malmuzaini commented on #552
@fhemberger try to remove `out` from `.dockerignore` it worked for me :)

[2020-03-29 05:07] tstromberg commented on #1163
Thank you for the very detailed reproduction case! I should be able to get to solving it this week.

[2020-03-29 05:11] tstromberg commented on #1097
The TL;DR for this problem is that when running commands, we neglected to set the secondary groups field in `syscall.Credential`. The complication is that kaniko builds without cgo, so looking up secondary groups is not possible with the built-in `user.User.GroupIds()` function.

Sent in an initial PR for review, though I expect it will take some days to land as this is my first Kaniko PR.

[2020-03-29 05:17] tstromberg commented on #1058
Can this be closed?

[2020-03-29 05:19] tstromberg commented on #1104
@donnyv12 - if you get a chance to provide a Dockerfile, I can probably help get to the bottom of this one.

My gut instinct: the programmed called via "RUN" requires libc, which Kaniko lacks. Second best guess is a PATH or architecture difference.

[2020-03-29 05:22] tstromberg commented on #656
I've run into this as well with local Docker, but have not been able to reproduce it since.

I concur with the others in that the root cause is likely due to commands making not being able to handle system calls with 64-bit values.

[2020-03-29 05:26] tstromberg commented on #656
My attempts to reproduce the issue have so far failed, but I definitely ran into this with my first time using Kaniko and Docker. Tried creating a 167GB file:

`# dd if=/dev/zero bs=4096 seek=40960000 count=1 of=test`

But `ls` was able to process it properly. Maybe I got unlucky with inode counts before?

[2020-03-29 09:08] gilbsgilbs commented on #1163
From the information I have gathered while creating the repro, the problem seems to be that kaniko is not setting any tar header for directories. It looks like Docker needs them to not mess up ownership.

Here is what the `RUN touch foo/bar` layer look like when built using Docker:

[code]

And when built using Kaniko:

[code]

Based on this repo, I've been able to make an integration test that fa

[2020-03-29 14:26] zhangtbj commented on #601
Hi @steerben ,

I also have this problem when I run the `kaniko` with rule `MustRunAsNonRoot`

I saw you close this issue. Do you have solution or workaround to solve this issue?

Thanks!

[2020-03-29 16:19] gilbsgilbs commented on #1163
@tstromberg That was it. Just submitted #1166 .

[2020-03-30 05:42] cx1111 commented on #1162
Also running into the error:

[code]

Building with image: `gcr.io/kaniko-project/executor:debug-v0.18.0`

Command:
[code]

Dockerfile:
[code]

[2020-03-30 14:21] golpa commented on #1058
Using the latest kaniko image this problem seems fixed for me. Thanks guys.

[2020-03-30 14:58] malmuzaini commented on #595
The issue is still exist in version 0.19.0!!

[2020-03-30 16:02] flyte opened #1169 "Override remote cache location/name to avoid invalid image name errors and share cache"
**Actual behavior**
My image registry (GitLab) supports having a slash in the image name but I already use it as part of my image organisation:

[code]

Kaniko tries to add another slash:
[code]
which makes the push to the registry fail because adding a second slash is unsupported.

**Expected behavior**
Since the images I'm building are essentially the same, but on different branches with minor d

[2020-03-30 19:18] flyte commented on #1169
I don't know how I missed it, but this is exactly what the `--cache-repo` option does. I swear I read it multiple times without realising :laughing: :man_facepalming:

For future reference I've set the following command on GitLab CI:

[code]

[2020-03-30 19:18] #1169 closed

[2020-03-31 00:36] tomprince opened #1170 "kaniko should not try to process subsitutions in `RUN` commands when generating cache keys"
**Actual behavior**
kaniko fails to build an image containing
`RUN echo ${s%s}`
because it fails to generate a cache key for the command.

**Expected behavior**
kaniko successfully builds an image with the above command.

**Additional Information**
 - Dockerfile
[code]
 - Kaniko Image: gcr.io/kaniko-project/executor:v0.19.0@sha256:66be3f60f22b571faa82e0aaeb94731217ba0c58ac4a3b062bc84c6d8d545213

[2020-03-31 08:55] zhangtbj opened #1171 "Report permission issues when kaniko build without FOWNER and DAC_OVERRIDE permission,"
Hi all,

Now I am trying to use kaniko to build container images on a shared kube cluster which enables several security policies.

**1, I found if I don't have the allow capability `DAC_OVERRIDE` in the PSP, the kaniko reports:**
[code]

**1, I found if I don't have the allow capability `FOWNER` in the PSP, the kaniko reports:**
[code]

Can I workaround these two problems without the `DAC_OVERRID

[2020-03-31 09:54] ajcollett opened #1172 "When `--cache true` and `--registry-mirror ...` kaniko cannot find manifest"
**Actual behavior**
When running the docker kaniko debug image with `--cache true` and `--registry-mirror ...`
 kaniko throws error about not being able to find the manifest of the base image.

This works if `library/` is added to the base image name in the `FROM` line, in the Dockerfile. This shouldn't be required?

Error output:
[code]

**Expected behavior**
Docker image should be built assuming

[2020-03-31 16:35] olivierboudet commented on #1129
Hello, I have the same issue with kaniko 0.19.0
Other simple Dockerfile to reproduce :
[code]

[code]

[2020-03-31 18:51] tejal29 commented on #1129
Thanks. Understood.

[2020-03-31 18:53] tejal29 commented on #1169
@flyte  have you looked at the flag [`--cache-repo`](https://github.com/GoogleContainerTools/kaniko#--cache-repo)

[2020-03-31 18:53] tejal29 commented on #1169
Great! Thanks!

[2020-03-31 22:51] tmaier opened #1173 "Memory issue with v0.19.0"
**Actual behavior**

I am using kaniko within GitLab CI.
I am using `gcr.io/kaniko-project/executor:debug`, which is v0.19.0 at the time of writing.

Recently, I started to get a "out of memory" error on each build.
Even on builds of commits, which used to work.

**Expected behavior**

The build should not fail.

I downgraded kaniko to `gcr.io/kaniko-project/executor:debug-v0.18.0` and the builds

[2020-04-01 11:46] discordianfish commented on #598
One data point: All this works for us *in general*, but we get the same error occasionally.
I've opened a ticket with AWS support to shed some light on this from their side. I could imaging the credentials expiring or something.

[2020-04-01 15:17] haampie commented on #1013
I'm experiencing the same issue

[2020-04-01 16:08] swist commented on #1162
Is there anything else we can provide to help with this?

[2020-04-01 21:07] haampie commented on #875
Experiencing the same issue. In fact I don't see any difference in runtimes when using `--cache=true`... it definitely pulls cached layers, but it does not speed up the builds at all.

[2020-04-02 04:32] osman commented on #749
@dani29 @tejal29 I have the same request. It's actually in two parts and I use AWS so the original answer cannot be adapted for my case since it is very GCP specific.

The first part is to be able to pull only signed images and validate it against a notary server when content trust is enabled and the second part is to sign a built image using a notary server before pushing.

[2020-04-02 05:55] tejal29 commented on #1162
@swist Sorry with the current situation I have been able to get to this sooner.
I spent a lot of time trying to duplicate this bug at my end with the docker file you provided.
I did the following actions
1. Build a kaniko image using `--cache=true` and push to GCR registry
2.  I modified  the `environment.yml` to add a simple dependency.
[code]
3.  Re-building the image.  I verified the size of th

[2020-04-02 06:43] tejal29 commented on #1158
@christianbeland i am able to reproduce this error at my end.  Looking into it now,.

[2020-04-02 07:41] swist commented on #1162
We're pretty sure that adding a dependency is going to invalidate the broken layer - it is going force a reinstall. What we have found has sometimes fails is when you add an extra empty file in the context so that it gets copied in just before the last layer

I'll try to get you a minimal reproducible example, unfortunately the only thing I have currently is my org's code

[2020-04-02 09:41] swist commented on #1162
According to community slack, something like this should do:
[code]

[2020-04-02 11:40] sfynx commented on #1111
I got this minimal Dockerfile to fail on v0.18.0 and v0.19.0 when building with target `two` using `--target two` (building target `one` works fine though, so it seems the other target is somehow interfering). v0.17.1 is working fine so I suspect it must be related to this issue. Hope is is of any help for testing. The Dockerfile:

[code]

Resulting log from `base` stage:

[code]

[2020-04-02 17:58] tejal29 commented on #1158
@christianbeland , i tried your dockerfile on latest master.
Looks like this is fixed now.
Can you please try,
[code]

[2020-04-02 19:05] christianbeland commented on #1158
@tejal29 I just tried and still have the issue.

You may have to try the build twice. I noticed the first build often work.

[2020-04-02 19:12] tejal29 commented on #1158
okay let me do that.  Thanks for confirming so fast

[2020-04-02 19:21] claudioweiler commented on #699
This behaviour still exists.

Could it occurs only when cache flag is used?

Could it occurs only when reproducible flag is used?

[2020-04-03 16:04] gawi commented on #687
[code]

And the repositories can then be:

- asia.gcr.io/project1/xyz
- eu.gcr.io/project2/xyz
- gcr.io/project3/xyz
- us.gcr.io/project4/xyz

Each of them can have a different account key. Obviously, this is a hack, it doesn't scale and you are at the mercy of the CNAME entries on the Google side. This is a last resort solution.

[2020-04-03 16:56] dani29 commented on #749
Hi @osman! We'll be happy to look into implementing it, but firstly we need to better understand the requirement and see if it's within the scope of Kaniko, or actually should be performed by another tool.

Could you please share how this workflow is currently working for you with Docker, i.e what commands are you running?
Is your feature request is basically integrating with [Notary](https://gith

[2020-04-03 20:48] jeunii commented on #626
I have a GKE cluster running version `1.14.10-gke.27`

My kaniko  container runs as a sidecar container to jnlp (I have a jenkins job building images)
[code]

But the kaniko pod fails to run and gives the error
[code]

The pod uses the `gce.privileged` PSP
[code]

And it allows pretty much everything in my cluster
[code]

Any idea why it would give me a permission issue ?

[2020-04-04 00:12] mothershipper opened #1176 "/tmp permissions broken in some subset of multi-stage builds"
**Actual behavior**
I have a multi-stage build using nodejs/yarn. When I install and run yarn in the second stage, the resulting `/tmp` folder under a `docker run` has the following permissions

[code]
Even stranger is that these permissions seem correct at every point in the build, here's the last step before `CMD`:

[code]

Just the resulting image has the permission flags wrong for `/tmp`

**Ex

[2020-04-04 14:28] oleksdovz commented on #918
Have same error with latest Kaniko images. Checked via k8s and local docker. Docker registry has cert and I'm able to push new image from docker but with Kaniko it doesn't work

{
	"auths": {
		"test.docker.test": {
			"auth": "XXXXXXXX"
		}
	}
}

Run docker:

End error message at end:

Successfully installed MarkupSafe-1.1.1 click-7.1.1 elasticsearch-7.6.0 fastapi-0.53.2 h11-0.9.0 httptools-0.1.1

[2020-04-04 16:32] oleksdovz commented on #918
Sorry the problem was in docker-compose file for registry, in ENV params.

services:
  registry:
    restart: always
    image: registry:latest
    container_name: registry
    ports:
      - "5000:5000"
    environment:
      REGISTRY_AUTH: htpasswd
      REGISTRY_AUTH_HTPASSWD_REALM: Registry Realm
      REGISTRY_AUTH_HTPASSWD_PATH: /auth/registry.password
      REGISTRY_STORAGE_DELETE_ENABLED:

[2020-04-04 18:38] mothershipper commented on #1176
Just realized the linked repository was private, I've fixed that

[2020-04-04 20:57] samm-git opened #1177 "Unable to send image to the quay 3.2"
**Actual behavior**

Unable to push build to the latest Quay OSS version which supports OCI manifest.
[code]
**Expected behavior**
Push to the quay repo

**To Reproduce**
Steps to reproduce the behavior:
1. Setup latest quay OSS
2. Try to push to it

P.S. should also be the case for the quay.io

**Additional Information**
 - Dockerfile
[code]

 **Triage Notes for the Maintainers**

 | **Descriptio

[2020-04-04 20:59] samm-git commented on #1177
JFYI - code which returns this error: https://github.com/quay/quay/blob/master/endpoints/v2/blob.py#L134

[2020-04-04 21:12] samm-git commented on #1177
Found URL which returns this error:

[code]

It seems to be a mistake, as digest format always require repository name added, see https://github.com/docker/distribution/blob/master/docs/spec/api.md#digest-parameter

[2020-04-05 02:20] gazal-k opened #1178 "can't create symbolic links in Dockerfile"
**Actual behavior**
Creating symbolic link with `RUN` instruction seems broken when using `kaniko` with an error like
[code]

**Expected behavior**
Just like with `docker`, creating symbolic links should work.

**To Reproduce**
Steps to reproduce the behavior:
1. Create Dockerfile similar to

[code]
2. Build image using kaniko

[code]

**Additional Information**
 - Dockerfile
   Provided in steps

[2020-04-05 02:24] gazal-k commented on #1178
docker is able to build the same Dockerfile.

The reason we have such symbolic links is that we'd like to mount `ConfigMap` or `Secret` and we can't mount it directly to the folder where some of those files are required; the folder are not empty.

Also, the workaround we are using right now is to create the symlinks before the kaniko step in dist directory. `COPY` of the dist directory does preser

[2020-04-05 06:51] gazal-k commented on #1178
I realised that this issue was not to do with symbolic links at all, but possibly an issue in the `COPY --chown` insturction. I had simplified the sample Dockerfile a bit. I'll create another issue detailing the actual problem

[2020-04-05 06:51] #1178 closed

[2020-04-05 07:33] gazal-k commented on #1163
I noticed the same issue. Thank you for the detailed bug report and the PR @gilbsgilbs

[2020-04-06 04:05] mmmdreg opened #1179 "Error checking push permissions 0.17.0 onwards"
We use a private artifactory registry which works completely fine for all tags from 0.10.0 to 0.16.0, using gitlab with a command like:

[code]

From v0.17.0 to v0.19.0, this yields “error checking push permissions...unsupported status code 401”

I do not see anything in the change log that seems relevant to this but did see the note under 0.18.0 that v0.17.0 introduced many regressions.

[2020-04-06 04:07] Jeiwan commented on #1176
We're also having this bug but we're using a single-stage build. We're getting it in our production image in 100% of cases, thus it's not flaky. But it's hard to say what causes it exactly. We're using several dependency managers in the image (yarn being one of them) and the bug happens only when all of them are used.
I couldn't make a minimal Dockerfile that reproduces the bug because all steps f

[2020-04-06 09:39] f0o commented on #301
Please re-open, We're hitting this issue as well.

`error building image: error building stage: failed to get filesystem from image: read tcp 10.244.2.157:58634->104.18.124.25:443: read: connection reset by peer`

filling up out CI pipelines... I can curl production.cloudflare.docker.com fine from the same box so something must be different between curl and kaniko doing the requests...

[2020-04-06 14:12] tehleet opened #1180 "Azure ACR support"
Any plans to support Azure ACR? Last closed issue was without any reply.

Having this doesn't work
[code]

[2020-04-06 16:08] jeunii opened #1181 "Kaniko fails with containerd runtime in GKE"
**Actual behavior**
Running a kaniko build in a GKE cluster with `containerd` runtime results in the error
[code]

This happens with the nodes have the following runtime
[code]

**Expected behavior**
The build should start successfully. This does happen when the runtime is `docker`
[code]

**To Reproduce**
Launch a build job on a node that uses `containerd` runtime instead of `docker`.
Use the `gc

[2020-04-06 17:51] jeffbehl commented on #1162
I'm having this issue with a non-multistage build for a python application with `--cache=true` set and no other cache variables present.  The resulting image cannot be pulled:
[code]
It's uncleared what triggered the issue, though clearing the cache 'fixes' it.  if additional information helps please ask and I can try and provide.

[2020-04-06 18:27] gilbsgilbs commented on #1176
I think this might be related to #1163 . You can try against #1166 to see if it fixes your issue.

[2020-04-06 21:53] tmaier commented on #1180
How does the `config.json` look like?

For example, this is how one generates the config.json for GitLab CI:
[code]

Btw. "the last issue" (please reference it), "doesn't work" what is the error message you get?

[2020-04-07 06:18] CAFxX opened #1182 "`runtime: checkdead: find g in status 1` / `fatal error: checkdead: runnable g` during cloudbuild"
**Actual behavior**

cloudbuild fails with a golang runtime error during kaniko build

<details>
<summary>Excerpt from build output</summary>

Note: sometimes g is 181, sometimes 180

[code]

</details>

**Expected behavior**

cloudbuild completes

**To Reproduce**
Steps to reproduce the behavior:
1. ...
2. ...

**Additional Information**
 - Dockerfile
   Please provide either the Dockerfile you'r

[2020-04-07 06:46] ffais commented on #753
i have the same problem, but the workaround doesn't work for me.

Kubernetes version: 1.16.7
istio version: 1.5.0

[2020-04-07 07:51] tehleet commented on #1180
Well, it seems that Azure ACR auth doesn't work with kubernetes docker-registry type secret.. Had to do manualy json and convert it to base64.

Here is an example of working Kaniko pod, which utilizes source code in Bitbucket using ssh authentication and push image to Azure ACR. I hope it will save some time for someone.. :)

[code]

and this is my config.json
[code]
Convert it to base64 and creat

[2020-04-07 07:51] #1180 closed

[2020-04-07 11:22] Misteur-Z commented on #1162
Only solution to still use cache layers in a Docker registry is to rollback from any version between 0.17.0 and 0.19.0 to 0.16.0, this is a strong regression and should be p0.

[2020-04-07 16:21] Misteur-Z commented on #1162
I am trying to find a way to reproduce this error for all affected version, I can't for now. Especially for 0.19.0

[2020-04-07 21:46] tejal29 commented on #1057
@raijinsetsu Thank you for your patience.

Regarding your question,

Yes `--snapshotMode-=full` which is the default mode for snapshotting uses both the modified time and hash of the file contents like you suspected to see if a file has changed. the code is [here](https://github.com/GoogleContainerTools/kaniko/blob/master/pkg/util/util.go#L36)

The `--snapshotMode` is *only* used to determine if t

[2020-04-07 23:06] saidrebhi opened #1183 "Build an image from kaniko using kaniko fails"
I am trying to build an image using kaniko from this Dockerfile:
[code]

But it fails and I see the error below:
`
error building image: error building stage: failed to get filesystem from image: removing whiteout kaniko/.docker/.wh..wh..opq: unlinkat /kaniko/.docker/.wh..opq: read-only file system
2020/04/07 21:41:10 deleting temp file "/kaniko/repo" : err = <nil>`

Any thoughts on how to solve t

[2020-04-08 06:54] dove-young commented on #623
I also hit into this problem.  It fails even when I run Kaniko in a dockre container

[code]

[2020-04-08 08:46] swist commented on #1162
Still happens for us. Take any multistage build. Add/remove line that sets `ENV=$BUILDARG`

[2020-04-08 13:13] danielfbm commented on #1179
+1 experiencing similar issue using artifactory-jcr https://github.com/jfrog/charts/tree/master/stable/artifactory-jcr

[2020-04-08 17:07] raijinsetsu commented on #1057
Thanks Tejal!

[2020-04-08 17:07] #1057 closed

[2020-04-08 19:55] rhs commented on #1162
We're seeing this problem also. It seems to happen whenever we build this Dockerfile:

[code]

[2020-04-08 21:47] ngauje opened #1185 "Permission on dir not set (chmod not effective)"
**Actual behavior**
In a Dockerfile with `RUN chmod -R 775 /var`, the permission is not set on the directory. Even worse, if the /var was already set to 775, kaniko unset the perm! Without `chmod` the perms are OK

No multistage or volumes used, very simple Dockerfiles used (see below).

Bad perms with kaniko :
[code]

Correct perms with docker:
[code]

**Expected behavior**
A /var directory with

[2020-04-09 03:27] ewah opened #1186 "COPY is bombing on dangling symlinks"
**Actual behavior**

building a simple dockerfile
[code]

make the `a` directory and dangling symlink
[code]
call build
[code]

errors trying to resolve symlink instead of creating dangling symlink.

**Expected behavior**
`/a/dangling_link` be be a symlink to `/a/abc`

**To Reproduce**
see actual

**Additional Information**
 - Dockerfile
above
 - Build Context
empty except for `ln -s` being called

[2020-04-09 03:54] ewah commented on #1186
i am a dupe #1111

[2020-04-09 03:54] #1186 closed

[2020-04-09 08:50] Mokto commented on #1059
Can we reopen? We still have this issue on 0.19.0.

Thanks!

[2020-04-09 11:42] christianbeland commented on #1158
You should probably remove the 'fixed-needs-verfication' tag.

[2020-04-09 14:56] vguaglione commented on #1151
We have also experienced this problem.  It may have been introduced somewhere between 0.17.1 and 0.19.0.  We have tested our containers with v0.17.1 and are not seeing this problem.  We have not tested any other intermediate versions of the container.

Note - same problem whether caching is turned on or off.

When might this fix be available?

[2020-04-09 17:30] clhodapp commented on #552
I believe that this should be a P1, as it definitely meets the criteria, "Basic need feature compatibility with docker build. we should be working on this next." (this is a pretty serious compatibility problem with `docker build` for those that it affects).

[2020-04-10 08:53] wswfc opened #1187 "executor quit without any hint when doing "RUN apt-get install -y runit""
A simple Dockerfile like bellow can trigger the issue:
[code]

For example using the following command:

[code]

The container will just quit at
[code]
No other logs even if with `--verbosity debug`

What is weird is if I use the debug image and sh into the kaniko container, and launch the executor manually, the executor finished without any error. The last lines are:

[code]

[2020-04-10 08:59] #1187 closed

[2020-04-10 09:00] wswfc opened #1188 "executor quit without any hint when doing "RUN apt-get install -y runit""
**Actual behavior**
executor quit without any hint when doing "RUN apt-get install -y runit"

**Expected behavior**
executor should finish the build without error

**To Reproduce**
Steps to reproduce the behavior:
1. Use a Dockerfile with the following content:
[code]

2. Use docker to run the container:
[code]

3. The kaniko executor container will quit at:
[code]

**Additional Information**
 - D

[2020-04-10 23:50] hrgui commented on #970
I seem to have a similar problem with some private builds. I am a JavaScript dev, so I have `yarn` and `node` environments.

Using kaniko debug-v0.19.0,
I get stuck in the following:
[code]

The process seems to be stuck and it doesn't use any CPU (CPU dropped from 1 to 0.06).

[2020-04-12 13:44] jeusdi opened #1191 "push to an internal registry: no such host"
I've deployed a registry service into a namespace `registry`:

    $ kubectl get service
    NAME                       TYPE        CLUSTER-IP     EXTERNAL-IP   PORT(S)    AGE
    registry-docker-registry   ClusterIP   10.43.119.11   <none>        5000/TCP   18h

I'm trying to get access to this service from akaniko pod running on an another namespace using `registry-docker-registry.registry.svc.c

[2020-04-13 07:15] CAFxX commented on #1182
We downgraded from latest (0.19.0) to 0.18.0 and the error disappears, so this is most likely a regression.

[2020-04-14 02:21] hougangliu opened #1195 "warmer cannot cache private registry"
**Actual behavior**
A clear and concise description of what the bug is.
when I run `warmer --cache-dir ./cache -i my-private-registry.com/atelier/notebook-base:0402`, it fails with message `Failed warming cache: Failed to retrieve image: my-private-registry.com/atelier/notebook-base:0402: Get "https://my-private-registry.com/v2/": x509: certificate signed by unknown authority
`
I hope that there i

[2020-04-14 15:05] gmmephisto commented on #1045
Facing the same issue with build image using`v0.19.0:debug` executor, but inside running container:
[code]

Workaround - run `ldconfig`

[2020-04-14 16:20] GreeFine commented on #1163
I also got a related issue but somewhat different

[code]
without chmod
[code]

with chmod
[code]
Hope it can help resolving this issue, because it's not very practical for many of my projects where I do not the root user

[2020-04-14 18:19] tejal29 commented on #1162
yes. i was able to reproduce this when i ran the above dockerfile 3rd time.

[2020-04-14 19:10] gmmephisto commented on #1045
And another fail on pulling image:
[code]
Was successfully build with existing cache. I'll try to figure out how to stable reproduce this error.

[2020-04-14 19:38] mschickervxob commented on #1073
We encounter the same problem with using php:7.4.4-fpm-buster as base image **and doing anything that triggers unpacking rootfs**. Here for example apt-get update

[code]

Dockerfile:
[code]

Environment:
Running on k8s runner from gitlab - tested different kaniko versions including latest with and without debug.

Works from local developer machine with
`docker run --rm -v $(pwd):/build gcr.io/kan

[2020-04-14 21:18] #747 closed

[2020-04-14 22:24] tomprince commented on #1185
This looks like a duplicate of  #1163 (fix in  #1166).

[2020-04-14 22:39] tomprince commented on #846
I think this is a duplicate of #1163 (fixed in #1166).

[2020-04-14 22:42] tomprince commented on #1183
This is a duplicate of #1136.

[2020-04-14 22:42] tomprince commented on #407
This is a duplicate of #1136.

[2020-04-14 23:20] tomprince commented on #1096
I cannot reproduce this. `--singleSnapshot` will generate a single layer for the stage that is snapshotted. However, any layers in the existing image are preserved, so if the base image has multiple layers, so will the resultant image.

[2020-04-14 23:31] tomprince commented on #1096
It would probably be reasonable to add an option to squash the final image, though.

[2020-04-15 09:05] caalberts commented on #1162
We are also hitting this problem

[code]

image: `gcr.io/kaniko-project/executor:debug`

command:
`/kaniko/executor --context=${context} --dockerfile=${Dockerfile} --destination=${image} --cache=true --cache-repo=${IMAGE_CACHE}`

More detail in https://gitlab.com/gitlab-org/gitlab/-/merge_requests/28988

[2020-04-15 18:29] #533 closed

[2020-04-15 19:11] wstrange opened #1198 "USER command does not accept a numeric uid?"
The issue is seen with a failing kaniko build (v1.19.0)

The Dockerfile has a
[code]
Which causes `.wh` files owned by root to be left on the file system. This causes our build to fail with permission issues.

Changing the dockerfile to use the username instead of the uid fixes the issue:
[code]

My go is not strong, but I wonder if this:
https://github.com/GoogleContainerTools/kaniko/blob/2609944

[2020-04-15 19:13] evgkrsk commented on #1045
Same issue with debug-v0.19.0

[2020-04-15 19:18] wstrange commented on #1198
Should it be  `err.(*user.UnknownUserError)` ? (again - my go is non existant..)

[2020-04-15 19:50] wstrange commented on #1198
My build failed again with additional `.wh` files, so I'm not sure if this related to previous bad builds in the docker cache...

[2020-04-15 19:59] #1198 closed

[2020-04-15 22:49] VaibhavPage commented on #1099
@tejal29 would Kaniko maintainers be open for a PR for attestation with store like Grafeas?

[2020-04-16 07:15] mg-christian-axelsson commented on #656
Just to add another data point I run into the issue on a shell session in `gcr.io/kaniko-project/executor:debug-v0.19.0` running inside a Kubernetes cluster ontop of Ubuntu 18.04 LTS:
[code]
Pod is created by the following spec:
[code]

[2020-04-16 11:15] Gwulior commented on #1073
Same for me.
Using GitLab shared Kubernetes runner and Kaniko: "gcr.io/kaniko-project/executor:debug-v0.19.0"

Dockerfile:

[code]

Getting:

[code]

[2020-04-16 14:22] eonicle commented on #595
Just hit that issue for a first time - pretty frustrating. If real fix is delayed, this should at least be mentioned somewhere in docs.

[2020-04-16 15:28] Gwulior opened #1200 "Failed to get filesystem from image: chown /etc/gshadow: operation not permitted"
**Actual behavior**
I use Kaniko: "gcr.io/kaniko-project/executor:debug-v0.19.0"
and GitLab Kubernetes Runner to build my Docker image and send it to AWS ECR.
During executing of such Dockerfile:

[code]
I get such log with error:
[code]

**Expected behavior**
Previously I ran such build using GitLab Docker runner and it worked. Also after this problem I started my own GitLab docker runner and got

[2020-04-17 12:53] pselden commented on #1081
We also have this same issue -- any improvements on this front?

[2020-04-17 13:09] pselden commented on #1081
Also, how can I help with this? I can run slowjam but I'm not quite clear if you want me to run that locally or on jenkins. Is there a slowjam image built already that I could try?

[2020-04-17 15:13] rodger0001 opened #1201 "Freeze on stage "Unpacking rootfs as cmd RUN mkdir -p""
I am using Kaniko for about a year. The experience was perfect until yesterday. I use the Gitlab-runner kubernetes executor and, unfortunately, during the docker image buildtime (with help of Kaniko) the whole process freezes up.

**Build log:**
 $ echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
 $ /kan

[2020-04-17 21:30] tejal29 commented on #1099
Hey @VaibhavPage Not sure if we have the bandwidth to get this feature in.

[2020-04-18 00:57] caiofbpa commented on #918
I'm having a similar issue, but my image is `FROM` a private ECR and gets pushed to a private GitLab Container Registry. Apparently depending on where I run the CI job, the `FROM` layer works, or it doesn't.

[code]

The configuration is the same in both cases, just the runner that changes:

[code]

[2020-04-18 10:45] bergkvist commented on #875
I'm using kaniko in GitLab CI/CD with runners in a DigitalOcean Kubernetes cluster (3x 2GB 1vCPU).

# Benchmarks
[code]

**Building locally with docker build on my laptop:**
~ 2 minutes

**Building with kaniko in a GitLab runner:**
~ 38 minutes
*It spends most of the time (~32 minutes) on the "Taking snapshot of full filesystem..." step.*

**Same as previous with `--single-snapshot`:** ~ 33 minute

[2020-04-18 11:23] dani29 commented on #1162
Having previously ran into the same problem (Python based, multi-step Dockerfile), i've tried to use the files here to reproduce the issue but in vain.

@cx1111  - I've tried your Dockerfile (the one based on *continuumio/miniconda3:4.7.12*) on both v0.18.0 and v0.19.0, with an environment.yml file of a single dependency `pytz`.
The bug did not reproduce, but something strange I did notice was tha

[2020-04-18 11:55] dani29 commented on #1162
@swist I have tried to use your Dockerfile with a very basic `pyproject.toml` file (copied from [here](https://python-poetry.org/docs/basic-usage/)), and Kaniko (v0.18.0+) crashes with a panic. This seem to be related to a very recent issue with Go 1.14 and alpine-based images (like Kaniko), discussed here: https://github.com/golang/go/issues/37436

I'll create a separate issue/fix for that, but u

[2020-04-18 12:26] TimShilov commented on #1162
I also encountered this problem. I'm using Google Cloud Build. It builds and works completely fine with `docker build`-`docker push` or if there's no cache. If there is a cache then it fails with following error:
[code]

**Dockerfile:**
[code]

**cloudbuild.yaml**
[code]

[2020-04-18 13:44] dani29 opened #1202 "Golang 1.14 panics on some Linux kernel versions, causing Kaniko to crash"
**Actual behavior**
I ran into this issue while debugging #1162, trying to build a docker image on my machine.
Kaniko crashed with a panic coming directly from Golang's runtime, emitting the following error message and a stacktrace:
[code]

Digging a bit further, the short story is that some Linux kernel v5.2 had a [memory corruption bug](https://github.com/golang/go/issues/35777); Golang 1.13 was

[2020-04-18 17:17] dani29 commented on #1162
Finally managed to reproduce it consistently and figured out that it has to do with incorrect whiteout of certain files. I am still not very familiar with the logic in that area, but seeing that it was recently refactored in #1069, perhaps @tejal29 or @cvgw have a better intuition on what may have gone wrong?

**To Reproduce:**

If you run on certain Linux kernels, you may fail to build it with th

[2020-04-19 06:25] saidrebhi commented on #1136
Any updates on this issue please?

[2020-04-19 11:16] rtarasov opened #1205 "Build fails with message No such file or directory: '/etc/mtab'"
**Actual behavior**
I'm new to kaniko! The build fails with massage "No such file or directory: '/etc/mtab'". I understand that it is white listed. Should it be?

**Expected behavior**
Build succeeds

**To Reproduce**
Steps to reproduce the behavior:
1. Attaching the Dockerfile
2.

**Additional Information**
 - Dockerfile:
FROM registry.access.redhat.com/ubi8/ubi:8.1-328

ENV SCRIPT_DIR=/usr/local

[2020-04-20 09:17] rtarasov commented on #1205
After adding --whitelist-var-run=false getting the following error:

error building image: error building stage: failed to get filesystem from image: error removing ./var/run to make way for new symlink: unlinkat /var/run/secrets/kubernetes.io/serviceaccount/..data: read-only file system

Could you please help with this issue?

[2020-04-20 10:37] agrinh commented on #788
+1, I've run into this as well

[2020-04-20 15:20] rosmo commented on #968
Hey, I've given this a spin and it seems to work (Gitlab runners in GKE using Workload Identity).

[2020-04-21 00:45] astleychen commented on #1158
I ran into same issue here and confirmed it's fixed on gcr.io/kaniko-project/executor:debug-edge.

[2020-04-21 07:03] pcoves opened #1206 "Missing multistage dependencies"
**Actual behavior**

The built image using `kaniko` is missing dependencies while it works just fine with `docker`

**Expected behavior**

The built image must ship my software dependencies

**To Reproduce**

1. clone https://gitlab.com/pcoves/pcoves.gitlab.io
2. `docker run --rm -v $(pwd):/workspace -w /workspace registry.gitlab.com/pcoves/pcoves.gitlab.io:latest build` (This works)
3. `docker ru

[2020-04-22 15:07] tmaier commented on #1173
The problem seems to be related to #862. I am closing this as a duplicate

[2020-04-22 15:07] #1173 closed

[2020-04-22 15:37] kwinkel commented on #1200
Having the same problem with GitLab Kubernetes runner

[2020-04-22 16:27] clhodapp commented on #1206
I believe that this is a dupe of https://github.com/GoogleContainerTools/kaniko/issues/552

[2020-04-23 07:30] danielhass commented on #1200
@Gwulior - I ran into a similar issue with a runner on a k8s cluster with restrictive Pod Security Policies in place. @kwinkel this points into the same direction as the issue you mentioned.

Do you have any PSP activated in your environment?

[2020-04-23 07:59] Ark-kun opened #1208 "How to simply mirror an image using Kaniko"
Google's Cloud ML Training only allows container images from gcr.io.
I'm seeking a minimal footprint solution for copying a public DockerHub image to gcr.io
Google Cloud Build seems to have [support ](https://cloud.google.com/blog/products/application-development/build-containers-faster-with-cloud-build-with-kaniko)for Kaniko and its build cache, so Kaniko might be a good option.

Ideally I want t

[2020-04-23 12:06] mitchfriedman commented on #1162
We're continuously bumping into this as well and it makes the cache completely unusable. Is there anything we can do to help prioritise this?

Thanks for all your effort.

[2020-04-23 12:48] vguaglione commented on #1181
We have a similar problem using the kaniko container inside the gitlab-runner container in an OpenShift 3.11 cluster.  Our build works fine when running on a standard runner VM or on the local workstations, but fails inside a cluster.

Our Dockerfile:

The error we see:

[2020-04-23 14:01] pcoves commented on #1206
Not sure.

As far as I understand #552, nothing gets copied from one stage to the other.

Here, my executable is present in the final image.
Only the dependencies are missing when using `kaniko`.

[2020-04-23 18:35] gebi opened #1209 "Pushing images to dockerhub stopped working"
**Actual behavior**

Kaniko exits with exit code 1 with the following message and and does not build the image:

[code]

This worked with the same build pipeline and no changes 3 months ago with the following image:

[code]

**Expected behavior**

Kaniko to upload image to dockerhub like the version 3 months ago was able to.
There where no changes, and it works if i go back to an older kaniko vers

[2020-04-23 18:42] gebi commented on #1209
Ah, sidenote, i confirmed that the credentials still work for pushing images to dockerhub, and they work fine, both manually and as mentioned with the old kaniko version.

For now we have pinned the kaniko version to this one `mgit/base:kaniko-executor-debug-stable` (which also fixes the problem of kaniko unable to build images on bigger FS because of the included busybox on bigger filesystems due

[2020-04-24 09:07] nethunter commented on #1162
I'm experiencing the same issue on 0.19.0. It works fine on a small Node.js image, but on a more complicated PHP image it dies. Trying now to revert to 0.16.0 to see if that will solve it for me.

[2020-04-24 11:35] kwinkel commented on #1200
@danielhass Yes, we have a restricted PSP. Currently in contact with our internal administration to activate some linux capabilities at the PSP.

[2020-04-24 12:00] Gwulior commented on #1200
@danielhass Yes we have restricted PSP, the spec is here:
![image](https://user-images.githubusercontent.com/12674605/80210373-5a568200-863c-11ea-9926-e579924b189d.png)

[2020-04-24 16:23] ddgenome commented on #778
This comment may be of help: https://github.com/GoogleContainerTools/kaniko/issues/1020#issuecomment-583565813 . One mentioned there that is not listed above is CAP_SETFCAP , but that may have been specific to the build in question at that time. That demonstrates the difficulty of documenting this, as what it done in the build can change the requirements significantly.

It may be worth also pointi

[2020-04-24 16:48] pbecotte commented on #1039
Just to chime in, using Kaniko for the first time and am hitting a similar issue with invalid images on v0.19.0

[2020-04-24 16:54] gebi commented on #835
we just had our kaniko setup stopped working with the same problem `error checking push permissions` as reported in #1209 .

Our fix was to just use `mgit/base:kaniko-executor-debug-stable` as image which also fixes #656

Is there anything we can help with regarding stabilizing kaniko?

[2020-04-24 18:28] paisleyrob opened #1210 "Multistage COPY failure"
**Actual behavior**
Fails to create image.

**Expected behavior**
Create an image

**To Reproduce**
1. `docker run
     --entrypoint /busybox/sh
     --interactive
     --tty
     --rm
     --privileged
     --volume "$(pwd)":/host:ro
     gcr.io/kaniko-project/executor:debug-v0.19.0@sha256:0d0e34396f47ec6d5fd75aebb9772147a78d96ed2bbb16ec892bd178efdc8307`
1. `cp -r /host /w && cd /w && sh build.sh

[2020-04-25 10:45] consokodev commented on #1206
I seem have the same problem, with "--from" in Dockerfile when I build with Kaniko, actually it get content from cache not from builder

[code]
It run normally with Docker daemon

[2020-04-25 15:04] Frederik-Baetens commented on #1071
I also have this issue on gitlab runners, with a dockerfile that uses npm to build a project and my /usr/src/app/dist/ went missing when building with kaniko. i switched back to dind for now.

[2020-04-25 15:25] drptbl commented on #1071
Yup, there is no other way. I hope it will be fixed soon, kaniko is a great project 🎉.

[2020-04-25 18:48] #1201 closed

[2020-04-26 08:34] danielhass commented on #1200
@kwinkel would it be possible to share with us your PSP definition if you get it to work with the capabilities from #778?

[2020-04-27 04:51] tomprince commented on #1208
I would probably suggest using a tool other than kaniko for this (such as https://github.com/containers/skopeo perhaps). `skopeo` is designed explicitly for interacting with multiple docker registries, without requiring a local docker daemon.

[2020-04-27 12:53] mschickervxob commented on #1073
Any news on this @tejal29 ? Look like there is something broken/magic/different in these public images.

[2020-04-28 16:55] LKI commented on #910
Save my day

[2020-04-28 19:10] montezuma93 commented on #653
Hey you, sadly we saw that you closed this issue without telling how you solved it.
Now we have the exact same problem.

We want Jenkins to start a pod with two containers, JNLP and Kaniko, for creating images.
The JNLP container is defined in our Jenkins.

This is our yml definition of the pod and kaniko container:
[code]

This is what we want to do with our pipeline:

[code]

We want Kaniko to r

[2020-04-28 19:20] montezuma93 opened #1212 "Kaniko Container can't exectute sh command"
Hey,

we want Jenkins to start a pod with two containers, JNLP and Kaniko, for creating images, but when running our Kaniko Container as root, the "sh" command can't be executed in our pipeline won't continue to run.

In this issue: https://github.com/GoogleContainerTools/kaniko/issues/653, someone seems to have a similiar problem. But sadly we saw that this issue was closed without telling how it

[2020-04-28 19:39] appcoders commented on #1073
Tested today with debug-edge image - works.

[2020-04-29 03:22] langjianke opened #1213 "dpkg: error processing package cpp (--configure): when using kaniko build image"
**Actual behavior**
I am building a base builder image including kaniko V0.19.0 (executor:v0.19.0), once this image is ready, I am build service image inside the base builder image, but getting below error:

[code]

**Expected behavior**
we should be able to build the service image inside base builder image

**To Reproduce**
Steps to reproduce the behavior:
1. builder base image (able to build thi

[2020-04-29 11:39] swist commented on #875
We've been experiencing similar problems with kaniko in case of builds that produce a large number of small files on the filesystem

[2020-04-29 15:24] sbeaulie commented on #1212
I get a similar behavior with this simple pipeline in GKE. Took the latest debug tag `debug-v0.19.0` and a dummy dockerfile from git. Removed any registry.

[code]

All I see is it hanging. If I `kubectl exec -it <container> -c kaniko sh` in the running container I can run `/kaniko/executor` but it just hangs. I tried `/kaniko/executor --help` but I don't know if that's supported. Is there any sma

[2020-04-30 01:10] giovanism commented on #1209
Is this duplicate of https://github.com/GoogleContainerTools/kaniko/issues/245?

[2020-04-30 11:23] gebi commented on #1209
I don't think so,
as in 245 they mention multistage builds and long build time. We have just a short build time, no multistage builds and it worked with the version of kaniko from a few months ago perfectly.

[2020-04-30 11:35] montezuma93 commented on #1212
We use Jenkins and the Kubernetes Plugin. After trying out a lot, we found out that both containers, the JNLP container (which is used for Communication with Jenkins Master) and the Kaniko Container both need to be run as root. We also add one more container (Hadolint) which also needs to be run as root. So solution is to use root for all container:
[code]
No idea how to run Kaniko as a container

[2020-04-30 16:40] sbeaulie commented on #1212
Thank for trying these out and trying to help me.

Base on the kubernetes docs https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#securitycontext-v1-core it seems like the securityContext can be set at the container level or the pod level.

I changed my pod definition at the pod level, and it seems to apply the root user for both containers 'jnlp' and 'kaniko'

**Before the 'fix'

[2020-04-30 18:31] montezuma93 commented on #1212
Keep in mind that Kaniko doesn't have the shell "bin/sh", instead you need to use the "busybox/sh" shell.
You can define the shell a specific container should use like this:
[code]

Maybe that helps?

[2020-05-01 01:05] tejal29 commented on #1162
Hey folks, sorry for the delay. I spent yesterday, debugging this issue and here are my findings.

1. Run `kaniko/executor -f Dockerfile --cache=true --destination=<your_prj>`
2. Now the cache is populated,
3. Make a change in your source files or dependencies.
4.  Re-run . In this case, the image size gets doubled and docker image is not pullable.

Note: This does not happen consistently.

After

[2020-05-01 02:49] tejal29 commented on #1162
@nethunter Can you please try:
[code]

@mitchfriedman Sorry things have been slow. But please try
[code]

[2020-05-01 09:32] IlyaSemenov commented on #1162
`gcr.io/kaniko-project/executor:edge` fixed it for me. (However, I'm not sure how to invalidate the older layers which are still cached. I had to add `RUN echo 1` closer to top to force the new build.)

[2020-05-01 09:46] alokumar1 commented on #917
It still not working. I have tried all combination with quotes and without quotes.

[2020-05-01 12:52] mhprowler opened #1215 "Kaniko doesn't support logs in json format"
**Actual behavior**
Kaniko uses logrus but there is no way to specify that the JSONFormatter should be used.

**Expected behavior**
A command line option to turn on json logging.

I can implement it but wanted to check if this is desired behaviour.

**Additional Information**
 - Kaniko Image (fully qualified with digest) : all versions

 **Triage Notes for the Maintainers**

 | **Description** | *

[2020-05-01 14:52] sbeaulie commented on #1212
Thanks for trying to help. I tried the above it didnt make a difference. Also even without it Icould see the process in the process space by going into the container and running `ps -ef`

I looks like my issue is like https://github.com/GoogleContainerTools/kaniko/issues/937 but that was closed without any workaround or solution.

I tried killing the process and got a similar output
[code]

[2020-05-01 14:53] sbeaulie commented on #937
I get the same issue on the latest image `gcr.io/kaniko-project/executor:debug-v0.19.0` did you ever find a workaround or something to change on the GKE side for permissions or other settings?

[2020-05-01 16:36] tejal29 commented on #1162
@IlyaSemenov, thanks for verifying. Would have to delete the remote cache.

[2020-05-01 17:24] #350 closed, assigned to nobody

[2020-05-01 17:25] #1163 closed

[2020-05-01 17:34] TimShilov commented on #1162
Unfortunately `gcr.io/kaniko-project/executor:edge` haven't solved the problem for me.
I removed remote cache and switched to edge. After couple of build I'm getting the same error:
```rpc error: code = Unknown desc = failed to register layer: Error processing tar file(exit status 1): failed to mknod("/tmp/v8-compile-cache-0", S_IFCHR, 0): file exists```

[2020-05-01 17:34] #815 closed

[2020-05-01 17:38] tejal29 commented on #1162
@TimShilov are you making code changes before running each build? Also are you by any chance reusing the same kaniko pod?

[2020-05-01 17:40] sbeaulie commented on #1212
In case people wonder, `kaniko/executor` will hang forever if it cannot reach `metadata.google.internal` in GKE.

kaniko code https://github.com/GoogleContainerTools/kaniko/blob/v0.19.0/vendor/k8s.io/kubernetes/pkg/credentialprovider/gcp/metadata.go#L194-L204

it would have saved a lot of headache if it had at least outputted a warning/info/debug error.

[2020-05-01 18:05] glen-84 commented on #969
What about supporting [RUN --mount=type=cache](https://github.com/moby/buildkit/blob/master/frontend/dockerfile/docs/experimental.md#run---mounttypecache)?

[2020-05-01 18:06] TimShilov commented on #1162
@tejal29 I was making dummy changes (just whitespace) in one file between commits.
I'm building images with Google Cloud Build so I'm not 100% sure if it gets reused or not but I assume the answer is no.

Just tried one more time just to make sure I didn't missed anything. Removed remote cache, first image worked fine. After second build I got the error again.
Version 0.16.0 works without any prob

[2020-05-01 19:18] tejal29 commented on #1162
ok. let me try with GCB build.

[2020-05-01 19:35] dani29 commented on #1210
@paisleyrob I created the same context from outside the container, and ran kaniko
[code]

where my /ctxt directory contained your Dockerfile and "empty".  The build successfully finishes.
Generally, this is the recommended way to [run Kaniko within a docker](https://github.com/GoogleContainerTools/kaniko#running-kaniko-in-docker).

Please let me know if the issue can be closed.

[2020-05-01 20:12] tejal29 commented on #1162
@TimShilov, i tried your dockerfile and it did work for me.
This is what i did:
1. Run kaniko build on this  sample node js app -> https://github.com/heroku/node-js-sample
2.  Changed a file index.js
3. Re-ran kaniko build.
I did a docker pull on the 2nd image.

Can you please check if there is a substantial increase in the size of the 2 images (like almost doubling)?

[2020-05-01 20:14] tejal29 commented on #1162
I am going to do the build one more time!

[2020-05-01 20:29] tejal29 commented on #1162
confirming, i saw the error on 4th build.

[2020-05-01 21:44] tejal29 commented on #1162
@TimShilov I finally got your issue fixed. the condition to detect if initial snapshot should be taked was not complete.
1. In my earlier branch, i took the initial snapshot for first non cached command.
2. However, for metadata commands this condition would return true. In a dockerfile if you have a metadata command before a cached command, then the code went back to previous case.
Your dockerfil

[2020-05-01 23:10] tejal29 commented on #1162
@TimShilov , Can you with this image:
[code]

[2020-05-02 02:59] frickenate commented on #815
Hot damn, this was the only known blocker for my team at work (using GitLab CI) to use kaniko instead of docker-in-docker. I’m a little blind with the PR in terms of implementation. Can you please explain:

1. Which version of kaniko this feature is available in;

2. What the default behaviour in that version is, and how exactly to override the default if necessary? The PR went back and forth on f

[2020-05-02 05:52] tejal29 commented on #937
Looks like the @martinraison who reported the issue closed this because it not an issue with kaniko but GCE.

[2020-05-02 06:41] tejal29 commented on #1212
@sbeaulie The code you are pointing too is from the vendor dir. I am not sure what `withCredentials` does here. Is there a way you can provide us the generated `pod.yaml`.

Its not pretty to see a runtime stacktrace. We will look into this.

[2020-05-02 07:01] tejal29 commented on #1205
@rtarasov The flag you are using removes `/var/run` from whitelist which is not what you want.
I am not sure if the error you are seeing is from kaniko.
Looks like its coming from `RUN dnf install -y --nodocs dnf-plugin-ovl && dnf clean all ` unless you have deleted some log lines before the error. Does the "dnf-plugin-ovl" plugin except the `/etc/mtab` direcotry.
Can you check if it your base ima

[2020-05-02 11:41] TimShilov commented on #1162
@tejal29 Tried again with `gcr.io/kaniko-project/executor:edge`. So far I made 4 builds, no error so far!
I will keep using `edge` for a couple of days to see if problem will return but so far seems fixed to me.

Thanks for your help! 👍

[2020-05-02 14:09] victornoel commented on #969
@glen-84 I'm not exactly sure how this feature interact with the host filesystem? Because the use case I had in mind take advantage of the fact that the host filesystem (i.e., the CI machine) will have a directory with the cache available. I'm not sure if `--mount=type=cache` allows for this, does it?

[2020-05-02 14:22] glen-84 commented on #969
@victornoel,

If I understand correctly, the Docker engine on the host would manage the directory (sort of like a named volume). If you follow the link, they show an example of caching Go packages.

See also https://stackoverflow.com/a/57934504/221528.

(PS. You might want to consider up-voting this issue to indicate your interest.)

[2020-05-02 14:28] victornoel commented on #969
@glen-84 ok, so in the case of kaniko, since there are no docker engine on the host, I suspect it would mean adding an option to the kaniko cli to specify which directory to use when `--mount=type=cache` is used inside the image. This would elegantly allow to choose the desired directory in a CI context.

Still there would be some thinking to do as to how this interacts with the `from` and `source

[2020-05-02 14:41] glen-84 commented on #969
My thoughts were to "reuse" the syntax, as opposed to designing something completely specific to Kaniko. Kaniko could be updated to understand these types of mounts, and to manage the directories outside of the image (i.e. inside the Kaniko container).

[2020-05-02 14:51] victornoel commented on #969
@glen-84 yes, that was my point too :)

[2020-05-03 00:57] sbeaulie commented on #1212
Seems to happen if `metadata.google.internal` does not resolve. It'd be better to get something logged at the debug/info or warning level to say it couldn't be reached.

[2020-05-03 01:47] langjianke commented on #1213
I am sorry, after check again this issue is due to the debian verison, not a kaniko issue.
this line: **FROM openjdk:8-jdk** is been updated to use debian buster in docker hub, and issue is due to this
after change this line to **FROM openjdk:8-jdk-stretch** I am able to build my own image, so I am close this issue for kaniko

[2020-05-03 01:47] #1213 closed

[2020-05-03 14:37] MichelHollands commented on #1215
My mistake, there is a flag to set the log output. It just isn't mentioned in the readme.

[2020-05-03 20:44] AndreKR opened #1217 "Second multistage build in same container fails because cross stage deps are not cleaned up"
I'm using kaniko with GitLab CI to build several images in one go. While this might not be the recommended way to run kaniko, it is something that many people do. When using GitLab CI we use the kaniko debug image and use the builtin shell to run a script. The script contains two (in this example identical) `executor` runs:

[code]

The problem is that the second build fails because there are stil